//
// Botão: Default
// Botão padrão que é utilizado em todo o site.
// Cores padrão: BG verde, icone amarelo e texto branco
//
.btn-default {
	position: relative;
	display: inline-block;
	height: 32px;
	padding: 0 36px 0 16px;
	line-height: 28px;
	font-size: 20px;
	letter-spacing: -0.02em;
	color: $white;
	border-radius: 16px;
	background-color: $light-green;
	cursor: pointer;
	transition: background-color .4s ease-in-out;

	@include breakpoint('mobile') {
		font-size: 16px;
	}

	&:hover {background-color: $gang-green;}
	&:active {background-color: $green-corn;}

	&::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		content: '';
		background-color: $barte-yellow;
	}

	&::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 12px;
		width: 7px;
		height: 10px;
		content: '';
		background-image: url(../images/seta-button-default--green.svg);
		background-repeat: no-repeat;
		background-size: 9px 10px;
		background-position: -1px 0px;
	}


	// Variação com borda branca
	&--border {
		border: 2px solid $white;
	}


	// Variação menor "small"
	&--small {
		height: 24px;
		line-height: 24px;
		padding: 0 25px 0 12px;
		font-size: 15px;
		letter-spacing: -0.01em;

		&::before {
			width: 15px;
			height: 15px;
		}

		&::after {
			width: 7px;
			height: 7px;
			right: 7px;
			background-size: 100%;
		}
	}


	// Variação na cor azul e dimensões menores
	&--small-blue {
		height: 24px;
		line-height: 24px;
		padding: 0 25px 0 12px;
		font-size: 15px;
		letter-spacing: -0.01em;
		background-color: $blue-label;

		&::before {
			width: 15px;
			height: 15px;
		}

		&::after {
			width: 7px;
			height: 7px;
			right: 7px;
			background-image: url(../images/seta-button-default--blue.svg);
			background-size: 100%;
		}

		&:hover {background-color: $xaka-blue;}
		&:active {background-color: $snow-blue;}
	}

	&--orange {
		background-color: $basic-orange;

		&::after {
			background-image: url(../images/seta-button-default--orange.svg);
		}

		&:hover {background-color: $soft-orange !important;}
		&:active {background-color: $strong-orange;}
	}

	// Variação na cor Degra Blue //
	&--degra-blue {
		background-color: $degra-blue;

		&::after {
			background-image: url(../images/seta-button-default--degra-blue.svg);
		}

		&:hover {background-color: $hv-blue;}
		&:active {background-color: $ac-blue;}
	}

	// Variação na cor New Green
	&--new-green {
		background-color: $new-green;

		&::after {
			background-image: url(../images/seta-button-default--new-green.svg);
		}

		&:hover {background-color: $hv-green;}
		&:active {background-color: $ac-green;}
	}
}


//
// Botão: Simple
// Botão simples, sem icone.
// Cores padrão: BG verde e texto branco
//
.btn-simple {
	display: inline-block;
	height: 32px;
	padding: 0 16px 0 16px;
	line-height: 28px;
	font-size: 20px;
	letter-spacing: -0.05em;
	color: $white;
	border-radius: 16px;
	background-color: $light-green;
	cursor: pointer;
	transition: background-color .4s ease-in-out;

	@include breakpoint('mobile') {
		font-size: 16px;
	}

	&:hover {background-color: $gang-green;}
	&:active {background-color: $green-corn;}

	&--orange {
		background-color: $basic-orange;

		&:hover {background-color: $soft-orange;}
		&:active {background-color: $strong-orange;}
	}

	// Variação na cor Degra Blue
	&--degra-blue {
		background-color: $degra-blue;
		&:hover {background-color: $hv-blue;}
		&:active {background-color: $ac-blue;}
	}

	// Variação na cor New Green
	&--new-green {
		background-color: $new-green;
		&:hover {background-color: $hv-green;}
		&:active {background-color: $ac-green;}
	}
}

//
// Botão: Galeria de Fotos
// Cores padrão: BG branco, texto cinza e borda azul
//

.btn-photos {
	display: inline-block;
	height: 32px;
	padding: 0 16px 0 16px;
	line-height: 28px;
	font-family: $noto-sans-bold;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $dark-gray;
	border: 1px solid $degra-blue;
	border-radius: 16px;
	background-color: #fff;
	cursor: pointer;
	transition: background-color .4s ease-in-out, color .4s ease-in-out;

	&:hover {background-color: $degra-blue; color: #fff;}
	&:active {
		background-image: url(../images/bg-button-1.png);
		background: -webkit-linear-gradient(left, $light-blue, $degra-blue);
		background: -o-linear-gradient(right, $light-blue, $degra-blue);
		background: -moz-linear-gradient(right, $light-blue, $degra-blue);
		background: linear-gradient(to right, $light-blue, $degra-blue);
	}

	&::before {
		content: '';
		display: inline-block;
		position: relative;
		background-image: url(../images/photo_gallery--blue.svg);
		width: 14px;
		height: 14px;
		top: 3px;
		left: -2px;
		margin-right: 7px;
		transition: background-image .4s ease-in-out;
	}

	&:hover::before {
		background-image: url(../images/photo_gallery--white.svg);
	}

	&--mobile {
		@include breakpoint('mobile') {
			width: 32px;
			height: 32px;
			font-size: 0;
			padding: 0;
			line-height: normal;

			&::before {
				top: 1px;
				left: 4px;
			}
		}
	}
}

.btn-nav {
		display: inline-block;
		text-align: right;
		width: 70px;
		height: 22px;
		padding: 0 0 0 8px;
		padding-left: 10px;
		line-height: 20px;
		font-family: $noto-sans-bold;
		font-size: 14px;
		color: #fff;
		border-radius: 16px;
		background-color: $tina-green;
		cursor: pointer;
		transition: background-color .4s ease-in-out;


		&:hover {background-color: $green-corn;}
		&:active {background-color: $gang-green;}

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
			-webkit-filter: FlipH;
			background-image: url(../images/seta--yellow.svg);
			width: 9px;
			height: 9px;
			top: 0;
			left: -11px;
		}

		&::after {
			content: '';
			display: inline-block;
			position: relative;
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
			-webkit-filter: FlipH;
			background-image: url(../images/seta--yellow.svg);
			width: 9px;
			height: 9px;
			top: 0;
			left: -48px;
		}

		&--blue {
			background-color: $degra-blue;

			&:hover {background-color: $light-blue;}
			&:active {
				background-image: url(../images/bg-button-1.png);
				background: linear-gradient(to right, $light-blue, $degra-blue);
			}
		}
}

//
// Botão: Obter direções
// Cores padrão: BG branco, texto cinza e borda azul
//

.btn-get-directions {
	display: inline-block;
	height: 32px;
	padding: 0 16px 0 16px;
	line-height: 28px;
	font-family: $noto-sans-bold;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $dark-gray;
	border: 1px solid $degra-blue;
	border-radius: 16px;
	background-color: #fff;
	cursor: pointer;
	transition: background-color .4s ease-in-out, color .4s ease-in-out;

	&:hover {background-color: $degra-blue; color: #fff;}
	&:active {
		background-image: url(../images/bg-button-1.png);
		background: -webkit-linear-gradient(left, $light-blue, $degra-blue);
		background: -o-linear-gradient(right, $light-blue, $degra-blue);
		background: -moz-linear-gradient(right, $light-blue, $degra-blue);
		background: linear-gradient(to right, $light-blue, $degra-blue);
	}

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			background-size: 100%;
			background-image: url(../images/icon-directions--blue.svg);
			background-position: center;
			width: 16px;
			height: 16px;
			top: 4px;
			left: -2px;
			margin-right: 7px;
			transition: background-image .4s ease-in-out;
		}

		&:hover::before {
			background-image: url(../images/icon-directions--white.svg);
		}
}

.btn-get-map {
	position: relative;
	display: inline-block;
	font-family: $noto-sans-bold;
	font-size: 10px;
	letter-spacing: 0.13em;
	color: $dark-gray;
	border: 1px solid $degra-blue;
	text-transform: uppercase;
	cursor: pointer;
	max-width: 200px;
	height: 48px;
	padding: 0 60px 0 18px;
	line-height: 15px;
	border-radius: 25px;
	background-color: #fff;
	transition: background-color .4s ease-in-out, color .4s ease-in-out;

	&:hover {background-color: $degra-blue; color: #fff;}
	&:active {
		background-image: url(../images/bg-button-2.png);
		background: -webkit-linear-gradient(left, $light-blue, $degra-blue);
		background: -o-linear-gradient(right, $light-blue, $degra-blue);
		background: -moz-linear-gradient(right, $light-blue, $degra-blue);
		background: linear-gradient(to right, $light-blue, $degra-blue);
	}

	&::after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 25px;
		width: 24px;
		height: 20px;
		content: '';
		background-image: url(../images/external_link--blue.svg);
		background-repeat: no-repeat;
		background-size: 22px 20px;
		background-position: -1px 0px;
		transition: background-image .4s ease-in-out;
	}

	&:hover::after {
		background-image: url(../images/external_link--white.svg);
	}
}

.btn-get-weather {
	@extend .btn-get-map;
	text-align: left;
	max-width: 260px;
	padding: 0 60px 0 65px;
	border-color: $bem-gray;


	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		background-image: url(../images/weather--gray.svg);
		width: 40px;
		height: 40px;
		top: 3px;
		left: 16px;

		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
		transition: background-image .4s ease-in-out;
	}

	&:hover::before {
		background-image: url(../images/weather--white-2.svg);
	}

	&::after {
		background-image: url(../images/external_link--gray.svg);
	}
}

.btn-get-region {
	@extend .btn-get-map;
	text-align: left;
	max-width: 245px;
	padding: 0 45px 0 18px;
	border-color: $bem-gray;

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		width: 40px;
		height: 40px;
		top: 3px;
		left: 16px;

		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	&:hover::before {
		background-image: none;
	}

	&::after {
		background-image: url(../images/external_link--gray.svg);
		right: 15px;
	}
}


.btn-target {
	@extend .btn-default;

	&::after {
		background-image: url(../images/icon-target--green.svg);
		background-size: 100%;
		right: 10px;
		width: 10px;
		height: 10px;
	}
}


.btn-download {
	@extend .btn-default;
	background-color: $nana-blue;

	&:hover {background-color: $xaka-blue;}
	&:active {background-color: $snow-blue;}

	&::after {
		background-image: url(../images/download--blue.svg);
		background-size: 100%;
		right: 10px;
		width: 10px;
		height: 10px;
	}

	&__size {
		font-size: 14px;
	}

	// Variação menor "small"
	&--small {
		height: 24px;
		line-height: 24px;
		padding: 0 25px 0 12px;
		font-size: 15px;
		letter-spacing: -0.01em;

		&::before {
			width: 15px;
			height: 15px;
		}

		&::after {
			width: 7px;
			height: 7px;
			right: 9px;
			background-size: 100%;
			background-position: 0;
		}
	}

	&--orange {
		background-color: $basic-orange;

		&:hover {background-color: $strong-orange;}
		&:active {background-color: $soft-orange;}

		&::after {
			background-image: url(../images/download--orange.svg);
			background-size: 100%;
			right: 10px;
			width: 10px;
			height: 10px;
		}
	}

	&--green {
		background-color: $light-green;

		&:hover {background-color: $gang-green;}
		&:active {background-color: $green-corn;}

		&::after {background-image: url(../images/download--green.svg);}
	}

	&--blue {
		background-color: $degra-blue;

		&:hover {background-color: $degra-blue;}
		&:active {background-color: $degra-blue;}

		&::after {background-image: url(../images/download--dark-blue.svg);}
	}

	&--new-green {
		background-color: $new-green;
		&::after {background-image: url(../images/download--new-green.svg);}
		&:hover {background-color: $hv-green;}
		&:active {background-color: $ac-green;}
	}
}

.btn-load {
	@extend .btn-default;
	background-color: $nana-blue;

	&:hover {background-color: $xaka-blue;}
	&:active {background-color: $snow-blue;}

	&::after {
		background-image: url(../images/ico-load.svg);
		background-size: 100%;
		background-position: 22px 1px;
		right: 7px;
		width: 63px;
		height: 68px;
	}

	&__size {
		font-size: 14px;
	}


	&--orange {
		background-color: $basic-orange;

		&:hover {background-color: $soft-orange;}
		&:active {background-color: $strong-orange;}
		&::after {background-image: url(../images/ico-load--orange.svg);}
	}

	&--degra-blue {
		background-color: $degra-blue;

		&::after {background-image: url(../images/ico-load--degra-blue.svg);}
		&:hover {background-color: $hv-blue;}
		&:active {background-color: $ac-blue;}
	}

	&--new-green {
		background-color: $new-green;

		&::after {background-image: url(../images/ico-load--new-green.svg);}
		&:hover {background-color: $hv-green;}
		&:active {background-color: $ac-green;}
	}
}

.btn-app {
	position: relative;
    display: inline-block;
    width: 149px;
    height: 48px;
    border: solid 0.1rem $light-green;
	@include border-radius(4px);
    font-size: 12px;
    padding: 7px 0 0 47px;
    font-weight: bold;
    margin-bottom: 10px;

	&::after {
		content: '';
		display: block;
		width: 128px;
		height: 38px;
	    top: 4px;
	    left: 11px;
	    position: absolute;
	}

	&.google-play {
		&::after {
			background-image: url(../images/logo-google-play.svg);
		}
	}

	&.app-store {
		&::after {
			background-image: url(../images/logo-app-store.svg);
		}
	}
}

.btn-read-more {
	@extend .btn-default;
	color: $basic-gray;
	border: 1px solid $bb-gray;
	background-color: transparent;

	&:hover {background-color: $light-gray;}
	&:active {background-color: $bem-gray;}

	&::before {
		background-color: $sou-gray;
	}

	&::after {
		background-image: url(../images/seta--fav-white.svg);
	}
}

.btn-load-more {
	@extend .btn-default;
	color: $sasha-gray;
	border: 1px solid $bb-gray;
	background-color: transparent;

	&:hover {background-color: $light-gray;}
	&:active {background-color: $bem-gray;}

	&::before {
		background-color: $sou-gray;
	}

	&::after {
		top: 52%;
		right: 8px;
		width: 15px;
		height: 16px;
		background-image: url(../images/ico-load-left--white.svg);
		background-size: 100%;
	}
}

.btn-back {
	@extend .btn-default;
	padding: 0 16px 0 36px;
	line-height: 31px;

	&::before {
		left: 5px;
	}

	&::after {
		top: 11px;
		left: 12px;
		transform: rotate(-180deg);
	}
}

.btn-search-icon {
	@extend .btn-simple;

	@include breakpoint('mobile') {
		width: 53px;
		background-image: url(../images/search--white.svg);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 18px 5px;
		font-size: 0;
	}
}
