.checkbox-normal {
	width: 24px;
	height: 24px;
	position: relative;
	background: trasparent;
	border-radius: 50px;
	border: 1px solid $light-bege;

	label {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		border-radius: 50px;
		font-size: 16px;
		padding: 5px 0;
		color: $sasha-gray;
		padding-left: 30px;
		line-height: 13px;
		white-space: nowrap;

		@include breakpoint('tablet--e-abaixo'){
			font-size: 12px;
		}

		@include breakpoint('mobile') {
			white-space: inherit;
			width: 122px;
			text-align: left;
		}

		&:after {
			content: '';
			background-image: url(../images/check_icon--navy-gray.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			width: 12px;
			height: 9px;
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			margin-left: -7px;
			margin-top: -5px;
			left: 12px;
		}

		@include breakpoint('tablet--e-abaixo'){
			background-image: url(../images/check_icon--green.svg);
		}

		> a {
			text-decoration: underline;
			color: $sasha-gray;
		}
	}

	input[type=checkbox] {
    	visibility: hidden;
	    &:checked + label:after {
			opacity: 1;
	    }

		// &:checked + label {
		// 	font-weight: bold;
		// }
	}
}
