.footer {
	position: relative;
	z-index: 100;

	&::before,
	&::after {
		display: block;
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: $light-blue;
		content: '';
		z-index: -1;
	}

	&::before{
		left: 0;
		background-color: $light-blue;
	}

	&::after {
		right: 0;
		background-color: $degra-blue;
	}

	&__line {
		content: '';
		width: 100%;
		top: 0;
		position: absolute;
		background-color: $light-blue;
		height: 3px;
	}

	&__wrapper {
		padding-top: 63px;
		overflow: hidden;
		background-image: url(../images/bg-linear-dark-blue.jpg);
		background: linear-gradient(to right, $light-blue, $degra-blue);
		background-position: top;
		background-size: 100%;

		@include breakpoint('mobile')	{
			padding-top: 0;
		}
	}

	&__logo-default {
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url(../images/logotipo_cor_sensacional.svg);
		width: 143px;
		height: 135px;
		float: left;

		@include breakpoint('mobile')	{
			float: none;
			width: 101px;
			height: 95px;
			margin: 32px auto 52px;
		}
	}

	&__navigation {
		width: 216px;
		float: right;

		@include breakpoint('mobile')	{
			float: none;
			margin: 0 auto;
		}
	}

	&__navigation-link {
		display: block;
		letter-spacing: 1px;
		line-height: 21px;
		margin-bottom: 16px;
		color: white;
		transition: color .3s ease-in-out;

		&:hover {
			color: $mano-blue;
		}

		@include breakpoint('mobile')	{
			text-align: center;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		// use for either nav link and section titles

		font-size: 15px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;
		text-align: left;

		@include breakpoint('mobile')	{
			text-align: center;
		}
	}

	&__language-wrapper {
		display: none;
		float: right;
		clear: both;
		width: 216px;
		margin-top: 25px;

		@include breakpoint('tablet--e-abaixo')	{
			display: block;
		}

		@include breakpoint('mobile')	{
			display: block;
			float: none;
			text-align: left;
			display: block;
			height: 62px;
			padding: 0 12px;
			width: auto;
			margin: 40px 30px 43px;
		}
	}

	&__share {
		// margin-bottom occupies promo-ad space, since it has position absolute, so it can follow height of .footer as appropriate
		text-align: center;
		margin: 0 auto 120px;
		width: 245px;

		&:after {
			content: '';
			clear: both;
			display: block;
		}

		@include breakpoint('mobile')	{
			margin-bottom: 107px;
			width: auto;
		}
	}

	&__share-column {
		float: left;
		width: 122px;
		color: #FFF;
		text-transform: uppercase;
		margin-top: 20px;

		@include breakpoint('tablet') {
			float: none;
		}

		@include breakpoint('mobile') {
			width: auto;
			display: inline-block;
			float: none;
			margin-top: 0;
		}
	}

	&__share-links {
		width: 24px;
		height: 24px;
		position: relative;
		padding: 8px 0 0 31px;
		font-size: 10px;
		display: block;
		letter-spacing: 1.5px;
		white-space: nowrap;
		margin-bottom: 20px;
		transition: color .2s;

		@include breakpoint('mobile') {
			width: 32px;
			height: 32px;
			font: 0/0 a;
			padding: 10px 0 0 40px;
			margin: 12px 14px 0 0;
			padding-left: 0;
			display: inline-block;
		}

		&::after, &::before {
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			width: 24px;
			height: 24px;
			background-size: 100%;
			top: 0;
			left: 0;
			transition: opacity .2s;

			@include breakpoint('mobile') {
				width: 32px;
				height: 32px;
			}
		}

		&::before {
			z-index: 10;
		}

		&:hover {
			color: $mano-blue;
		}
	}

	&__share-links--twitter {
		&::after {
			opacity: 1;
			background-image: url(../images/twitter_icon--blue-navy.svg);
		}

		&::before {
			opacity: 0;
			background-image: url(../images/twitter_icon--blue-mano.svg);
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&__share-links--facebook {
		&::after {
			opacity: 1;
			background-image: url(../images/facebook_icon--blue-navy.svg);
		}

		&::before {
			opacity: 0;
			background-image: url(../images/facebook_icon--blue-mano.svg);
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&__share-links--gplus {
		&::after {
			opacity: 1;
			background-image: url(../images/gplus_icon--blue-navy.svg);
		}

		&::before {
			opacity: 0;
			background-image: url(../images/gplus_icon--blue-mano.svg);
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&__share-links--instagram {
		&::after {
			opacity: 1;
			background-image: url(../images/instagram_icon--blue-navy.svg);
		}

		&::before {
			opacity: 0;
			background-image: url(../images/instagram_icon--blue-mano.svg);
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&__share-links--flickr {
		&::after {
			opacity: 1;
			background-image: url(../images/flickr_icon--blue-navy.svg);
		}

		&::before {
			opacity: 0;
			background-image: url(../images/flickr_icon--blue-mano.svg);
		}

		&:hover {
			&::after {
				opacity: 0;
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&__promo-ad {
		position: absolute;
		bottom: 56px;
		height: 56px;
		color: #fff;
		font-size: 14px;
		width: 100%;
		left: 0;
		background-color: $light-blue;

		@include breakpoint('mobile')	{
			bottom: 82px;
			height: 74px;
		}
	}

	&__promo-ad-content {
		background-image: url(../images/find-us-icon.svg);
		background-size: 46px 40px;
		background-repeat: no-repeat;
		height: 100%;
		background-position: left center;
		letter-spacing: 2.2px;
		padding: 20px 0 20px 67px;

		@include breakpoint('mobile')	{
			padding: 9px 50px 13px 62px;
			font-size: 11px;
			letter-spacing: 1px;
			line-height: 17px;
		}
	}

	&__promo-ad-text {
		position: relative;

		&::after {
			content: '';
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			width: 8px;
			height: 12px;
			background-size: 100%;
			background-image: url(../images/seta--white.svg);
			right: -16px;
    	top: 50%;
			margin-top: -6px;

			@include breakpoint('mobile')	{
				right: -46px;
			}
		}
	}

	&__all-rights {
		text-transform: uppercase;
		padding: 23px 0;
		text-align: left;
		font-size: 10px;
		color: white;
		letter-spacing: 2px;

		@include breakpoint('mobile')	{
			padding: 30px 0;
			text-align: center;
			margin: 0 40px;
			line-height: 12px;
		}
	}


	// modificação para o componente "language" no footer

	.languages {
		margin-top: 10px;

		@include breakpoint('mobile')	{
			float: none;
		}
	}
}
