.input-text {
	width: 100%;
	height: 32px;
	border: 1px solid;
	border-color: $bb-gray;
	border-radius: 50px;
	padding: 0 15px;
	margin-top: 9px;
	font-size: 20px;
	color: $sasha-gray;

	@include breakpoint('mobile') {
		font-size: 16px;
	}

	&--area {
		border-radius: 20px;
		padding: 15px;
	}

	&--error {
		color: #990000;
	}
}

.custom-textarea {
	width: 100%;
	min-height: 137px;
	margin-top: 9px;
	padding: 15px;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid $bb-gray;
}

.input-label {
	font-size: 10px;
	text-transform: uppercase;
	color: $sasha-gray;
	font-weight: bold;
	letter-spacing: 1px;
}
