.header {
	position: relative;
	top: 0;
	width: 100%;
	height: 120px;
	color: $white;
	border-bottom: 3px solid $light-blue;
	z-index: 1009;

	@include breakpoint('tablet') {
		height: 67px;
	}

	@include breakpoint('mobile') {
		height: 59px;
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: $light-blue;
		content: '';
		z-index: -1;
	}

	&::before{
		left: 0;
		background-color: $light-blue;
	}

	&::after {
		right: 0;
		background-color: $degra-blue;
	}


	&__line {
		position: absolute;
		top: 56px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $light-blue;
		z-index: 1;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__wrapper {
		position: relative;
		height: 100%;
		background: url(../images/gradiente-header.jpg) repeat-y;
		background: linear-gradient(to right, $light-blue, $degra-blue);
		background-size: 100%;

		@include breakpoint('tablet--e-abaixo') {
			position: initial;
		}
	}

	// Logo
	&__logo-default {
		position: relative;
		float: left;
		width: 121px;
		height: 100%;
		background-image: url(/images/logotipo_cor.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 2;

		@include breakpoint('tablet--e-abaixo') {
			position: absolute;
			left: 50%;
			z-index: 2;
		}

		@include breakpoint('tablet') {
			width: 67px;
			margin: -1px 0 0 -33px;
		}

		@include breakpoint('mobile') {
			width: 52px;
			margin-left: -26px;
			top: 4px
		}
	}

	&__top-area {
		float: left;
		width: calc(100% - 121px);
		height: 57px;
		padding-left: $grid-gutter;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__top-description {
		display: inline-block;
		font-size: 11px;
		letter-spacing: 0.2em;
		padding-top: 26px;

		> strong {
			font-family: 'NotoSansBold';
		}
	}

	// Navegação superior
	&__box-nav-sup {
		position: absolute;
		top: 0px;
		right: 232px;
		font-size: 11px;
		letter-spacing: 0.072em;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
			position: relative;
			right: 0;
			text-align: center;
		}

		@include breakpoint('tablet') {
			margin-top: 44px;
			font-size: 32px;
		}

		@include breakpoint('mobile') {
			font-size: 14px;
			margin-top: 24px;
		}
	}

	&__nav-sup {
		display: inline-block;
	}

	&__nav-sup-label {
		display: inline-block;
		font-family: 'NotoSansBold';
		color: $ice-blue;

		@include breakpoint('tablet--e-abaixo') {
			display: block;
			text-transform: uppercase;
		}

		@include breakpoint('tablet') {
			margin-bottom: 5px;
		}
	}

	&__nav-sup-item {
		position: relative;
		float: left;
		margin-left: 23px;
		padding-top: 26px;

		@include breakpoint('tablet--e-abaixo') {
			float: none;
			margin-left: 0;
			text-align: center;
		}

		@include breakpoint('tablet') {
			padding: 20px 0;
		}

		@include breakpoint('mobile') {
			padding: 12px 0;
			letter-spacing: 0;
		}


		&:first-child {
			margin-left: 17px;

			@include breakpoint('tablet--e-abaixo') {
				margin-left: 0;
			}

			@include breakpoint('mobile') {
				padding-top: 11px;
			}
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		&::after {
			display: none;
			position: absolute;
			content: '';
			width: 32px;
			height: 1px;
			bottom: -3px;
			left: 50%;
			margin-left: -16px;
			background-color: $snow-blue;

			@include breakpoint('tablet--e-abaixo') {
				display: block;
			}
		}

		> a {
			color: $white;
		}
	}

	&__bottom-area {
		float: left;
		width: calc(100% - 121px);
		height: 60px;
		padding-left: $grid-gutter;

		@include breakpoint('tablet--e-abaixo') {
			width: 100%;
			padding-left: 0;
		}

		@include breakpoint('mobile') {
			height: 59px;
		}
	}

	// Navegação principal
	&__nav-bot {
		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__nav-bot-item {
		position: relative;
		float: left;
		margin: 24px 0 0 26px;
		letter-spacing: 0.084em;
		font-size: 13px;
		font-family: 'NotoSansBold';
		text-transform: uppercase;

		@include breakpoint('tablet') {
			font-size: 32px;
		}

		@include breakpoint('mobile') {
			font-size: 14px;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			&::after{
				@include breakpoint('tablet--e-abaixo') {
					display: none;
				}
			}
		}

		&::after {
			opacity: 0;
			position: absolute;
			bottom: -25px;
			display: block;
			content: '';
			width: 100%;
			height: 3px;
			background-color: $mano-blue;
			transition: opacity .4s ease-in-out;

			@include breakpoint('tablet--e-abaixo') {
				opacity: 1;
				width: 32px;
				height: 1px;
				bottom: 0;
				left: 50%;
				margin-left: -16px;
				background-color: $snow-blue;
			}
		}

		&:hover {

			&::after {
				opacity: 1;
			}

			.header__nav-bot-item-link {
				color: $mano-blue;
			}
		}

		&-link {
			color: $white;
			transition: color .3s ease-in-out;
		}
	}

	&__box-components {
		@include breakpoint('desktop') {
			margin-top: 15px;
		}

		@include breakpoint('tablet') {
			position: absolute;
			right: 28px;
			top: 18px;
		}

		@include breakpoint('mobile') {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}


	// Posicionamento dos componentes presentes no header
	.user {
		float: right;

		@include breakpoint('desktop') {
			margin: 0 0 0 19px;
		}

		@include breakpoint('tablet') {
			margin: 0 0 0 19px;
		}

		@include breakpoint('mobile') {
			float: none;
		}
	}

	.languages {
		@include breakpoint('desktop') {
			position: absolute;
			margin-top: 16px;
			right: 0;
			top: 0;
		}

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	.favorite {
		float: right;
		top: -15px;
		margin-right: -10px;

		@include breakpoint('tablet') {
			height: 64px;
			top: -18px;
		}

		@include breakpoint('mobile') {
			top: 0;
			margin-right: 18px;
		}
	}

	.search {
		float: right;
		margin-right: 9px;
	}


	// header fixo
	&--fixed {
		position: fixed;
		height: 64px;

		@include breakpoint('tablet--e-abaixo') {
			position: relative;
		}

		&::before,
		&::after {
			height: 61px;
		}

		.header__line {
			display: none;
		}

		.header__top-area,
		.header__box-nav-sup {
			display: none;
		}

		.header__bottom-area {
			width: calc(100% - 58px);
			height: 61px;

			&--nav-active {
				width: 100%;
				height: 100vh;
			}
		}

		.header__logo-default {
			width: 58px;
			margin-top: 3px;
		}

		.header__nav-bot-item {
			margin: 24px 0 0 23px;
			font-size: 12px;
			letter-spacing: 0.088em;

			&:first-child {margin-left: 0;}
		}

		.header__nav-bot-item::after {
			bottom: -26px;
		}

		.favorite {
			height: 61px;

			.favorite__button {
				margin: 15px 10px 14px 10px;
			}
		}

		.languages {
			position: relative;
			top: 0;
			float: right;
			margin-right: 20px;
			margin-top: 0;
		}
	}

	&__search-button {
		text-transform: uppercase;
		font-size: 13px;
		position: relative;
		line-height: 30px;
		float: right;
		margin-right: 32px + 16px;

		@include breakpoint('mobile') {
			margin-top: 15px;
		}

		&:after {
			content: '';
			border: 1px solid $light-blue;
			width: 32px;
			height: 32px;
			position: absolute;
			border-radius: 45px;
			margin-left: 8px;
			background-image: url(../images/search--white.svg);
			background-position: 5px 4px;
			background-repeat: no-repeat;
			background-size: 20px;
		}

		@include breakpoint('tablet--e-abaixo') {
			span {
				display: none;
			}
		}
	}

	// Menu tablet/mobile aberto
	&__bottom-area--nav-active {
		@include breakpoint('tablet--e-abaixo') {
			position: absolute;
			left: 0;
		    width: 100%;
		    min-height: 100vh; // Pega altura da total da tela.
		    height: auto; // Caso o conteúdo do menu ultrapasse a altura total da tela(ex: modo landascape), ele deixa a altura "automática"
		    background-image: linear-gradient(to right, $light-blue, $degra-blue);
		    z-index: 1;
		}

		@include breakpoint('tablet') {
			top: 67px;
		}

		@include breakpoint('mobile') {
			top: 59px;
		}

		.header__nav-bot {
			@include breakpoint('tablet--e-abaixo') {
				display: block;
			}

			@include breakpoint('tablet') {
				margin-top: 35px;
			}

			@include breakpoint('mobile') {
				margin-top: 25px;
			}
		}

		.header__box-nav-sup {
			@include breakpoint('tablet--e-abaixo') {
				display: block;
			}
		}

		.header__nav-bot-item {
			@include breakpoint('tablet--e-abaixo') {
				float: none;
				text-align: center;
				margin: 0;
			}
		}

		.header__nav-bot-item-link {
			@include breakpoint('tablet--e-abaixo') {
				display: block;
			}

			@include breakpoint('tablet') {
				height: 86px;
				line-height: 86px;
			}

			@include breakpoint('mobile') {
				height: 39px;
				line-height: 39px;
			}

			@include breakpoint('tablet--e-abaixo') {
				&:active {
					background-image: linear-gradient(to right, transparent, $light-blue);
				}

				&:hover {
					color: $white;
				}
			}
		}

		.header__box-components {
			@include breakpoint('tablet') {
				top: -49px;
			}

			@include breakpoint('mobile') {
				top: -59px;
			}
		}

		//Posicionamentos de componentes
		.languages {
			@include breakpoint('tablet--e-abaixo') {
				display: inline-block;
				left: 50%;
				transform: translateX(-50%);

			}

			@include breakpoint('tablet') {
				margin: 56px 0 66px 0;
				min-width: 264px;
			}

			@include breakpoint('mobile') {
				margin: 25px 0 42px 0;
				min-width: 184px;
			}
		}

		.search {
			@include breakpoint('tablet--e-abaixo') {
				top: -40px;
			}
		}
	}
}
