.list-default {
	&__item {
		position: relative;
		padding-left: 13px;
		line-height: 24px;

		&::before {
			content: '';
			width: 4px;
			height: 4px;
			background-color: $light-green;
		    border-radius: 10px;
		    position: absolute;
		    top: 11px;
		    left: 0;
		}
	}
}
