.title {
	font-weight: bold;
	letter-spacing: -0.03em;

	&--iskra {
		font-family: $iskra;
		font-style: italic;
	}

	&--iskra-light {
		font-family: $iskra-light;
		font-style: italic;
	}

	&--iskra-medium {
		font-family: $iskra-medium;
		font-style: italic;
	}

	&--1 {
		font-size: $title-h1;

		@include breakpoint('mobile') {
			font-size: $title-mobile-h1;
		}
	}

	&--2 {
		font-size: $title-h2;

		@include breakpoint('mobile') {
			font-size: $title-mobile-h2;
		}
	}

	&--3 {
		font-size: $title-h3;

		@include breakpoint('mobile') {
			font-size: $title-mobile-h3;
		}
	}

	&--4 {
		font-size: $title-h4;

		@include breakpoint('mobile') {
			font-size: $title-mobile-h4;
		}
	}

	&--em {
		color: $light-green;
		font-weight: bold;
	}

	&--light-green {
		color: $light-green;
	}

	&--sou-gray {
		color: $sou-gray;
	}

	&--degra-blue {
		color: $degra-blue;
	}

	&--white {
		color: $white;
	}

	&--dark-gray {
		color: $sasha-gray;
	}

	&--orange {
		color: $basic-orange;
	}

	&--new-green {
		color: $new-green;
	}

	&--strong-shadow {
		text-shadow: 0px 3px 6px rgba(73,68,65,0.75);
	}
}
