.container {
	width: ($grid-col-width * $grid-cols-desktop) + ($grid-cols-desktop - 1) * $grid-gutter;
	margin: 0 auto;

	@extend %clearfix;

	@include breakpoint(tablet) {
		width: ($grid-col-width * $grid-cols-tablet) + ($grid-cols-tablet - 1) * $grid-gutter;
	}

	@include breakpoint(mobile) {
		width: $grid-col-width-mobile;
	}
}

.row {
	display: inline-block;
	width: 100%;
	font-size: 0;

	@extend %clearfix;

	&--center {
		text-align: center;
	}
}
