<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- mobile -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Visit Brasil">
	<meta name="description" content="Description Visit Brasil">

	<meta property="og:title" content="Lorem Ipsum" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend aliquet arcu." />
	<meta property="og:image" content="http://placehold.it/500x300.png" />
	<meta property="og:url" content="http://www.visitbrasil.com/" />
	<meta property="og:site_name" content="Visit Brasil - Site oficial de turismo do Brasil">

	<title>Componentes</title>


	<!-- CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/main-2.css">

	<style type="text/css">
		body {
			background-color: #FBF9F3;
		}
		.header-comps {
			display: table;
			width: 100%;
			height: 130px;
			font-size: 40px;
			padding-left: 30px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 50px;
			background-color: #329ec6;
		}

		.header-comps div{
			display: table-cell;
			vertical-align: middle;
		}

		.container {
			margin-bottom: 40px;
		}

		h1 {
			font-size: 24px;
		}

		@media (max-width: 767px) {
			.header-comps {
				font-size: 20px;
				line-height: 30px;
			}
		}
	</style>

	<script src="https://use.typekit.net/mvj8ulw.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

	<div class="header-comps">
		<div>{% block name %}{% endblock %}</div>
	</div>


	<div>
		{% block content %}{% endblock %}
	</div>


	<!-- JS -->
	<script src="/vendor/vendor.js"></script>
	<script src="/scripts/main.js"></script>

	{% block postScripts %}{% endblock %}

</body>
</html>
