<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- mobile -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<meta name="author" content="Visit Brasil">
	<meta name="description" content="Description Visit Brasil">

	<meta property="og:title" content="Lorem Ipsum" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend aliquet arcu." />
	<meta property="og:image" content="http://placehold.it/500x300.png" />
	<meta property="og:url" content="http://www.visitbrasil.com/" />
	<meta property="og:site_name" content="Visit Brasil - Site oficial de turismo do Brasil">

	<title>Visit Brasil</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/main-2.css">

	<script src="https://use.typekit.net/mvj8ulw.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>


	</script>
</head>
<body>

	<!-- HEADER -->
	{% include "html-parts/partials/header-ru.html" %}

	<!-- CONTENT -->
	{% block content %}{% endblock %}

	<!-- FOOTER -->
	{% include "html-parts/partials/footer-ru.html" %}


	<!-- JS -->
	<script src="/vendor/vendor.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/scripts/main.js"></script>

</body>
</html>
