{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/accordeon.html" as accordeon %}

{% block name %} Componente Accordeon {% endblock %}

{% block content %}
	<div class="container">
		{{accordeon.default()}}
	</div>
	<br><br><br><br>
	<div class="container">
		{{accordeon.address()}}
	</div>
{% endblock %}
