{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/add-favorite.html" as addFavorite %}

{% block name %} Componente Add Favorite {% endblock %}

{% block content %}
	<div class="container">
		{{addFavorite.default()}}
	</div>

	<div class="container">
		{{addFavorite.default(type='active')}}
	</div>

	<div class="container">
		{{addFavorite.custom_right(align="right")}}
	</div>
{% endblock %}
