{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/address.html" as address %}

{% block name %} Componente Address {% endblock %}

{% block content %}

<div class="container">
	<h1>Address Com API Google Maps</h1>
	{{address.default()}}
</div>
<br><br><br><br>
<div class="container">
<h1>Address Sem API Google Maps</h1>
	{{address.default(nomap='true')}}
</div>

<br><br><br><br>
<div class="container">
<h1>Address Sem API Google Maps</h1>
	{{address.default(nomap='true')}}
</div>


{% endblock %}
