{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/alert-intern.html" as alert %}

{% block name %} Componente Alert Intern {% endblock %}

{% block content %}

		{{alert.intern(theme="red", icon="bug", title="Alert", text="The Rio de Janeiro is going through bad weather and heavy rains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")}}
		{{alert.intern(theme="orange", icon="cloud", title="Alert", text="The Rio de Janeiro is going through bad weather and heavy rains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")}}
		{{alert.intern(theme="green", icon="notebook", title="Alert", text="The Rio de Janeiro is going through bad weather and heavy rains. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")}}

		<br><br><br><br><br><br>


		{{alert.intern(theme="red", icon="bug", size="small", title="All fields are required")}}
		{{alert.intern(theme="orange", icon="cloud", size="small", title="All fields are required")}}
		{{alert.intern(theme="green", icon="notebook", size="small", title="All fields are required")}}

{% endblock %}
