{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/apps.html" as apps %}

{% block name %} Componente Lista de Aplicativos {% endblock %}

{% block content %}
<div class="container">
    {{apps.default()}}
</div>

<div class="container">
    {{apps.default(sites='true')}}
</div>
{% endblock %}
