{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/author.html" as author %}

{% block name %} Componente Author {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    {{author.default()}}
		<br><br><br><br>
    {{author.default(description="true")}}
    	<br><br><br><br>
    {{author.with_photo(noDate="true")}}
		<br><br><br><br>
    {{author.with_photo()}}
		<br><br><br><br>
    {{author.with_photo(description="true")}}
</div>


{% endblock %}
