{% extends "./html-parts/master/guide-components.html" %}

{% block name %} Componente Basic tooltip {% endblock %}

{% block content %}

	<div class="container">
		<p>
			<span data-component="basic-tooltip" data-tooltip="texto tooltip" style="text-decoration: underline;">basic tooltip dv dgbdgn</span> dgsn fvsab sabfsab sfab safdg.
		</p>

		<br><br><br>

		<div data-component="basic-tooltip" data-tooltip="texto tooltip Lorem " style="float: left; margin-left: 15px; width: 50px; height: 50px; border-radius: 50%; background-color: #999;"></div>
		<div data-component="basic-tooltip" data-tooltip="texto tooltip" style="float: left; margin-left: 15px; width: 50px; height: 50px; border-radius: 50%; background-color: #999;"></div>
		<div data-component="basic-tooltip" data-tooltip="texto tooltip Lorem Ipsum Dolor xb sdndghndf mfh " style="float: left; margin-left: 15px; width: 50px; height: 50px; border-radius: 50%; background-color: #999;"></div>
		<div data-component="basic-tooltip" data-tooltip="texto" style="float: left; margin-left: 15px; width: 50px; height: 50px; border-radius: 50%; background-color: #999;"></div>
	</div>

{% endblock %}
