{% extends "./html-parts/master/guide-components.html" %}

{% block name %} Botões e suas variações {% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
	<button class="btn-default">See all experiences</button>
</div>

<br><br>

<div class="container" style="text-align: center;">
	<button class="btn-default btn-default--orange">See all experiences</button>
</div>


<br><br>

<div class="container" style="text-align: center;">
	<button class="btn-default btn-default--small-blue">Show all destinations</button>
</div>

<br><br>

<div class="container" style="padding: 15px 0; background-color: #999999; text-align: center;">
	<button class="btn-default btn-default--border">Read</button>
</div>

<br><br>

<div class="container" style="text-align: center;">
	<button class="btn-download">Download album <span class="btn-download__size">(24mb)</span></button>
</div>

<br><br>

<div class="container" style="text-align: center;">
	<button class="btn-simple">Subscribe</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-photos">Photos</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-get-directions">Get directions</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-get-map">See the map of Rio de Janeiro</button>
</div>

<div class="container" style="padding: 15px 0; background-color: #fff; text-align: center;">
	<button class="btn-get-weather">See the weather in Rio de Janeiro</button>
</div>

<div class="container" style="padding: 15px 0; background-color: #fff; text-align: center;">
	<button class="btn-get-region">See the map of region <br> on google maps</button>
</div>

<br><br>

<div class="container" style="text-align: center;">
	<button class="btn-target">Watch</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-read-more">Read more articles</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-load">Load</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-load-more">Load more</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-back">Back to Blog</button>
</div>

<div class="container" style="text-align: center;">
	<button class="btn-nav">Back</button>
</div>
{% endblock %}
