{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% block name %} Componente Hover {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    {{card_hover.default(size="normal", place="Paraty")}}
		<br><br><br><br><br><br>
    {{card_hover.with_text(size="small", place="Paraty")}}
</div>


{% endblock %}
