{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/card-tooltip.html" as cardTooltip %}

{% block name %} Componente Card tooltip {% endblock %}

{% block content %}

	<style type="text/css">
		.card-tooltip {
			text-decoration: underline;
		}
	</style>

	<div class="container">

		<br><br><br>
		<br><br><br>
		<br><br><br>
		<br><br><br>

		<p>Lorem Ipsum {{cardTooltip.default(title='Copacabana Beach')}} dgsn fvsab sabfsab {{cardTooltip.default(title='Ipanema Beach')}} safdg.</p>

		<br><br><br>
		<br><br><br>
		<br><br><br>
		<br><br><br>

		<a href="rio-de-janeiro" data-component="card-tooltip" data-image="../images/image-copacabana-card-hover.jpg" data-section="Attraction" data-title="State of Rio de Janeiro" data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." class="card-tooltip" style="display: block; width: 15px; height: 15px; background-color: gray; border-radius: 50%;"></a>
	</div>

{% endblock %}
