{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/card.html" as card %}

{% block name %} Componente Card {% endblock %}

{% block content %}
	<div class="container">
		<h1>Arquitetura do componente</h1>
		<img src="../images/components-guide/card/Cards-Doc.001.jpeg"><br>
		<br>
		<img src="../images/components-guide/card/Cards-Doc.002.jpeg"><br>
		<br>
		<img src="../images/components-guide/card/Cards-Doc.003.jpeg">
	</div>


	<div class="container">
		<h1>Aplicações</h1>
	</div>

	<div class="container">
		<h2>Card básico e variação de cor</h2>
		{{ card.default(dataTitle='Historical Heritage around Rio de Janeiro') }}
		{{ card.default(cardColor='orange') }}
	</div>

	<div class="container">
		<h2>Card com label</h2>
		{{ card.default(bodySize=3, cardColor='orange', icon='star') }}
		{{ card.default(bodySize=3, cardColor='green', icon='star') }}
	</div>

	<div class="container">
		<h2>Card com ícone</h2>
		{{ card.default(bodySize=3, cardColor='orange', icon='star') }}
		{{ card.default(bodySize=3, cardColor='green', icon='star') }}
	</div>

	<div class="container">
		<h2>Card com label</h2>
		{{ card.default(bodySize=3, cardColor='orange', label='true', titleSmall='true') }}
	</div>

	<div class="container">
		<h2>Card com footer de título e texto</h2>
		{{ card.default(bodySize=3, cardColor='orange', footerType='title-text') }}
	</div>

	<div class="container">
		<h2>Card com footer de destino</h2>
		{{ card.default(bodySize=3, cardColor='orange', footerType='geoloc') }}
	</div>

	<div class="container">
		<h2>Card com footer de directions</h2>
		{{ card.default(bodySize=3, footerType='directions') }}
	</div>

	<div class="container">
		<h2>Card com exibição de data</h2>
		{{ card.default(dataTitle='Reveillon Fireworks in Copacabana', bodySize=3, date=true) }}
	</div>

	<div class="container">
		<h2>Card só link</h2>
		{{ card.link(bodySize=1) }}
		{{ card.link(bodySize=2) }}
		{{ card.link(bodySize=3) }}
	</div>


	<div class="container">
		<h1>Modelos do style guide</h1>
	</div>

	<div class="container">
		<h2>Card de conteúdo de evento</h2>
		{{ card.default(bodySize=2, date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de destinos</h2>
		{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de atrações</h2>
		{{ card.default(bodySize=1) }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de atrações com destino</h2>
		{{ card.default(bodySize=1, footerType='geoloc') }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de experiências</h2>
		{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de Melhores Atrações</h2>
		{{ card.default(bodySize=3, footerType='top-atract', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}
	</div>

	<div class="container">
		<h2>Card de conteúdo de Mice/Trade/Press</h2>
			{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='São Paulo', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}
		</div>

{% endblock %}
