{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/card-media.html" as cardMedia %}

{% block name %} Componente Card media {% endblock %}

{% block content %}
<div class="container">
    {{cardMedia.default(type="image", color="orange", text="Acre")}}
	<br><br>
    {{cardMedia.default(type="video", color="new-green", text="Alagoas")}}
</div>
{% endblock %}
