{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% block name %} Componente Combo change content {% endblock %}

{% block content %}

<div class="container">
	{{combobox.changeContent(value=[
			{ "name": "conteúdo 1", "data": "div1"},
			{ "name": "conteúdo 2", "data": "div2"},
			{ "name": "conteúdo 3", "data": "div3"},
			{ "name": "conteúdo 4", "data": "div4"},
			{ "name": "conteúdo 5", "data": "div5"}
		]
	)}}

	<br><br><br><br>

	<div id="div1" class="combo-change-content" style="border: 2px solid #999; width: 200px; height: 200px;">conteúdo do bloco 1</div>
	<div id="div2" class="combo-change-content" style="border: 2px solid #999; width: 200px; height: 200px;">conteúdo do bloco 2</div>
	<div id="div3" class="combo-change-content" style="border: 2px solid #999; width: 200px; height: 200px;">conteúdo do bloco 3</div>
	<div id="div4" class="combo-change-content" style="border: 2px solid #999; width: 200px; height: 200px;">conteúdo do bloco 4</div>
	<div id="div5" class="combo-change-content" style="border: 2px solid #999; width: 200px; height: 200px;">conteúdo do bloco 5</div>

</div>

{% endblock %}
