{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/contextual-nav.html" as contextualNav %}

{% block name %} Componente Navegação Contextualizada {% endblock %}

{% block content %}

<div>
	{{contextualNav.default(itens=['Rio de Janeiro viewed from above'])}}
</div>
<br><br><br><br>
<div>
	{{contextualNav.default(type='blue', itens=['Business events', 'Rio de Janeiro - Events infraestructure'])}}
</div>
{% endblock %}
