{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/custom-input-date.html" as inputdatepicker %}

{% block name %} Componente Custom Input Datepicker {% endblock %}

{% block content %}

<br><br><br>
<div class="container">
	{{inputdatepicker.default()}}
	<br><br><br>
	{{inputdatepicker.default()}}
</div>


{% endblock %}
