{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% block name %} Componente Custom Combo Box {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
  {{combobox.default(value=[
			'Janeiro',
			'Fevereiro',
			'Março',
			'Abril',
			'Maio',
			'Janeiro',
			'Fevereiro',
			'Março',
			'Abril',
			'Maio'
		],
		id="combo_1"
	)}}
</div>
<br><br><br><br><br><br>
<div class="container">
    {{combobox.regionmap(value=[
				{ "name": "north", "data": "north"},
				{ "name": "northeast", "data": "northeast"},
				{ "name": "west central", "data": "west_central"},
				{ "name": "southeast", "data": "southeast"},
				{ "name": "south", "data": "south"}
			],
		id="combo_2"
		)}}
</div>
<br><br><br>
<div class="container">
	{{combobox.locked(value=[
			'Janeiro',
			'Fevereiro',
			'Março',
			'Abril',
			'Maio',
			'Janeiro',
			'Fevereiro',
			'Março',
			'Abril',
			'Maio'
		],
		id="combo_3"
	)}}
</div>


{% endblock %}
