{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% block name %} Componente Custom Checkbox {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    {{checkbox.default(type='normal', label='All', name='check')}}
</div>


{% endblock %}
