{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% block name %} Componente Imagem de Destaque {% endblock %}

{% block content %}

<div>
	<h1>Destaque Home</h1>
	{{destaque.home(with_mark="false", image="/images/bg-home-desktop.png", text="5 best beaches in the state of Rio de Janeiro", button="true", btn="")}}

	<br><br><br><br>

	<h1>Variação Destaque Home sem botão</h1>
	{{destaque.home(with_mark="false", image="/images/bg-editorial-post.jpg", text="Electronic nightlife in Rio")}}

	<br><br><br><br>

	<h1>Destaque Destinos</h1>
	{{destaque.destinos()}}

	<br><br><br><br>

	<h1>Destaque Destino com API</h1>
	{{destaque.destino()}}

	<br><br><br><br>

	<h1>Destaque Destino sem API</h1>
	{{destaque.destino(nomap='true')}}

	<br><br><br><br>

	<h1>Destaque Atração</h1>
	{{destaque.atracao()}}

	<br><br><br><br>

	<h1>Destaque Região</h1>
	{{destaque.regiao()}}

	<br><br><br><br>

	<h1>Destaque Eventos</h1>
	{{destaque.eventos()}}

	<br><br><br><br>

	<h1>Destaque Evento</h1>
	{{destaque.evento()}}

	<br><br><br><br>

	<h1>Destaque Experiências</h1>
	{{destaque.experiencias()}}

	<br><br><br><br><br><br><br><br>

	<h1>Destaque Experiência</h1>
	{{destaque.experiencia()}}

	<br><br><br><br>

	<h1>Destaque Sobre a Embratur</h1>
	{{destaque.sobre()}}

	<br><br><br><br>

	<h1>Destaque Mice</h1>
	{{destaque.mice()}}

	<br><br><br><br>

	<h1>Destaque Mobile Promo</h1>
	{{destaque.mobilePromo()}}

	<br><br><br><br>

	<h1>Destaque Página 404</h1>
	{{destaque.errorPage()}}
	<br><br><br><br>
	<h1>Destaque de Imprensa</h1>
	{{destaque.imprensa()}}
	<br><br><br><br>
	<h1>Destaque de Clipping release</h1>
	{{destaque.clippingRelease()}}
	<br><br><br><br>

	<h1>Destaque Página 404</h1>
	{{destaque.internalBlog()}}
</div>


{% endblock %}
