{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/editor-post.html" as editorPost %}

{% block name %} Componente Editor post {% endblock %}

{% block content %}
<div class="container">
	{{editorPost.default(capa='true', details='true')}}
</div>

<br><br><br>

<div class="container">
	{{editorPost.default(capa='true')}}
</div>

<br><br><br>

<div class="container">
	{{editorPost.default(capa='false')}}
</div>

{% endblock %}
