{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% block name %} Componente Essential Information {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    {{essentialInformation.default(type='', title='', t1='', t2='', t3='', t4='', t5='', t6='', t7='', t8='', t9='', t10='')}}
</div>



{% endblock %}
