{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/favorite.html" as favorite %}

{% block name %} Componente Favoritos {% endblock %}

{% block content %}
	<div class="container" style="background-color: #ccc; padding: 25px 25px 0 25px;">
		<div style="float: right;">
			{{favorite.default()}}
		</div>
	</div>
{% endblock %}
