{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/featured-posts.html" as featuredPosts %}

{% block name %} Componente Destaque post {% endblock %}

{% block content %}

	<div class="container">
		{{featuredPosts.default(
			image='/images/img-post-blog-big-desk.jpg',
			imageMobile='/images/img-post-blog-big-mobile.jpg',
			title='10 things you cannot miss in Paraty',
			text='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
			type='big'
		)}}
	</div>

	<br><br>

	<div class="container">
		{{featuredPosts.default(
			image='/images/img-post-blog-medium-desk.jpg',
			imageMobile='/images/img-post-blog-medium-mobile.jpg',
			title='Meet paradise that enchanted Charles Darwin - yes, it is in Brazil!',
			text='',
			type='medium'
		)}}
	</div>

	<br><br>

	<div class="container">
		{{featuredPosts.default(
			image='/images/img-post-blog-small-desk.jpg',
			imageMobile='/images/img-post-blog-small-mobile.jpg',
			title='20 waterfalls to wash your soul',
			text='',
			type='small'
		)}}
	</div>

{% endblock %}
