{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/gallery.html" as gallery %}

{% block name %} Componente Galeria {% endblock %}

{% block content %}
	<style type="text/css">
		.container {
			margin-bottom: 0;
		}
	</style>


	<!--
		Para criar a galeria precisa passar os seguintes paramentros na chamada do componente

		ID: Faz referência ao botão que vai abrir a galeria. O atribnuto "data-gallery" que vai no botão ou link que abre a galeria'
		recebe o mesmo nome que o parâmetro "ID", assim ele vai abrir a galeria correspondente aquele botão.

		TITLE: É simplesmente o título/nome da Galeria que vai aparecer quando ela for aberta.

		TYPE: É a classe  modificadora, caso precise criar alguma variação para o componente.

	-->

	<div class="container">
		<button data-gallery="samba-2015" class="btn-photos">Photos</button>
		{{gallery.default(id='samba-2015', title='Samba School Parade 2015')}}
	</div>

	<br><br><br>

	<div class="container">
		<a href="#" data-gallery="samba-2016" class="">Abrir Galeria de fotos</a>
		{{gallery.default(id='samba-2016', title='Samba School Parade 2016')}}
	</div>

	<br><br><br>

	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>
	teste<br><br><br>

{% endblock %}
