{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/great-for.html" as greatFor %}

{% block name %} Componente Great for {% endblock %}

{% block content %}
<div class="container">
	{{greatFor.default(title='Rio de Janeiro is')}}
</div>

<br><br>

<div class="container">
	{{greatFor.default(title='Costa verde is', type='one')}}
</div>

<br><br>

{% endblock %}
