{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/information-tips.html" as info_tips %}

{% block name %} Componente Great for {% endblock %}

{% block content %}
<div class="container">
	{{info_tips.default(title="Essential informations & tips")}}
</div>

<br><br>

<div class="container">
	{{info_tips.default(title="Tips", type="large")}}
</div>

<br><br>

{% endblock %}
