{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/languages.html" as language %}

{% block name %} Componente Languages {% endblock %}

{% block content %}

	<div class="container">
		<h1>Align from top</h1>
		<div style="">
			{{language.default()}}
		</div>
	</div>
	<br><br><br><br><br>
	<div class="container">
		<h1>Align from bottom</h1>
		<div style="">
			{{language.default(type='bottom')}}
		</div>
	</div>
	<br><br><br><br><br>
	<div class="container">
		<h1>Align from bottom</h1>
		<div style="">
			{{language.default(type='bottom', tablet_large=true)}}
		</div>
	</div>
{% endblock %}
