{% extends "./html-parts/master/guide-components.html" %}
{% block name %} Componente Map {% endblock %}

{% block content %}
	<h2>#map1: Mapa com rota de voo, centralizado na rota</h2>
	<div class="l-container">
		<div id="map1" style="width: 500px; height: 500px"></div>
	</div>

	<h2>#map2: Mapa com pins e pins de números, centralizado em coordenada</h2>
	<div class="l-container">
		<div id="map2" style="width: 1000px; height: 500px"></div>
	</div>
{% endblock %}


{% block postScripts %}
<script type="text/javascript">
$(document).ready(function(){
	/**
	 * MAP 1
	 */
	var Map1 = new App.Modules.map($('#map1'));

	// Adiciona rota entre Londres e Brasilia
	Map1.addLine([51.507351, -0.127758], [-23.550520, -46.633309], {tempoDeVoo: 12});

	// Adiciona label em Brasilia e London
	Map1.addPointLabel([-23.550520, -46.633309], "São Paulo, Brazil", true);
	Map1.addPointLabel([51.507351, -0.127758], "London, UK", false);

	// Centraliza o mapa no centro da rota
	Map1.centerMap([51.507351, -0.127758], [-23.550520, -46.633309]);



	/**
	 * Adiciona pins
	 */
	var Map2 = new App.Modules.map($('#map2'));

	// Adiciona pins
	Map2.addMarker([-23.550520, -46.633309]);
	Map2.addMarker([-14.235004, -51.925280]);

	// Adiciona pins com números
	Map2.addPointNumber([50.507351, -100.127758], "57", false);
	Map2.addPointNumber([-30.559482, 22.937506], "2", true);

	// Centraliza o mapa por coordenada
	Map2.centerMap([0,0]);

})
</script>
{% endblock %}
