{% extends "./html-parts/master/guide-components.html" %}
{% block name %} Componente Map {% endblock %}

{% block content %}
	<!--
	// data-page: Rerencia a página atual, o JS recupera esse valor
	// e chama a URL correta para fazer o request.
	//
	// data-type: Taz a classe CSS para um icone do mapa em específico, caso
	// não venha na API e seja diferente do padrão.
	-->
	<div class="l-container">
		<div id="map" data-component="map" data-page="exemplo" class="map" style="width: 500px; height: 300px"></div>
		<br><br>
		<div id="map2" data-component="map" data-page="exemplo" class="map" data-type="map__star-icon map__star-icon--green" style="width: 500px; height: 300px"></div>
	</div>
{% endblock %}
