{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/mosaico.html" as mosaico %}

{% block name %} Componente mosaico {% endblock %}

{% block content %}

	{{mosaico.default(type='big')}}

	<br><br><br>
	<br><br><br>

	{{mosaico.default(type='small')}}

{% endblock %}
