{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/newsletter.html" as newsletter %}

{% block name %} Componente Newsletter {% endblock %}

{% block content %}
<style type="text/css">
.bg-newsletter-mock {
    background-image: url("../images/bg-newsletter.jpg");
}
</style>
<div class="container bg-newsletter-mock" style="position: relative; overflow: hidden">
    {{newsletter.default(title='Stay in touch with every thing about tourism in Brazil', subtitle='Register your e-mail address and receive updated news.', btn='Subscribe')}}
</div>
{% endblock %}
