{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/photo-description.html" as photoDescription %}

{% block name %} Componente Photo Description {% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container" style="position: relative; height: 300px; background-color: #ccc;">
    {{photoDescription.default(text='Summer on ', link='Copacabana beach, Rio de janeiro')}}
    {{photoDescription.default(type='bottom', text='Summer on ', link='Copacabana beach, Rio de janeiro')}}
</div>


{% endblock %}
