{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/region-map-maps.html" as map_maps %}

{% block name %} Componente Region Map Maps {% endblock %}

{% block content %}

<div style="margin-top: 200px;">
	{{map_maps.default()}}
</div>

<div style="margin-top: 200px;">
	{{map_maps.default(noapi="true")}}
</div>



{% endblock %}
