{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/share.html" as share %}

{% block name %} Componente Share {% endblock %}

{% block content %}
	<div class="container">
		{{share.default()}}
	</div>

	<div class="container">
		{{share.default('big', 'center')}}
	</div>
{% endblock %}
