{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/trending.html" as trending %}

{% block name %} Componente Trending {% endblock %}

{% block content %}
<div class="container">
	{{trending.default(title='Trending Now')}}
</div>

<br><br>

<div style="background: #ccc; padding: 10px 0;">
	<br><br><br><br><br><br>
</div>

<div class="container">
	{{trending.default(title='Trending Now', type='center')}}
</div>

<br><br>

<div class="container">
	{{trending.default(title='Related events')}}
</div>
{% endblock %}
