{% extends "./html-parts/master/guide-components.html" %}

{% import "html-parts/components/weather.html" as weather %}

{% block name %} Componente Weather {% endblock %}

{% block content %}
	<div class="container">
		{{weather.default()}}
	</div>

	<div class="container">
		{{weather.default(small='true')}}
	</div>


	<div class="container">
		<h1>Mice theme</h1>
	</div>

	<div class="container">
		{{weather.default(theme="mice")}}
	</div>
{% endblock %}
