html {
	height: 100%;
}

body {
	height: 100%;
	font-family: $noto-sans-regular;	
	font-size: $base-font-size;
	color: $basic-gray;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}