//Paths
$path-font: '../files/fonts/';

//Fonts
$noto-sans-regular: 'NotoSansRegular';
$noto-sans-bold: 'NotoSansBold';
$noto-sans-italic: 'NotoSansItalic';
$iskra: 'Iskra';
$iskra-light: 'tk-iskra-i2';
$iskra-medium: 'tk-iskra-i4';
$pso-regular: 'PraterScriptOneRegular';
$base-font-size: 16px;

//Titles
$title-h1: 64px;
$title-mobile-h1: 40px;
$title-h2: 52px;
$title-mobile-h2: 36px;
$title-h3: 32px;
$title-mobile-h3: 24px;
$title-h4: 36px;
$title-mobile-h4: 32px;

//Colors
$white: #ffffff;
$black: #000000;
$logo-black: #040301;
$basic-gray: #9d9d9d;
$light-gray: #FBF9F3;
$bem-gray: #F2ECDD;
$jaca-gray: #D8D3C6;
$sou-gray: #AEA691;
$darkest-gray: #f3eddf;
$super-darkest-gray: #cec3ad;
$medium-gray: #ADA590;
$master-gray: #9C9C9C;
$dark-gray: #5A5A5A;
$sasha-gray: #5B5B5B;
$bd-gray: #f2edde;
$bd-gray-light: #fbf9f4;
$bd-gray-middle: #eee7d4;
$bd-gray-bold: #d6d2c8;
$bd-gray-soft: #faf9f4;
$air-gray: #d9d3c8;
$bb-gray: #d9d3c6;
$new-gray: #7e7e7e;
$normal-gray: #cccccc;
$tp-gray: #e5e5e5;
$grad-gray: #d9d4c7;
$last-gray: #636363;
$basic-orange: #F36F21;
$basic-yellow: #FFC10D;
$cremo-yellow: #FFF73F;
$homer-yellow: #ffff00;
$barte-yellow: #fff83f;
$basic-red: #ED1B23;
$strong-red: #ed383e;
$middle-red: #be8077;
$soft-red: #ed5f64;
$thin-red: #ffeded;
$super-soft-red: #ed4e53;
$basic-blue: #0B4DA1;
$light-blue: #329EC6;
$sky-blue: #00ADEF;
$green-blue: #BBF3F5;
$tina-blue: #77E7ED;
$baby-blue: #31BCC5;
$little-blue: #2F9197;
$pastel-blue: #257579;
$degra-blue: #0c4da2;
$ice-blue: #89c4da;
$mano-blue: #78e7ee;
$lighter-blue: #bbf3f6;
$snow-blue: #2888bc;
$nine-blue: #3ea6d7;
$xaka-blue: #7fbbd7;
$nana-blue: #329ec6;
$over-blue: #5c7aa1;
$blue-label: #3ea7d7;
$hv-blue: #1b61bc;
$ac-blue: #0a3c7d;
$line-blue: #6483a2;
$ocean-blue: #73b6e6;
$light-green: #7FC141;
$basic-green: #008F4B;
$dark-green: #007A47;
$middle-dark-green: #38b700;
$super-soft-green: #7abb3f;
$gang-green: #93D656;
$grama-green: #82c345;
$thin-green: #e6f8d6;
$tina-green: #9ad763;
$green-corn: #61972F;
$green-dark: #309298;
$soft-green: #7fc241;
$middle-green: #8fab76;
$strong-green: #6a9e3a;
$new-green: #008f4c;
$hv-green: #03a75a;
$ac-green: #036135;
$soft-blue: #c5e5f3;
$dark-blue: #00aeef;
$light-bege: #d9d3c6;
$yellou: #ffff00;
$navy-blue: #32bdc6;
$soft-orange: #e6a933;
$middle-orange: #bea677;
$strong-orange: #e59b44;
$super-soft-orange: #e6a537;
$thin-orange: #fff4d2;
$simple-purple: #9c74b6;
$border-error: #ed5157;
$bg-error: #ffe8e8;

//Grid Sizes
$grid-col-width: 216px;
$grid-col-width-mobile: 272px;
$grid-gutter: 32px;
$grid-cols-desktop: 5;
$grid-cols-tablet: 3;
$grid-cols-mobile: 1;

//Screen Sizes
