{% import "html-parts/components/languages.html" as language %}
<footer id="footer" class="footer">
	<span class="footer__line"></span>

	<div class="footer__wrapper container">

		<a href="#" class="footer__logo-default"></a>

		<nav class="footer__navigation">
			<a href="#" class="footer__navigation-link footer__title">About Embratur</a>
			<a href="#" class="footer__navigation-link footer__title">Business Events</a>
			<a href="#" class="footer__navigation-link footer__title">Press</a>
			<a href="#" class="footer__navigation-link footer__title">Trade</a>
		</nav>

		<div class="footer__language-wrapper">
			<div class="footer__title">Language</div>
			{{language.default(type='bottom')}}
		</div>

		<div class="footer__share">
			<div class="footer__title">Find us on</div>
			<div class="footer__share-column">
				<a href="" class="footer__share-links footer__share-links--twitter">Twitter</a>
				<a href="" class="footer__share-links footer__share-links--facebook">Facebook</a>
				<a href="" class="footer__share-links footer__share-links--gplus">Google +</a>
			</div>
			<div class="footer__share-column">
				<a href="" class="footer__share-links footer__share-links--instagram">Instagram</a>
				<a href="" class="footer__share-links footer__share-links--flickr">Flickr</a>
			</div>
		</div>

		<div class="footer__promo-ad">
			<div class="footer__promo-ad-content container">
				<a href="#" class="footer__promo-ad-text">Download our mobile apps and check our promotional sites</a>
			</div>
		</div>

		<div class="footer__all-rights">
			All rights reserved. BRASIL © 2016
		</div>

	</div>
</footer>
