{% import "html-parts/components/user.html" as user %}
{% import "html-parts/components/languages.html" as language %}
{% import "html-parts/components/favorite.html" as favorite %}
{% import "html-parts/components/search-results.html" as search %}

<header id="header" class="header">

	<span class="header__line"></span>

	<div class="container header__wrapper">
		<a href="#" class="header__logo-default"></a>

		<button data-component="menu-hamburguer" class="menu-hamburguer"><span></span></button>

		<div class="header__top-area">
			<span class="header__top-description">公式ブラジルの観光情報のウェブサイトへようこそ</span>
		</div>

		<div class="header__bottom-area">
			<nav class="header__nav-bot">
				<ul>
					<li class="header__nav-bot-item"><a href="/home-destinos.html"  class="header__nav-bot-item-link">目的地</a></li>
					<li class="header__nav-bot-item"><a href="/home-experiencias.html"  class="header__nav-bot-item-link">経験</a></li>
					<li class="header__nav-bot-item"><a href="/home-eventos.html"  class="header__nav-bot-item-link">イベント</a></li>
					<li class="header__nav-bot-item"><a href="/informacoes-essenciais-home.html"  class="header__nav-bot-item-link">基本的な情報</a></li>
					<li class="header__nav-bot-item"><a href="/home-blog.html"  class="header__nav-bot-item-link">ブログ</a></li>
					<li class="header__nav-bot-item"><a href="/mobile-promo.html"  class="header__nav-bot-item-link">もっと</a></li>
				</ul>
			</nav>

			<div class="header__box-nav-sup">
				<span class="header__nav-sup-label">他のセグメント</span>
				<nav class="header__nav-sup">
					<ul>
						<li class="header__nav-sup-item"><a href="/home-mice.html">ビジネスイベント</a></li>
						<li class="header__nav-sup-item"><a href="/imprensa-home-press-release.html">プレス</a></li>
						<li class="header__nav-sup-item"><a href="/home-trade.html">トレード</a></li>
					</ul>
				</nav>
			</div>

			<div class="header__box-components">
				{{user.default()}}
				{{favorite.default()}}
				<a href="" class="header__search-button" data-search--click><span>サーチ</span></a>
			</div>

			{{language.default(type='bottom', tablet_large=true)}}
		</div>
	</div>

</header>

{{search.default()}}
