{% import "html-parts/components/card-media.html" as cardMedia %}

<div id="press-images" class="imprensa__results imprensa__results--images imprensa_tabs-content">
	<div data-cards-carousel--pagination class="imprensa__boxes">

		{% for i in range(0, 4) -%}
			{{cardMedia.default(type="image", color="orange", text="Brasília", gallery="brasilia")}}
			{{cardMedia.default(type="image", color="orange", text="Beauty of the Serra Gaucha", gallery="serra-gaucha")}}
			{{cardMedia.default(type="image", color="orange", text="Reveillon em Copacabana", gallery="reveillon-copacabana")}}
		{%- endfor %}

	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='orange')}}
		<button class="btn-load btn-load--orange">Load more results</button>
	</div>

	{{gallery.default(id='brasilia', title='Brasília')}}
	{{gallery.default(id='serra-gaucha', title='Beauty of the Serra Gaucha')}}
	{{gallery.default(id='reveillon-copacabana', title='Reveillon em Copacabana')}}
</div>
