<div id="press-clipping" class="imprensa__results imprensa__results--press-clipping imprensa_tabs-content">
	<div data-cards-carousel--pagination class="imprensa__cards cards-carousel bullets--gray">
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='orange', dataTitle='Embratur supports Brasilia’s candidacy to host the World Water Forum', titleSmall='true') }}
	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='orange')}}
		<button class="btn-load btn-load--orange">Load more results</button>
	</div>
</div>
