{% import "html-parts/components/card-media.html" as cardMedia %}

<div id="press-videos" class="imprensa__results imprensa__results--videos imprensa_tabs-content">
	<div data-cards-carousel--pagination class="imprensa__boxes">

		{% for i in range(0, 3) -%}
			{{cardMedia.default(type="video", color="orange", text="Brasília")}}
			{{cardMedia.default(type="video", color="orange", text="Serra Gaucha")}}
			{{cardMedia.default(type="video", color="orange", text="Reveillon em Copacabana")}}
			{{cardMedia.default(type="video", color="orange", text="Recife")}}
		{%- endfor %}

	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='orange')}}
		<button class="btn-load btn-load--orange">Load more results</button>
	</div>
</div>
