<div id="press-liveconference" class="imprensa__results imprensa__results--press-live-conference imprensa_tabs-content">
	<div class="conference__item">
		<div class="conference__logo">
			<span class="conference__label">
				live conference
			</span>
			<div class="conference__legend-wrapper">
				<p class="conference__legend">Training</p>
				<p class="conference__sublegend">part 1</p>
			</div>
		</div>
		<div class="conference__wrapper">
			<h3 class="conference__title title--em title title--orange title--3">Training agents for international tourism Press - Part 1</h3>
			<p class="conference__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

			<p class="conference__title title--sou-gray  title--em "><strong class=" title--dark-gray  title--em ">15/08/16</strong> - 14h00 - 18h00</p>

			<a href="#" title="" class="conference__link external-link">Watch live conference</a>
		</div>
	</div>
	<div class="conference__item">
		<div class="conference__logo">
			<span class="conference__label">
				live conference
			</span>
			<div class="conference__legend-wrapper">
				<p class="conference__legend">Training</p>
				<p class="conference__sublegend">part 1</p>
			</div>
		</div>
		<div class="conference__wrapper">
			<h3 class="conference__title title--em title title--orange title--3">Training agents for international tourism Press - Part 2</h3>
			<p class="conference__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>

			<p class="conference__title title--sou-gray  title--em "><strong class=" title--dark-gray  title--em ">15/08/16</strong> - 14h00 - 18h00</p>

			<a href="#" title="" class="conference__link external-link">Watch live conference</a>
		</div>
	</div>
</div>
