<div id="trade-experiences" class="imprensa__results imprensa__results--press-release imprensa_tabs-content">

	<div class="imprensa__description-guides">
		<p>Here you can find guides about the main experiences offered by Visit Brazil. The experiences are described in detail on their specific pages and also they can be downloaded in PDF format. These guides will help the creation and formatting of tourism packages, containing the essential information about the experience.</p>
		<button class="imprensa__description-guides-close"></button>
	</div>

	<div data-cards-carousel--pagination class="imprensa__cards cards-carousel bullets--gray">
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
		{{ card.default(bodySize=2, cardColor='new-green', dataTitle='Olympic Games in Marvelous city', footerType='buttons', titleSmall='true') }}
	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='new-green')}}
		<button class="btn-load btn-load--new-green">Load more results</button>
	</div>
</div>
