{% import "html-parts/components/card-media.html" as cardMedia %}

<div id="trade-images" class="imprensa__results imprensa__results--images imprensa_tabs-content">
	<div data-cards-carousel--pagination class="imprensa__boxes">
		{% for i in range(0, 3) -%}
			{{cardMedia.default(type="image", color="new-green", text="Acre", gallery="acre")}}
			{{cardMedia.default(type="image", color="new-green", text="Alagoas", gallery="alagoas")}}
			{{cardMedia.default(type="image", color="new-green", text="Amapá", gallery="amapa")}}
			{{cardMedia.default(type="image", color="new-green", text="Amazonas", gallery="amazonas")}}
		{%- endfor %}
	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='new-green')}}
		<button class="btn-load btn-load--new-green">Load more results</button>
	</div>

	{{gallery.default(id='acre', title='Acre')}}
	{{gallery.default(id='alagoas', title='Alagoas')}}
	{{gallery.default(id='amapa', title='Amapá')}}
	{{gallery.default(id='amazonas', title='Amazonas')}}
</div>
