{% import "html-parts/components/card-media.html" as cardMedia %}

<div id="trade-videos" class="imprensa__results imprensa__results--videos imprensa_tabs-content">
	<div data-cards-carousel--pagination class="imprensa__boxes">
		{% for i in range(0, 3) -%}
			{{cardMedia.default(type="video", color="new-green", text="Brasília")}}
			{{cardMedia.default(type="video", color="new-green", text="Football stadiums")}}
			{{cardMedia.default(type="video", color="new-green", text="Reveillon in Copacabana")}}
			{{cardMedia.default(type="video", color="new-green", text="Carnaval")}}
		{%- endfor %}
	</div>

	<div class="imprensa__pagination">
		{{pagination.default(type='new-green')}}
		<button class="btn-load btn-load--new-green">Load more results</button>
	</div>
</div>
