<div id="trade-filter-results" class="imprensa__results imprensa__results--trade-filter-results imprensa_tabs-content">
	<div>
		<div class="result__main-title">
			<span class="result__main-label"><span>76</span> results found</span>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Press</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Rio de Janeiro: UNESCO World Heritage Site in the Urban Cultural Landscape category </h3>
				<p class="result__description">The Brazilian capital received executives from the World Water Council who will assess the city to host the event in 2018.</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label result__label--photo">12 photos</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Ouro Preto </h3>
				<p class="result__description">Latest update: 27/02/2016</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__content result__content--no-thumb">
				<h3 class="result__title">Casa Brasil stages the exchange between Brasil and South America</h3>
				<p class="result__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin <strong>praias</strong> dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label result__label--photo">12 photos</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Florianópolis</h3>
				<p class="result__description">Latest update: 27/02/2016</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label result__label--video"></span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Pantanal</h3>
				<p class="result__description">Lenght: 12min07s</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Press</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Lovers lust for romantic Brazil on Valentine's Day </h3>
				<p class="result__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin <strong>praias</strong> dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Press</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">Its Carnival time as Brazil prepares for the 'greatest party on earth' </h3>
				<p class="result__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin <strong>praias</strong> dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Clipping</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">17 Stunning Places In Brazil You Need To See Before You Die</h3>
				<p class="result__description">Time to pack your bags and go visit one of the largest countries in the world.</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Clipping</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">A beginner's guide to Brazil</h3>
				<p class="result__description">What do you get if you combine cinematic landscapes, kaleidoscopic culture, head-spinning biodiversity and a constant rhythm of carefree joie de vivre? Welcome to Brazil!</p>
			</div>
		</div>

		<div class="result__item row">
			<div class="result__thumb">
				<span class="result__label">Clipping</span>
				<img src="http://placehold.it/216x121" class="" />
			</div>
			<div class="result__content">
				<h3 class="result__title">On the ground at Rio’s Carnaval: a local’s guide to the biggest party on earth</h3>
				<p class="result__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin <strong>praias</strong> dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
			</div>
		</div>
	</div>


	<div class="imprensa__pagination">
		{{pagination.default(type='new-green')}}
		<button class="btn-load btn-load--new-green">Load more results</button>
	</div>

</div>
