{% macro default() %}

<!-- BACK-END, por favor preencher os campos como explicado abaixo para a troca do accordion funcionar corretamente.
	Preencher o ID do checkbox, o atributo FOR dos labels com o mesmo valor.

	ex:
	<input class="accordeon__checkbox accordeon__checkbox--title" type="checkbox" id="MESMO-VALOR-AQUI" name="accordion-title" />
	<label for="MESMO-VALOR-AQUI" class="accordeon__title">Basic informations</label>

	<dt><label class="accordeon__content-title accordeon__content-title--bus" for="MESMO-VALOR">Bus</label></dt>
	<dd class="accordeon__content-description">
		<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="MESMO-VALOR" name="accordion-description" />
		<label for="MESMO-VALOR" class="accordeon__content-description-icon"></label>
		<p class="accordeon__content-description-text"></p>
	</dd>
-->
<div data-component="accordeon" class="accordeon">
	<div class="accordeon__wrapper">
		<input class="accordeon__checkbox accordeon__checkbox--title" type="checkbox" id="info-basica" name="accordion-title" />
	<label for="info-basica" class="accordeon__title">Basic informations</label>
		<dl class="accordeon__content">
			<dt><label class="accordeon__content-title accordeon__content-title--como-chegar" for="como-chegar">How to arrive</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="como-chegar" name="accordion-description" />
				<label for="como-chegar" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text"><strong>Lorem ipsum dolor</strong> sit amet, <em>consectetur</em> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</dd>

			<dt><label class="accordeon__content-title accordeon__content-title--como-locomover" for="como-locomover">Getting around</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="como-locomover" name="accordion-description" />
				<label for="como-locomover" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</dd>

			<dt><label class="accordeon__content-title accordeon__content-title--onde-ficar" for="onde-ficar">Where to stay</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="onde-ficar" name="accordion-description" />
				<label for="onde-ficar" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</dd>

			<dt><label class="accordeon__content-title accordeon__content-title--quanto-custa" for="quanto-custa">Costs and expenses</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="quanto-custa" name="accordion-description" />
				<label for="quanto-custa" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</dd>
		</dl>
	</div>
</div>
{% endmacro %}

{% macro address() %}

<!-- BACK-END, por favor preencher os campos como explicado abaixo para a troca do accordion funcionar corretamente.
	Preencher o ID do checkbox, o atributo FOR dos labels com o mesmo valor.

	ex:
	<dt><label class="accordeon__content-title accordeon__content-title--bus" for="MESMO-VALOR">Bus</label></dt>
	<dd class="accordeon__content-description">
		<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="MESMO-VALOR" name="accordion-description" />
		<label for="MESMO-VALOR" class="accordeon__content-description-icon"></label>
		<p class="accordeon__content-description-text"></p>
	</dd>
-->
<div data-component="accordeon" class="accordeon accordeon--address">
	<div class="accordeon__wrapper accordeon__wrapper--address">
		<input class="accordeon__checkbox accordeon__checkbox--title" type="checkbox" id="info-basica" name="accordion-title" />
	<label class="accordeon__title accordeon__title--address">How to get there</label>
		<dl>
			<dt><label class="accordeon__content-title accordeon__content-title--bus" for="bus">Bus</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="bus" name="accordion-description" />
				<label for="bus" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">Saindo do Rio, pegue um <a href="#" class="external-link external-link--como-chegar">ônibus</a> da Viação Teresópolis Turismo para Teresópolis. A viagem dura cerca de 1h40.</p>
			</dd>

			<dt><label class="accordeon__content-title accordeon__content-title--metro" for="metro">Metro</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="metro" name="accordion-description" />
				<label for="metro" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">O <a href="#" class="external-link external-link--como-chegar">metrô do Rio de Janeiro</a> é seguro, eficiente e fácil de usar. As passagens são vendidas nos balcões e em máquinas de autoatendimento espalhadas pelas 36 estações. O Metrô Rio funciona de segunda a sábado, das 5h à meia-noite, e aos domingo e feriados, das 7h às 23h. Confira o <a href="#" class="external-link external-link--como-chegar">mapa</a> das estações.</p>
			</dd>

			<dt><label class="accordeon__content-title accordeon__content-title--taxi" for="taxi">Taxi</label></dt>
			<dd class="accordeon__content-description content-editor">
				<input class="accordeon__checkbox accordeon__checkbox--description" type="checkbox" id="taxi" name="accordion-description" />
				<label for="taxi" class="accordeon__content-description-icon"></label>
				<p class="accordeon__content-description-text">Saindo do Rio, pegue a BR-040 (Rodovia Washington Luiz) em direção a Teresópolis. A sede do Parque fica na entrada da cidade, com acesso bem sinalizado.</p>
			</dd>
		</dl>
	</div>
</div>
{% endmacro %}
