{% macro default(type='', id='', category='', title='', description='') %}
<!-- BACK-END - Por favor preencher os atributos data-* que estão no componente de favoritos abaixo.
	data-id: ID referente a página que vai ser favoritada.
	data-category: Nome da área que pertence a página. Por exemplo: Destinations.
	data-title: Título da página que vai ser favoritada.
	data-description: Descrição da página que vai ser favoritada.
-->
<div data-component="add-favorite" class="add-favorite{% if type %} add-favorite--{{type}}{% endif %}" data-id="{{id}}" data-category="{{category}}" data-title="{{title}}" data-description="{{description}}">
	<span class="add-favorite__label">Add to favorites</span>
	<span class="add-favorite__label add-favorite__label--remove">Remove from favorites</span>
	<span class="add-favorite__icon"></span>
</div>
{% endmacro %}

{% macro custom_right(type='', align="", id='', category='', title='', description='') %}
<!-- BACK-END - Por favor preencher os atributos data-* que estão no componente de favoritos abaixo.
	data-id: ID referente a página que vai ser favoritada.
	data-category: Nome da área que pertence a página. Por exemplo: Destinations.
	data-title: Título da página que vai ser favoritada.
	data-description: Descrição da página que vai ser favoritada.
-->
<div data-component="add-favorite" class="add-favorite{% if type %} add-favorite--{{type}}{% endif %} {% if align %} add-favorite--{{align}} {% endif %}" data-id="{{id}}" data-category="{{category}}" data-title="{{title}}" data-description="{{description}}">
	<span class="add-favorite__icon"></span>
	<span class="add-favorite__label">Add to favorites</span>
	<span class="add-favorite__label add-favorite__label--remove">Remove from favorites</span>
</div>
{% endmacro %}
