{% import "html-parts/components/accordeon.html" as accordeon %}

{% macro default(nomap='', page='') %}
<div data-component="address" class="address{% if type %} address--{{type}}{% endif %}">
	<div class="address__wrapper">

		{% if not nomap %}
		<div id="map-attractions" data-component="map" data-page="{{page}}" data-type="map__star-icon map__star-icon--green" class="map address__mapa"></div>
		{% endif %}
		<h2 class="address__conteudo">
			<p class="address__conteudo--title">Address</p>
			<p class="address__conteudo--subTitle">Parque nacional da Tijuca, Alto da boa vista, Rio de janeiro/RJ</p>
		</h2>
		{% if not nomap %}
		<span class="address__button">
			<a href="#"><button class="btn-get-directions">Get Directions</button></a>
		</span>
		{% endif %}
		{% if nomap %}
		<span class="address__conteudo address__nomap">
			<a href="#"><button class="btn-get-region">See the map of Rio de Janeiro on Google Maps</button></a>
		</span>
		{% endif %}
		<span class="address__accordion">
			{{accordeon.address()}}
		</span>
	</div>
</div>
{% endmacro %}
