{% macro default() %}
<div data-component="alert" class="alert-topo">

	<div class="alert-topo__bg-wrapper show">
		<div class="alert-topo__wrapper clearfix">
			<div class="alert-topo__text">
				<div class="alert-topo__text-wrapper">
					<div class="alert-topo__phrase">Want to change your language to <strong>English?</strong></div>
					<div class="alert-topo__phrase"><em>Gostaria de mudar o idioma para <strong>Inglês?</strong></em></div>
				</div>
				<a href="#" class="alert-topo__btn">Change</a></div>
			<a href="#" class="alert-topo__bt-dismiss alert__bt-close"><span>Close</span></a>
		</div>
	</div>
</div>
{% endmacro %}
