{% macro intern(theme="", icon="", size="", title="", text="") %}
<div data-component="alert" class="alert-intern {% if theme %}alert-intern--{{theme}}{% endif %} {% if size %}alert-intern--{{size}}{% endif %}">

	<div class="alert-intern__title {% if theme %}alert-intern__title--{{theme}}{% endif %}">{{title}}</div>

	<a href="#" class="alert-intern__bt-close {% if theme %}alert-intern__bt-close--{{theme}}{% endif %} alert__bt-close"></a>
	{% if size != 'small' %}
	<p class="alert-intern__text">
		{{text}}
	</p>
	{% endif %}
</div>
{% endmacro %}
