{% macro global(theme="", icon="") %}
<div data-component="alert-global" class="alert-global {% if theme %}alert-global--{{theme}}{% endif %}">
	<a href="" class="alert-global__bt-open {% if theme %}alert-global__bt-open--{{theme}}{% endif %}">
		<span class="alert-global__button-inside {% if icon %}alert-global__button-inside--{{icon}}{% endif %}"></span>
		<span class="alert-global__button-outside"></span>
	</a>
	<div class="alert-global__bg-wrapper">
		<div class="alert-global__wrapper clearfix {% if icon %}alert-global__wrapper--{{icon}}{% endif %}">
			<div class="alert-global__text"><div class="alert-global__text-wrapper"><strong>Dengue, Chikungunya and Zyka.</strong> Travelers be attentive to health guidelines before you start your journey.</div> <a href="#" class="alert-global__btn">Read</a></div>
			<a href="" class="alert-global__bt-dismiss"><span>Dismiss</span></a>
		</div>
	</div>
</div>
{% endmacro %}
