{% macro event(datatxt='Rio de Janeiros Samba School Parade 2016', datatxt2='Second thursday of february Starting 10:00 AM') %}
<div data-component="alert" class="alert-event">
	<div class="alert-event__content">
		<div class="alert-event__content alert-event__content--block alert-event__content--happening">
			<span class="alert-event__content--title">Happening Now</span>
			<span class="alert-event__content--description">{{datatxt}}</span>
		</div>
		<div class="alert-event__content alert-event__content--block alert-event__content--when">
			<span class="alert-event__content--title">When</span>
			<span class="alert-event__content--description">{{datatxt2}}</span>
		</div>
		<button class="btn-default">About the event</button>
	</div>

	<a href="#" class="alert-event__bt-close alert__bt-close"></a>
	
	<div class="alert-event__pulse_holder">
    	<div class="alert-event__pulse_marker">
        	<div class="alert-event__pulse_rays"></div>
    	</div>
  	</div>
</div>
{% endmacro %}
