{% macro default(sites='', image='', type='') %}
<div data-component="apps" class="apps{% if type %} apps--{{type}}{% endif %}">
		<div class="apps__item-wrapper">
			<span class="apps__item">
				<span class="apps__item apps__item--image"><img src={{image}}></span>
				<h3 class="apps__info">
					<span class="apps__info apps__info--title">Fellowtrip</span>
					<span class="apps__info apps__info--text">É um apdivcativo que não apenas permite que você crie seus próprios itinerários (ou Viagens), mas também que você compartilhe as melhores rotas no Brasil sensacional.</span>
					{% if not sites %}
						<button class="btn-app google-play apps__button"><a href="#"></a></button>
						<span class="btn-app app-store apps__button"><a href="#"></a></span>
					{% endif %}
					{% if sites %}
						<button class="btn-target"><a href="#">Visit</a></button>
					{% endif %}
				</h3>
			</span>
		</div>
</div>
{% endmacro %}
