{% macro default(description="") %}
<div class="author {% if description %}author--with-description{% endif %}" data-component="author">
	<div class="author__data ">
		<span class="author__data-posted-by">Posted By</span>
		<strong class="author__data-name">Fernando Gávea</strong>
		<strong class="author__data-posted">28/11/2015</strong>
		{% if description %}
		<p class="author__description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro with_photo(description="", noDate="") %}
<div class="author author--with-photo {% if description %}author--with-description{% endif %}" data-component="author">
	<div class="author__photo">
		<img src="../images/photo_author_temp.jpg" alt="">
	</div>
	<div class="author__data ">
		{% if noDate != "true" %}<span class="author__data-posted-by">Posted By</span>{% endif %}
		<strong class="author__data-name {% if noDate == 'true' %} author__data-name--no-date{% endif %}">
			{% if noDate == "true" %} <span class="author__by">by</span>  {% endif %}Fernando Gávea
		</strong>
		{% if noDate != "true" %}<strong class="author__data-posted">28/11/2015</strong>{% endif %}
		{% if description %}
		<p class="author__description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		{% endif %}
	</div>
</div>
{% endmacro %}
