{% macro default(itens) %}
<div data-component="breadcrumb" class="breadcrumb{% if type %} breadcrumb--{{type}}{% endif %}">
	<div class="container breadcrumb__inner">
		<ul class="breadcrumb__list">
		{% for item in itens %}
			<li class="breadcrumb__list--item"><a href="#">{{item}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endmacro %}
