{% macro default(size="", place="") %}
<div class="card-hover {% if size%}card-hover--{{size}}{% endif %}" data-componente="card-hover">
	<a href="#" class="card-hover__wrapper">
		<div class="card-hover__images" style="background-image: url(../images/photo-temp.jpg)">
			<div class="card-hover__text-tl title title--iskra">{{place}}</div>
		</div>
	</a>
</div>
{% endmacro %}

{% macro with_text(size="", place="") %}
<div class="card-hover {% if size%}card-hover--{{size}}{% endif %}" data-componente="card-hover">
	<a href="#" class="card-hover__wrapper">
		<div class="card-hover__images" style="background-image: url(../images/photo-temp.jpg)">
			<div class="card-hover__text-tl title title--iskra">{{place}}</div>
			<div class="card-hover__text-sm">30 km</div>
		</div>
	</a>
</div>
{% endmacro %}
