{% macro default(type='', color='', text='', gallery='') %}
<div data-component="card-media" class="card-media">
	<a href="#">
		<div class="card-media__image-wrap{% if type %} card-media__image-wrap--{{type}} {% endif %}">
			{% if type == 'image' %}
				<button data-gallery="{{gallery}}" class="card-media__label card-media__label--images">12 photos</button>
			{% endif %}

			<img  class="card-media__image" src="http://placehold.it/216x121" alt="216x121">
		</div>
		<div class="card-media__body">
			<p class="card-media__title{% if color %} card-media__title--{{color}} {% endif %}">{{text}}</p>
		</div>
	</a>
</div>
{% endmacro %}
