<!--
	default()

	- headingTagNumber {int}: Número do heading <h3>. Default: 3
	- icon {string}: Classe do ícone. Mostra o ícone se o atributo não for vazio
	- cardColor {string}: Classe modificadora para cor do card (green|orange)
	- footerType {string}: Se presente, apresenta o footer. (title-text|geoloc|maps-link)
	- date {bool}: Se true mostra a data acima da imagem.
	- bodySize {int}: Altura da área do body (titulo, texto e footer). Ver
	  documentação das alturas classe .card__body--size[1-3] no card.scss.
	- dataTitle {string}: Título do card
	- dataText {string}: Texto de conteúdo do card
-->

{% macro default(topContentDestination='', topContent='', headingTagNumber=3, icon='', cardColor='green', footerType='', date=false, label='false', bodySize=1, dataTitle='Sugar Loaf Mountain', dataSubTitle1='', dataSubTitle2='', dataSubTitle3='', dataSubTitle4='', dataText1='',  dataText2='', dataText3='', dataText4='', dataText='Seen from the peak of Pão de Açúcar, Rio is undoubtedly a Marvelous City', titleSmall='', ftTitle='Top Attraction', ftDays='4 days - ', ftDestiny='12 destinations', txtGeoloc='Rio de Janeiro, RJ', dataFt='Lorem Ipsum') %}
	<div href="#" data-component="card" class="card{% if cardColor %} card--color-{{cardColor}}{% endif %}">
		<a href="#">
			{% if date %}
				<time class="card__date" datetime="2015-12-31">
					<div>
						<span class="card__date-number">31</span>may - <span class="card__date-number">1</span>jun
					</div>
					<div>
						2016
					</div>
				</time>
			{% endif %}

			{% if label == 'true' %}
				<span class="card__label">
					new
				</span>
			{% endif %}


			<div class="card__image-wrap">
				<img src="http://placehold.it/216x216" alt="" class="card__image">
			</div>

			{% if icon %}
			<i class="card__icon card__icon--{{icon}}"></i>
			{% endif %}
		</a>

		<div class="card__body card__body--size-{{bodySize}}">

			<a href="#" class="card__content">
				{% if topContent or topContentDestination %}
				<div class="card__content-top">
				{% endif %}
				{% if not topContent and not topContentDestination %}
				<div class="card__content-middle">
				{% endif %}
					<h{{headingTagNumber}} class="card__title {% if titleSmall %}card__title--small{% endif %}">
						{{dataTitle}}
					</h{{headingTagNumber}}>
					{% if topContent %}
						<p class="card__sub-title">Maximum capacity of events centers</p>
						<p class="card__text card__text--top-content">{{dataText1}}</p>
						<p class="card__sub-title">Amount of Beds</p>
						<p class="card__text card__text--top-content">{{dataText2}}</p>
						<p class="card__sub-title">Amount of Beds</p>
						<p class="card__text card__text--top-content">{{dataText3}}</p>
						<p class="card__sub-title">International airport</p>
						<p class="card__text card__text--top-content">{{dataText4}}</p>
					{% endif %}
					{% if topContentDestination %}
						<p class="card__sub-title">Capacity</p>
						<p class="card__text card__text--top-content">{{dataText1}}</p>
						<a href="" class="card__common-link">OFICIAL website</a>
					{% endif %}
					{% if not topContent and not topContentDestination %}
					<p class="card__text">{{dataText}}</p>
					{% endif %}
				</div>
			</a>


			{% if footerType %}
			<div class="card__footer card__footer--{{footerType}}">
				<div class="card__footer-middle">
					{% if footerType=='top-atract' %}
						<h{{headingTagNumber+1}} class="card__footer-title">{{ftTitle}}</h{{headingTagNumber+1}}>
						<p class="card__footer-text"><a href="#">{{dataFt}}</a></p>
					{% endif %}

					{% if footerType=='title-text' %}

						<h{{headingTagNumber+1}} class="card__footer-title">{{ftTitle}}</h{{headingTagNumber+1}}>
						<p class="card__footer-text">{{ftDays}}<a href="#">{{ftDestiny}}</a></p>


					{% elif footerType=='geoloc' %}
						<span class="card__footer-place"><a href="#">{{txtGeoloc}}</a></span>
					{% elif footerType=='directions' %}
						<a class="card__footer-link-maps" href="#">Get directions<br>in Google Maps</a>
					{% elif footerType=='buttons' %}
						<a href="#" class="btn-download btn-download--small btn-download--new-green">PDF</a>
						<a href="#" class="btn-default btn-default--small btn-default--new-green">Read</a>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}


<!--
	link()

	- dataText {string}: Texto do link
-->
{% macro link(bodySize=1, dataText='Explore mais possibilidades em nossa página de Experiências') %}
	<a href="#" data-component="card" class="card card--link">
		<div class="card__body card__body--size-{{bodySize}}">
			<div class="card__content">
				<div class="card__content-middle">
					{{dataText}}
				</div>
			</div>
		</div>
	</a>
{% endmacro %}
