{% macro default(type='', itens) %}
<div data-component="contextual-nav" class="contextual-nav{% if type %} contextual-nav--{{type}}{% endif %}">
	<div class="contextual-nav__bg-wrapper show">
		<div class="contextual-nav__wrapper clearfix">
			<div class="contextual-nav__text">
				<div class="contextual-nav__text-wrapper">
					You were reading:
					<ul class="contextual-nav__list">
						{% for item in itens %}
						<li class="contextual-nav__list--item"><a href="#">{{item}}</a></li>
						{% endfor %}
					</ul>
				</div>
			<a href="#" class="btn-nav{% if type %} btn-nav--{{type}}{% endif %}">Back</a></div>
			<button class="contextual-nav__bt-dismiss contextual-nav__bt-close"><span>Close</span></button>
		</div>
	</div>
</div>
{% endmacro %}
