{% macro default(type='') %}
<div data-component="contact-form" class="contact-form{% if type %} contact-form--{{type}}{% endif %}">
	<div class="contact-form__wrapper">
		<div class="contact-form__overlay" style="display: none">
			<span class="contact-form__sucesso">
				<span class="contact-form__sucesso-btn"></span>
				<span class="contact-form__sucesso-wrapper">
					<p class="contact-form__sucesso-wrapper--msg">Your message has been sent successfully.</p>
					<p class="contact-form__sucesso-wrapper--msg">We will reply as soon as we can through the provided e-mail address.</p>
				</span>
			</span>
		</div>

		<h2 class="contact-form__title title--2 title--iskra title--sou-gray">
			Contact <strong class="title--em">Embratur</strong>
		</h2>

		<form id="main-form" class="contact-form__form" onsubmit="return(validate());" action="">

			<div data-component="box-msg-error" class="box-msg-error">
				<span><strong>All</strong> fields are required</span>
				<a href="#" class="box-msg-error__btn-close-error"></a>
			</div>

			<fieldset>
				<label class="contact-form__label" for="cname">Name
					<input id="cname" class="input-text contact-form__name" type="text">
				</label>

				<label class="contact-form__label contact-form__label--mail" for="cmail">E-mail
					<input id="cmail" class="input-text contact-form__mail" type="text">
				</label>

				<label class="contact-form__label contact-form__label--msg" for="cmsg">Message
					<div data-component="count-down" class="contact-form__textarea input-text">
						<textarea name="mensagem" id="cmsg" class="contact-form__msg" maxlength="350"></textarea>
						<p class="counter contact-form__field"><span id="chars" >350</span> characters</p>
					</div>
				</label>

				<input id="btnForm" class="btn-simple contact-form_btn" type="submit" value="Submit">
			</fieldset>
		</form>
	</div>
</div>
{% endmacro %}
