{% macro default(value="", id="", text='Selecione', required='') %}

<div class="custom-combo" data-component="custom-combo" data-scroll="true">
	<button class="custom-combo__button" type="button">{{text}}</button>
	<ul class="custom-combo__options">
		{% for val in value %}
	  <li class="custom-combo__options-item">{{ val }}</li>
		{% endfor %}
	</ul>
	<input type="hidden" name="{{id}}" id="{{id}}" {% if required %}class="required"{% endif %} value="">
</div>
{% endmacro %}


{% macro regionmap(value="") %}

<div class="custom-combo custom-combo--green" data-component="custom-combo" data-scroll="false">
	<button class="custom-combo__button" type="button">selecione</button>
	<ul class="custom-combo__options">
		{% for val in value %}
	  <li class="custom-combo__options-item" data-region="{{val.data}}">{{ val.name }}</li>
		{% endfor %}
	</ul>
	<input type="hidden" name="{{id}}" id="{{id}}" value="">
</div>
{% endmacro %}


{% macro locked(value="") %}

<div class="custom-combo custom-combo--locked" data-component="custom-combo" data-scroll="false">
	<button class="custom-combo__button" type="button">selecione</button>
	<ul class="custom-combo__options">
		{% for val in value %}
	  <li class="custom-combo__options-item" data-region="{{val.data}}">{{ val.name }}</li>
		{% endfor %}
	</ul>
	<input type="hidden" name="{{id}}" id="{{id}}" value="">
</div>
{% endmacro %}


{% macro changeContent(value="") %}

<div class="custom-combo custom-combo--change-content" data-component="custom-combo" data-scroll="true">
	<button class="custom-combo__button" type="button">selecione</button>
	<ul class="custom-combo__options">
		{% for val in value %}
	  <li class="custom-combo__options-item" data-target="{{val.data}}">{{ val.name }}</li>
		{% endfor %}
	</ul>
	<input type="hidden" name="{{id}}" id="{{id}}" value="">
</div>
{% endmacro %}
