{% macro default(value="") %}
<div class="custom-input-date" data-component="custom-input-date">

	<input type="text" class="custom-input-date__input">
	<input type="month" class="custom-input-date__input-date">
</div>
{% endmacro %}
