{% macro default(label='', linkText='', type='', name='', checked='', required='') %}
<div class="checkbox-{{type}}"><input type="checkbox" value="{{label}}" id="{{name}}" name="{{name}}" {% if required %}class="required"{% endif %} {% if checked %}checked{% endif %} /><label for="{{name}}">{{label}} {% if linkText %}<a href="#">{{linkText}}</a>{% endif %}</label></div>
{% endmacro %}
