{% macro default(label='', linkText='', name='', id='', checked='', required='') %}
<div class="custom-radio">
	<input type="radio" value="{{label}}" id="{{id}}" name="{{name}}" {% if required %}class="required"{% endif %} {% if checked %}checked{% endif %} />
	<label for="{{id}}">{{label}} {% if linkText %}<a href="#">{{linkText}}</a>{% endif %}</label>
</div>
{% endmacro %}
