
{% import "html-parts/components/photo-description.html" as photoDescription %}

{% macro home(with_mark="", image="", text="", button="", btn="") %}
<div data-component="destaque" class="destaque" style="background-image: url({{image}});">
	<div class="destaque__conteudo destaque__conteudo--home">
		<h1 class="destaque__title destaque__title--home title--1 title title--strong-shadow">{{text}}</h1>
		{% if button %}<a href="#"><button type="button" class="btn-default btn-default--border">{{btn}}</button></a>{% endif %}
	</div>
	{% if with_mark == 'true' %}
	<div class="destaque__mark"></div>
	{% endif %}
</div>
{% endmacro %}

{% macro destinos() %}
<div data-component="destaque-destinos" class="destaque destaque--home-destinos" style="background-image: url(/images/bg-destinos-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--destinos">
		<h1 class="destaque__title destaque__title--destinos title title--1 title--strong-shadow">Destinations</h1>
		<p class="destaque__subTitle destaque__subTitle--destinos">Brazil have more than <strong>1,000 destinations to offer</strong>.
		Learn about the geography, choose your destination and live incredible moments here. <strong>Watch the video</strong>.</p>
		<div class="destaque__video">
			<iframe src="https://www.youtube.com/embed/ZXW0imE4GM8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<button id="btn-show-map" type="button" class="btn-simple destaque__btn destaque__btn--destinos ">explore our map</button>
	</div>
	<div class="destaque__mapaDestinos">
		<div class="destaque__mapaDestinos--controls-wrapper">
			<span class="destaque__mapaDestinos--controls-inner">
				<button id="btn-hide-map" class="destaque__mapaDestinos--controls-btn">
					<span class="btn-plus"></span>
					<span class="btn-plus btn-plus-2"></span>
				</button>
			</span>
		</div>
	</div>
</div>
{% endmacro %}

{% macro destino(nomap='') %}
<div data-component="destaque-destino{% if nomap %}-nomap{% endif %}" class="destaque destaque--mapaWrapper">

	{% if not nomap %}
	<div id="map" data-component="map" data-page="destino" class="destaque--mapa map"></div>

	<div class="destaque__conteudo destaque__conteudo--left {% if nomap %}destaque__conteudo--left-no-map {% endif %}">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-destino">
			<div class="destaque__regularBox">
				<span class="destaque__irregularBox destaque__irregularBox__before destaque__irregularBox__before"></span>
				City of
				<span class="destaque__irregularBox destaque__irregularBox__after destaque__irregularBox__after--destino"></span>
			</div>
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Rio de Janeiro</strong></span>
			</h1>
		</div>
	</div>
	{% endif %}

	<div id="bannerDestino" class="destaque destaque__destino{% if nomap %}--nomap{% endif %}" style="background-image: url(/images/bg-destino-desktop.png);">
		{% if nomap %}
			<div class="container">
				<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-destino">
					<div class="destaque__regularBox">
						<span class="destaque__irregularBox destaque__irregularBox__before destaque__irregularBox__before"></span>
						City of
						<span class="destaque__irregularBox destaque__irregularBox__after destaque__irregularBox__after--destino"></span>
					</div>
					<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
						<span><strong>Rio de Janeiro</strong></span>
					</h1>
				</div>

				<div class="destaque__destino--btn">
					<button class="btn-get-map">See the map of Rio de Janeiro</button>
				</div>
			</div>
		{% endif %}
	</div>

	{% if not nomap %}
	<span id="bannerDestinoBtn" class="destaque__btn--destino destaque__btn--destino-close" data-status="close"></span>
	{% endif %}
</div>
{% endmacro %}

{% macro atracao() %}
<div data-component="destaque" class="destaque destaque--atracao" style="background-image: url(/images/bg-atracao-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner">
			<span class="destaque__location"><a href="#">Rio de Janeiro / RJ</a></span>
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Rio de Janeiro</strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro regiao(type='') %}
<div data-component="destaque" class="destaque destaque--regiao" style="background-image: url(/images/bg-regiao-desktop.png);">
	<div class="container">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-destino">
			<div class="destaque__regularBox">
				<span class="destaque__irregularBox destaque__irregularBox__before destaque__irregularBox__before"></span>
				City of
				<span class="destaque__irregularBox destaque__irregularBox__after destaque__irregularBox__after--destino"></span>
			</div>
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Rio de Janeiro</strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro eventos() %}
<div data-component="destaque" class="destaque destaque--eventos" style="background-image: url(/images/bg-eventos-desktop.png);">
	<span class="destaque__conteudo destaque__conteudo--eventos">
		<h1 class="destaque__title destaque__title--eventos title title--1 title--strong-shadow">Events</h1>
	</span>
</div>
{% endmacro %}

{% macro evento() %}
<div data-component="destaque" class="destaque  destaque--evento" style="background-image: url(/images/bg-evento-desktop.png);">
	<div class="destaque--evento-btn-wrapper">
		<button class="btn-photos destaque--evento-btn">Photos</button>
	</div>
	<div class="destaque__conteudo destaque__conteudo--left ">
		<div class="destaque__conteudo--left-inner destaque__conteudo--evento">
			<span class="destaque__location"><a href="#">Rio de Janeiro / RJ</a></span>
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Rio's Samba Schools Parade 2016</strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro experiencias() %}
<div data-component="destaque" class="destaque destaque__experiencias" style="background-image: url(/images/bg-experiencias-desktop.png);">
	<h1 class="destaque__title destaque__title--experiencias title title--1 title--strong-shadow">Experiences</h1>
	<div class="destaque__conteudo--box">
		<div>
			<span class="destaque__subTitle--boxExperiencias destaque__subTitle--boxExperiencias-1">Highlighted Experience</span>
			<span class="destaque__subTitle--boxExperiencias destaque__subTitle--boxExperiencias-2">All abord! Raftingin Brazil</span>
		</div>
		<p class="destaque__text">Rafting, Kayaking and canoing points all over brazilians canyons, rivers and waterfalls.</p>
		<a href="#" class="btn-default btn-default--border destaque__btn--experiencias">Read</a>
	</div>
</div>
{% endmacro %}

{% macro experiencia() %}
<div data-component="destaque" class="destaque" style="background-image: url(/images/bg-experiencia-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--experiencia">
		<span class="destaque__subTitle destaque__subTitle--experiencia destaque__subTitle--line">Experience</span>
		<h1 class="destaque__title destaque__title--experiencia title title--1 title--strong-shadow">Rio the Janeiro viewed from above</h1>
		<span class="destaque__subTitle destaque__subTitle--experiencia">4 Days</span>
	</div>
</div>
{% endmacro %}

{% macro sobre() %}
<div data-component="destaque" class="destaque destaque--sobre" style="background-image: url(/images/bg-sobre-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Connecting Brazil through tourism</strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro mice() %}
<div data-component="destaque" class="destaque destaque--mice" style="background-image: url(/images/bg-mice-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg title title--sou-gray title--1 title--iskra">
				<span><strong>We are<br class="db-mobile" /> ready<br class="db-desktop" /> to host <span class="destaque__wrap-title--blue">your event</span></strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro miceSobre() %}
<div data-component="destaque" class="destaque destaque--mice" style="background-image: url(/images/bg-mice-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left destaque__conteudo--about-mice">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--about-mice title title--sou-gray title--1 title--iskra">
				<span><strong>About <span class="db-desktop">Embratur<br /></span> <span class="destaque__wrap-title--blue">business<br class="db-mobile" /> events</span> and <span class="destaque__wrap-title--blue">Mice</span></strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro mobilePromo() %}
<div data-component="destaque" class="destaque destaque--apps" style="background-image: url(/images/bg-apps-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg destaque__wrap-title--green title title--1 title--iskra">
				<span><strong>Our apps and promotional sites</strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro errorPage() %}
<div data-component="destaque" class="destaque" style="background-image: url(/images/bg-404-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--error-page">
		<h1>
			<span class="destaque__title destaque__title--error-page-1 title">Error 404</span>
			<span class="destaque__title destaque__title--error-page-2 title title--1">Page not found!</span>
		</h1>
		<p class="destaque__subTitle destaque__subTitle--error-page">We know! Brazil is continental. Go back to the trail and <br /><a href="#">keep planning</a> your trip to Brazil.</p>
	</div>
</div>
{% endmacro %}

{% macro internalBlog() %}
<div data-component="destaque" class="destaque destaque--internal-blog" style="background-image: url(/images/bg-interna-blog.jpg);">
	<div class="destaque__conteudo">
		<span class="destaque__txt-journal"><span>Brazil</span> travel journal</span>
		<h1 class="destaque__title title--1 title title--strong-shadow">5 ways to break down the big city of São Paulo</h1>
	</div>
</div>
{% endmacro %}

{% macro imprensa(type='') %}
<div data-component="destaque" class="destaque destaque__imprensa" style="background-image: url(/images/bg-press-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			{% if type == 'trade' %}
				<h1 class="destaque__wrap-title destaque__wrap-title--bg title title--new-green title--1 title--iskra">
					<span><strong>International trade <span class="title--sou-gray">materials</span></strong></span>
				</h1>
			{% else %}
				<h1 class="destaque__wrap-title destaque__wrap-title--bg title title--orange title--1 title--iskra">
					<span><strong>International press <span class="title--sou-gray">materials</span></strong></span>
				</h1>
			{% endif %}
		</div>
	</div>
</div>
{% endmacro %}

{% macro imprensaSobre() %}
<div data-component="destaque" class="destaque destaque__imprensa" style="background-image: url(/images/bg-press-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg title title--sou-gray title--1 title--iskra">
				<span><strong>About Embratrur <span class="title--orange"> international press</span></strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro tradeSobre() %}
<div data-component="destaque" class="destaque destaque__imprensa" style="background-image: url(/images/bg-press-desktop.png);">
	<div class="destaque__conteudo destaque__conteudo--left">
		<div class="destaque__conteudo--left-inner destaque__conteudo--left-inner-type-2">
			<h1 class="destaque__wrap-title destaque__wrap-title--bg title title--sou-gray title--1 title--iskra">
				<span><strong>About Embratrur <span class="title--new-green"> international trade</span></strong></span>
			</h1>
		</div>
	</div>
</div>
{% endmacro %}

{% macro clippingRelease() %}
<div data-component="destaque" class="destaque destaque__imprensa-about" style="background-image: url(/images/bg-press-clipping-desktop.png);">
	<div class="destaque__conteudo">
		<span class="destaque__txt-press title title--iskra title--strong-shadow">Press Release</span>
		<h1 class="detaque__imprensa-title destaque__title title title--1 title--strong-shadow">Soak up the sun this Winter in the 'Venice of Brazil'</h1>
	</div>
</div>
{% endmacro %}
