{% macro default(type='', color='') %}
<div data-component="download-pdf" class="download-pdf{% if type %} download-pdf--{{type}}{% endif %}">
	<span class="download-pdf__label">Get this content in PDF</span>
	<button type="button" class="btn-download btn-download--{{color}} download-pdf__btn">Download <span class="download-pdf__label--size">(2.3mb)</span></button>
</div>

{% endmacro %}
