{% import "html-parts/components/author.html" as author %}

{% macro default(capa='true', details='', type='') %}
<div data-component="editor-post" class="editor-post{% if type %} editor-post--{{type}}{% endif %}">
	<!-- Por favor, também preencher o atributo "datetime" no formato especificado no exemplo com a data do post -->
	<time class="editor-post__date" datetime="2016-02-18">18/02/2016</time>
	<h3 class="editor-post__title">Experience of the week</h3>
	<p class="editor-post__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#" class="editor-post__lk-description">Read more</a></p>

	{% if capa == 'true' %}
		<div class="editor-post__wrap-capa-post">
			<a href="#">
				<picture class="editor-post__figure">
					<source srcset="/images/img-editor-post-mobile.jpg" media="(max-width: 767px)"> <!-- Imagem p/ mobile -->
				    <source srcset="/images/img-editor-post-desk.jpg"> <!-- Imagem p/ desktop -->
				    <img src="/images/img-editor-post-desk.jpg" alt="Imagem editor post" class="editor-post__image"> <!-- Imagem p/ desktop -->
				</picture>

				<div class="editor-post__box-text{% if details != "true" %} editor-post__box-text--no-details {% endif %}">
					<span class="editor-post__category">Experience</span>
					<h4 class="editor-post__title-post">Rio de Janeiro viewed from above</h4>
					{% if details %} <span class="editor-post__details">4 days - 3 destinations</span> {% endif %}
				</div>
				{{author.with_photo(noDate="true")}}
			</a>
		</div>
	{% endif %}

	{% if capa == 'false' %}
		{{author.with_photo(noDate="true")}}
	{% endif %}
</div>
{% endmacro %}
