{% macro default(type='', lang='en', title='Any questions left?', t1='Health', t2='Security', t3='Currency and Exchange', t4='Vistas and Documentation',
		t5='Emergency numbers', t6='Power and Eletricity', t7='Weather', t8='Phone carriers/providers', t9='Language', t10='Useful links', active='') %}
<div data-component="essential-information" class="essential-information{% if type %} essential-information--{{type}}{% endif %}">

	{% if type == '1' %}
	<h2 class="essential-information__title essential-information__align title title--iskra title--2 destaque__title--shadow-green">{{title}}</h2>
		{% if lang == 'en' %}
			<h3 class="essential-information__subtitle essential-information__align destaque__title--shadow-green">Access the page <a class="essential-information__subtitle--link" href="#">essential information</a> and <br>know everything before leaving</h3>
		{% endif %}
		{% if lang == 'nl' %}
			<h3 class="essential-information__subtitle essential-information__align destaque__title--shadow-green"><a class="essential-information__subtitle--link" href="#">Essentiële informatie</a> en toegang tot de
			pagina alles weten voor vertrek</h3>
		{% endif %}
		{% if lang == 'ru' %}
			<h3 class="essential-information__subtitle essential-information__align destaque__title--shadow-green">Доступ <a class="essential-information__subtitle--link" href="#">существенной информации</a> страницы
			и знать все, прежде чем покинуть</h3>
		{% endif %}
		{% if lang == 'jp' %}
			<h3 class="essential-information__subtitle essential-information__align destaque__title--shadow-green">離れる前にページ <a class="essential-information__subtitle--link" href="#">の重要な情報</a> にアクセスして、すべてを知っています</h3>
		{% endif %}
	{% endif %}



	<ul class="essential-information__categories">
		<li class="essential-information__category {% if active == 'health' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-health.html">
				<span class="essential-information__icon essential-information__icon--health"></span>
				<span class="essential-information__label">{{t1}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'security' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-security.html">
				<span class="essential-information__icon essential-information__icon--security"></span>
				<span class="essential-information__label">{{t2}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'currency' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-currency.html">
				<span class="essential-information__icon essential-information__icon--exchange"></span>
				<span class="essential-information__label">{{t3}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'visas' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-visas.html">
				<span class="essential-information__icon essential-information__icon--vistas"></span>
				<span class="essential-information__label">{{t4}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'emergency' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-emergency.html">
				<span class="essential-information__icon essential-information__icon--emergency"></span>
				<span class="essential-information__label">{{t5}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'power' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-eletricity.html">
				<span class="essential-information__icon essential-information__icon--power"></span>
				<span class="essential-information__label">{{t6}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'weather' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-weather.html">
				<span class="essential-information__icon essential-information__icon--weather"></span>
				<span class="essential-information__label">{{t7}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'phone' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-phone.html">
				<span class="essential-information__icon essential-information__icon--phone"></span>
				<span class="essential-information__label">{{t8}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'language' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-language.html">
				<span class="essential-information__icon essential-information__icon--language"></span>
				<span class="essential-information__label">{{t9}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
		<li class="essential-information__category {% if active == 'useful' %}essential-information__category--active {% endif %}">
			<a href="informacoes-essenciais-useful.html">
				<span class="essential-information__icon essential-information__icon--links"></span>
				<span class="essential-information__label">{{t10}}</span>
				<span class="essential-information__icon--small essential-information__icon--arrow-gray"></span>
			</a>
		</li>
	</ul>
</div>
{% endmacro %}

{% macro search(type='') %}
<div data-component="essential-information-search-form" class="essential-information__search-form">
	<form id="search-form" action="#">
		<input id="searchQuery" class="search-query input--rounded" type="text" placeholder="Search">
		<input id="searchButton" class="btn-search-icon" type="submit" value="Search">
	</form>
</div>
{% endmacro %}

{% macro whiteBlock(type='', categories='', text='') %}
<div class="essential-information__wrapper--white">
	<div class="container">

		{% if categories %}
		<div class="essential-information__other-categories">
			<label for="">Other categories</label>
			<div class="custom-combo" data-component="custom-combo" data-scroll="true">
				<button class="custom-combo__button" type="button">Select</button>
				<ul class="custom-combo__options">
					{% for val in categories %}
						<li class="custom-combo__options-item"><a href="{{val.link}}">{{val.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		<div class="essential-information__text-bottom{% if text == 'full' %} essential-information__text-bottom--full{% endif %}">
			<p class="essential-information__paragraph">You can also find tips and information specific to the destination you want to visit on the destination page. Check the <a href=
			"#" title="Destination pages list" class="link">destination pages list</a>.</p>

			<p class="essential-information__paragraph">You can also <a href=
			"#" title="Destination pages list" class="link">Contact Embratur</a> about any further doubts.</p>
		</div>
	</div>
</div>
{% endmacro %}

