{% macro default() %}
<div data-component="external-links" class="external-links">
	<h2 class="external-links__title">Embratur's departments on Visit Brazil</h1>
		<ul class="external-links__list">
			<li class="external-links__item">
				<span class="external-links__item-title">
					<h3 class="external-links__item-title--top">Business events (MICE)</h2>
				</span>
				<p class="external-links__text">Official brazillian information for the meetings, incentives, conferences and exhibitions tourism industry.</p>
				<button class="btn-default external-links__btn">Visit</button>
			</li>
			<li class="external-links__item">
				<span class="external-links__item-title">
					<h3 class="external-links__item-title--top external-links__item-title--top-green">Trade</h2>
				</span>
				<p class="external-links__text">Here you can find tourism business information and support material, ranging from images to formated clippings and press releases.</p>
				<button class="btn-default external-links__btn external-links__btn--green">Visit</button>
			</li>
			<li class="external-links__item">
				<span class="external-links__item-title">
					<h3 class="external-links__item-title--top external-links__item-title--top-orange">Press</h2>
				</span>
				<p class="external-links__text">Materials and information from Embratur for the international press.</p>
				<button class="btn-default external-links__btn external-links__btn--orange">Visit</button>
			</li>
		</ul>
</div>
{% endmacro %}
