{% macro default() %}
<div data-component="favorite" class="favorite">
	<button class="favorite__button">
		<span class="favorite__count">0</span>
	</button>

	<div class="favorite__wrap-list">
		<div class="favorite__container-fav"></div>
		<div class="favorite__no-results favorite__no-results--active">Nenhum favorito encontrado!</div>
	</div>
</div>
{% endmacro %}
