{% macro default(image='', imageMobile='', title='', text='', type='') %}
<article data-component="featured-posts" class="featured-posts{% if type %} featured-posts--{{type}}{% endif %}">
	<a href="#">
		<div class="featured-posts__box-image">
			<picture class="featured-posts__image">
			    <source srcset="{{imageMobile}}" media="(max-width: 767px)">
			    <source srcset="{{image}}">
			    <img src="{{image}}" alt="Image post">
			</picture>

			{% if type == 'big' %}
				<h3 class="featured-posts__title featured-posts__title--big">{{title}}</h3>
			{% endif %}

		</div>

		<div class="featured-posts__box-description">
			{% if type == 'big' %}
				<p class="featured-posts__text-description">{{text}}</p>
			{% endif %}

			{% if type != 'big' %}
				<h3 class="featured-posts__title">{{title}}</h3>
			{% endif %}

		</div>
	</a>
</article>
{% endmacro %}
