{% import "html-parts/components/pagination.html" as pagination %}

{% macro default(id='', title='', type='') %}
<div data-component="gallery" id="{{id}}" class="gallery{% if type %} gallery--{{type}}{% endif %}">

	<header class="gallery__header">
		<div class="container">
			<div href="#" class="gallery__logo"></div>

			<div class="gallery__wrap-name">
				<h4 class="gallery__name">{{title}}</h4>
				<span class="gallery__date">Latest update 02/03/2016</span>
				<a href="http://http://caminho-download/album.pdf" class="btn-download">Download album <span class="btn-download__size">(24mb)</span></a>
			</div>

			<div class="gallery__wrap-buttons">
				<button class="gallery__close-btn"></button>
				<button class="gallery__change-mode"><span></span><span></span></button>
				<a href="#" class="gallery__share">Share</a>
			</div>
		</div>
	</header>

	<div class="gallery__content row">
		<div class="gallery__thumbs container">
			<div class="gallery__wrap-thumbs">
				<ul class="gallery__list-thumbs row">
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link active" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 1" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 2" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 3" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 4" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 5" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 6" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 7" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 8" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 9" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 10" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-1.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 11" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-1.jpg" data-size="1.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-1.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-1.jpg">
						    <img src="../images/image-gallery-thumb-1.jpg" alt="Image Gallery 1">
						</picture>
					</li>
					<li class="gallery__thumbs-item">
						<a href="#" class="gallery__thumb-link" data-image="../images/image-gallery-full-2.jpg" data-name="Carnival in Rio de Janeiro, Brazil -- 12" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." data-download="http://caminho-download/imagem-2.jpg" data-size="2.3mb"></a>
						<picture>
						    <source srcset="../images/image-gallery-thumb-mobile-2.jpg" media="(max-width: 767px)">
						    <source srcset="../images/image-gallery-thumb-2.jpg">
						    <img src="../images/image-gallery-thumb-2.jpg" alt="Image Gallery 2">
						</picture>
					</li>
				</ul>

				{{pagination.default(type='light-blue')}}
				<button class="btn-load">Load more images</button>
			</div>

			<div class="gallery__details">
				<h5 class="gallery__displaying">Displaying</h5>
				<div class="gallery__total">12<span>/</span>25</div>
				<div class="gallery__type">photos</div>
			</div>
		</div>

		<div class="gallery__details-image container">
			<div class="gallery__wrap-full-image">
				<img src="" class="gallery__image-full" alt="">
			</div>

			<div class="gallery__wrap-details-image">
				<div class="gallery__box-details-image">
					<h5 class="gallery__name-image"></h5>
					<p class="gallery__description"></p>
					<a href="#" class="btn-download">Download <span class="btn-download__size"></span></a>
				</div>

				<div class="gallery__box-nav-image">
					<button class="gallery__btn-nav gallery__btn-nav--right"></button>
					<button class="gallery__btn-nav gallery__btn-nav--left"></button>

					<div class="gallery__box-details-nav-image">
						<div class="gallery__total-nav-image">
							<span class="gallery__active-image">1</span>
							<span class="gallery__sep">/</span>
							<span class="gallery__total-image">1</span>
						</div>
						<div class="gallery__type-nav-image">photos</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endmacro %}
