{% macro default(title='', type='', class='') %}
<div data-component="great-for" class="great-for{% if type %} great-for--{{type}}{% endif %}{% if class %} {{class}}{% endif %}">
	{% if title %}
		<h3 class="great-for__main-title">{{title}}</h3>
	{% endif %}

	<div class="row">

		{% if type != 'one' %}
			<div class="great-for__block">
				<h4 class="great-for__sub-title">Know for</h4>
				<p class="great-for__text"><a href="#">Carnaval</a>, Samba, Caipirinha, <a href="#">Feijoada</a> and <a href="#">Olympic Games</a></p>
			</div>
		{% endif %}

		<div class="great-for__block">
			<h4 class="great-for__sub-title">Great for</h4>
			<p class="great-for__text"><a href="#">Adventure</a>, <a href="#">Hiking</a>, <a href="#">Surf</a>, <a href="#">Sailing</a>, <a href="#">Sport fishing</a></p>
		</div>

		{% if type != 'one' %}
		<div class="great-for__block">
			<h4 class="great-for__sub-title">Part of</h4>
			<p class="great-for__text"><a href="#">Atlantic forest</a>, <a href="#">Southeast region</a></p>
		</div>
		{% endif %}

	</div>
</div>
{% endmacro %}
