{% macro default(title='', type='') %}
<div class="information-tips" data-component="information-tips">
	<h3 class="information-tips__title">{{ title }}</h3>
	<div class="information-tips__wrapper">
		<div class="information-tips__tip-wrapper">
			<div class="information-tips__tip {% if type == 'large'%}information-tips__tip--large{% endif %}">
				<p class="information-tips__tip-text information-tips__tip-text--localtip">Bring warm clothes (it's a mountain)</p>
			</div>
		</div>
		<div class="information-tips__tip-wrapper">
			<div class="information-tips__tip {% if type == 'large'%}information-tips__tip--large{% endif %}">
				<p class="information-tips__tip-text information-tips__tip-text--tickets">Buy ticket beforehand to avoid queues.</p>
			</div>
		</div>
		<div class="information-tips__tip-wrapper">
			<div class="information-tips__tip {% if type == 'large'%}information-tips__tip--large{% endif %}">
				<p class="information-tips__tip-text information-tips__tip-text--weather">Check the weather before you go, to take good pictures.</p>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
