{% macro default(type='', tablet_large='') %}
<div data-component="languages" class="languages">

		<div class="languages__options {% if type %} languages__options--{{type}}{% endif %} {% if tablet_large %} languages__options--large {% endif %}">

			<span class="languages__label  {% if tablet_large %} languages__label--large {% endif %}">English</span>
			<div class="languages__options-wrapper">
				<ul class="languages__options-group {% if tablet_large %} languages__options-group--large {% endif %} clearfix">
					<li class="languages__options-item active" data-language="ge"><span>German (Deutsche)</span></li>
					<li class="languages__options-item" data-language="ch"><span>Chinese (中文)\</span></li>
					<li class="languages__options-item" data-language="es"><span>Spanish (Español)</span></li>
					<li class="languages__options-item" data-language="fr"><span>French (Français)</span></li>
					<li class="languages__options-item" data-language="dt"><span>Dutch (Nederlandse)</span></li>
					<li class="languages__options-item" data-language="en"><span>English</span></li>
					<li class="languages__options-item" data-language="jp"><span>Japanese (日本語)</span></li>
					<li class="languages__options-item" data-language="pt"><span>Portuguese (Português)</span></li>
					<li class="languages__options-item" data-language="rs"><span>Russian (русский)</span></li>
				</ul>
			</div>
		</div>

</div>
{% endmacro %}
