{% macro default() %}

{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/custom-checkbox.html" as checkbox %}

<div data-component="mice-contact" class="mice-contact">

	<h2 class="mice-contact__title title title--iskra title--sou-gray">Tell us more about your event and we will help you to <span class="title--degra-blue">find the perfect spot</span></h2>

	<form action="#" class="mice-contact__form">

		<div class="mice-contact__box-msg-error">
			<span><strong>All</strong> fields are required</span>
			<a href="#" class="mice-contact__btn-close-error"></a>
		</div>

		<fieldset class="mice-contact__fieldset">

			<legend class="mice-contact__legend">Personal Information</legend>

			<div class="mice-contact__form-item mice-contact__form-item--name">
				<label for="txtName" class="mice-contact__form-label">Name</label>
				<input type="text" class="input-text required" name="txtName" id="txtName">
			</div>
			<div class="mice-contact__form-item mice-contact__form-item--email">
				<label for="txtEmail" class="mice-contact__form-label">E-mail</label>
				<input type="email" class="input-text required" name="txtEmail" id="txtEmail">
			</div>
		</fieldset>

		<fieldset class="mice-contact__fieldset">
			<legend class="mice-contact__legend">Event Information</legend>

			<div class="mice-contact__form-item mice-contact__form-item--event-title">
				<label for="txtEventTitle" class="mice-contact__form-label">Event title</label>
				<input type="text" class="input-text required" name="txtEventTitle" id="txtEventTitle">
			</div>
			<div class="mice-contact__form-item mice-contact__form-item--people">
				<label for="cbPeople" class="mice-contact__form-label">How many people are attending</label>
				{{combobox.default(value=['1','2','3','4','5'], id="cbPeople", required='true')}}
			</div>

			<div class="mice-contact__form-item mice-contact__form-item--full">
				<label for="txtEventDescription" class="mice-contact__form-label">Event description</label>
				<textarea name="txtEventDescription" id="txtEventDescription" class="custom-textarea required"></textarea>
			</div>

			<div class="mice-contact__form-item mice-contact__form-item--full mice-contact__form-item--chk">
				{{checkbox.default(type='normal', label='I also want to receive news and updates about business events in Brazil', name='checkNews', required='true')}}
			</div>
		</fieldset>

		<div class="mice-contact__form-item mice-contact__form-item--full">
			<div class="mice-contact__box-send">
				<input type="submit" class="btn-simple btn-simple--degra-blue" value="Send information">
				<small class="mice-contact__msg-validation">*All fields are required</small>
			</div>
			<div class="mice-contact__box-success">
				<span class="mice-contact__btn-ok"></span>
				<small class="mice-contact__text-success"><span class="mice-contact__thank-you">Thank you!</span> <br>We will send you a reply through the provided e-mail address.</small>
			</div>
		</div>
	</form>

</div>

{% endmacro %}
