{% macro default(txt='', txt2='') %}
<div data-component="more-activities" class="more-activities">
	<div class="container title--2 title--iskra title--sou-gray"><span class="more-activities__title--sub">{{txt}}</span> <strong class="title--em">{{txt2}}</strong></div>

	<ul class="row">
		<li class="more-activities__activitie">
			<div class="more-activities__activitie-image more-activities__activitie-image--kite_surfing"></div>
			<div class="more-activities__activitie-label title--iskra">
				Diving
			</div>
		</li>

		<li class="more-activities__activitie">
			<div class="more-activities__activitie-image more-activities__activitie-image--banho"></div>
			<div class="more-activities__activitie-label title--iskra">
				Windsurf
			</div>
		</li>

		<li class="more-activities__activitie">
			<div class="more-activities__activitie-image more-activities__activitie-image--kite_surfing"></div>
			<div class="more-activities__activitie-label title--iskra">
				Wakeboard
			</div>
		</li>
	</ul>
</div>
{% endmacro %}
