{% macro default(type='') %}
<div data-component="mosaico" class="mosaico {% if type %}mosaico--{{type}}{% endif %}">
	<ul class="mosaico__list">
		{% if type == 'big' %}
			<li class="mosaico__list-item mosaico__list-item--big" style="background-image: url(../images/img-mosaico-paraty.jpg);">
				<a href="#" class="mosaico__link">
					<div class="mosaico__wrap-content">
						<h4 class="mosaico__title">10 things you can not miss in paraty</h4>
						<button class="btn-default">read</button>
						<button class="btn-default btn-default--small">read</button>
					</div>
				</a>
			</li>
		{% endif %}

		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-rio.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">Hiking in state of Rio</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>
		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-maracana.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">Rio’s Samba School Parade 2016</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>
		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-paraty.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">5 best beaches in the state of Rio de Janeiro</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>
		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-maracana.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">Top 4 diving spots in Rio</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>
		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-paraty.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">Electronic nightlife in Rio</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>

		<li class="mosaico__list-item mosaico__list-item--small" style="background-image: url(../images/img-mosaico-rio.jpg);">
			<a href="#" class="mosaico__link">
				<div class="mosaico__wrap-content">
					<h4 class="mosaico__title">The region of Costa Verde</h4>
					<button class="btn-default btn-default--small">read</button>
				</div>
			</a>
		</li>
	</ul>
</div>
{% endmacro %}
