{% macro default(type='', title='Stay in touch with every thing about tourism in Brazil', subtitle='Register your e-mail address and receive updated news.', btn='Subscribe') %}
<div data-component="newsletter" class="newsletter{% if type %} newsletter--{{type}}{% endif %}">
	<h2 class="newsletter__title title title--iskra title--2 title--strong-shadow">{{title}}</h2>
	<p class="newsletter__subTitle ">{{subtitle}}</p>
	<form id="newsletter-form" action="#">
		<input id="newsletterForm" class="newsletterMail" type="text" placeholder="address@email.com">
		<button id="newsletterForm" class="btn-simple btnNewsLetter" type="submit">{{btn}}</button>
	</form>
	<span class="sucesso" style="display: none">Thank you! We will send soon a <b>confirmation</b> email at the address.</span>
	<span class="fail" style="display: none">INVALID E-MAIL!</span>
</div>
{% endmacro %}
