	{% macro default(type='') %}
<div data-component="pagination" class="pagination {% if type %}pagination--{{type}}{% endif %}">
	<button type="button" class="pagination__nav pagination__nav--prev"></button>
	<button type="button" class="pagination__nav pagination__nav--next"></button>

	<ul class="pagination__list">
		<li class="pagination__list-item"><a href="#" class="pagination__list-link active">1</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">2</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">3</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">4</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">5</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">6</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">7</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">8</a></li>
		<li class="pagination__list-item pagination__list-item"><a href="#" class="pagination__list-link pagination__list-link--noitem">...</a></li>
		<li class="pagination__list-item"><a href="#" class="pagination__list-link">10</a></li>
	</ul>

	<div class="pagination__pages">
		<strong class="pagination__pages-current">1</strong>
		/ <span class="pagination__pages-total">32</span>
	</div>
</div>

{% endmacro %}
