{% macro default(type='', text='Summer on ', link='Copacabana beach, Rio de janeiro') %}
<div data-component="photo-description" class="photo-description{% if type %} photo-description--{{type}}{% endif %}">
    <span class="photo-description__icon"></span>
    <p class="photo-description__text">
        {{text}}<a class="photo-description__link " href="#"> {{link}}</a>
    </p>
</div>
{% endmacro %}
