{% macro default(nomap='') %}
<div data-component="population" class="population{% if type %} population--{{type}}{% endif %} population--map-picture">
	<div class="population__wrapper clearfix">
		<div class="population__map-wrapper clearfix">
			<div class="population__map-image"></div>
			<div class="population__map-regions">
				<div class="population__place-label">Located in the state of </div>
				<div class="population__place-text-wrapper"><span class="population__place-text">Rio de Janeiro</span></div>
				<div class="population__place-label population__place-label--timezone">Time zone <strong class="population__place-timezone">GMT-3</strong></div>
			</div>

		</div>
		{% if not nomap %}
		<div class="population__border-wrap">
			<span class="population population__mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14701.319096816555!2d-43.290923860581884!3d-22.90120429384584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997da53da80275%3A0x508a7ef4ac6cc05b!2sMeier%2C+Rio+de+Janeiro+-+RJ!5e0!3m2!1spt-BR!2sbr!4v1474915656283" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</span>
			<div class="population__content">
				<span class="population__content-title"><strong>Population</strong> 6.32 million</span>
				<p class="population__content-text">
					For more tourist information like attractions and itineraries
					go to the <strong>Visit Brazil page of the Rio de Janeiro city.</strong>
				</p>
				<button class="btn-default">Rio de Janeiro</button>
			</div>
		</div>
		{% endif %}

		{% if nomap %}
		<span class="population__conteudo population__nomap">
			<a href="#"><button class="btn-get-map">See the map of Rio de Janeiro</button></a>
		</span>
		{% endif %}
	</div>
</div>
{% endmacro %}
