{% macro default(type='') %}
<div data-component="popular-posts" class="popular-posts{% if type %} popular-posts--{{type}}{% endif %}">

	<div class="popular-posts__wrap-title">
		<div class="popular-posts__box-title" style="background-image: url(/images/img-popular-posts.jpg);">
			<a href="/1" class="popular-posts__box-title-link">
				<h3 class="popular-posts__title">5 best beaches in the state of Rio de Janeiro</h3>
			</a>
		</div>
		<div class="popular-posts__box-title" style="background-image: url(/images/img-popular-posts.jpg);">
			<a href="/2" class="popular-posts__box-title-link">
				<h3 class="popular-posts__title">Peaks of the Brazil you can go and climbing!</h3>
			</a>
		</div>
		<div class="popular-posts__box-title" style="background-image: url(/images/img-popular-posts.jpg);">
			<a href="/3" class="popular-posts__box-title-link">
				<h3 class="popular-posts__title">10 places will make your heart beat faster!</h3>
			</a>
		</div>
		<div class="popular-posts__box-title" style="background-image: url(/images/img-popular-posts.jpg);">
			<a href="/4" class="popular-posts__box-title-link">
				<h3 class="popular-posts__title">Sliding on Brazilian waters kite surfing and windsurfing</h3>
			</a>
		</div>
		<div class="popular-posts__box-title" style="background-image: url(/images/img-popular-posts.jpg);">
			<a href="/5" class="popular-posts__box-title-link">
				<h3 class="popular-posts__title">10 lugares perfeitos para uma boa história de pescador</h3>
			</a>
		</div>
	</div>


	<div class="popular-posts__box-description">
		<ul>
			<li class="popular-posts__item-description">
				<a href="/1">
					<span class="popular-posts__count">1</span>
					<p class="popular-posts__description">5 best beaches in the state of Rio de Janeiro</p>
				</a>
			</li>
			<li class="popular-posts__item-description">
				<a href="/2">
					<span class="popular-posts__count">2</span>
					<p class="popular-posts__description">Peaks of the Brazil you can go and climbing!</p>
				</a>
			</li>
			<li class="popular-posts__item-description">
				<a href="/3">
					<span class="popular-posts__count">3</span>
					<p class="popular-posts__description">10 places will make your heart beat faster!</p>
				</a>
			</li>
			<li class="popular-posts__item-description">
				<a href="/4">
					<span class="popular-posts__count">4</span>
					<p class="popular-posts__description">Sliding on Brazilian waters kite surfing and windsurfing</p>
				</a>
			</li>
			<li class="popular-posts__item-description">
				<a href="/5">
					<span class="popular-posts__count">5</span>
					<p class="popular-posts__description">10 lugares perfeitos para uma boa história de pescador</p>
				</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
