{% import "html-parts/components/custom-combobox.html" as combobox %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% macro default(style='') %}

<!--
	Preencher os atributos "data-region" e "data-place" com a região e estado para o mapa vir
	preenchido corretamento no carregamento da página.

	O nome da região precisa ser em ingles e o estado somente a sigla, como no exemplo abaixo.
-->
<div data-component="region-map" class="region-map clearfix" data-region="southeast" data-place="RJ">
	<div class="region-map__content">
		<a href="#" class="region-map__place">
			<div class="region-map__place-label">State of</div>
			<div class="region-map__place-text-wrapper" id="region-name"><span class="region-map__place-text"></span></div>
		</a>
		<div class="region-map__wrapper">
			<span class="region-map__title">Change region</span>
			<div class="region-map__select">
				{{combobox.regionmap(value=[
						{ "name": "north", "data": "north"},
						{ "name": "northeast", "data": "northeast"},
						{ "name": "west central", "data": "west_central"},
						{ "name": "southeast", "data": "southeast"},
						{ "name": "south", "data": "south"}
					]
				)}}
			</div>
			<div class="region-map__map">
				<div class="region-map__map-svg" id="southeast">
					<?xml version="1.0" encoding="utf-8"?>
						<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
						<svg version="1.1" class="region-map__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="125px" height="107px" viewBox="0 0 220 189.92" enable-background="new 0 0 220 189.92" xml:space="preserve">
						<g>
							<path id="BR-ES" fill="#89D3DF" stroke="#34BDC6" stroke-width="2" d="M181.63,110.37l-0.29-0.14l0.44-2.341l0.569-1.3l-0.59-3.12
								l0.16-0.42l1.72-2.06l5.15,0.029l0.55-0.319l0.97-3.24l1.11-1.27l0.88-2.291l0.24-1.72l0.26-0.44l1.24-0.86l1.71-2.09l0.54-2.97
								L196,83.39l-1.27-2.81l-1.101-1.27l-0.52-0.09l-0.45,0.29l-0.76-0.28l-0.49-0.71l0.43-0.55l1.48-0.09l0.8,0.35l0.97,0.03l0.95-0.24
								l0.32-0.42l-0.17-1.72l-1.311-0.35l-0.21-0.41l0.3-1.54l0.03-1.92L194.48,71l-1.33-0.67l-0.301-0.7l1.17-1.93l2.171-1.31l0.31-0.02
								l1.05,0.74l1.13,0.11l0.021-0.81l-1.67-2.27l1.34,0.13l2.18-0.29l0.84-0.61l1.08-0.32l1.58-0.08l2.54,0.81l0.91,0.55l0,0l0,0l0,0
								l0.3,0.53L215.9,70l0,0l-0.931,3.35l-0.31,2.86l0.12,3.59l0.72,6.15l-0.31,2.47l-1.49,3.18l-2.75,1.39l-0.55,0.6l-1.67,3.33
								l-0.98,3.8l-0.77,1.471l-0.83-0.681l-0.881-0.13l-0.289,1.28l1.35,0.52l-1.94,4.24l-3.449,3.84l-0.24-0.27l-1.86,0.66l-0.8,1.229
								l-0.06,1.39l-0.421,1.25l-1.59,2.021l-0.29,1.13l0,0l-1.62-1.06l-2.989,0.37l-4.34-1.011l-2.5-1.13l-0.671-4.71L181.63,110.37z"/>
							<path id="BR-MG" fill="#89D3DF" stroke="#34BDC6" stroke-width="2" d="M207.5,64.33l-0.91-0.55l-2.54-0.81l-1.58,0.08l-1.08,0.32
								l-0.84,0.61l-2.18,0.29l-1.34-0.13l1.67,2.27l-0.021,0.81l-1.13-0.11l-1.05-0.74l-0.31,0.02l-2.171,1.31l-1.17,1.93l0.301,0.7
								l1.33,0.67l0.52,0.66l-0.03,1.92l-0.3,1.54l0.21,0.41l1.311,0.35l0.17,1.72l-0.32,0.42l-0.95,0.24l-0.97-0.03l-0.8-0.35l-1.48,0.09
								l-0.43,0.55l0.49,0.71l0.76,0.28l0.45-0.29l0.52,0.09l1.101,1.27l1.27,2.81l0.29,2.43l-0.54,2.97l-1.71,2.09l-1.24,0.86l-0.26,0.44
								l-0.24,1.72l-0.88,2.291l-1.11,1.27l-0.97,3.24l-0.55,0.319l-5.15-0.029l-1.72,2.06l-0.16,0.42l0.59,3.12l-0.569,1.3l-0.44,2.341
								l0.29,0.14l0,0l-2.53,2.35l-1.239,0.271l-0.561,0.5l0.74,0.7l-2.36,6.05l-1.899,3.71l-0.09,0.75l1.439,0.13l0.29,0.61l-0.21,0.52
								l-2.53,0.98l-9.51,4.529l-1.37,0.2l0.021-0.46l-0.49-0.17l-2.53-0.271l-0.569,0.061l-1.62,0.939l-1.25,0.16l-3.2,0.08l-0.36-0.319
								l-0.51,0.079l-4.1,1.78l-1.051,0.771l-1.71,0.77l-0.5-0.28l-2.59,0.171l-2.91,1.34l-2.42,0.739l-0.68,0.49l0,0l-1.25,0.73
								l-2.2,0.22l-1.93,1.02l-1.23,1.24l-1.79,0.67l-2.38,0.25l-2.34-0.08l-0.01-0.489l0.35-0.49l-0.09-0.351l-1.19,0.33l-0.18,2.301
								l0.24,0.229l-0.05,0.84l-0.75,0.98l-1.3,0.319l-0.57-0.43l-3.61,1l-0.189-0.53l-2.011,0.24l-1.119-0.25l-2.03-3.31l1.22-0.71
								l-0.52-1.71l-1.801-0.83l-1.79-1.23l-0.71-1.609l0.53-1.561l0.19-3.45l-0.261-2.939l1.86-2.72l0.7-2.181l0.05-1.27l-0.229-0.37
								l-3.7-1.32l-1,0.05l-0.28,0.36l-0.78,0.31l-1.609,0.051l0.029-0.851l-0.83-1.99l-1.3-1.789l-0.37-2.211l-0.31-0.619L98,112.66
								l0.19-1.94l1.52-2.029l0.06-0.561l-0.399-1.55l-1.88-1.21l-0.58-0.61l0.29-2.37l0.569-1.01l-0.199-1.04L94.3,96.99L93,97.28
								l-0.85,0.64l-1.65-0.78l-2.38,0.11l-0.311,0.61l0.2,0.46L87.57,99.31l-2.78,0.681l-1.11-0.431l-1.51-1.449l-1.01,1.25l-8.18,0.68
								l-0.461,0.479l-0.479,1.19l0.27,2.54l-0.409,0.44l-1.19-0.521l-0.01-2.78l-0.25-0.96l-0.36-0.39l-0.56-0.05l-0.261,0.189
								l-0.409,1.13l-0.67,0.94l-0.54,0.32l-0.62-0.021l-1.21-2.1l-0.33-1.42l0.14-0.91l-1.68-0.79l-2.181-1.42L59.78,96.5l-1.62-0.22
								l-1.67,0.35l-4.29-0.96l-2.55-0.08l-1.73-1.55l-0.75-0.14l-1.5,0.61l-1.43,1.69l-1.92,0.37l-2.15,1.109l-1.22,1.13l0,0l0.31-2.619
								l-0.59-3.21l0.99-4.18l0.58-0.25l0,0l0.859,0.46l0.36-0.23l0.01-0.34l-0.56-0.61l0.57-1.9l1.64-2.1l0.939-0.74l0.45-0.14l0.84,0.16
								l0.82-0.28l0.84-1.3l-0.06-1l1.21-2.46l1.41-2.1l2.229-0.54l2.48-0.96l3.71,0.62l3.189-1.64l1.521,0.3l1.31,1.42h0.33l2.91-2.92
								l4.13-2.64l2.01,0.89l3.86-0.16l1.48,0.28l1.75-0.01l0.579-0.09l0.551-0.48l4.35,1.86l0.7,0.77l4.89-2.74l0.48-1.12l0.859-0.9
								l1.16-0.2l3.09-2.06l-1.189-3.46l0.51-1.89l0.73-0.9l0.17-0.71l-0.181-1l-0.47-0.61l-1.58-0.57l-0.899,0.47l-1.091-1.11l0.431-2.14
								l3.239-3.01l2.32-2.71v-0.6l-1.649-4.56l-1.421-1.03l-0.85-0.34l-0.85-1.21l0.409-1.47l1.04-1.25l0.681-1.59l-0.311-1.57l0.53-1.52
								l1.271-0.12l2.289-1.51l3.36-0.9l0.53-0.53l-0.69-4.26l-0.529-0.19l-0.421-0.61l-0.039-1.9l0.729-0.7l0.57-0.94l-0.49-1.16
								l-0.72-0.1l0.72-3.18l0.37-0.28l1.17-0.23l2.78,1.14l0.399-0.13l0.57-0.54L108,12.96l1.17-1.49l2.42,1.48l0.9,1.76l3.229,0.34
								l1-1.01l0,0l0.511,2.41l-1.431,3.44l0.4,0.23l1.34-0.91l0.7-1l0.72-0.13l2.13,0.38l1.04-0.77l1.851-2.57l0.989,0.15l1.431-0.53
								l1.81-1.55l0.95-1.17l2.02-0.41l3.37-1.86l0.641-1.11l4.27-3.03l3.82-1.58l1.8,0.09l1.2,0.5l2.18,0.03l2.28,0.53l0.85,0.46
								l-1.29,2.74l-0.149,0.89l0.26,1.49l0.609,0.5l5.33,1.46l0.641-0.17l0.81-1.12l1.88-0.89l1.771-0.26l2.729,0.75l1.101,0.54
								l4.35,3.64l0.98-0.18l2.17,1.62l2.529,1.22l0.931,0.22l0.51-0.21l1.53,1.24l4.39-1.23l0.38,0.18l6.521,6.2l0.439,3.96l0.57-0.21
								l2.61,0.45l1.47-0.5l1.32-0.99l1.989,0.15l2.73,0.56l2.26,1.08l2.19,0.61l2.119-0.03l2.83,2.47l0.73,0.38l0.89,0.07l0.78,1.02
								l0.42,1.17l-1.47,3.08l-4.96,4.22l-0.15,2.65l0.561,1.02v0.42l-1.021,0.71l-2.479-0.24l-0.82,0.88l-0.82,3.3l-0.529,4.4l0.22,0.25
								l0.35-0.19l0.2-0.45l0.64-0.24l0.58,1.23L203,57.01l0.15,0.51l4.14,3.06l0.53,1.04l0.01,0.53l-0.68,1.35L207.5,64.33z"/>
							<path id="BR-RJ" fill="#89D3DF" stroke="#34BDC6" stroke-width="2" d="M148.35,149.28l-0.069-0.78l0.38-0.27l3.189,0.22l2.591-0.59
								l-2.53-1.551l-1.4-0.5l-2.81,0.681l-1.36,1.6l-1.03,0.32l-0.699-0.05l-1.351-2.15h-0.479l-0.9,0.42l-0.96,1.061l-3.15,0.8
								l-0.34,0.91l-0.189,1.899l2.189,0.13l1.07,1.011l-1.15,1.08l-0.939-0.171l-1.42,0.171l0,0l-0.48-0.261l-1.63-1.729l-0.05-0.41
								l1.09-3.5l1.09-1.15l2.351-1.01l0.5,0.15l2.77-0.36l1.5-0.71l1.65-2.15l-0.75-1.64l-1.7-0.01l-3.15,0.529l-1.77-0.39l-1.23-1.59
								l-0.56-1.17l-1.271-0.54l0,0l0.681-0.49l2.42-0.74l2.91-1.34l2.58-0.17l0.5,0.271l1.72-0.771l1.05-0.77l4.09-1.79l0.521-0.07
								l0.359,0.31l3.2-0.069l1.25-0.17l1.63-0.94l0.57-0.06l2.53,0.27l0.489,0.17l-0.02,0.471l1.38-0.2l9.51-4.53l2.53-0.99l0.21-0.52
								l-0.28-0.61l-1.439-0.13l0.09-0.75l1.89-3.71l2.36-6.04l-0.73-0.71l0.561-0.49l1.24-0.27l2.529-2.36l0,0l1.931,0.76l0.67,4.71
								l2.5,1.131l4.33,1.01l2.989-0.37l1.62,1.06l0,0l-0.08,1.271l-0.939,1.609l-0.22,2.131l1.14,6.779l-0.5,0.681l-3.08,1.75
								l-5.97,1.939l-2.83,1.72l-3.5,3.69l-0.11,1.66l0.311,1.189l-0.19,1.62l-0.73,1.48l-1.819,0.51l-6.55-0.17l-5.79,0.7l-2.391-0.46
								l-0.489-0.38l-0.061-0.681l1.03-1.479l0.67-1.45l-0.09-0.62l-0.78-0.18l-2.79,1.149l-0.26,0.69l0.31,0.79l1.38,1.17l0.25,0.97
								l-0.59,0.521l-1.63,0.51l-1.57-0.03l-8.04,1.07L148.35,149.28z M143.24,151.27l-0.67-0.97l2.109-1.55l1.86,0.94l0.43,0.699
								l-2.46,0.5l-0.41-0.35h-0.47L143.24,151.27z"/>
							<path id="BR-SP" fill="#89D3DF" stroke="#34BDC6" stroke-width="2" d="M84.58,186.92l-0.16-1.33L83,185.02l-0.73-3.3l0.4-1.95
								l-2.14-0.579l-0.761,0.17l-1.1,2.77l-0.66,0.851l-1.06-0.53l-0.351-0.78l0.69-3.3l0.89-0.66l0.141-0.399l-1.61-1.271l-1.59-0.13
								l-1.58,0.189l-0.5-0.38l-3.41,0.53l-2.38,0.12l-1.01-0.21l-0.601-0.39l-0.33-2.04l1.28-2.12l0.25-1.05l-0.25-0.44l-0.6-0.3
								l-0.92-1.971l0.06-0.89l-0.5-0.68l-0.67-0.29l-1.21-1.141l-1.49-3.01l0.36-0.55l0.08-1.76l-1.3-1.521l-0.381-1.84l0.17-0.81
								l0.391-0.58l-0.021-2.74l-0.89-1.76l-3.59-2.83l-1.13-1.55l-2.971,0.859l-5.31-0.13l-0.66-0.54l-1.649-0.14l-0.421,0.34l-1.72-0.07
								L41.5,144.9l-0.63-0.511l-3.51-0.8l-1.75-0.84l-0.78-1l-2.58,0.01l-1.07,0.54l-1.319-0.13l-2.641-1.09l-2.53-0.46l-1.479-0.79
								l-1.17-0.29l-0.73,0.37l-0.34,0.6l-1.21,0.62l-3.28-0.29l-4.01,0.11l-3.83-0.65l-3.25,2.29l0,0l0.84-1.08l0.73-1.54l1.26-1.14
								l7.561-4.54l1.949-1.87l1.261-2.43l1.729-1.69l0.4-1.21l1.439-1.03l0.28-1.22L22.49,124l2-2.26l1.21-2.34l0.069-0.94l-0.31-1.93
								l0.229-0.391l0.961-0.52l2.6-3.64l0.16-2.931l0.62-1.68l1.01-0.3l0.729-0.641l1.99-2.68l1.22-1.02l0.471-0.23l1.31-0.04l1.5-0.78
								l0.28-0.399l0.399-2.46l0,0l1.221-1.13l2.149-1.11l1.92-0.37l1.431-1.69l1.5-0.61l0.75,0.14L49.64,95.6l2.55,0.08l4.29,0.96
								l1.671-0.359l1.619,0.22l2-0.59l2.181,1.42l1.67,0.79l-0.13,0.92l0.33,1.42l1.21,2.09l0.63,0.03l0.54-0.32l0.67-0.939l0.41-1.13
								l0.26-0.19l0.55,0.05l0.36,0.391l0.25,0.96l0.01,2.779l1.2,0.53l0.41-0.45l-0.271-2.54l0.49-1.189l0.45-0.48l8.18-0.67l1.01-1.25
								l1.5,1.46l1.12,0.43l2.78-0.689l0.439-0.99l-0.199-0.46l0.31-0.609l2.38-0.11l1.66,0.78l0.85-0.641l1.311-0.29l3.26,3.351l0.2,1.04
								l-0.57,1.01l-0.29,2.37l0.58,0.609l1.891,1.21l0.399,1.551l-0.06,0.56l-1.521,2.03l-0.18,1.939l0.79,0.74l0.31,0.61l0.37,2.21
								l1.3,1.8l0.83,1.99l-0.029,0.85l1.609-0.05l0.78-0.311l0.28-0.359l1-0.05l3.7,1.319l0.229,0.37l-0.05,1.271l-0.7,2.18l-1.86,2.72
								l0.261,2.94l-0.19,3.45l-0.53,1.56l0.721,1.6l1.779,1.24l1.811,0.83l0.51,1.72l-1.21,0.7l2.02,3.311l1.131,0.25l2.01-0.24
								l0.18,0.53l3.62-1l0.56,0.42l1.311-0.32l0.75-0.979l0.05-0.841l-0.24-0.239l0.17-2.301l1.19-0.329l0.09,0.35l-0.35,0.49l0.01,0.479
								l2.34,0.08l2.391-0.25l1.79-0.67l1.229-1.24l1.93-1.02l2.21-0.22l1.24-0.73l0,0l1.271,0.54l0.56,1.17l1.23,1.59l1.77,0.391
								l3.15-0.53l1.699,0.01l0.75,1.64l-1.649,2.15l-1.5,0.71l-2.771,0.36l-0.5-0.15l-2.35,1.01l-1.09,1.15l-1.09,3.5l0.05,0.41
								l1.63,1.729l0.48,0.261l0,0l-0.061,0.199l-1.689,0.421l-1.061-0.82l-1.479,1.109l-0.431,0.65l0.271,0.22l-0.761,0.641l-3.22,1.55
								l-2.25,0.7l-0.28,0.439l0.04,0.96l0.5,1.55l-0.319,0.421l-1.4,0.26l-0.7-0.641l-1.34-0.29l-3.12-0.5l-0.859,0.15l-1.32,0.34
								l-1.73,0.82l-0.5,0.51l-1.21,2.15l-1.31,0.569l-0.5-0.119l0.58-0.471l-0.48-1.22l-1.17-0.85l-0.83,1.229l0.261,0.75l-0.301,0.61
								l-7.619,4.24l-0.95,0.819l-0.311,1.16l-3.27,3l-3.25,1.95l-1.92,0.53l-4.5,3.21l-2.33,1.96l-0.67,0.08l-0.44,0.619l0.9,0.431
								l0.66,0.06l0.93-0.359v0.76l-0.62,1.31l-1.32,0.851L84.58,186.92z M128.89,163.91l-1.54-0.65l-1.159,0.181l-0.49-0.381l0.1-0.779
								l0.95-0.65l1.09-1.85l0.72,0.25l0.66,0.649l0.13,2.91L128.89,163.91z"/>
						</g>
						</svg>
				</div>
				<div class="region-map__map-svg" id="north">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" class="region-map__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="140px" height="97px" viewBox="0 0 440.87 296.05" enable-background="new 0 0 440.87 296.05" xml:space="preserve">
					<g>
						<path id="BR-AC" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M30.471,237.77l-2.08-0.039l0.539-1.811l-0.209-0.83
							l-0.25-0.49l-1.25-0.699l-0.141-0.45l0.27-1.15l-0.77-1.95l-1.09-0.64l-5.6-1.25l-7.341-0.19l0.271-0.56l2.49-2.26l0.89-1.23
							l0.29-1.2l-0.221-1.229l-0.68-0.91l-0.83-0.44l-1.68-2.949l-0.77-0.44l-0.9-0.19l-1.131-1.129l-0.92-2.381l-2-1.529L6.38,208.2
							l-0.87-1.64l-1.88-1.08l-0.08-1.17l0.81,0.1l0.42-0.52l0.07-0.671L4.65,202.8l-2.121-0.93l-0.359-0.66L0,199.32l0.04-0.37
							l0.62-0.05l0.5-1.32l-0.01-1.311l3.01-0.39l0.5-0.39l-0.221-1.35l-1.17-1.57l0,0l17.951,7.479l23.659,5.66l12.14,3.14l26.44,14.17
							l28.511,12.131l0,0l2.969,1.26l0,0l-0.299,0.48l-1.57,0.659l-2.09,1.591l-2.86,2.789l-1.649,0.86l-0.66-0.181l-1.531,0.181
							l-0.049,0.56l-1.92,1.301l-2.08,0.99l-1.44,1.829l-0.44,1.181l-0.609,0.279l-1.17-0.75l-0.76-0.13l-2.371,0.05l-0.68,0.26
							l-0.63,0.451l-0.36,0.859l-2.439,3.48l-3.77,1.25l-0.84,0.689l-1.941,0.51l-1.029,0.03l0.08-2.11l-1.359,0.2l-3.551-0.77
							l-5.24-0.47l-5.09,0.379l-0.66-0.579l-2.27-0.171l-3.561,1.83l-2.729,0.621l-1.681-0.67l-1.399-1.44l-1.64,1.159l0.039-17.549
							l0.051-1.101l0.47-0.71l0.069-2.35l-0.26-0.881l0.971-1.18l0.48-1.14l-1.16,0.2l-2.971,2.59l-1.6,1.01l-2.061,2.38l-1.949,0.67
							l-0.65,1.08l-1.811,0.99L30.471,237.77z"/>
						<path id="BR-AM" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M165.82,47.29l0.72,0.78l0.75,0.34l0.61,0.01l1.129-0.42
							l0.631,0.109l0.061,0.961l1.209,1.17l0.971,0.369l0.879-0.209l1.361,0.109l1.949,0.95l0.49,0.66l-0.91,3.319l-0.71,1.5l2.729,3.74
							l1.66,4.76l0.19,2.261l0.87,1.12l0.05,0.449l-1.62,1.461l0.36,1.59l0.659,1.58l-0.77,3.039l-0.57,0.961l0.291,4.979l0.879,2.17
							l1.221,0.841l0.58,0.899l1.13,4.33l-0.06,0.58l-1.141,1.319l-1.84-0.33l-0.141,1.141l5.011,4.42l0.521,0.04l1.959,1.31l1.48,1.65
							l1.04,2.04l0.53,0.069l1.34-0.42l2.359,1.041l-0.439-2.11l0.75-2.29l0.25-1.73l-0.37-1.8l0.819-2.97l1.021-1.26l1.28-0.69
							l2.09-0.71l0.55-0.89l1.601-0.061l2.83,0.931l1.869,2.039l0.92,2.511l1.82,0.229l1.25-0.46l1.41-1.409l2.029-0.551l0.42-0.39
							l0.021-0.53l-1.14-1.41l-0.23-0.729l0.11-0.66l1.149-2.64l0.07-1.131l1.66-3.029l2.33-3.26l-0.029-0.681l18.489,0.07l0,0
							l0.399,4.86l-0.43,1.449l0.18,2.271l0.24,0.68l1.7,0.851l0.181,0.41l-0.351,0.689l-0.05,2.109l1.83,1.99l0.359,0.19l0.701-0.181
							l1.84,1.23l0.549,1.83l0.041,0.93l0.3,0.45l4.64,3.771l4.58,2.539l0.63,0.9l1.351,1.09l1.879,0.67l2.371,1.311l2.26,0.65
							l1.359,0.149l1.32,0.82l0.08,0.61l1.27,1.34l2.701,1.439l1.1,2.17l1.869,0.79l0.851-0.61l1.38-0.35l0.189,0.48l-0.129,0.779
							l1.81,1.67l-29.899,64.24l-0.781,1.311l-1.449,1.13L242.5,186l-0.029,1.13l0.819,2.33l0.38,0.57l1.07,0.579l1.58,1.561l0.64,1.26
							l0.149,1.961l0.57,0.569l0,0l-1.18,1.2l-0.2,0.609l-0.06,0.761l0.34,0.84l-0.27,1.01l-1.201,1.82l-0.859,0.64l-0.42,0.85l0.1,0.851
							l0.66,1.37l0.46,1.939l-1.38,4.221l-1.18,5.22l-1.211,0.729l-47.85,0.32l0,0l0.041-0.699l-0.361-0.381l-1.389-0.279l-1.921,1.08
							l-0.54,1.739l-0.68,0.19l-3.24-1.48l-0.68-2.88l-0.62-0.2l-0.979,0.131l-0.461-0.211l-1.25-3.27l-2.539-0.98l-1.33-1.27
							l-0.801-1.91l-0.449-0.49l-2.15-1.13l-10.79,0.06l-1.38,2.561l-1.721,0.5l0.09,1.17l-0.26,0.221l-2.479,0.529l-1.19,1.59
							l-0.05,0.67l0.9,0.7l0.17,0.45l-0.36,1.02l-0.81,1.15l-2.06,1.21l-0.111,1.81l0.24,1.461l-3.869-0.461l-2.131,0.381l-1.199,1.07
							l-1.791-0.101l-0.84-0.55l-0.459-0.021l-1.75,1.261l-0.53,0.84l0.26,1.75l-2.54,3.16l-0.68,0.08l-0.68-0.53l-0.641-2.261
							l-0.38-0.09l-1.84,1.021l-1.3,1.21l-1.371,0.39l-0.77-0.13l-1.08,0.5l-0.41,0.53l-0.129,0.72l-1.221,0.79l-0.37,0.021l-2.31-2.33
							l-0.721-0.37l-2.869,0.329l-3.961-0.26l0.16,1.291l-0.149,0.56l-1.55,1.81l-1.92,0.58l-3.26,2.561l0,0L83.46,223.02l-26.44-14.17
							l-12.14-3.14l-23.659-5.66L3.27,192.57l0,0L3.2,191.92L3.9,189l1.22-1.4l4.92-3.47l2.26-0.239l0.47-0.301l0.98-1.56l0.08-1.03
							l-1.74-4.49l0.381-1.189l1.18-2.19l1.279-1.319l0.92-1.25l0.42-0.98l0.301-1.74l-0.291-1.32l0.671-2.039l0.31-2.311l0.73-0.75
							l3.66-1.63l2.189-1.229l1.15-1.041l0.439-1.399l0.78-0.37l1.41-0.109l1.649-0.931l3.541-2.729l2.42-0.431l1.51,0.29l4.189-1.22
							l1.5-0.771l1.82-0.359l3.33,0.38l1.3-1.59l0.63-1.45l1.09-0.61l2.141,0.2l0.64,0.54l1.32-0.24l1.1-0.74l1.71,0.121l0.311,0.529
							l-0.021,1.18l1.61,1.29l2.83,0.08l0.58-0.399l0.459-0.78l-0.109-0.39l1.17-4.921l6.7-37.17l1.16-2.92l-0.99-4.959l0.12-0.261
							l-1.301-1.05l-1.479-2.75l-0.04-0.49l0.65-1.39l-0.52-1.78l-0.371-0.4l-1.699-0.59l-3.03-2.35L61.6,84.3l0.2-11.51l3.89-0.26
							l1.75-1.171l3.5-0.92L73.62,72.2l1.22,0.11l1.27-0.431l-0.489-1.69l0.3-1.72l-1.37-2.1l-0.569-0.54l-1.15-0.6l-1.51,0.529
							l-2.791-0.609l-3.569,0.09l-0.06-9.9l0.959,0.04l1.32-0.58l2.28-0.6l2.84,0.87l19.03,0.06l-0.46-0.66l-0.79-0.14l-0.38-1.2
							l0.95-1.93l1.43,0.399l0.609,1.521l0.871,1.319l0.66,0.351l0.829,0.01l1.61-0.61L98.6,52.1l0.32-0.84l1.26-1.24l2.551-1.39
							l1.289,0.46l1.17,2.58l1.621,1.99l0.739,1.3l0.66,1.78l0.229,1.55l-0.489,3.63l0.2,1.76l3.199-0.75l8.311,7.061l0.79,0.279
							l2.5,0.211l2.3-1l1.7-1.7l2.11-1.16l2.189-0.11l0.561,0.29l0.77,1.08l-0.02,0.97l-1.11,1.7l0.37,0.98l0.58,0.27l1.33-0.72
							l0.56-0.91l0.229-1.29l1-1.16l0.471-0.229l1,0.18l0.55-0.18l0.41-0.66l0.46-2.311l0.51-0.369l1.51-0.36l2.93-1.771l0.971,0.551
							l0.93-0.29l1.6-1.04l1.021-1.61l2.11-1.21l2.029,0.55l2.36-1.649l0.55-0.82l0.44-2.66l-0.03-1.29l0.77-0.92l1.031-0.42l1.739-0.021
							l1.341-0.39l2.059-1.6l0.961-0.37l2.279-0.3L165.82,47.29z"/>
						<path id="BR-AP" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M344.98,99.7l-0.94-0.06l-0.771,0.34l-1.3,0.119l-2.79-0.68
							l-1.449-1.029l-0.431-1.5l-1.87-1.391l-0.109-1.3l0.21-0.69l-0.311-1.58l-0.33-0.47l-0.949-0.19l-0.41-0.939l0.08-2.43l-2.931-3.28
							l-0.779,0.36l-0.82-0.19l-1.5-3.479l0.13-1.58l-0.59-1.811l-0.62-0.561l-0.67-1.51l-0.19-2.109l0.431-3.141l-0.17-0.33l-2.57-0.729
							l-2.021-2.261l-0.76-2.829l0.19-0.72l0.68-0.23l-0.49-1.18l-0.68,0.029l-2.84-2.66l-0.94,0.141l-0.38,0.42l-1.33,0.141l-0.84-0.271
							l-0.8-0.979l-1.14-0.841l-1.19-0.12L310.3,56.9l-0.67-0.801l-1.93-1.05l-1.29-0.489l-3.391-0.371l-1.08,0.291l-1.17-0.021
							l-0.31-0.54l-0.239-1.439l0.25-4.541l0.619-1.299l-0.369-2.301l-0.621-0.57l0,0l0.351-0.209l0.989,0.299l-0.01,0.811l-0.289,0.18
							l0.34,0.971l1.47-0.061l0.819,0.23l0.351,0.9l0.84,0.709l2.25,0.78l3.29,0.75l2.76-1.78l0.351-0.76l1.729-1.17l0.83-0.29l0.69,0.94
							l2.71,0.939l1.08-0.119l1.72-1.011l0.12-0.42l0.319,0.03l1.46,1.3l-0.199,0.87l2.37-0.17l0.51,0.5l0.95,0.17l0.619-0.01l0.91-0.48
							l1.67-1.5l1.78-1.1l1.75-2.301l0.37-1l-0.2-0.539l3.13-6.5l0.11-1.82l1.11-1.301l0.729-0.189l3.601-5.79l0.229-1.149l0.84-1.201
							l1.79-1.549l0.63-1.66l2.11-1.141l0.47-0.92l1.04-0.58l0.561,1.461l0.88,1.359l-1.67-4.8l-0.07-1.29l0.18-0.33l3.37,2.42
							l1.141,1.21l0.909,1.22l0.521,1.19l0.03,1.58l0.439,0.31l0.32-0.48l0.38-0.1l0.21,0.4l0.21,7.89l0.66,3.87l2.71,6.051l2.66,8.939
							l3.319,5l1.011,0.35l3.27-0.08l2.78,0.94l1.29,0.851l0.77,2.649l-0.16,3.33l-1.29,0.96l-1.729,0.43l-0.38,0.33l1.79-0.15l1.04-0.42
							l0.279,0.23l0.12,0.59l-0.17,0.73l-5.03,4.06l-1.17,2.101l-2.149,1.41l-1.94,3.719l-2.91,3.5l-0.699,0.461l-0.94-0.09l-1.45,0.52
							l-2.08,2.98l0,0l-1.34,0.069l-0.75,0.9l0,0l-1.47,1.68l-0.97,2.22l-1.12,1.87l-0.84,0.65l-3.011,3.45l-0.359,2.399l0.17,1.8
							l-1.95,1.811L344.98,99.7z M368.34,52.71l-0.45-0.33l-1.1-1.86l0.07-0.879l0.229-0.41l1.66-0.451l0.43,0.391l0.83,2.27l-0.99,1.101
							L368.34,52.71z M370.83,70.32l-0.4-0.25l-0.08-0.711l1.11-1.1l0.88-0.15l1.25,0.24l0.46-0.109l0.44-0.641l0.05,0.59l-0.97,1.44
							l-0.99,0.5L370.83,70.32z M374.27,67.45l-0.779-0.23v-0.56l0.72-1.04l1.25-0.101l0.18,0.351l-0.1,0.51L374.27,67.45z M367.08,49.03
							l-0.76-0.5l0.26-0.83l0.88-0.17l0.86,0.319l0.01,0.73L367.08,49.03z"/>
						<path id="BR-PA" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M371.03,235.24l-62.971-3.48l-34.04-2.42l-3.689-1.49
							l-1.37,0.45l-0.351-0.31l-0.199-1.09l-0.551-0.721l-1.629-0.449l-0.82,0.17l-0.95-0.391l-0.229-0.5l0.039-1.1l-0.229-0.94
							l-3.38-1.7l-3-2.76l-1.54-1.109l-0.72-2.2l-0.48-2.39l0.23-2.44l-0.771-1.63l-1.33-1.93l-1.37-3.951l-0.39-1.76l-2.45-4.06
							l-1.18-1.08l0,0l-0.57-0.56l-0.15-1.961l-0.64-1.26l-1.59-1.56l-1.069-0.58l-0.371-0.569l-0.83-2.341l0.03-1.13l0.58-0.97
							l1.45-1.13l0.779-1.311l29.9-64.24l-1.81-1.67l0.13-0.779l-0.189-0.48l-1.391,0.35l-0.85,0.61l-1.871-0.78l-1.1-2.17l-2.689-1.449
							l-1.27-1.34l-0.08-0.601l-1.32-0.819l-1.37-0.15l-2.25-0.65l-2.38-1.311l-1.881-0.67l-1.35-1.09l-0.63-0.899l-4.58-2.54l-4.64-3.77
							l-0.301-0.44l-0.039-0.931l-0.551-1.83l-1.84-1.229l-0.699,0.19l-0.36-0.2l-1.83-1.979l0.05-2.111l0.35-0.689l-0.18-0.41
							l-1.689-0.85l-0.24-0.68l-0.18-2.271l0.43-1.45l-0.4-4.859l0,0l-1.59-16.971l0,0l0.75,0.32l0.43,0.58l-0.02,0.48l0.449,0.399
							l0.921,0.28l1.37-0.71l0.47-0.81l2.71,0.229l0.811-1.05l-0.541-1.811l1.791-0.359l1.41-1.631l2.639,1.01l1.881,0.031l0.539-1.521
							l3.33-1.62l1.971,0.391l1.16-0.11l0.49-0.25l1.199-1.48l0.4-1.399l1.46-1.101l0.86-0.11l0.649,0.461l2.11-1.131l0.41,0.11
							l0.369,0.99l0.73,0.45l2.03,0.479l1.61,0.25l0.56-0.6l1.67-0.39l0.78,0.279l0.82-0.01l0.859-0.34l2.24,0.3l4.67,1.38l0.96-0.14
							l1-0.87l-0.03-2.28l-2.07-2.5l-1.24-0.63l0.49-1.68L281,43.87l0.279-1.11l0.311-0.17l0.71,0.19l0.83,0.76l2.351,1.11l11.619-2.33
							l1.57,1.689l1.02,0.061l0.44-0.29l0,0l0.62,0.569l0.369,2.301l-0.619,1.3l-0.25,4.54l0.24,1.439l0.31,0.541l1.17,0.02l1.08-0.29
							l3.39,0.37l1.29,0.49l1.931,1.049l0.67,0.801l0.49,1.279l1.189,0.121l1.14,0.84l0.801,0.979l0.84,0.271l1.33-0.141l0.38-0.42
							l0.939-0.14l2.841,2.659l0.68-0.029l0.49,1.18l-0.681,0.23l-0.189,0.72l0.76,2.83l2.02,2.26l2.57,0.73l0.17,0.329l-0.43,3.141
							l0.189,2.109l0.671,1.511l0.619,0.56l0.591,1.811l-0.131,1.58l1.5,3.479l0.82,0.19l0.78-0.36l2.93,3.28l-0.08,2.43l0.41,0.94
							l0.95,0.19l0.33,0.469l0.31,1.58l-0.21,0.69l0.11,1.3l1.87,1.391l0.43,1.5l1.45,1.029l2.79,0.68l1.3-0.119l0.771-0.34l0.939,0.06
							l0,0l-0.53,0.74l0.29,1.59l-0.17,0.53l-1.29,1.109l-1.39,0.17l-0.5-0.18l-0.84-0.79l-0.66-0.149l-3.38,1.58l-0.37,0.539
							l-1.601,0.721l-0.63-0.021l-1.55,0.591l0.04,0.58l6.46-1.061l0.88,0.66l0.13,0.46v0.659l-0.619,0.5l0.3,0.36l0.63-0.2l0.859-1
							l1.021-0.01l0.53-0.27l0.6,0.119l1.07-0.42l1.14-0.569l3.28-2.341l1.5-0.35l1.84-0.81l3.16-1.841l0.54-1l0.67-0.52l2.09-1.01
							l0.66-0.721l-0.25-0.67l0.21-0.409l1.13-0.28l1.09,0.061l0.41,0.209l0.38,3.801l-0.52,2.58l0.33,1.619l0.81,1.601l1.311,1.351
							l0.3,1.639l-0.12,0.471l-1.84,1.84l-0.471,0.13l-0.869-0.52l-1.82-0.521l-1.26-0.31l-0.931,0.14l-2.13-1.04l-0.26-1.12l-0.88-0.529
							l-2.28,3.82l-0.61,2.369l0.681,2.971l0.479,0.64l0.92,0.62l-1.01-1.141l-0.43-2.689l0.12-0.52l2.569-4.221l2.311,1.18l0.109,0.45
							l2.53,2.45l-0.25,2.02l-0.74,0.551l0.4,2.33l0.52,1.129l1.12,0.75l0.74,0.15l0.521,0.49l-0.341-0.641l-0.77-0.239l-1.2-1.04
							l-0.22-0.68l0.34-4.2l0.82-1.19l1.43,0.73l0.83,1.199l-0.09,0.791l1.2,0.859l0.25-0.29l-1-1.26l-0.921-2.101v-0.439l2.261-2.32
							l1.62,0.09l1.93,0.641l0.34,0.561l-0.61,0.59l0.32,0.279l0.48,0.03l1.029-0.17l1.33-0.9l4.09-0.96l0.771,0.2l1.74,1.06l3.17-0.42
							l1.069-0.41l1.021-1.01l0.979-0.59l1.74-0.51l0.771,0.07l0.06,0.75l-2.04,4.02l-0.24,1.5l-0.46,1.07l-0.83,1.029l-0.01,0.881
							l0.58,1.42l-0.32,2.47l0.881-1.19l0.01-1.399l1.54-3l1.13-3.19l1.12-1.56l0.27-0.271l0.76-0.05l0.58-0.351l1.82-0.229l0.88-1.35
							l1.51-1.69l1.36-2.26l0.521-0.46l0.789,0.489l0.62-0.459l1.62,2.34l1.19,0.59l-0.05-0.74l-0.351-0.75l0.62-1.01l3.51-0.51
							l-1.029-0.32l-3.511,0.46l-0.31-0.21l0.29-2.43l0.51-0.29l0.67,0.38l1.021,0.109l1.069-3.1l-0.68-1.39L401,97.1l1.17-1.81
							l2.84-2.479l0.36-0.08l1.109,1.14l2.931-2.09l0.46-0.07l0.399,0.45l0.101,0.57l-0.32,0.67l1.07-0.16l0.81-0.58l0.36-0.78l0.63-0.19
							l0.28,0.15l0.739,1.391l1.33,1.199l0.2-0.56l-0.11-0.38L414.4,93l-0.141-0.29l-0.13-1.2l0.17-0.42l0.44-0.189l2.279,0.26
							l1.181,0.65l0.62,1.02l1.63,0.71l1.649-0.78l0.53,2.141l-0.5,0.31l-0.03,0.59l0.92-0.52l1.16-2.351l0.38,0.23l-0.229,1.33
							l0.41,0.439l2.51-0.26l0.45,0.65l0.46,1.68l-0.601,0.95l0.851-0.5l0.26,0.37l1.89,0.14l3.53-1.239l-0.31,1.579l-0.75,1.83
							l1.47-0.489l0.59-0.621l0.63,1.621l0,0l-0.77,0.449l-0.47,1.03l0.159,1.38l-0.71,4.391l-0.569,0.739l-1.141,0.15l-0.05,0.62
							l0.271,0.49l0.989-0.16l0.431,0.529l-0.08,1.61l-0.9,3.021l-0.359,0.709l-1.74,1.57l-0.5,2.38l0.13,1.64l-3.68,3.09l1.04,1.58
							l-0.79,0.811l0.18,1.82l-0.46,1.279l-0.83,1.45l-1.48,1.761l-1.96,1.539l-1.6,4.69l-0.29,1.899l-0.47,1.211l-2.44,2.32l-1.12,0.46
							l-0.62,2.879l-1.55,1.171l-0.43,1.149l-1.55,2.17l-1.17,0.921l-2.351-0.23l-14.71,11.83l0.49,0.08l0,0l2.29,0.81l1.87-0.239
							l1.29,0.119l1.02,1.66l0.391,0.311l0.869,0.14l1.261,1.17l-0.04,0.63l-0.37,0.67l-0.72,0.37l-0.971,0.069l-0.29,0.281l0.091,1.409
							l1.01,1.341l-0.92,2.75l-0.641,0.479l-1.46,0.46l-0.25,0.46l0.29,1.2l-0.189,1.34l-1.301,0.15l-1.51,1.34l-0.85,1.27l0.149,1.51
							l-0.239,0.5l-2.5,1.2l-3.41,1.14l-2.47,1.781l-0.19,0.35l0.43,2.189l0.061,2.67l-1.28,2.101l-1.41,1.68l-0.149,0.57l0.17,0.88
							l0.59,0.96l1.67,1.74l0.75,0.319l0.15,0.301l-0.66,4.039l-1.761,5.15l-1.079,0.811l-1.7,3.24l-0.181,0.989l-0.939,1.54l-0.74,0.85
							l-1.05,0.16l-1.37,0.92l-1.03,1.92l-1.21,1.681l-1.18,1.09l-1.15,1.58l-1.13,4.46L371.03,235.24z M392.19,104.93l-4.521,1.961
							l-3.39,0.52l-2.021-0.311l-0.649,1.131l-1.841,1.189l-0.72-0.609l-0.609-1.53l-0.23,0.28l0.42,1.229l-0.34,0.81l-0.71,0.41
							l-3.77-1.64l-0.801,0.72l-4.189,1.26l-3.2-0.569l-0.81-0.61l-0.24-1.85l-0.23-0.41l-1.109-1.02l-1.061-1.601l-0.21-1.78l0.521-2.75
							l0.619-0.38l1.761,0.36l0.93-0.75l0.08-0.561l-1.3,0.43l-1.221-0.129l-0.939-0.711l-0.18-1.049l0.34-5.08l0.729-0.761l0.351,0.75
							l1.76,0.601l0.55-0.061L365.5,92l-1.27-0.22l-0.9-2.16l0.36-1.681l0.89-1.969l1.33-1.33l0.96-0.57l1.34-0.49l1.32-0.13l3.46,0.521
							l7.21,1.77l3.7-0.46l0.109-0.3l1.141-0.621l2.16-0.369l2.89,0.29L393,85.1l6.48,0.851l0.63,0.47l-0.05,1.23l-0.7,0.74l-0.681,1.5
							l-0.359,2.649l-0.86,3.3l-1.29,0.68l-0.35,0.69l0.229,1.19l-1.979,2.58l-1.391,3.5L392.19,104.93z M344.98,104.76l-0.75-0.51
							l1.1-2.25l-0.09-1.79l0.25-0.21l2.33-0.48l0.899-0.859l0.15-0.5l-0.2-2.34l0.86-2.58l1.26-1.49l2.29-1.47l2.87-0.2l0.72,2.359
							l-1.1,2.19l-0.851,3.04l-1.1,0.67l-1.34,2.03l-0.78,0.72l-4.94,3.311L344.98,104.76z M373.46,81.859l-1.03-0.25l-2.449,0.08
							l-0.79-0.159l-0.29-0.261l-0.381-1.09l0.011-1.24l1.51-0.42l1.89,0.041l2.19-1.291l4.81-0.6l0.771,0.26l0.68,0.68l-0.18,1.021
							l-2.561,1.39l-1.779,2.48L374.76,83L373.46,81.859z M378.25,81.859l1.86-1.199l1.979,0.029l1.65,0.621l0.529,0.989l0.051,0.62
							l-0.88,0.77l-2.851,0.28l-1.17,0.32l-2.26-0.89l-0.2-0.53L378.25,81.859z M361.27,86.25l-0.5-0.26l-0.609,0.04l-1.54-0.69
							l0.21-1.16l0.64-0.92l1.92-0.4l2.36-0.899l1.32,0.08l0.8,0.68l0.09,0.13l-1.93,1.61l-1.07,0.34L361.27,86.25z M370.69,76.561
							l-0.82-0.301l-0.17-1.66l0.149-0.6l1.17-1.311l2.45-0.92l0.25,0.121l0.53,0.68l0.04,0.89l-1.95,1.99L370.69,76.561z M356.86,96.78
							l-0.141-0.41l0.19-0.931l1.04-2.81l2.59-1.69l0.72-0.279l0.69,0.14l-0.16,1.79l-1.56,0.44l-1.62,2.189L356.86,96.78z M367.77,79.21
							l-1.189-0.31l-0.3-0.48l0.88-0.96l0.71-3.95l0.89-1.229l0.29,0.13l0.07,0.32L369.1,75.21l0.601,1.87l-0.32,0.88l-1.03,0.399
							L367.77,79.21z M352.96,89.4l-0.27-0.19l0.119-0.61l0.551-0.359l1.189-1.71l0.76-1.54l0.73-0.66l1.45-0.54l-0.2,1.489l-0.4,1
							l-1.72,1.66L352.96,89.4z M366.83,82.37l-0.6-0.15l-0.841-0.71l-0.96-1.64l-0.05-0.38l0.23-0.29l0.81-0.58l1.85,0.84l0.29,0.431
							l0.24,2.09L366.83,82.37z M361.45,112.93l-0.65-0.109l-0.88-0.521l-0.689,0.46l-0.75-0.279l-1.681-1.74v-0.61l1.28-0.01l3.06,1.319
							L361.45,112.93z M340.3,107.391l0.04-1.031l-0.2-0.299l0.601-0.99l2.359-0.881l0.78,0.381l0.87,0.859l-0.29,0.351l-1.03,0.47
							l-2.54,0.41L340.3,107.391z M353,100.7l-0.18-0.03l0.01-0.35l0.54-0.94l1.79-1.62l0.42-1.24l0.05-1.3l0.24-0.3l0.32,0.439v1.511
							L355.3,99.6l-0.62,0.65L353,100.7z M359.3,90.8l1.65-2.96l0.88-0.21l0.71,0.19l0.27,0.869L362.23,89.4L359.3,90.8z M390.72,109.77
							l-0.84-0.35l-0.34-1.061l1.04-1.719l1.07-0.33l0.189,0.1l-0.02,0.74l-0.74,2.24L390.72,109.77z M357.24,90.3l-0.54-0.2l0.319-2.039
							l1.33-1.811l0.23,0.04l1.29,0.88l-0.01,0.25l-1.551,0.641L357.24,90.3z M359.47,95.33l0.721,0.029l-0.4,0.451l-0.94,0.31
							l-0.109,1.12l-0.79,0.71l-1.69,0.84l-0.16-0.181l0.271-0.83l0.47-0.629l1.73-1.67L359.47,95.33z M336.91,105.54l-0.55-0.19
							l-0.07-0.35l0.43-0.4l3.561-1.6l0.54,0.7l-0.011,0.2l-1.399,0.729L336.91,105.54z M400.44,100.76l-1.03-0.189l-0.82-0.79l0.87-1.25
							l1.34-0.011l0.19,1.19l-0.101,0.59L400.44,100.76z M363.19,81.859l-2.36,0.701l-0.59,0.01l-0.181-0.211l1.03-1.039l1.04-0.51
							l1.04,0.17l0.44,0.34l0.149,0.229l-0.149,0.21L363.19,81.859z M357.92,90.45l-0.08-0.761l0.25-0.5l2.48-1.459l-0.9,2l-0.81,0.629
							L357.92,90.45z M360.06,94.98l-0.449-0.121l-0.07-0.229l0.78-1.5l1.189,0.021l-0.12,1.35L360.06,94.98z M388.1,110.811l-0.279-0.23
							l0.899-1.6l0.681-0.4l0.229,0.75l0.51,0.37l-0.26,0.52l-0.43,0.341l-0.63-0.181L388.1,110.811z M361.44,87.49l-0.891-0.07
							l0.021-0.189l2.359-1.84l0.04,0.959l-0.229,0.631l-0.25,0.34L361.44,87.49z M428.9,97.71l-0.381-0.53l0.19-0.76l1.021-0.91
							l0.25,0.15l0.229,1.75L428.9,97.71z"/>
						<path id="BR-RO" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M187.32,290.95l-1.291-1.45l-0.439-1.88l-1.561-0.521
							l-0.859,0.32l-1.811,0.08l-4.069-1.811l-0.011-0.399l-0.659-0.61l-1.271,0.59l-1.979-1.68l-1.521-0.97l-0.859-1.46l-0.28-1.391
							l-1.04-0.39l-1.77,1.12l-1.221-0.029l-1.41-0.801l-0.869-1.33l-3.131-1.58l-1.959-0.17l-1.141,0.54l-0.9,0.851l-1.43-0.17
							l-0.311-0.301l-2.139-0.51l-3.061-0.28l-0.76-0.43l-1.18-1.19l-0.301-1.97l-1.58-0.489l-1.89-0.971l-0.82-1.72l-0.29-0.2
							l-2.72-0.28l-0.38-0.35l-0.84-3.71l-0.881-0.891l-0.479,1.16l-0.66-0.32l-0.271-0.64l0.621-1.53l-0.84-1.52l-1.36-0.39l-1.261-3.47
							l-0.17-1.66l1.551-2.91l-0.211-1.66l-1.159-1.971l-0.75-2.159l-0.06-2.29l0.619-0.5l0.381-1.37l1.039-1.05l0.36-1.471l-0.24-1.489
							l-0.42-0.89l-0.09-1.531l0.54-1.649l-1.17-2.18l-1.02-0.38l-1.091,0.979l-0.06,0.511l-0.84,0.959h-0.57l-2.18-1.02l-5.18,0.08
							l-5.611,1.779l-1.689-0.01l-1.48,0.48l0,0l-2.969-1.26l0,0l3.26-2.561l1.92-0.58l1.55-1.81l0.149-0.56l-0.16-1.291l3.961,0.26
							l2.869-0.329l0.721,0.37l2.31,2.33l0.37-0.021l1.221-0.79l0.129-0.72l0.41-0.53l1.08-0.5l0.77,0.13l1.371-0.39l1.3-1.21l1.84-1.021
							l0.38,0.09l0.641,2.261l0.68,0.53l0.68-0.08l2.54-3.16l-0.26-1.75l0.53-0.84l1.75-1.261l0.459,0.021l0.84,0.55l1.791,0.101
							l1.199-1.07l2.131-0.381l3.869,0.461l-0.24-1.461l0.111-1.81l2.06-1.21l0.81-1.15l0.36-1.02l-0.17-0.45l-0.9-0.7l0.05-0.67
							l1.19-1.59l2.479-0.529l0.26-0.221l-0.09-1.17l1.721-0.5l1.38-2.561l10.79-0.06l2.15,1.13l0.449,0.49l0.801,1.91l1.33,1.27
							l2.539,0.98l1.25,3.27l0.461,0.211l0.979-0.131l0.62,0.2l0.68,2.88l3.24,1.48l0.68-0.19l0.54-1.739l1.921-1.08l1.389,0.279
							l0.361,0.381l-0.041,0.699l0,0l1.4,0.971l0.6,1.239l-0.76,1.42l-1.29,4.99l0.06,0.351l0.781,0.47l0.26,0.61l0.149,1.39l0.83,2.27
							l-0.94,1.67l0.381,1.931l-1,3.52l-0.03,0.8l0.271,1.761l1.5,2.75l-0.9,9l17.16,0.05l-0.24,0.56l1.22,1.11l3.5-0.091l1.11,0.11
							l1.07,0.431l1.41,3.59l-0.171,0.75l-1.399,1.75l-1.36,1.08l-0.14,1.32l0.43,3.25l0.58,0.51l0.9-0.03l1.529,3.34l-0.04,2.05
							l0.58,1.49l-0.069,1.71l-0.561,2.24l-1.66,2.01l-0.52,2.25l-0.58,0.84l-0.43,0.41l-1.641,0.53l-0.93,1.08l-1.43,3.779l-0.521,2.45
							l-4.11,2.57l-1.47,1.43l0,0l-0.739-0.04l-2.591-1.55l-1.271-1.431l-7.08,0.961l-1.319-0.43l-0.25-0.301l-3.38,0.66l-0.48-0.16
							l-0.52-1.35L187.32,290.95z"/>
						<path id="BR-RR" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M234.609,61.4l1.601,16.97l0,0l-18.489-0.07l0.029,0.681
							l-2.33,3.26l-1.66,3.029l-0.07,1.131l-1.149,2.64l-0.11,0.66l0.23,0.729l1.14,1.41l-0.021,0.53l-0.42,0.39l-2.029,0.551
							l-1.41,1.409l-1.25,0.46l-1.82-0.229l-0.92-2.511l-1.869-2.039l-2.83-0.931l-1.601,0.061l-0.55,0.89l-2.09,0.71l-1.28,0.69
							l-1.021,1.26l-0.819,2.97l0.37,1.8l-0.25,1.73l-0.75,2.29l0.439,2.11l-2.359-1.041l-1.34,0.42l-0.53-0.069l-1.04-2.04l-1.48-1.65
							l-1.959-1.31l-0.521-0.04l-5.011-4.42l0.141-1.141l1.84,0.33l1.141-1.319l0.06-0.58l-1.13-4.33l-0.58-0.899l-1.221-0.841
							l-0.879-2.17L178.52,77.9l0.57-0.961l0.77-3.039l-0.659-1.58l-0.36-1.59l1.62-1.461l-0.05-0.449l-0.87-1.12l-0.19-2.261l-1.66-4.76
							l-2.729-3.74l0.71-1.5l0.91-3.319l-0.49-0.66l-1.949-0.95l-1.361-0.109l-0.879,0.209l-0.971-0.369l-1.209-1.17l-0.061-0.961
							L169.029,48l-1.129,0.42l-0.61-0.01l-0.75-0.34l-0.72-0.78l0,0l0.3-0.46l0.229-2.28l-0.3-0.22l-3.37-0.23l-3.75,0.141l-3.31-0.7
							l-0.2-0.601l0.801-1.76l0.119-1.479l-0.73-1.771l-1.939-3.539l-0.73-2.061l-0.469-3.721l0.789-1.479l-0.08-0.96l-1.84-2
							l-2.16-1.061l-2.81-2.779l-1.06-1.811l-0.291-0.959l-1.14-0.65l-0.25-0.391l0.03-0.84l0.29-0.33l0.899,0.07l1.121,0.66l0.939,1.73
							l0.609,0.09l3.391-0.5l1.35,0.1l1.91,0.59l0.609,1.2l0.551,1.93l0.54,0.351l0.96-0.08l0.74-0.65l0.949-0.4l3.181,0.16l0.47,0.051
							l1.311,1.209l0.6,0.15l0.52-0.14l0.61-1.56l1.31,0.14l1.451,0.93l3.93,4.57l1.05,0.569l0.71,0.11l1.51-0.68l0.74-1.13l0.1-0.84
							l-0.83-2.761l0.36-1.739L176,19.2l1.93-0.05l1.01-1.101l1.551-1.09l0.75,0.05l3.9,1.34l0.59-0.17l0.799-0.72l1.031-0.3l1.129,0.35
							l1.031-0.21l1.34-1.28l1-0.25L193.21,16l1.11-0.07l0.68-0.85l0.05-1.35l3.03-1.811l2.33,0.189l2.76-0.39l0.891-1.13l0.09-0.71
							l0.59-1.12l0.75-0.13l1.85-0.899l1.1-1.041l1.11-1.709l-1.2-3.561l-1.17-0.359l0.641-0.181l1.43,0.07l0.8,0.319l3.57-0.1l1.06-0.95
							L215.42,0l1.37,0.42l0.53,1.311l1.039,0.8l0.48,1.37L218.17,8.8l-0.72,1.38l-1.25,0.7l0.06,0.83l1.61,0.41l1.62-0.22l2.35,0.81
							l1.82,1.101l-0.881,1.43l-0.01,1.15l2.34,3.42l0.201,1.549L223.8,24.28l-1.88,1.409l-0.72,1.5l0.271,0.391l0.059,2.17l-1.469,2.41
							l-0.9,2.77l-0.311,2.57l-0.09,2.67l0.98,1.87l0.51,1.76l-0.01,1.4l1.57,1.03l0.899,0.199l0.13,0.68l-0.46,5.15L222.5,53l1.811,0.29
							l-0.66,1.17l0.459,0.5l2.15,0.74l1.461,1.92l2.659,2.739L234.609,61.4z"/>
						<path id="BR-TO" fill="#89D3DE" stroke="#36BDC6" stroke-width="2" d="M433.35,281.82l-5.359,1.42l-1.74,1.34l-2.56,1.1h-1.551
							l-4.529,1l-2.521,2.08l-1.78,0.9l-0.46-0.24l-1.51-2.62l-0.55-0.03l-0.51,3.301l-0.69,0.08l-3.35-0.68L403.11,288l0.56-1.561
							l-0.22-0.739l-4.53,0.53l-2.76-0.34l-0.561,0.539l-0.3,1l-0.75,0.75l-1.14-0.05l-0.61-3.101l-1.109-3.709l-1.04-1.881l-1.15-1.31
							l-1.18,0.97l-1.471,2.391l-1.63,5.939l-0.63,0.23l-4.07-1.43l-3.09-1.711l-3.93-0.399l-2.2-1.03l-2.399-0.4l0.52-2.34l1.22-1.88
							l0.03-1.71l-0.56,0.301l-1.811,2.09l-0.66,1.229l-0.199,1.88l-0.341,0.45l0,0l-0.8-0.021l-0.96-0.51l-0.979-3.34l0.739-2.76
							l-0.439-3.05l-0.521-0.58l-0.01-1.57l0.47-3.31l-1.1-2.25l0.05-0.5l0.82-0.891l0.16-0.869l-1.391-1.341l-0.06-0.86l1.88-5.989
							l0.04-2.95l0.54-2.97l1.94-5.29l0.369-0.27l0.431-0.851l0.439-3.14l1.101-1.25l0.56-1.891l0.65-1.02l0,0l1.62-3.69l1.13-4.45
							l1.149-1.58l1.19-1.1l1.21-1.68l1.03-1.92l1.37-0.92l1.05-0.16l0.729-0.85l0.94-1.541l0.18-0.99l1.7-3.239l1.09-0.8l1.76-5.15
							l0.66-4.04l-0.149-0.3l-0.74-0.32l-1.67-1.74l-0.601-0.949l-0.16-0.881l0.141-0.569l1.41-1.69l1.29-2.1l-0.061-2.67l-0.43-2.18
							l0.189-0.351l2.471-1.78l3.41-1.14l2.5-1.21l0.239-0.5l-0.149-1.51l0.859-1.271l1.511-1.34l1.29-0.149l0.189-1.34l-0.29-1.201
							l0.25-0.459l1.46-0.461l0.641-0.479l0.93-2.75l-1.021-1.34l-0.09-1.4l0.29-0.28l0.97-0.08l0.721-0.369l0.37-0.66l0.029-0.641
							l-1.26-1.17l-0.87-0.14l-0.39-0.31l-1.021-1.66l-1.29-0.12l-1.869,0.25l-2.29-0.81l0,0l0.529-0.641l2.62-1.85l1.96-0.53l0.87,0.05
							l2.78,1.52l1.399,0.08l0.95-0.52l1.74,0.29l0.59,0.69l0.08,1.029l0.28,0.32l1.22,0.03l3.4,1.43l0.84,1.03l0.47,3.5l0.64,1.5
							l-0.21,3.72l0.23,1.08l0.67,1.13l-0.01,0.439l-1.771,6.15l-0.31,2.37l0.28,1l-0.25,1.59l-1.75,2.04l-1.761,0.67l-0.18,0.711
							l1.94,1.319l0.42-0.271l1.37,0.24l0.25,0.351l0.109,0.88l-0.62,1.189l0.851,1.44l0.88-0.07l3,4.16l0.91,0.851l2.279,3.02
							l2.141-1.34l4.27-0.94l1.8,1.22l0.08,1.75l-0.64,3.25l0.39,1.351l-3.39,0.351l-1.34,0.539l-0.57,0.551l-0.68,1.43l-0.73,2.68
							l0.37,1.301l-2.63,2.549l-0.26,0.701l0.2,0.42l2.08,0.289l0.939,0.69l0.74,1.59l0.06,1.66l0.62,1.04l3.88,1.95l0.09,0.53
							l-1.64,1.81l0.13,1.649l2.141,1.621l0.989,2.869l1.341,2l0.71,0.18l1.779-0.209l1,0.3l0.82,0.439l0.61,0.82l1.279,0.66l0,0
							l2.94,0.21l0,0l-0.69,0.65l-0.22,0.979l-0.56,0.47l-3.82,2.021l-3.21,2.62l-0.19,0.369l1.29,1.801l-0.359,0.39l-1.011,0.271
							l-0.899,0.609l-1.521,3.49l-1.01,0.72l-0.5,1.16l0.23,0.92l1.859,1.95l3.59,0.67l1.87,0.99l0.05,0.76l-0.56,0.45l-2.04,0.81
							l-0.43,0.96l0.09,0.5l0.35,0.33l1.03-0.18l0.92,0.29l0.58,0.51l0.29,0.641l-0.96,0.709l-1.15,0.42l-1.949,1.67l-0.19,0.851
							l-0.05,2.92l0.35,1.25l0.94,0.66l1.05,0.24l0.41,0.25l0.17,0.42l0.05,1.06l-1.36,2.381L433.35,281.82z"/>
					</g>
					</svg>
				</div>

				<div class="region-map__map-svg" id="northeast">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" class="region-map__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="94px" height="115px" viewBox="0 0 230.666 277.167" enable-background="new 0 0 230.666 277.167"
						 xml:space="preserve">
					<g>
						<path id="BR-AL" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M175.576,133.133l-0.2-0.73l-1.42-0.78l-0.45,0.09
							l-1.02-0.29l-0.54-1.4l0,0l1.319-1.07l0.641-1.09l2.17-0.76l2.38-3.29l0.09-0.69l0.82-0.6l1,1.22l1.67,0.3l1.08-0.12l2.55,2.02
							l1.9,2.12l1.779,1.05l1.91,0.479l2.5-0.65l3.141,0.29l1.17-0.11l1.859-1.06l1.16,0.05l1.811-1.11l2.18-2.29l0.12-0.45l1.55-1.24
							l2-0.24l2.24,0.85l2.56-1.29l1.47-0.19l1.92,0.81l2.9,0.27l0.271,0.21l0,0l-2.78,4.96l-4.55,5.13l-3.58,3.58l-3.04,4.579
							l-3.33,2.881l-1,2.029l-1.32,1.791l0,0l-0.6-1.311l-3.59-2.23l-0.46-0.029l-1.66-0.79l-1.761-1.45l-1.3-2.45l-5.42-3.07l-3.68-0.95
							L175.576,133.133z"/>
						<path id="BR-BA" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M141.166,268.164l-0.36-0.83l0.681-1.35l-0.011-0.53
							l-0.529-1.04l-4.13-3.051l-0.15-0.51l0.22-1.51l-0.569-1.23l-0.65,0.24l-0.2,0.45l-0.34,0.181l-0.22-0.25l0.529-4.4l0.82-3.3
							l0.82-0.88l2.47,0.24l1.021-0.711v-0.42l-0.561-1.02l0.16-2.65l4.96-4.22l1.47-3.08l-0.42-1.17l-0.78-1.021l-0.89-0.06l-0.73-0.38
							l-2.829-2.471l-2.12,0.021l-2.19-0.601l-2.27-1.079l-2.73-0.56l-1.979-0.141l-1.32,0.99l-1.47,0.5l-2.61-0.45l-0.57,0.21
							l-0.439-3.96l-6.521-6.2l-0.38-0.18l-4.39,1.23l-1.53-1.24l-0.51,0.209l-0.93-0.219l-2.54-1.221l-2.171-1.62l-0.979,0.181
							l-4.35-3.631l-1.101-0.539l-2.729-0.75l-1.771,0.25l-1.88,0.899l-0.81,1.12l-0.641,0.18l-5.33-1.47l-0.609-0.49l-0.261-1.5
							l0.141-0.89l1.29-2.74l-0.86-0.46l-2.28-0.521l-2.18-0.039l-1.2-0.5l-1.79-0.08l-3.83,1.58l-4.26,3.029l-0.64,1.11l-3.37,1.87
							l-2.021,0.4l-0.949,1.18l-1.811,1.55l-1.43,0.521l-1-0.15l-1.851,2.58l-1.039,0.77l-2.131-0.38l-0.72,0.13l-0.689,1l-1.341,0.92
							l-0.399-0.24l1.43-3.43l-0.51-2.41l0,0l1.479-1.97l0.25-0.771l-0.229-1.27l-0.67-1.72l0.1-0.671l0.71-1.42l-0.05-0.459l-3.21-2.621
							l-1.69-3.459l-0.619-3.521l0.05-1.55l1.2-3.83l1.59-1.029l0.229-0.381l0.061-0.939l-1.63-0.84l-0.11-0.33l0.479-2.521l1.431-1.06
							l-0.021-0.37l-2.72-2.46l0,0l-0.04-0.93l1.36-2.381l-0.04-1.07l-0.17-0.42l-1.46-0.489l-0.94-0.65l-0.35-1.26l0.06-2.92l0.19-0.851
							l1.949-1.67l1.141-0.42l0.96-0.72l-0.29-0.63l-0.58-0.52l-0.92-0.291l-1.03,0.181l-0.35-0.33l-0.09-0.5l0.42-0.96l2.04-0.82
							l0.56-0.449l-0.04-0.761l-1.88-0.979l-3.58-0.67l-1.86-1.961l-0.229-0.92l0.5-1.16l1.01-0.729l1.521-3.479l0.899-0.61l1.01-0.271
							l0.351-0.38l-1.29-1.8l0.189-0.37l3.211-2.62l3.819-2.02l0.561-0.471l0.22-0.979l0.689-0.649l0,0l2.33-0.021l1.44,1.34l0.66,1.04
							l0.53,2.21l1.76,2.49l4.18,1.86l1.8-0.521l2.11,0.18l0.33-0.21l0.75-1.449l1.14-0.371l0.67-0.869l1.17-0.891l2.21-0.75l1.33,0.17
							l1.48,0.53l1.35-0.42l2.971-2.42l2.949-5.05l0.721-0.86l0.239-0.92l0.301-2.56l-0.12-1.16l-2.24-4.43l0.05-0.93l3.24-1.65
							l1.95-0.02l1.5,0.46l0.41,0.93l0.319,0.18l2.12-0.43l1.39-0.54l1.33,0.38l1.71,0.99l-0.13,0.65l0.19,0.29l0.82,0.28l3-0.11
							l1.47-0.64l1.7-0.1l0.819-1.22l1.511-1.34l2.729-0.34l0.771-0.36l0.81-0.98l2.17,0.01l0.62,0.63l0.31,0.05l1.86-1.81l-0.1-2.4
							l1.989-0.38l0.79,0.18l1.051-0.66l1.5-2.31l0.46-1.15l0,0l0.89,0.4l1.16-0.27l2.2,0.29l2.819,1.39l0.44,0.51l-0.061,2.73
							l0.721,1.94l2.21,0.91l0.27,2l-0.92,1.68l1.83,0.62l0.96-0.22l0.82-0.92l2.87-0.88l0.77-3.58l0.5-0.87l0.75-0.16l0.78,0.53
							l0.63,0.05l2.39-1.02l1.101-1.24l0.17-0.59l-0.25-1.36l0.29-0.25l2.24-0.45l0.77-2.05l1.65-0.44l2.529-1.46l0.591-0.1l1.489,0.56
							l0.83,1.44l1.36,0.81l2.36,0.78l2.989,0.4l1.58,1.15l0.54,1.65l0.391,0.27l0.43-0.15l0.29-1.75l0.43-0.44l1-0.01l0.45,0.32
							l0.02,0.63l-0.619,0.88l0.449,0.83l0.5,0.37l2.101,0.86l0.02,0.94l1.221,3.05l0,0l0.539,1.4l1.021,0.29l0.45-0.09l1.43,0.79
							l0.2,0.72l0,0l-0.67,1.16l0.21,2.14l1.28,2.5l1.989,1.949l0.75,1.15l-0.08,3.12l-0.659,1.62l-0.091,0.88l0.761,2.75l-0.3,0.58
							l-0.69,0.55l-2.55,1l-1.13-0.75l-1.71-0.01l-0.32,0.3l-0.59,1.58l0.02,0.771l0.95,1.6l1.1,0.66l0.521,1.49l1.43,1.51l0.15,0.39
							l-0.13,1.421l-0.341,0.389l0.12,0.421l0.591,0.52l1.93,0.921l0.479,0.709l0.54,0.34l1.551,0.641l2.89-0.88l0,0l0.64-0.021
							l0.36,0.41l-4.08,8.83l-3.83,5.189l-1.03,2.33l-5.029,5.74l-2.45,1.26l-0.87-0.01l0.3-1.43l0.37-0.15l0.14-1.1l-0.45-1.93
							l-1.869-0.25l-0.431-1.301l-0.68-0.75l-0.37,0.601l-0.46,2.33l-0.5,0.87l-0.55,0.38l-0.561-0.29l-0.489-1.74l0.109-0.32l0.311-0.13
							l-0.03-0.39l-0.87,1.29l0.93,1.69l0.46,0.229l0.37-0.149l1.15,0.26l-0.46,1.81l-1.21,1.149l-0.25,1.82l-1.25,0.971l-0.351,0.67
							l-0.199,0.84l0.18,0.85l-1.35-0.39l-0.211,0.39l-0.359,2.52l0.359-0.719l0.75,0.209l0.24,0.541l-0.229,0.41l0.06,0.619l0.3,0.301
							l0.33,1l-1.04,2.51l0.57,3.439l-0.55,0.49l-0.57-0.221l-0.14,1.131l0.59,0.46l1.21-1.72l-0.47-2.211l0.82-0.609l0.25,0.54
							l-0.061,1.76l-0.96,2.61l-0.74,5.43l-0.51,1.811l0.2,2.469l0.78,2.851l0.189,4.54l0.87,6.41l0.99,3.42l-2.21,6.66l-1.351,6.65
							l-0.47,1.01l-0.16,2.859l-1.06,3.721l-0.09,2.33l0.39,4.42l0.89,1.709l-2.239,2.98l-1.811,0.67l-0.939,0.641l-2.721,3.89
							l-0.569,2.04l0,0l-8.091-5.141L141.166,268.164z M163.446,190.164l-0.23-1.2l0.74-0.41l1.06-1.04l0.16-0.64l-0.37-0.729l0.761,0.14
							l0.819,1.05l-0.05,0.529L163.446,190.164z M160.916,197.013l-0.63-0.029l0.01-0.67l0.26-0.36l-0.8-0.22l-0.42-0.4l0.13-1.07
							l1.87-0.15l0.16,0.201l0.11,1.129L160.916,197.013z"/>
						<path id="BR-CE" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M187.456,59.684l-4.89,1.59l-2.61,2.01l-3.3,6.69l-0.84,1.12
							l-0.87,0.57l-0.65,1.67l0.15,0.74l-1.4,2.44l-1.46,1.51l-0.57,1.1l-1.029,0.26l-0.78-0.51l-0.51,0.07l-0.84,0.88l-1.41,2.25
							l-0.34,1.97l0.64,0.17l0.66-0.38l0,0l-0.08,0.54l-0.84,1.15l-1.03,3l0.52,1.31l-0.659,1.31l-1.091,0.63l-0.17,0.38l-0.12,0.93
							l0.24,0.41l0.58,0.29l0.351,0.72l-0.021,1.66l1.24,0.89l0.689,0.08l0.341,1.19l-1.61,3.49l-1.19,1.12l0.17,0.25l0,0l-1.59,0.49
							l-1.069,0.83l-1.54,2.29l-1.65,0.05l-0.63-1.64l-0.78-0.57l-1.359-0.48l-1.011-1.07l-0.46-0.99l-1.83-0.83l-2.85-1.9l-3.08-0.42
							l-1.29,0.1l-2.14,0.8l-1.63,0.19l-0.891-0.24l-4.93-0.2l0,0l0.06-1.32l-0.68-0.68l-0.08-0.97l1.14-3.11l1.5-2.25l0.011-0.69
							l-0.771-1.16l-2.56-0.47l-1.311-0.65l-1.01-2.67l-1.05-5.2l-0.76-2.57l0.239-0.45l-0.939-8.16l-0.11-0.38l-0.92-0.69l0.8-0.58
							l0.591-1.58l-0.601-2.99l-1-2.01l0.48-1.6l-0.79-3.87l0.739-1.36l0.021-0.76l-1.36-1.59l-0.439-1.73l-3.15-6.42l-1.8-4.72
							l-0.29-1.29l0.18-1.46l1.58-1.97l1.09-1.85l0.11-0.8l0,0l0.19-0.14l-0.04-0.62l-0.4-0.66l0.65-0.81l6.739-0.22l2.891-0.43
							l2.069-0.66l7.4,0.79l2.12,1.12l1.939,1.5l4.12,2.18l1.46,0.52l4.82,3l1.21,0.2l2.22,2.29l2.99,2.11l2.57,0.72l2.439,2.91
							l1.221,0.61l2.96,3.81l4.16,3.08l1.46,2l1.04,0.99l1.5,0.82l1.149,0.03l2.37,0.92l0.79,0.67L187.456,59.684z"/>
						<path id="BR-MA" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M72.236,31.753l-0.04,0.33l-2.04,2.15l-0.431,0.17
							l-0.04,1.44l1.971-1.7l0.68-1.21l2.12-1.58l0.89-1.14l1.03-6.33l1.15-0.7l1.109-0.12l1.67-0.92l0.65-0.13l0.46,0.12l0.08,1.63
							l-0.2,0.45l-1.42,1.87l-3.21,1.75l-0.03,0.72l0.73,0.12l0.45-0.81l1.149-0.311l0.22,0.83l-0.59,0.51l0.25,0.3l4.21-4.97l0.86,0.33
							l2.58-0.93l4.04,0.43l-0.46-2.41l0.609-0.23l2.42,0.08l1.78,0.38l2.63,1.05l1.04,0.11l2.15,1.38l1.399,0.03l1.261,1.3l1.89,1.32
							l2.5,0.58l1.16-0.19l0.56,0.76l0.341,0.05l1.59-0.09l2.46,0.66l0.26-0.9l-0.67-0.47l1.67-0.38l0.57,0.11l-0.09,0.42l0,0l-0.46,1.43
							l0.229,0.72l0.63,0.54l-0.38,1.53l-1.79,2.27l-4.13,3.97l-3.32,0.46l-0.8-0.16l-2.92,3.4l0.04,1.8l-0.88,1.83l-1.891,1.85
							l-0.819,1.98l-0.641,0.17l-0.77,1.05l0.36,1.92l1.229,0.83l0.38,1.28l-0.28,1.46l-1.14,2.87l1.58,2.81l0.55,2.98l-0.109,2.43
							l-0.21,0.55l-4.101,4.42l-0.17,2.48l0.12,2.11l0.51,2.3l1.78,2.04l1.61,0.91l0.17,0.5l0.13,0.84l-0.391,2.2l-0.29,0.44l-0.119,1.21
							l-0.5,1.46l-1.211,1.31l-2.289,0.29l-0.65-0.28l-0.83,0.04l-2.43,0.86l-1.521,0.11l-2.5-1.82l-1.01-0.21l-1.46,0.19l-1.01,0.6
							l-1.12,0.26l-0.23-0.3l-0.84,0.24l-0.5,0.22l-1.899,1.91l0.01,0.46l-0.63,0.87l-2.011,2l-2.34,0.91l-2.87,2.56l-1.33,0.53
							l-1.05,0.04l-1.7,1.53l-1.079,0.36l-2.61,0.32l-2.72,0.76l-2.13,1.95l-0.98,2.97l-0.39,2.97l-0.631,2.32l-1.449,2.74l-0.301,0.22
							l-0.34,0.82l-0.13,1.52l-1.2,2.48l-1.699,1.4l-0.73,2l0.71,1.94l0.47,3.18l1.73,3.06l-0.04,0.52l-0.76,1.4l-0.13,6.359l-1.15,2.45
							l-0.26,1.061l-0.05,1.92l0,0l-1.28-0.66l-0.61-0.82l-0.819-0.45l-0.99-0.289l-1.78,0.199l-0.71-0.18l-1.35-2l-0.99-2.859
							l-2.13-1.621l-0.141-1.65l1.641-1.81l-0.08-0.53l-3.88-1.95l-0.62-1.05l-0.061-1.66l-0.75-1.59l-0.939-0.69l-2.08-0.28l-0.2-0.42
							l0.26-0.71l2.63-2.54l-0.369-1.31l0.729-2.68l0.69-1.43l0.569-0.55l1.341-0.54l3.39-0.35l-0.39-1.35l0.64-3.25l-0.08-1.76
							l-1.8-1.21l-4.271,0.94l-2.149,1.34l-2.271-3.02l-0.91-0.85l-3-4.15l-0.88,0.07l-0.84-1.44l0.61-1.19l-0.11-0.88l-0.25-0.34
							l-1.37-0.24l-0.42,0.27l-1.93-1.33l0.18-0.71l1.76-0.66l1.75-2.04l0.25-1.59l-0.279-1l0.31-2.36l1.771-6.16l0.01-0.43l-0.68-1.14
							l-0.23-1.08l0.21-3.72l-0.64-1.5l-0.471-3.49l-0.84-1.03l-3.399-1.44l-1.221-0.02l-0.279-0.32l-0.08-1.03l-0.59-0.69l-1.74-0.29
							l-0.96,0.52l-1.4-0.09l-2.779-1.51l-0.86-0.06l-1.96,0.53l-2.62,1.85l-0.53,0.64l0,0l-0.49-0.08l14.711-11.83l2.35,0.23l1.17-0.92
							l1.55-2.17l0.431-1.15l1.55-1.17l0.62-2.88l1.119-0.46l2.44-2.32l0.47-1.21l0.29-1.9l1.601-4.69l1.96-1.54l1.479-1.76l0.83-1.45
							l0.46-1.28l-0.18-1.82l0.79-0.81l-1.04-1.58l3.68-3.09l-0.13-1.64l0.5-2.38l1.74-1.57l0.359-0.71l0.9-3.02l0.08-1.61l-0.43-0.53
							l-0.99,0.16l-0.271-0.49l0.051-0.62l1.14-0.15l0.57-0.74l0.71-4.39l-0.16-1.38l0.47-1.03l0.771-0.45l0,0h0.63l0.239-0.24
							l-0.06-0.54l0.34-0.75l0.58-0.53l1.34,0.98l0.45,1.84l1.19,0.12l0.77-1.36l0.61,2.93l0.989,0.04l0.29-0.49l0.07-0.94l0.851-0.04
							l1.689,0.53l0.5,0.69l-1.43,1.7l0.67,0.7l0.02,0.55l1.21-2.04l0.49-1.54h0.45l0.4,1.02v0.58l-0.87,0.92l-0.271,0.99l0.08,2.71
							l0.26,0.33l0.471,0.12l0.58-0.14l0.96-0.93l-0.471-1l0.141-0.6l1.319-1.43l1.051-0.25l2.13,0.59l1.5-1.11l0.05,0.92l-0.36,0.21
							l-1.13,1.53l0.59,0.58l0.101-0.37l1.25-0.6l0.58,0.79l-0.141,1.21l1.63,1.75l0.86-0.44l1.58,0.67l0.77,2.4l-0.109,0.95l-2.19,2.73
							l-0.38,0.89l0.1,0.66l0.601-1.03l1.75-1.68l0.83-0.03l0.87,0.81l0.52,1.89l-0.27,1.23l-0.971,0.19l-1.029,0.91l-1.16,1.49
							l0.069,0.77l-1.159,2.35l-0.62,3.52l0.21,0.34L72.236,31.753z M72.756,32.204l-0.06-0.79l0.529-1.53l-0.409-1.07l0.13-0.66
							l0.91-1.24l0.55-0.19l0.05,2.35l-0.22,1.34l-0.801,0.6L72.756,32.204z M66.456,6.443l-0.44-0.46l-0.08-0.6l0.801-1.12l0.84-0.03
							l0.68,0.42l0.101,0.34l-0.19,0.36L66.456,6.443z M69.956,10.624l-0.29-0.3l0.06-0.53l1.061-0.89l0.479,0.07l0.5,0.85l-0.14,0.61
							l-0.4-0.17L69.956,10.624z M55.796,5.813l-0.21-0.05l0.95-3.58l0.3,0.09l0.03,0.23l-0.41,3.06L55.796,5.813z"/>
						<path id="BR-PB" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M224.096,101.983l-2.5-2.06l-0.819-0.26l-2.65-0.21
							l-2.31,1.07l-1.48,1.28l-0.45,1.8l-1.899,1.03l-2.011,0.45l-1.14-0.02v0.6l-0.8,0.53l-2.18,0.29l-3.881-0.26l-1.609,0.88
							l-0.55,0.64l-1.82,0.1l-0.89,0.69l-0.54,0.76l0.39,0.73l0.01,0.54l-0.399,0.48l-1.78,1.53l-1.34,0.16l-1.65,0.84l-1.6-0.79
							l-0.95-0.94l-0.35-2.24l0.239-0.49l-0.18-0.3l-1.14-0.32l-0.44,0.29l-1.51,0.25l0.04-0.45l2.529-2.64l0.171-0.43l-0.721-1.87
							l-0.04-0.47l0.37-0.78l3-1.07l0.11-0.3l-0.5-1.39l-3.5-1.92l-1.48,0.41l-2.22,1.26l-0.93,1.51l-1.48,0.87l-1.05,0.31l-2.7,1.88
							l-1.52,1.64l-1.63,0.23l-2.631,0.97l-0.77-0.33l0.05-0.68l-0.63-1.24l-0.38-0.08l-0.93,0.73l-1.511,0.32l-0.989-0.33l-1.4-1.91
							l-0.4-0.09l0,0l-0.17-0.25l1.19-1.12l1.61-3.49l-0.341-1.19l-0.689-0.08l-1.24-0.89l0.021-1.66l-0.351-0.72l-0.58-0.29l-0.24-0.41
							l0.12-0.93l0.17-0.38l1.091-0.63l0.659-1.31l-0.52-1.31l1.03-3l0.84-1.15l0.08-0.54l0,0l0.569-0.46l1.931,1.64l0.899,0.42
							l2.88,0.61l1.16-1.13l3.23-1.66l0.82-0.71l0.1-1.04l0.41-0.95l3.18-1.21l1.43-0.12l3.261-1.04l0.64,0.08l0.53,0.44l0.01,1.19
							l-2.99,3.21l-0.439,0.96l-0.38,1.74l-0.41,0.38l-0.851,0.25l-0.21,0.31l-0.08,1.72l3.53,0.52l0.32,0.23l0.31,1.38l0.29,0.23
							l3.15-1.26l1.77-0.08l1.95,0.3l0.89,1.17l-0.52,1.54l0.83,0.74l2.35-0.93l0.5-0.74l0.55-1.21l-0.47-0.94l-0.16-1.42l0.48-0.59
							l1.01,0.32l-0.53-1.53l-0.72-0.78l0.31-1.48l1.82-1.35l1.38-0.05l0.42,0.39l-0.1,1l0.62,0.49l3.42,0.4l0.53,0.35l5.83-0.39
							l2.17,0.3l2.46,1.1l1.04-0.4l3.5,0.21l0.93-0.24l0,0l0.09,2.4l1.45,4.39l0.06,0.64l-0.18,0.94l-0.37,0.45l-0.03,0.88l0.58-0.74
							l0.511-1.5l0.01,1.98l0.59,1.01l-0.27,5.18l-0.36,0.6L224.096,101.983z"/>
						<path id="BR-PE" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M171.946,130.023l-1.221-3.04l-0.01-0.94l-2.109-0.86
							l-0.5-0.37l-0.45-0.83l0.609-0.89l-0.02-0.62l-0.45-0.32l-1,0.01l-0.43,0.44l-0.29,1.74l-0.43,0.15l-0.391-0.26l-0.54-1.65
							l-1.58-1.15l-2.989-0.4l-2.36-0.77l-1.351-0.81l-0.829-1.44l-1.49-0.56l-0.59,0.11l-2.53,1.46l-1.65,0.44l-0.77,2.05l-2.23,0.45
							l-0.29,0.25l0.25,1.36l-0.17,0.59l-1.1,1.24l-2.39,1.03l-0.641-0.06l-0.77-0.53l-0.761,0.17l-0.5,0.87l-0.77,3.57l-2.87,0.88
							l-0.82,0.92l-0.96,0.23l-1.84-0.62l0.92-1.68l-0.26-2l-2.21-0.91l-0.72-1.94l0.06-2.73l-0.439-0.51l-2.811-1.38l-2.2-0.29
							l-1.159,0.26l-0.9-0.4l0,0l2.62-1.27l1.97-1.71l0.54-0.87l2.29-1.33l0.97-0.28l3.891-3.87l0.739-1.76l0.061-2.27l-0.29-0.54
							l-1.62-1.58l0.07-2.189l-0.601-1.13l-0.06-0.95l0.109-0.45l0.521-0.33l1.79-0.16l0,0l4.93,0.2l0.891,0.24l1.63-0.19l2.14-0.8
							l1.29-0.1l3.08,0.42l2.85,1.9l1.83,0.83l0.46,0.99l1.011,1.07l1.359,0.48l0.78,0.57l0.63,1.64l1.65-0.05l1.54-2.29l1.069-0.83
							l1.59-0.49l0,0l0.4,0.09l1.4,1.91l0.989,0.33l1.511-0.32l0.93-0.73l0.38,0.08l0.63,1.24l-0.05,0.68l0.77,0.33l2.631-0.97l1.63-0.23
							l1.52-1.64l2.7-1.88l1.05-0.31l1.48-0.87l0.93-1.51l2.22-1.26l1.48-0.41l3.5,1.92l0.5,1.39l-0.11,0.3l-3,1.07l-0.37,0.78l0.04,0.47
							l0.721,1.87l-0.171,0.43l-2.529,2.64l-0.04,0.45l1.51-0.25l0.44-0.29l1.14,0.32l0.18,0.3l-0.239,0.49l0.35,2.24l0.95,0.94l1.6,0.79
							l1.65-0.84l1.34-0.16l1.78-1.53l0.399-0.48l-0.01-0.54l-0.39-0.73l0.54-0.76l0.89-0.69l1.82-0.1l0.55-0.64l1.609-0.88l3.881,0.26
							l2.18-0.29l0.8-0.53v-0.6l1.14,0.02l2.011-0.45l1.899-1.03l0.45-1.8l1.48-1.28l2.31-1.07l2.65,0.21l0.819,0.26l2.5,2.06l0,0
							l0.88,0.23l0.551,1.22l-1.271,1.72l-0.109,0.55l0.01,0.48l0.7,0.37l0.27,0.5l0.19,1.061l-1.96,6.38l-3.25,8.95l0,0l-0.271-0.21
							l-2.9-0.27l-1.92-0.81l-1.47,0.19l-2.56,1.29l-2.24-0.85l-2,0.24l-1.55,1.24l-0.12,0.45l-2.18,2.29l-1.811,1.11l-1.16-0.05
							l-1.859,1.06l-1.17,0.11l-3.141-0.29l-2.5,0.65l-1.91-0.479l-1.779-1.05l-1.9-2.12l-2.55-2.02l-1.08,0.12l-1.67-0.3l-1-1.22
							l-0.82,0.6l-0.09,0.69l-2.38,3.29l-2.17,0.76l-0.641,1.09L171.946,130.023z"/>
						<path id="BR-PI" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M119.366,29.744l1.31,0.12l0.69-0.23l2.24,0.51l0.989,0.85
							l0.32,0.6l0,0l-0.11,0.8l-1.09,1.85l-1.58,1.97l-0.18,1.46l0.29,1.29l1.8,4.72l3.15,6.42l0.439,1.73l1.36,1.59l-0.021,0.76
							l-0.739,1.36l0.79,3.87l-0.48,1.6l1,2.01l0.601,2.99l-0.591,1.58l-0.8,0.58l0.92,0.69l0.11,0.38l0.939,8.16l-0.239,0.45l0.76,2.57
							l1.05,5.2l1.01,2.67l1.311,0.65l2.56,0.47l0.771,1.16l-0.011,0.69l-1.5,2.25l-1.14,3.11l0.08,0.97l0.68,0.68l-0.06,1.32l0,0
							l-1.79,0.16l-0.521,0.33l-0.109,0.45l0.06,0.95l0.601,1.13l-0.07,2.189l1.62,1.58l0.29,0.54l-0.061,2.27l-0.739,1.76l-3.891,3.87
							l-0.97,0.28l-2.29,1.33l-0.54,0.87l-1.97,1.71l-2.62,1.27l0,0l-0.45,1.16l-1.5,2.3l-1.05,0.67l-0.79-0.18l-2,0.38l0.11,2.4
							l-1.86,1.8l-0.32-0.05l-0.62-0.62l-2.159-0.01l-0.82,0.98l-0.771,0.36l-2.729,0.34l-1.51,1.34l-0.82,1.22l-1.7,0.1l-1.479,0.64
							l-3,0.11l-0.82-0.28l-0.19-0.28l0.131-0.66l-1.711-0.98l-1.329-0.39l-1.391,0.55l-2.13,0.43l-0.32-0.18l-0.409-0.93l-1.5-0.46
							l-1.95,0.02l-3.24,1.65l-0.06,0.93l2.239,4.44l0.12,1.15l-0.29,2.569l-0.25,0.91l-0.72,0.86l-2.95,5.05l-2.97,2.42l-1.351,0.42
							l-1.479-0.53l-1.34-0.17l-2.2,0.75l-1.17,0.891l-0.67,0.869l-1.141,0.381l-0.75,1.449l-0.329,0.211l-2.11-0.181l-1.8,0.521
							l-4.181-1.851l-1.77-2.489l-0.53-2.211l-0.66-1.039l-1.439-1.34l-2.33,0.02l0,0l-2.94-0.21l0,0l0.051-1.92l0.26-1.061l1.149-2.45
							l0.13-6.359l0.761-1.4l0.029-0.51l-1.729-3.06l-0.47-3.19l-0.7-1.94l0.729-2l1.7-1.4l1.2-2.48l0.13-1.51l0.34-0.83l0.3-0.21
							l1.44-2.74l0.63-2.32l0.39-2.97l0.98-2.98l2.13-1.95l2.72-0.76l2.61-0.31l1.07-0.37l1.7-1.53l1.05-0.04l1.34-0.52l2.86-2.57
							l2.34-0.91l2.01-2l0.63-0.87v-0.46l1.9-1.92l0.5-0.22l0.84-0.24l0.229,0.3l1.12-0.26l1-0.6l1.46-0.19l1.01,0.21l2.511,1.82
							l1.51-0.1l2.44-0.86l0.829-0.04l0.65,0.28l2.28-0.29l1.21-1.31l0.5-1.46l0.12-1.21l0.29-0.44l0.39-2.2l-0.13-0.85l-0.17-0.5
							l-1.61-0.91l-1.78-2.03l-0.51-2.3l-0.109-2.11l0.17-2.48l4.1-4.43l0.21-0.55l0.1-2.43l-0.55-2.979l-1.58-2.8l1.141-2.87l0.279-1.47
							l-0.38-1.27l-1.229-0.84l-0.351-1.92l0.771-1.05l0.64-0.17l0.82-1.98l1.89-1.85l0.88-1.83l-0.04-1.79l2.921-3.41l0.81,0.16
							l3.31-0.46l4.131-3.97l1.789-2.27l0.391-1.53l-0.641-0.53l-0.22-0.72l0.46-1.44l0,0l0.73,0.12l1.47,0.87l0.51,0.51l-0.13,0.31
							L119.366,29.744z"/>
						<path id="BR-RN" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M222.956,85.744l-0.93,0.24l-3.5-0.21l-1.04,0.4l-2.46-1.1
							l-2.17-0.3l-5.83,0.39l-0.53-0.35l-3.42-0.4l-0.62-0.49l0.1-1l-0.42-0.39l-1.38,0.05l-1.82,1.35l-0.31,1.48l0.72,0.78l0.53,1.53
							l-1.01-0.32l-0.48,0.59l0.16,1.42l0.47,0.94l-0.55,1.21l-0.5,0.74l-2.35,0.93l-0.83-0.74l0.52-1.54l-0.89-1.17l-1.95-0.3
							l-1.77,0.08l-3.15,1.26l-0.29-0.23l-0.31-1.38l-0.32-0.23l-3.53-0.52l0.08-1.72l0.21-0.31l0.851-0.25l0.41-0.38l0.38-1.74
							l0.439-0.96l2.99-3.21l-0.01-1.19l-0.53-0.44l-0.64-0.08l-3.261,1.04l-1.43,0.12l-3.18,1.21l-0.41,0.95l-0.1,1.04l-0.82,0.71
							l-3.23,1.66l-1.16,1.13l-2.88-0.61l-0.899-0.42l-1.931-1.64l-0.569,0.46l0,0l-0.66,0.38l-0.64-0.17l0.34-1.97l1.41-2.25l0.84-0.88
							l0.51-0.07l0.78,0.51l1.029-0.26l0.57-1.1l1.46-1.51l1.4-2.44l-0.15-0.74l0.65-1.67l0.87-0.57l0.84-1.12l3.3-6.69l2.61-2.01
							l4.89-1.59l0,0l0.47,0.76l0.86,0.75l3.13-0.01l1.22,0.41l1.69,1.75l1.32,0.5l3.329-0.32l2.881,0.52l2.54-0.24l2.329-0.729l4.5,0.92
							l1.271,0.04l1.95,0.86l1.02,0.82l0.641,0.94l2.31,4.74l0.5,1.79l-0.04,0.75l1.48,5.38l0.21,1.68l0.72,0.54l0.96,2.69
							L222.956,85.744z"/>
						<path id="BR-SE" fill="#88D2DD" stroke="#38BDC6" stroke-width="2" d="M183.606,164.523l-2.9,0.891l-1.55-0.641l-0.54-0.34
							l-0.48-0.72l-1.92-0.92l-0.6-0.521l-0.12-0.409l0.34-0.39l0.13-1.421l-0.149-0.39l-1.431-1.51l-0.52-1.49l-1.09-0.67l-0.96-1.6
							l-0.021-0.771l0.59-1.58l0.32-0.3l1.7,0.01l1.13,0.75l2.55-0.99l0.69-0.55l0.3-0.58l-0.76-2.75l0.08-0.88l0.659-1.62l0.08-3.11
							l-0.75-1.149l-1.989-1.95l-1.271-2.5l-0.22-2.14l0.67-1.15l0,0l6.46,2.98l3.68,0.95l5.42,3.07l1.3,2.45l1.761,1.45l1.66,0.79
							l0.46,0.029l3.59,2.23l0.6,1.311l0,0l-2.38,0.76l-4.57,2.939l-0.97,0.891l-1.55,2.209l-0.32-0.02l0.11-1.1l-1.05-1.82l-0.99,0.16
							l0.34,1.16h1.24l0.229,0.24l-0.52,1.97l-1.271,2.09l-0.529-0.351l-0.37-0.67l-0.99-0.16l0.2,0.681l1.13,0.62l-0.26,1.77l-0.86,1.15
							l-0.93,2.029l-0.78,0.15l-0.3-0.46l0.479-1.399l0.41-0.131l0.311-0.43l0.369-1.04l-0.81-0.37l0.1,0.68l-0.449,1.131l-0.48,0.5
							l-0.26,1.09l0.28,0.72l-0.261,0.521L183.606,164.523z"/>
					</g>
					</svg>
				</div>

				<div class="region-map__map-svg" id="west_central">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" class="region-map__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="100px" height="115px" viewBox="0 0 252 274.04" enable-background="new 0 0 252 274.04" xml:space="preserve">
					<g>
						<path id="BR-DF" fill="#89D1DC" stroke="#3ABCC6" stroke-width="2" d="M227.21,138.91l-14.69-0.021l-0.52-3.26l0.92-1.83l0.38-3.73
							l11.95,0.01l1.83,1.98l0.06,2.21l-0.59,1.19l-0.21,2.439L227.21,138.91z"/>
						<path id="BR-GO" fill="#89D1DC" stroke="#3ABCC6" stroke-width="2" d="M227.21,138.91l-0.87-1.011l0.21-2.439l0.59-1.19l-0.06-2.21
							l-1.83-1.98l-11.95-0.01l-0.38,3.73l-0.92,1.83l0.52,3.26L227.21,138.91L227.21,138.91L227.21,138.91L227.21,138.91l-0.53,1.521
							L226.99,142l-0.681,1.59l-1.04,1.25l-0.409,1.47l0.85,1.211l0.85,0.34l1.421,1.029l1.649,4.561v0.6l-2.32,2.711l-3.239,3.01
							l-0.431,2.14l1.091,1.11l0.899-0.471l1.58,0.57l0.47,0.609l0.181,1l-0.17,0.711l-0.73,0.899l-0.51,1.89l1.189,3.461l-3.09,2.06
							l-1.16,0.2l-0.859,0.9l-0.48,1.119l-4.89,2.74l-0.7-0.77l-4.35-1.86l-0.551,0.479l-0.579,0.09l-1.75,0.011l-1.48-0.28l-3.86,0.16
							l-2.01-0.891l-4.13,2.641l-2.91,2.92h-0.33l-1.31-1.42l-1.521-0.3l-3.189,1.64l-3.71-0.619l-2.48,0.959l-2.229,0.541l-1.41,2.1
							l-1.21,2.459l0.06,1l-0.84,1.301l-0.82,0.279l-0.84-0.159l-0.45,0.14l-0.939,0.74l-1.64,2.1l-0.57,1.9l0.56,0.609l-0.01,0.34
							l-0.36,0.23l-0.859-0.46l0,0l-0.24-0.45l-2.66-2.24l-3.149-0.609l-1.62-1.55l-1.9-0.431l-1.49-0.039l-3.35-1.34l-0.68-0.851
							l-3.07-1.56l-0.67-0.61l-1.44-0.71l-1.14-0.17l-2.7-1.68l-2.78,0.16l-3.8-0.701l-0.13-0.33l0.26-0.84l0.57-1.17l1.31-1.76
							l-0.079-0.42l-2.25-0.9l-1.141,0.67l-0.66-0.189l-0.279-0.41l-0.23-1.109l0.26-2.58L137.49,171l0,0l-0.95-2.2l-0.18-3.43
							l-1.41-2.189l-0.16-0.711l0.4-3.41l2.55-3.85l0.38-2.91l0.7-0.77l2.02-0.84l1.92-1.771l1.25-2.021l0.33-1.949l0.5-1.01l1.28-1.041
							l0.82-1.43l0.079-1.539l1.75-0.971l1.4-2.62l2.65-0.13l2.72-0.859l0.32-0.281l1.979-4.189l0.71-0.96l0.641-4.1l0.38-0.74l1.92-1.94
							l1.649-1.01l1.07-0.26l1.23,0.68l1.21-0.73l1.39-1.43l0.84-2.93l1.17-2.87l-0.01-0.8l-0.48-1.14l0.58-2.74l1.601-3.09l-0.12-5.18
							l1.21-0.78l1.03-2.63l2-3.17l0.39-1.07l-0.16-2.72l0.351-0.9l0.97-0.86l0.27-1.13l-0.08-0.63l0,0l0.341-0.45l0.199-1.88l0.66-1.23
							l1.811-2.09l0.56-0.3l-0.03,1.71l-1.22,1.88l-0.52,2.34l2.399,0.4l2.2,1.03l3.93,0.4l3.09,1.71l4.07,1.43l0.63-0.23l1.63-5.94
							l1.471-2.39l1.18-0.97l1.15,1.31l1.04,1.88l1.109,3.71l0.61,3.1l1.14,0.05l0.75-0.75l0.3-1l0.561-0.54l2.76,0.34l4.53-0.53
							l0.22,0.74l-0.56,1.56l3.13,1.47l3.35,0.68l0.69-0.08l0.51-3.3l0.55,0.03l1.51,2.62l0.46,0.24l1.78-0.9l2.521-2.08l4.529-1h1.551
							l2.56-1.1l1.74-1.34l5.359-1.42l0,0l2.721,2.46l0.02,0.38l-1.43,1.06l-0.48,2.52l0.101,0.33l1.63,0.84l-0.061,0.94l-0.229,0.38
							l-1.59,1.03l-1.19,3.83l-0.05,1.55l0.62,3.52l1.7,3.46l3.21,2.62l0.05,0.47l-0.72,1.42l-0.101,0.67l0.67,1.72l0.23,1.28l-0.25,0.77
							l-1.48,1.97l0,0l-1,1.01l-3.229-0.34l-0.9-1.76l-2.42-1.48L238.5,119l0.58,3.77l-0.57,0.54l-0.399,0.13l-2.78-1.14l-1.17,0.23
							l-0.37,0.28l-0.72,3.18l0.72,0.1l0.49,1.16l-0.57,0.94l-0.729,0.7l0.039,1.9l0.421,0.61l0.529,0.19l0.69,4.261l-0.53,0.529
							l-3.36,0.9l-2.289,1.51L227.21,138.91z"/>
						<path id="BR-MS" fill="#89D1DC" stroke="#3ABCC6" stroke-width="2" d="M169.45,204.85l-0.4,2.46l-0.28,0.4l-1.5,0.78l-1.319,0.04
							l-0.47,0.22l-1.221,1.03l-1.99,2.68l-0.729,0.65l-1.01,0.3l-0.62,1.68l-0.16,2.931l-2.59,3.64l-0.96,0.52l-0.23,0.38l0.311,1.931
							l-0.08,0.95l-1.21,2.34l-2,2.26l0.35,0.85l-0.28,1.21l-1.439,1.03l-0.4,1.21l-1.729,1.69l-1.26,2.439l-1.95,1.87l-7.561,4.53
							l-1.26,1.14l-0.74,1.54l-0.84,1.08l0,0l-5.41,2.271l-1.109,0.819l-0.931,2.33l0.021,1.15l-1.45,3.56l-0.67,0.681l-1.66,1.01
							l-1.11,0.32l-0.329,0.35l-1.57,7.92l-0.36,0.82l-2.38,1.56l0,0l-2.55-2.33l-3.41-1.89l-3.99,1.97l-0.68,0.75l-1.66,0.49l-2.58,0.43
							l-2.36-0.46l-1.01-0.649l-0.47-4.271l-0.32-0.7l-0.9-0.95l-0.23-2.47l0.51-1.34l-0.64-0.79l-0.09-0.439v-2.87l-0.89-1.971
							l-0.6-2.739L97,250.47l0.59-1.359l0.02-1.61l-1.57-1.09l-0.38-0.8l-0.16-2.16l-1.65-1.82l-2.17-0.26l-1.51,0.31l-1.83-0.29
							l-2.46-1.96l-0.56-1.489l-1.54,0.33l-2.17,2.739l-1-0.6l-1.72,0.81l-1.08,0.16l-1.74-0.689l-2.56-0.49l-3.46,0.229l-3.66-0.71
							l-0.48-0.91l-1.99-0.13l-0.89,0.521l-2.5-0.88l0.91-7.271l-0.43-2.38l0.6-1.42l0.98-1.46l0.6-6.03l-0.66-2.33l-0.05-1.729
							l-0.76-0.96l-0.43-0.09L60.8,215.3l-0.64-3.26l-0.79-1.87l-1.21-2.02l-0.35-1.83l4.03-2.3l0.76-0.881l-4.2-3.859l5.38-11.42
							l1.12-0.061l-0.28-2.13l-0.74-0.13l3.23-10.33l0.66-1.16l-3.09-5.85l0.03-1.91l0,0l0.7,0.2l1.02,1.1l2.15,1.521l5.62-1.971l2.05-2
							l2.02-2.949l0.09-1.17l1.4-1.451l2.59,0.031l1.56-0.221l0.77,0.34l1.66-0.51l1.35-1.25l2.02-0.49l1.27,0.2l0.76,1.149l2.79,1.25
							l2.62,0.471l0.65,0.35l0.27,0.86l0.78,1.021l3.03,1.16l1.26,1.109l1.24,0.57l4.52-0.631l1.26-0.799l0.49-0.851l1.43-0.61l2.44,0.07
							l1.59,1.04l0.3,1.37l0.24,0.25l0.989,0.04l2.13-0.88l1.011,0.06l5.62-6.01l1.34-0.13l-1.23,6.609l-1.8,0.7l-1.66,2.83l-0.189,0.46
							l0.149,0.53l1.3,0.11l1.74,1.27l4.62,0.27l0.57-0.569l2.66-0.08l0.869,0.08l1.171,0.569l1.55-0.31l0,0l0.189,1.771l-0.26,2.58
							l0.23,1.109l0.279,0.41l0.66,0.189l1.141-0.67l2.25,0.9l0.079,0.42l-1.31,1.76l-0.57,1.17l-0.26,0.84l0.13,0.33l3.8,0.701
							l2.78-0.16l2.7,1.68l1.14,0.17l1.44,0.71l0.67,0.61l3.07,1.56l0.68,0.851l3.35,1.34l1.49,0.039l1.9,0.431l1.62,1.55l3.149,0.609
							l2.66,2.24l0.24,0.45l0,0l-0.58,0.25l-0.99,4.181l0.59,3.21L169.45,204.85z"/>
						<path id="BR-MT" fill="#89D1DC" stroke="#3ABCC6" stroke-width="2" d="M17.46,101.09l1.47-1.43l4.11-2.57l0.52-2.45l1.43-3.78
							l0.93-1.08l1.64-0.53l0.43-0.41L28.57,88l0.52-2.25l1.66-2.01l0.56-2.24l0.07-1.71L30.8,78.3l0.04-2.05l-1.53-3.34l-0.9,0.03
							l-0.58-0.51l-0.43-3.25l0.14-1.32l1.36-1.08l1.4-1.75l0.17-0.75l-1.41-3.59l-1.07-0.43l-1.11-0.11l-3.5,0.09l-1.22-1.11l0.24-0.56
							L5.24,58.52l0.9-9l-1.5-2.75l-0.27-1.76l0.03-0.8l1-3.52l-0.38-1.93l0.94-1.67l-0.83-2.27l-0.15-1.39l-0.26-0.61l-0.78-0.47
							L3.88,32l1.29-4.99l0.76-1.42l-0.6-1.24l-1.4-0.97l0,0l47.85-0.32l1.21-0.73l1.18-5.22l1.38-4.22l-0.46-1.94l-0.66-1.37l-0.1-0.85
							l0.42-0.85l0.86-0.64l1.2-1.82l0.27-1.01l-0.34-0.84l0.06-0.76L57,2.2L58.18,1l0,0l1.17,1.08l2.45,4.06l0.4,1.76l1.37,3.96
							l1.32,1.93l0.77,1.62l-0.23,2.44l0.48,2.4l0.73,2.2l1.53,1.11l3,2.75l3.38,1.7l0.23,0.94l-0.04,1.1l0.23,0.49l0.95,0.4l0.82-0.17
							l1.63,0.45l0.54,0.72l0.2,1.08l0.35,0.32l1.37-0.45l3.69,1.49l34.04,2.42l62.971,3.48l0,0l-0.65,1.02l-0.56,1.89l-1.101,1.25
							l-0.439,3.14l-0.431,0.85l-0.369,0.27l-1.94,5.29l-0.54,2.97l-0.04,2.95l-1.88,5.99l0.06,0.86l1.391,1.34l-0.16,0.87l-0.82,0.89
							l-0.05,0.5l1.1,2.25l-0.47,3.31l0.01,1.57l0.521,0.58l0.439,3.05l-0.739,2.76l0.979,3.34l0.96,0.51l0.8,0.02l0,0l0.08,0.63
							l-0.27,1.13l-0.97,0.86l-0.351,0.9l0.16,2.72l-0.39,1.07l-2,3.17l-1.03,2.63l-1.21,0.78l0.12,5.18l-1.601,3.09l-0.58,2.74
							l0.48,1.14l0.01,0.8l-1.17,2.87l-0.84,2.93l-1.39,1.43l-1.21,0.73l-1.23-0.68l-1.07,0.26l-1.649,1.01l-1.92,1.94l-0.38,0.74
							l-0.641,4.1l-0.71,0.96l-1.979,4.189l-0.32,0.281l-2.72,0.859l-2.65,0.13l-1.4,2.62l-1.75,0.971l-0.079,1.539l-0.82,1.43
							l-1.28,1.041l-0.5,1.01l-0.33,1.949l-1.25,2.021l-1.92,1.771l-2.02,0.84l-0.7,0.77l-0.38,2.91l-2.55,3.85l-0.4,3.41l0.16,0.711
							l1.41,2.189l0.18,3.43l0.95,2.2l0,0l-1.55,0.31l-1.171-0.569l-0.869-0.08l-2.66,0.08l-0.57,0.569l-4.62-0.27l-1.74-1.27l-1.3-0.11
							l-0.149-0.53l0.189-0.46l1.66-2.83l1.8-0.7l1.23-6.609l-1.34,0.13l-5.62,6.01l-1.011-0.06l-2.13,0.88l-0.989-0.04l-0.24-0.25
							l-0.3-1.37l-1.59-1.04l-2.44-0.07l-1.43,0.61l-0.49,0.851l-1.26,0.799l-4.52,0.631l-1.24-0.57l-1.26-1.109l-3.03-1.16l-0.78-1.021
							l-0.27-0.86l-0.65-0.35l-2.62-0.471l-2.79-1.25l-0.76-1.149l-1.27-0.2l-2.02,0.49l-1.35,1.25l-1.66,0.51l-0.77-0.34l-1.56,0.221
							l-2.59-0.031l-1.4,1.451l-0.09,1.17l-2.02,2.949l-2.05,2l-5.62,1.971l-2.15-1.521l-1.02-1.1l-0.7-0.2l0,0l-0.66-0.67l-0.32-0.801
							l0.54-0.709l-2.44-2.15l-1.28,0.63l-0.52-0.05l-1.17-0.68l-0.45-0.7l-2.02-1.41l-1.89-0.76l-0.3-0.32l-0.3-1.12l-0.23-2.93
							l-0.61-1.77l-0.19-3.66l0.88-1.641l1.14-1.09l0.34-1.779l-0.05-1.891l-0.96,0.061l-0.4,0.6l-0.38,0.16l-26.86-1.08l-1.05-12.65
							l-5.37-6.13l4.88-0.06l-0.35-7.55l-2.64-5.32l-0.49-1.97l0.26-1.06l0.61-0.55l0.65-1.28l-1.44-2.93l-3.11-1.04L17.46,101.09z"/>
					</g>
					</svg>
				</div>

				<div class="region-map__map-svg" id="south">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" class="region-map__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="85px" height="113px" viewBox="0 0 167 210.667" enable-background="new 0 0 167 210.667" xml:space="preserve">
					<g>
						<path id="BR-PR" fill="#89CFDB" stroke="#3ABBC6" stroke-width="2" d="M147.75,66.067l-5.24-0.03l-0.33,0.439l-1.739,0.24
							l-0.761-0.069l-0.109-0.391l-1.57,0.57l-1.35,1.43l-3.351,2.13l-1.439-0.16l-1.23-0.619l-3.13-2.601l-1.03-0.39l-0.76-0.01
							l-2.84,0.729l-2.33,0.17l-0.81-0.03l-1.421-0.76l-1.109,0.141l-1.53,0.649l-0.59,1.47l-0.73,0.87l-1.869,0.98l-3.57-0.41l-2,1.15
							l-0.72,0.77l-0.69,1.59l0.85,2.99l-0.869,0.86l-0.921,0.02l-0.75,0.38l-0.17,0.49l-1.33-1.89l-4.25,0.13l-3.76-0.431l-1.58-1.18
							l-0.16-0.41l-1.029-0.63l-4.261-0.359l-5.289-1.681l-2.341,0.57l-2.689-0.03l-2.021-1.41l-0.319-0.51l-1.061-0.24l-0.53-0.01
							l-0.71,0.37l-3.63-0.021l0,0l-0.22-1.21l-2.53-4.18l0.021-2.59l-0.99-2.88l-3.42-2.37l-1.09,1.13l-2.12-0.11l-1.1,0.431
							l-1.07,0.899l-1.46-1.08l-0.82,0.061l-0.28-2.2l0.66-1.57l1.07-1.27l1.22-2.18l0.06-0.341l-0.49-0.75l0.02-1.239l0.9-3.641
							l1.26-3.02l-0.25-2.3l1.28-2.38l-0.21-1.021l-0.84-0.88l-0.311-1.6l0.66-1.061l0.79-0.54l0,0l2.38-1.56l0.36-0.82l1.57-7.92
							l0.329-0.35l1.11-0.32l1.66-1.01l0.67-0.681l1.45-3.56l-0.021-1.15l0.931-2.33l1.109-0.819l5.41-2.271l0,0l3.26-2.29l3.83,0.65
							l4.011-0.11l3.27,0.29l1.21-0.62l0.35-0.6l0.73-0.37l1.17,0.29l1.48,0.78l2.52,0.46l2.64,1.09l1.311,0.13l1.07-0.54l2.579-0.01
							l0.78,1l1.75,0.84l3.51,0.8l0.631,0.51l0.71,1.32l1.729,0.07l0.42-0.34l1.65,0.149l0.66,0.54l5.31,0.13l2.97-0.85l1.13,1.55
							l3.591,2.83l0.89,1.76l0.01,2.74l-0.39,0.58l-0.16,0.81l0.38,1.84l1.3,1.511l-0.08,1.76l-0.359,0.56l1.49,3l1.21,1.15l0.67,0.28
							l0.5,0.68l-0.051,0.89l0.921,1.971l0.6,0.29l0.25,0.439l-0.25,1.05l-1.271,2.131l0.32,2.039l0.601,0.381l1.01,0.21l2.38-0.12
							l3.42-0.53l0.5,0.39l1.58-0.189l1.59,0.13l1.61,1.26l-0.141,0.41l-0.89,0.65l-0.69,3.3l0.351,0.78l1.069,0.529l0.65-0.85l1.1-2.76
							l0.761-0.17l2.14,0.579l-0.4,1.95l0.73,3.3l1.42,0.58l0.16,1.32l0,0l-1.35,1.021l-0.61,1.479l-0.55-0.12l0.27-1.939l1.44-0.95
							l-1.41,0.28l-0.89,0.489l-0.87-0.02l-0.341-0.391l-0.569-0.17l-0.54,0.37l-0.28,0.931l0.521,0.8l-0.73,0.96l-0.3,0.1l-2.48-0.529
							l-0.79-0.54l-0.449,0.119l-0.181,0.9l0.34,0.37l1.61,0.56l1.4-0.25l2.13,0.601l0.27,0.479l-0.97,0.681l-1.54,2.779l-1.24,0.771
							l-2.42,0.569l-0.2,0.45l2.95-0.2l0.15,1.19L147.75,66.067z"/>
						<path id="BR-RS" fill="#89CFDB" stroke="#3ABBC6" stroke-width="2" d="M72.99,205.186l-0.36,0.011l-1.939-1.11l-0.2-0.46l0.52-4.27
							l-0.46-4.25l0.15-1.07l0.63-1.24l2.84-2.38l0.83-1.56l2.3-2.561l-1.46-1.649l-1.07-0.62l-2.25-0.601l-2.319-2.25l-1.21-1.62
							l-0.101-1.59l-0.43-1.18l-1.229-2.03l-2.061-2.24l-0.67-0.59l-2.39-1.21l-1.45,0.21l-1.9-1.51l-1.52-1.63l-1.25-0.78l-0.14-1.7
							l-1.9-2.159l-3.32-0.461l-0.92-0.47l-1.73-1.66l-1.76,0.13l-2.17-1.38l-1.91-3.71l-1.11-1.489l-2.53-2.12l-0.7,0.08l-0.67,1.79
							l-2.59,2.239l-2.67,0.12l0.1-2.859l0.4-1.28l-0.39-1l-3.65-4.29l-2.37-1.771l-2.18-2.06l-1.75-2.11l-2.69-2.21l-1.9-0.14
							l-2.15,0.21l-1.14,1.36l-0.06,0.96l-1.03,0.97l-1.11,0.02l-0.58-0.479l-3.16,0.14l-0.65-0.479l-0.16-0.91l-0.49-0.22l0.85-0.221
							l1.04-0.72l2.52-2.77l0.11-1.841l0.6-1.25l0.82-0.449l1.29-0.07l0.64-0.26l0.92-1l5.45-6.48l0.63-1.42l0.17-1.11l0.82-1.069
							l1.2-0.851l1.37-0.409l1.96-4.221l0.1-0.609l0.31-0.37l1.64-0.86l1.63-1.8l0.85-1.15l0.51-1.29l1.34-2.1l0.93-0.29l1.57,0.18
							l0.55,0.79l0.47-1.279l-0.21-0.58l-1.35-0.82l-0.05-0.36l0.35-0.33l1.08-0.38l0.82-0.96l2.79-0.95l1.05-1.069l0.1-0.92l0.82-0.91
							l2.21-1.15l2.47-0.399l1.77-1.811l0.15-1.06l1.32-2.36l0.33-0.04l0.05,0.36l0.29,0.2l1.33-0.171l2.44-1.13l2.68-0.59l1.21-0.569
							l2.101-2.351l0.5,0.01l0.67-0.39l1.01-1.35l2.311-0.73l0.3,0.38l0,0l3.52,0.391l3.26-1.15l0.561-0.81l1.35,0.579l-0.149,0.921
							l3.08-0.03l1.63,0.99l2.56-0.37l1.92,1.149l2.58-0.41l1.54,0.181l2.8-0.16l2.261,0.92l2.479,1.4l1,2.439l1.59,0.19l0.09-0.48
							l1.811-0.35l5.56,3.54l1.37,1.55l0.71-0.03l1.561,0.98l3.029,3.49l1.641,2.21l0.479,1.479l2.17,2.66l1.17,0.55l6.69,1.061l2.11-0.4
							l3.35,0.34l0.88,2.34l-2.08,1.58l-1.27,0.41l-0.73,1.86l0.221,2.189l-0.381,1.561l-0.52,1.3l-1.18,0.2l-1.29,1.689l-0.03,1.41
							l1.8,1.17l0.271-0.2l-0.28-0.97l0.01-0.96l1.49-0.82l1.58,0.641l0.729,0.91l1.17,0.85l0.45-0.03l0,0l-1.399,1.73l-3.9,7.04
							l-4.21,11.6l-6.3,10.48l-5.44,6.659l-6.51,5.961l-6.09,3.68l-3.101,4.31l-0.18-0.43l0.65-1.58l0.34-2.18l-1.18-1.71l0.1-0.42
							l0.93-0.17l1.01,0.399l0.561,0.58l1.02,0.04l2.58-1.41l0.82-0.68l2.85-3.71l0.75-0.69l0.45,0.19l1.021-0.19l1.05-0.84l0.93-1.27
							l0.37-1.48l0.18-0.93l-0.229-2.101l0.2-1.37l1.569-0.069l0.74,0.3l0.271,0.83l0.35-0.26l-0.29-1.4l0.51-2.07l0.48-0.569l2.74-1.59
							l0.729-1.08l0.47-2.75l-0.21-2.28l0.561-0.68l0.5,0.8l0.37,0.03l0.43-0.421l0.47-3.079l-0.1-0.44l-0.95-1.22l-0.67-0.03l-0.26,0.69
							l0.17,0.39l-0.141,0.57l-0.35,0.199l-1.51-0.02l-2.01,0.399l-0.341,1.61l-0.529,0.05l-0.811-0.439l0.101-1.71l-0.82-0.891
							l-1.04,0.33l-0.6-0.479l-0.73-1.26l-0.4-1.45l0.12-0.57l-0.64-0.69l-0.61,2.711l0.44,2.25l1.25,2.109l-0.57,0.811l-0.74,2.54
							l0.381,3.029l-0.181,0.771l-0.479-0.37l0.26-0.24l-0.03-0.71l-0.47-1.28l-0.45-0.39l-0.53,0.66l-0.029,1.37l-1.41,3.27l-0.05,1.891
							l0.22,0.52l-0.72,0.7l-1.61,0.64l-0.61,1.58l-4.09,1.57l-0.72,0.53l-0.53,1.59l-0.1,2.27l-0.97,2.271l-2.36,1.3l-0.11,1.76
							l0.48,0.83l0.25,1.02l-0.95,0.561l-0.25,1.51l0.43,0.601l0.681-0.141l1.3,0.63l0.149,0.91l-2.13,1.65l-2.319,4.52l-1.931,6.88
							l-2.01,4.49l-1.68,2.521l-7.79,7.529L72.99,205.186z"/>
						<path id="BR-SC" fill="#89CFDB" stroke="#3ABBC6" stroke-width="2" d="M130.3,124.676l-0.45,0.03l-1.17-0.85l-0.729-0.92
							l-1.59-0.631l-1.48,0.82l-0.01,0.96l0.28,0.97l-0.271,0.2l-1.8-1.17l0.04-1.41l1.28-1.689l1.18-0.2l0.53-1.31l0.369-1.551
							l-0.22-2.189l0.73-1.86l1.27-0.42l2.08-1.58l-0.88-2.34l-3.35-0.34l-2.11,0.399l-6.69-1.06l-1.159-0.54l-2.171-2.66l-0.489-1.479
							l-1.63-2.21l-3.03-3.49l-1.57-0.99l-0.71,0.03l-1.37-1.55l-5.56-3.54l-1.811,0.34l-0.09,0.479l-1.6-0.189l-1-2.44l-2.47-1.39
							l-2.271-0.93l-2.79,0.16l-1.54-0.181l-2.59,0.41l-1.91-1.15l-2.57,0.36l-1.63-0.98l-3.08,0.03l0.15-0.93l-1.35-0.58l-0.561,0.81
							l-3.26,1.16l-3.521-0.39l0,0l1.45-2.93l0.73-2.091l-0.58-3.25l0.41-3.21l-0.04-2.55l0.96-1.75l0,0l3.63,0.021l0.71-0.38l0.53,0.01
							l1.06,0.24l0.311,0.51l2.029,1.41l2.681,0.029l2.34-0.58l5.29,1.681l4.26,0.359l1.02,0.63l0.17,0.41l1.57,1.181l3.771,0.42
							l4.25-0.13l1.33,1.899l0.18-0.5l0.74-0.38l0.92-0.02l0.87-0.86l-0.851-2.99l0.69-1.58l0.72-0.779l2-1.141l3.57,0.4l1.87-0.97
							l0.729-0.87l0.59-1.48l1.53-0.649l1.11-0.141l1.42,0.76l0.81,0.03l2.33-0.17l2.84-0.729l0.75,0.01l1.04,0.399l3.12,2.601l1.23,0.62
							l1.439,0.159l3.351-2.13l1.35-1.43l1.56-0.57l0.12,0.391l0.761,0.069l1.739-0.229l0.33-0.44l5.24,0.03l0,0l-0.39,1.32l0.51,1.649
							l-0.07,0.391l-1.5,1.14l-0.979-0.479l-0.82-2.53l-0.021,1.12l0.591,2.72l1.71,1.66l0.56,0.95l-1.01,2.29l-0.16,2.319l0.1,0.431
							l0.761,0.729l0.26,5.86l0.31,0.55l0.431,0.2l0.77-0.511l0.35,0.721l0.101,0.87l-0.47,0.06l-0.431-0.28l-1.189,0.63l-0.34,3.841
							l0.569,2.59l-0.569,0.75l0.31,1.93l0.91,1.88l-0.86,2.34l-0.52,4.011l-1.71,4.68l-0.34-0.1l-0.36-0.761l0.21-0.97l-0.92-1.18
							l-0.26,0.33l0.18,2.43l1.16,0.83l-0.92,1.66l-1.641,0.649l-4.13,3.04l-2.8,2.561l-3.75,4.439L130.3,124.676z M148.18,98.126
							l-0.149-0.47l0.25-1.75l0.76-2.4l-0.4-1.18l0.16-1.021l1.4-0.76l0.22,0.061l0.66,0.939l-0.54,2.561l-0.82,0.859l-0.59,1.22
							l0.2,1.17L148.18,98.126z M147.73,73.756l-1.87-2.02l2.55-2.44l0.25,0.04l0.649,1.05l-0.859,1.32L147.73,73.756z"/>
					</g>
					</svg>
				</div>

			</div>
		</div>
		<div class="region-map__initial" id="region-uf">Rj</div>
	</div>
	<div class="region-map__box">
		<input type="checkbox" class="region-map__checkbox" id="other-destinations" name="other-destinations" value="">
		<label for="other-destinations" class="region-map__box-title">Other destinations around<strong>city of Rio de Janeiro</strong></label>
		<i class="region-map__box-icon"></i>
		<div class="region-map__box-wrapper clearfix">
			{{card_hover.with_text(size="small", place="Paraty")}}
			{{card_hover.with_text(size="small", place="Paraty")}}
			<div class="region-map__box-link-wrapper"><a href="#" class="region-map__box-link">See more cities in the state of Rio de Janeiro</a></div>
		</div>
	</div>
</div>
{% endmacro %}
