{% macro default(noapi="") %}
<div class="region-map-maps {% if noapi %}region-map-maps--noapi{% endif %}" data-component="region-map-maps">
	<h2 class="title title--em title--iskra {% if noapi %}title--noapi{% endif %}">Map of region</h2>
	<div class="region-map-maps__map-wrapper {% if noapi %}region-map-maps__map-wrapper--noapi{% endif %}">
		<div class="region-map-maps__map-regions">
			<div class="region-map-maps__place-label">States part of this region</div>
			<div class="region-map-maps__place-text-wrapper"><span class="region-map-maps__place-text">Rio de Janeiro</span></div>
			<div class="region-map-maps__place-text-wrapper"><span class="region-map-maps__place-text">São Paulo</span></div>
		</div>
		<div class="region-map-maps__map-image"></div>
		{% if noapi %}<button class="btn-get-region">See the map of region on google maps</button>{% endif %}
	</div>

	{% if not noapi %}
	<div id="map" data-component="map" data-page="regiao" class="region-map-maps__map-maps map"></div>
	{% endif %}
</div>
{% endmacro %}
