{% macro default(title, itens, externalLink, type, isfixed, color) %}
<div data-component="related-links" class="related-links{% if type %} related-links--{{type}}{% endif %} {% if isfixed %}related-links--fixed{% endif %} {% if color %}related-links--{{color}}{% endif %}">
	<h2 class="related-links__title">{{title}}</h2>
	<ul class="related-links__list">
	{% for item in itens %}
		<li class="related-links__list--bullet">
			<a class="related-links__list--item {% if externalLink %}external-link external-link--no-bold {% endif %}" href="#">{{item}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endmacro %}
