{% import "html-parts/components/custom-checkbox.html" as checkbox %}
{% macro default() %}
<div data-component="search" class="search">
	<div class="search__top-wrapper">
		<div class="container">
			<div class="search__header clearfix">
					<div class="search__logo"></div>
					<a href="#" class="search__close-btn"></a>
			</div>
			<div class="search__input">
				<div class="search__input-content">
					<div class="search__input-start-type search__blue-title">Start typing...</div>
					<div class="search__input-wrapper">
						<div class="ui-widget">
							<label for="tags">Tag programming languages: </label>
							<input type="text" id="search-input" name="search" value="" placeholder="destinations, attractions, regions...">
						</div>
						<a href="" id="exit" class="search__close-search"></a>
						<span class="search__input-icon-search"></span>
					</div>
					<div class="search__autocomplete hidden">
						<div class="search__autocomplete-text"><span class="search__autocomplete-term"><span>Rio</span> de Janeiro</span> <span class="search__autocomplete-categorie">in <strong>Destinations</strong><span></div>
						<div class="search__autocomplete-text"><span class="search__autocomplete-term"><span>Rio</span> Bonito</span> <span class="search__autocomplete-categorie">in <strong>Regions</strong><span></div>
						<div class="search__autocomplete-text"><span class="search__autocomplete-term"><span>Rio</span> de Janeiro</span> <span class="search__autocomplete-categorie">in <strong>Attractions</strong><span></div>
					</div>

					<div class="search__results-founded">
						<strong>76</strong> results found
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="search__wrapper">
		<div class="search__no-results">
			<div class="search__no-results-title">
				Your search did not<br> return any content
			</div>
			<div class="search__no-results-text">
				Please make sure all words are spelled correctly or try different keywords.
				You can also browse popular
				searches below.
			</div>
		</div>

		<div class="search__searched-terms">
			<p class="search__blue-title--border">Most searched terms</p>
			<ul>
				<li class="search__searched-terms-list"><a href="#">Rio de Janeiro</a></li>
				<li class="search__searched-terms-list"><a href="#">surf</a></li>
				<li class="search__searched-terms-list"><a href="#">carnaval</a></li>
				<li class="search__searched-terms-list"><a href="#">Florianópolis</a></li>
				<li class="search__searched-terms-list"><a href="#">beaches</a></li>
			</ul>
		</div>
	</div>
</div>
{% endmacro %}
