{% import "html-parts/components/custom-checkbox.html" as checkbox %}
{% macro default() %}
<div data-component="search" class="search">
	<div class="search-wrap">
		<div class="search__top-wrapper">
			<div class="container">
				<div class="search__header clearfix">
						<div class="search__logo"></div>
						<a href="#" class="search__close-btn"></a>
				</div>
				<div class="search__input">
					<div class="search__input-content">
						<div class="search__input-start-type search__blue-title">Start typing...</div>
						<div class="search__input-wrapper">

							<input type="text" id="search-input" class="typeahead" name="search" value="" data-suggest-url="/files/search.json" placeholder="destinations, attractions, regions...">
							<a href="" id="exit" class="search__close-search"></a>
							<span class="search__input-icon-search"></span>
						</div>
						<div class="search__autocomplete hidden"></div>

						<div class="search__results-founded">
							<strong>76</strong> results found
						</div>
					</div>

					<div class="search-filter hide">
						<a href="#" class="search-filter__button">
							<span>Filter by <br>
								<span>type of content<span>
							</span>
						</a>
						<div class="search-filter__wrapper clearfix">
							<ul class="search-filter__list">
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='All', name='All')}}</li>
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='Attractions', name='Attractions')}}</li>
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='Destinations', name='Destinations')}}</li>
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='Regions', name='Regions')}}</li>
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='Experiences', name='Experiences')}}</li>
								<li class="search-filter__list-item">{{checkbox.default(type='normal', label='Blog', name='Blog')}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="search__wrapper">
			<div class="search__results">
				<div class="search__categorie" data-categorie="destinations">
					<div class="search__categorie-title"><div class="container">Destinations <span>(showing <strong>3</strong> of <strong>37</strong>)</span></div></div>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin dolor sit amet lacus accumsan et viverra justo commod roin sodales pulvina...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>

					<button class="btn-default btn-default--small-blue">Show all destinations</button>

				</div>

				<div class="search__categorie" data-categorie="regions">
					<div class="search__categorie-title"><div class="container">Regions <span>(showing <strong>3</strong> of <strong>37</strong>)</span></div></div>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin dolor sit amet lacus accumsan et viverra justo commod roin sodales pulvina...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>

					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin dolor sit amet lacus accumsan et viverra justo commod roin sodales pulvina...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin dolor sit amet lacus accumsan et viverra justo commod roin sodales pulvina...
							</blockquote>
						</div>
					</a>
					<a href="#" class="search__categorie-wrapper clearfix">
						<div class="search__categorie-photo"></div>
						<div class="search__categorie-description">
							<span>City of <strong>Rio</strong> de Janeiro</span>
							<blockquote>
								Lorem ipsum <strong>Rio</strong> de Janeiro sit amet, consectetur...
							</blockquote>
						</div>
					</a>

					<button class="btn-default btn-default--small-blue">Show all destinations</button>

				</div>
			</div>
			<div class="search__searched-terms">
				<p class="search__blue-title--border">Most searched terms</p>
				<ul>
					<li class="search__searched-terms-list"><a href="#">Rio de Janeiro</a></li>
					<li class="search__searched-terms-list"><a href="#">surf</a></li>
					<li class="search__searched-terms-list"><a href="#">carnaval</a></li>
					<li class="search__searched-terms-list"><a href="#">Florianópolis</a></li>
					<li class="search__searched-terms-list"><a href="#">beaches</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
