{% macro default(type='', align='', color='') %}
<div data-component="share" class="share{% if align %} share--{{align}}{% endif %} {% if type %} share--{{type}}{% endif %} {% if color %} share--{{color}}{% endif %}">
	<span class="share__label">Share</span>

	<ul class="share__list">
		<li class="share__item">
			<a href="#" data-textShare="Text Share ..." class="share__item-social share__item-social--twitter">Twitter</a>
		</li>
		<li class="share__item">
			<a href="#" class="share__item-social share__item-social--facebook">Facebook</a>
		</li>
		<li class="share__item">
			<a href="#" class="share__item-social share__item-social--plus">Google plus</a>
		</li>
		<li class="share__item">
			<a href="#" class="share__item-social share__item-social--share">Share</a>
		</li>
	</ul>
</div>
{% endmacro %}
