{% macro default() %}
<form class="imprensa__contact-form" action="">

	<div data-component="box-msg-error" class="box-msg-error">
		<span><strong>All</strong> fields are required</span>
		<a href="#" class="box-msg-error__btn-close-error"></a>
	</div>

	<fieldset>
		<div class="imprensa__contact-block imprensa__contact-name">
			<label class="imprensa__contact-label" for="contactName">Nome</label>

			<div class="imprensa__contact-field ">
				<input id="contactName" type="text" name="name">
			</div>
		</div>

		<div class="imprensa__contact-block imprensa__contact-phone">
			<label class="imprensa__contact-label" for="contactPhone">Phone</label>

			<div class="imprensa__contact-field ">
				<input id="contactPhone" type="text" name="phone">
			</div>
		</div>

		<div class="imprensa__contact-block imprensa__contact-email">
			<label class="imprensa__contact-label" for="contactEmail">Email</label>

			<div class="imprensa__contact-field ">
				<input id="contactEmail" type="text" name="email">
			</div>
		</div>

		<div class="imprensa__contact-block imprensa__contact-organization">
			<label class="imprensa__contact-label" for="contactOrganization">Organization</label>

			<div class="imprensa__contact-field ">
				<input id="contactOrganization" type="text" name="organization">
			</div>
		</div>

		<div class="imprensa__contact-block imprensa__contact-subject">
			<label class="imprensa__contact-label" for="contactSubject">Subject</label>

			<div class="imprensa__contact-field ">
				<input id="contactSubject" type="text" name="subject">
			</div>
		</div>
		<div class="imprensa__contact-block imprensa__contact-message">
			<label class="imprensa__contact-label" for="contactMessage">Message</label>

			<div data-component="count-down" class="imprensa__contact-field ">
				<textarea id="contactMessage" name="message" maxlength="350"></textarea>
				<p class="counter"><span id="chars">350</span> characters</p>
			</div>
		</div>
		<div>
			<div class="imprensa__contact-block imprensa__contact-block--send">
				<button type="submit" name="send" class="btn-simple btn-simple--new-green">Send</button>
			</div>
			<div class="imprensa__contact-block imprensa__contact-block--success">
				<span class="btn-simple imprensa__contact-button imprensa__contact-button--success"> </span>

				<div class="imprensa__contact-block imprensa__contact-block--nomargin">
					<p>Your message has been sent successfully</p>
				</div>
			</div>
		</div>
	</fieldset>
</form>
{% endmacro %}
