{% macro default(type='') %}
<div data-component="trending-blog" class="trending-blog{% if type %} trending-blog--{{type}}{% endif %}">
	<ul class="trending-blog__list">
		{% for i in range(0, 3) -%}
		<li class="trending-blog__item-list">
			<a href="#">
				<figure class="trending-blog__image"><img src="/images/img-trending-blog.jpg" alt=""></figure>
				<p class="trending-blog__description">Surf along the Brazilian coast and the incredible Pororoca waves</p>
			</a>
		</li>
		{%- endfor %}
	</ul>
</div>
{% endmacro %}
