{% macro default(title='', type='', leftBox='Electronic nightlife in Rio', rightBox='Best places to catch stunning sunsets over Rio de Janeiro') %}
<div data-component="trending" class="trending{% if type %} trending--{{type}}{% endif %}">
	<h5 class="trending__title">{{title}}</h5>

	<ul class="trending__list">
		{% for i in range(0, 3) -%}
		<li class="trending__item-list">
			<a href="#">
				<figure class="trending__image"><img src="/images/trending-fake-image.jpg" alt=""></figure>
				{% if type == 'center' %}
				<p class="trending__description">{{leftBox}}</p>
				{% else %}
				<p class="trending__description">{{rightBox}}</p>
				{% endif %}
			</a>
		</li>
		{%- endfor %}
	</ul>
</div>
{% endmacro %}
