{% macro default() %}
<div data-component="user" class="user">
	<div class="user__button">
		<span class="user__name">Alexandre</span>
	</div>

	<ul class="user__list">
		<li class="user__list-item">
			<a href="#" class="user__list-item-link user__list-item-link--edit">Edit information</a>
		</li>
		<li class="user__list-item">
			<a href="#" class="user__list-item-link user__list-item-link--logout">Logout</a>
		</li>
	</ul>
</div>
{% endmacro %}
