{% import "html-parts/components/custom-combobox.html" as combobox %}

{% macro default(small='', theme="") %}
<div data-component="weather" class="weather {% if small %} weather--small {% endif %}">
	{% if small %}
		<a href="#" class="weather--small__button">
			<span class="weather--small__button-inside"></span>
			<span class="weather--small__button-outside"></span>
		</a>
	{% endif %}
	<div class="weather__wrapper">
		{% if small %}<div class="weather--small__arrow"></div>{% endif %}
		<div class="weather__degree-wrapper">
			<div class="weather__degree weather__degree--now">
				<span class="weather__degree-title weather__degree-title--margin weather__degree-title--now">Now</span>
				<span class="weather__degree-number weather__degree-number--now {% if theme %} weather__degree-number--{{theme}} {% endif %}">42º<span>c</span></span>
				<span class="weather__now-status">Mostly Cloud</span>
			</div>
			<div class="weather__scale">
				<span class="weather__degree-title weather__degree-title--margin">Scale</span>

				<div class="weather__scale-switch" data-component="weather-scale">
					<span class="weather__scale-switch-text {% if theme %} weather__scale-switch-text--{{theme}} {% endif %}"><span>Cº</span></span>
					<span class="weather__scale-switch-text {% if theme %} weather__scale-switch-text--{{theme}} {% endif %} active"><span>Fº</span></span>
				</div>
			</div>

			<div class="weather__degree weather__degree--average">
				<span class="weather__degree-title weather__degree-title--average">Average</span>
				<span class="weather__degree-number weather__degree-number--average">39º<span>c</span></span>
			</div>

			<div class="weather__degree weather__degree">
				<span class="weather__degree-title weather__degree-title--low">Low</span>
				<span class="weather__degree-number weather__degree-number--low">26º<span>c</span></span>
			</div>
		</div>

		<div class="weather__temperaturesin">
			<span class="weather__degree-title weather__degree-title--margin">Temperatures IN</span>
			{{combobox.default(value=[
					'Janeiro',
					'Fevereiro',
					'Março',
					'Abril',
					'Maio',
					'Janeiro',
					'Fevereiro',
					'Março',
					'Abril',
					'Maio'
				]
		)}}
		</div>
	</div>
</div>
{% endmacro %}
