{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/card.html" as card %}
{% import "html-parts/components/newsletter.html" as newsletter %}
{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/trending.html" as trending %}
{% import "html-parts/components/alert.html" as alert %}

{% block content %}
	<div class="home__banner">
		{{destaque.home(with_mark="true", image="/images/bg-home-desktop.png", text="5 best beaches in the state of Rio de Janeiro", button="true")}}
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
		{{alert.global(theme="green", icon="notebook")}}
	</div>
	<div class="home__content-wrapper home__content-wrapper--top">
		{{trending.default(title='Trending Now', type='center')}}

		<h2 class="title title--iskra title--2 title--em ">Enjoy wonderful experiences in Brazil</h2>

		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			</div>
			<br>
			<button class="btn-default">See all experiences</button>
		</div>
	</div>

	<div class="home__content-wrapper" style="background-image: url(images/__background01.jpg)">
		<h2 class="title title--iskra title--2 title--white title--strong-shadow">Unforgettable places</h2>
		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--white">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			</div>
			<br>
			<button class="btn-default">See all experiences</button>
		</div>
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
	</div>
	<div class="home__essenstial-information">
		{{essentialInformation.default(1)}}
	</div>
	<div class="home__newsletter">
		<div class="home__photo-description">{{photoDescription.default()}}</div>
		{{newsletter.default()}}
	</div>
{% endblock %}
