{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/share.html" as share %}

{% import "html-parts/components/add-favorite.html" as addFavorite %}

{% import "html-parts/components/weather.html" as weather %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/region-map.html" as map %}

{% import "html-parts/components/mosaico.html" as mosaico %}

{% import "html-parts/components/more-activities.html" as activities %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Destinations', 'Rio de Janeiro', 'Surf'])}}
<div class="atividade">
	<div class="atividade__wrapper clearfix">
		<div class="atividade__title-wrapper">
			<span class="atividade__icon"></span>
			<h1 class="atividade__title title title--2 title--iskra title--light-green ">Surf</h1>
		</div>
		<div class="atividade__widgets-wrapper">
			<span class="atividade__widget atividade__share">{{share.default()}}</span>
			<span class="atividade__widget atividade__favorite">{{addFavorite.default(id='2', category='Activity', title='Surf no Rio de Janeiro', description='Surf no Rio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. dfsg fveverv frvervr df ddd dfrcwef rfgrvrw gferwg.')}}</span>
			<span class="atividade__widget atividade__weather">{{weather.default(small='true')}}</span>
		</div>
		<div class="atividade__mapa-wrapper">
			<div class="atividade__mapa">
				<div id="map" data-component="map" data-page="atividade" class="map"></div>

				<div class="atividade__mapa-info">
					<span class="atividade__icon atividade__icon--location"></span>
					<h2 class="atividade__location"><a href="#">Rio de Janeiro / RJ</a></h2>
					<h3 class="atividade__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="atividade__cards atividade__cards--sou-gray">
	<h2 class="title title--2 title--iskra title--sou-gray">Best Surfing Spots in <br class="db-mobile"><strong class="title--em">Rio de Janeiro</strong></h2>
		<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Barra da Tijuca beach', dataText='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Ipanema beach', dataText='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Leblon beach', dataText='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Arpoador beach', dataText='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Itacotiara beach', dataText='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
		</div>
		<button class="btn-default">37 more attractions</button>
	</div>
	<br>
	<div class="destino__mosaico">

		<h2 class="container title title--2 title--iskra title--em">
			<strong class="title title--3 title--iskra title--sou-gray">Do you like surf?</strong> <br> See our recommendations!
		</h2>

		{{mosaico.default(type='small')}}
	</div>
	<div class="atividade__cards atividade__cards--bd-gray atividade__see-more">
		<h2 class="container title title--2 title--iskra title--sou-gray">See more <strong class="title--em">surf</strong> sports in <strong class="title--em">Brazil</strong></h2>
		<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
			<div>{{ card.default(bodySize=1, footerType='geoloc', dataTitle='Baia Formosa', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', txtGeoloc='Recife, PE') }}</div>
			<div>{{ card.default(bodySize=1, footerType='geoloc', dataTitle='Boca da Barra', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', txtGeoloc='Angra dos Reis, RJ') }}</div>
			<div>{{ card.default(bodySize=1, footerType='geoloc', dataTitle='Cacimba do Padre', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', txtGeoloc='Fernando de Noronha, PE') }}</div>
			<div>{{ card.default(bodySize=1, footerType='geoloc', dataTitle='Itamambuca beach', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', txtGeoloc='Ubatuba, SP') }}</div>
			<div>{{ card.default(bodySize=1, footerType='geoloc', dataTitle='Pico das Almas', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', txtGeoloc='Ubatuba, SP') }}</div>
		</div>
		<button class="btn-default">37 more attractions</button>
	</div>
	<div class="atividade__more-activities">
		{{activities.default(txt='More activities in the ', txt2='Rio de Janeiro')}}
	</div>
</div>

{% endblock %}
