{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/share.html" as share %}
{% import "html-parts/components/add-favorite.html" as addFavorite %}
{% import "html-parts/components/mosaico.html" as mosaico %}
{% import "html-parts/components/author.html" as author %}
{% import "html-parts/components/related-links.html" as relatedLinks %}
{% import "html-parts/components/download-pdf.html" as downloadPdf %}


{% block content %}

<div class="blog-internal">

	{{destaque.home(with_mark="false", image="/images/bg-editorial-post.jpg", text="Electronic nightlife in Rio de Janeiro")}}

	<div class="internal-article internal-article--post container">
		<article class="internal-article__article content-editor">
			<header class="internal-article__header">
				<div class="internal-article__author">
					{{author.with_photo()}}
				</div>
				<h2 class="internal-article__title internal-article__title--featured">Meet the main houses that offer good partys for electronic music lovers</h2>

				<div class="internal-article__header-share">{{share.default()}}</div>
				<div class="internal-article__add-to-favorites">{{addFavorite.default(id='5', category='Conteúdo editorial', title='Electronic nightlife in Rio de Janeiro', description='Electronic nightlife. Lorem ipsum dolor sit amet, consectetur adipisicing elit. dfsg fveverv frvervr df ddd dfrcwef rfgrvrw gferwg.')}}</div>
			</header>

			<p>Quem curte música eletrônica, sabe como é chato cair na balada errada e ser obrigado a ouvir música ruim. Se você também está cansado de rolê errado, então se liga no roteiro com as principais casas que oferecem programação para os amantes de música eletrônica - das mais diferentes vertentes:</p>

			<h2 class="internal-article__title">Em Botafogo</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>A <a href="#" class="external-link">Casa da Matriz</a> é mais uma das boas opões de entretenimento no bairro de Botafogo, e possui uma programação baseada em festas fixas, como a festa Veneno, Paradiso e Brazooka entre outras. No local se encontra diversos tipos de cervejas importadas e oferece drinks típicos de balada. A música das pistas de dança é bem variada.</p>
			<p>Possui também um salão ou lounge, local para exposições fotografias e artes plásticas. Existe também no local sala de vídeo, e video game.</p>
			<p>A <a href="#" class="external-link">Pista 3</a> fica muito perto da <a href="#" class="external-link">Casa da Matriz </a>. Esta casa deu força, revitalizou e impulsionou a noite da rua São João Batista no bairro de Botafogo. Hoje em dia são encontrados no local bares que se mantém abertos 24 horas por dia.</p>
			<p><a href="#" class="external-link">O Pistache</a> é um restaurante com música de DJ. A programação é variada e varia do House, ao Funk e Sertanejo. Durante a semana tem DJ no Happy Hour, e na Sexta e Sábado a música vai noite adentro.</p>
			<p>A casa possui um freguesia composta de empresários, profissionais liberais, publicitários e membros de empresas que tem sua sede em Botafogo.</p>
			<p>O local também tem estrutura para festas particulares e de empresas.</p>

			<div class="internal-article__related-links">
				{{relatedLinks.default(
					title='Aditional Links',
					itens=['Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur'],
					externalLink= 'true',
					type= 'inline',
					isfixed= 'true'
				)}}
			</div>

			<h2 class="internal-article__title">Praça Mauá e Saúde</h2>

			<p>O Cabaret Kalesa agora é <a href="#" class="external-link">Kalesa Lounge </a> e esta integrado compromisso com a revitalização da Praça Mauá e cercanias.</p>
			<p>O local apresenta música brasileira e de DJs. No local já existiram muitos "infeninhos" que hoje se encontram em extinção. A programação e o estilo da casa é irreverente e frequentado por público jovem.</p>
			<p>A <a href="#" class="external-link">The Week danceteria </a> é uma casa GLS ou voltada para baladas Gays. Se trata de uma filial de São Paulo que se instalou em um antigo casarão no bairro da Saúde, antiga zona portuária do Rio de Janeiro.</p>
			<p>A Saúde, que fica próxima à Praça Mauá, se encontra em revitalização e tem contado com a instalação de inúmeras casas noturnas.</p>

			<h2 class="internal-article__title">Barra da Tijuca</h2>

			<p>A casa noturna <a href="#" class="external-link">Nuth </a> casa possui restaurante, música de DJ e pista de dança. No local também se realizam eventos. O projeto de decoração da casa inaugurada em 200 é de autoria de Cláudio Bernardes e Paulo Jacobsen. A casa é também uma boate a céu aberto, com um belo paisagismo e um lago com carpas.</p>

			<h2 class="internal-article__title">Ipanema</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>Fica no coração de Ipanema a <a href="#" class="external-link">Baronneti</a> danceteria e boate da moda, famosa na noite carioca e muito frequentada pela juventude.</p>
			<p>O <a href="#" class="external-link">Baretto Londra</a> é um local sofisticado frequentado por celebridades e clientela de posse e privilegiado. Situa-se no Hotel Fasano, Arpoador, próximo à Ipanema, na Av. Vieira Souto. É mais um bar e pub que que possui uma sonorização fantástica segundo os criadores do local. É aconselhável reservar antes uma mesa para não ficar de fora.</p>
			<p>Madonna e Gisele Bundchen já se hospedaram no hotel, e certamente curtiram os drinks do bar.</p>
			<p>A <a href="#" class="external-link">Boox </a> é um híbrido de restaurante e bar, situado em endereço nobre, no bairro de Ipanema. O restaurante oferece pratos baseados na gastronômia Italiana sob o comando de um talentoso chef. Para animar o ambiente, existe uma trilha sonora comandada por um DJ. Normalmente, na chegada dos primeiros clientes e início da noitada, o som é mais calma. À medida que a noite a avança, geralmente por volta de 1 hora o DJ passa a animar o ambiente com house music.</p>
			<p>A danceteria <a href="#" class="external-link">Dama de Ferro</a> é um dos espaços da noite do Rio muito frequentado pelo público GLS. Situa-se na famosa rua Vinicius de Morais, no centro de Ipanema. A casa é um projeto que mistura um lounge, club, bar e galeria de arte.</p>
			<p>O <a href="#" class="external-link">Galeria Café</a> é um espaço que oferece uma vasta programação envolvendo exposições de arte e até peças teatrais, quando então o público se acumula ao redor do espaço no térreo onde atores podem representar. A casa ficando cheia, a escada que leva ao mezanino também serve de local para a platéia assim como o próprio mezanino. O local tem música com DJ espaço para dança, sendo a programação variada dependendo do dia da semana.</p>

			<h2 class="internal-article__title">Copacabana</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>A Mariuzinn <a href="#" class="external-link">Disco Club </a> o nome Maiuzinn decorre da junção do antigo nome do club noturno, que se chamava Mariu´s Inn, e situava-se no Posto 6, em Copacabana.</p>
			<p>Mariuzinn danceteira e disco club em Copacabana. Embora tenha mudado de seu local original, a boate existe desde 1962, sendo uma das mais conhecidas e tradicionais da noite carioca. Atualmente está instalada em uma galeria de um prédio, no mesmo bairro de Copacabana.</p>
			<p>O <a href="#" class="external-link">Fosfobox </a> é um ambiente bem informal, que se apresenta como alternativo. É um local de música eletrônica, rock and roll, pop e hip hop. Frequentado por um público jovem e descontraído.	No local também são apresentadas performances, peças de teatro, às vezes cinema e outros tipo de manifestações e agitações artísticas.</p>
			<p>O <a href="#" class="external-link">La Girl </a> um espaço e danceteria dedicado somente ao público "lesbian-chic", como enfatiza a casa. Ou seja, voltado para mulheres que preferem dançar com mulheres. Situa-se no posto 6, em Copacabana.</p>
			<p>A <a href="#" class="external-link">Lê Boy </a> boate Gay GLS dedicada ao público masculino também localizada no posto 6 em Copacabana. Reza a lenda que o costureiro francês, Jean Paul Gaultier, o preferido da cantora Madonna já visitou a boate quando esteve no Rio.</p>

			<h2 class="internal-article__title">Conteúdo com Video</h2>

			<div class="internal-article__video">
				<iframe class="internal-article__video-embed" src="https://www.youtube.com/embed/ll8l4cpO8bM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<p>Passing through the endless skyscraper forest of Sao Paulo can be an intimidating scene for a solo traveler trying to understand the city.</p>
			<p>With so much ground to cover in a limited time, I felt overwhelmed trying to decide which way to go first.</p>
			<p>Thankfully, over the past five years of traveling around Latin America, I’ve developed a strategy for getting started in a new city.</p>

			<footer class="internal-article__footer">
				<div class="internal-article__footer-share">{{share.default('big', 'center')}}</div>

				<hr class="internal-article__sep">

				<div class="internal-article__download-pdf">{{downloadPdf.default(color='green')}}</div>
			</footer>
		</article>

	</div>

	<div class="blog-internal__mosaico">
		<h3 class="title title--2 title--iskra title--em">See our recommendations!</h3>
		{{mosaico.default(type='big')}}
	</div>

</div>

{% endblock %}
