{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card.html" as card %}

{% block content %}

<div class="error-page">
	{{destaque.errorPage()}}
	<div class="destino__cards destino__cards--sou-gray">
	<h2 class="error-page__title title title--2 title--iskra title--light-green">We help you to find your way</h2>
	<strong class="error-page__subTitle title title--sou-gray">Here are some suggestions</strong>
		<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Florianópolis', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Bonito', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Foz do Iguaçu', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
			<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Jeriquaquara', dataText='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.') }}</div>
		</div>
		<br>
		<button class="btn-default">See all destinations</button>
	</div>
</div>

{% endblock %}
