{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/featured-posts.html" as featuredPosts %}
{% import "html-parts/components/trending-blog.html" as trendingBlog %}
{% import "html-parts/components/editor-post.html" as editorPost %}
{% import "html-parts/components/popular-posts.html" as popularPosts %}

{% block content %}

<div class="blog">

	<section class="blog__highlights">
		<div class="container">
			<header class="blog__header-highlights">
				<h1 class="title--iskra title--white blog__title-main">Brazil <span class="title--iskra blog__title-main-small">travel journal</span></h1>
			</header>

			<div class="blog__initial-text">
				<p>Here you will find all articles of Visit Brazil, including guides to enjoy beaches and other attractions, travel itineraries and stories that you can live here.</p>
				<p class="blog__hidden-desktop">Have a story to share with us, <a href="mailto:e-mail_blog@email.com" class="blog__initial-text-link">send us an e-mail</a></p>
			</div>

			<div class="blog__main-highlights">
				<h2 class="blog__title-default">Recent posts</h2>

				{{featuredPosts.default(
					image='/images/img-post-blog-big-desk.jpg',
					imageMobile='/images/img-post-blog-big-mobile.jpg',
					title='10 things you cannot miss in Paraty',
					text='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
					type='big'
				)}}

				{{featuredPosts.default(
					image='/images/img-post-blog-medium-desk.jpg',
					imageMobile='/images/img-post-blog-medium-mobile.jpg',
					title='Meet paradise that enchanted Charles Darwin - yes, it is in Brazil!',
					text='',
					type='medium'
				)}}

				{{featuredPosts.default(
					image='/images/img-post-blog-small-desk.jpg',
					imageMobile='/images/img-post-blog-small-mobile.jpg',
					title='20 waterfalls to wash your soul',
					text='',
					type='small'
				)}}

				<a href="#" class="btn-read-more" data-filter="Blog" data-search--click>Read more articles</a>
			</div>
		</div>
	</section>

	<section class="blog__editor-corner">
		<div class="container">
			<aside class="blog__trending-now">
				<h2 class="blog__title-default">Trending now</h2>

				{{trendingBlog.default()}}
			</aside>

			<div class="blog__box-send-email blog__hidden-mobile">
				<p>Have a story to share with us, <a href="mailto:e-mail_blog@email.com" class="blog__initial-text-link">send us an e-mail</a></p>
			</div>

			<div class="blog__main-content">
				<h2 class="blog__title-default">Editor's corner</h2>
				<p class="blog__top-text-editors">Some suggestions from our beloved editors.</p>

				<article class="blog__editor-post">
					{{editorPost.default(capa='true', details='true')}}
				</article>
				<article class="blog__editor-post">
					{{editorPost.default(capa='true')}}
				</article>
				<article class="blog__editor-post">
					{{editorPost.default(capa='false')}}
				</article>

				<button class="btn-load-more">Load more</button>
			</div>
		</div>
	</section>

	<section class="blog__popular-posts">
		<div class="container">
			<h2 class="blog__title-default">5 most popular posts</h2>
		</div>

		<div class="container">
			{{popularPosts.default()}}
		</div>
	</section>

</div>

{% endblock %}
x
