{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% import "html-parts/components/custom-input-date.html" as inputdatepicker %}

{% block content %}
<div class="eventos">
	{{breadcrumb.default(itens=['Home', 'Events'])}}
	<div class="eventos__banner">
		{{destaque.eventos()}}
		<div class="eventos__photo-description eventos__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
	</div>

	<div class="eventos__content-wrapper eventos__content-wrapper--top">
		{{trending.default(title='Trending Now', type='center')}}

		<h2 class="title title--iskra title--2 title--em">Looking for a specific event?</h2>
		<p class="eventos__block-text">
			Find out everything that is happening in Brazil at the time of your trip. Parties, religious and cultural festivals and more.
		</p>
	</div>
	<div class="display-events">
		<div class="display-events__search">
			<div class="display-events__search-field display-events__search-field--select">
				<span>Interest</span>
				{{combobox.default(value=[
						'Janeiro',
						'Fevereiro',
						'Março',
						'Abril',
						'Maio',
						'Janeiro',
						'Fevereiro',
						'Março',
						'Abril',
						'Maio'
					]
				)}}
			</div>
			<div class="display-events__search-field display-events__search-field--input">
				<span>Destination</span><div data-component="basic-tooltip" data-tooltip="Lorem Ipsum" class="eventos__tooltip"></div>
				<input type="text" class="display-events__custom-input">
			</div>
			<button class="btn-simple">Search</button>
		</div>
		<div class="display-events__display">
			<div class="display-events__display-wrapper">
				<strong class="display-events__title">Displaying events from</strong>
				<div class="display-events__combos">
					{{inputdatepicker.default()}}
				</div>
				<span class="display-events__text">to</span>
				<div class="display-events__combos">
					{{inputdatepicker.default()}}
				</div>
				<!-- <button class="btn-simple">Change</button> -->
			</div>
		</div>
		<div class="search-list__results-wrapper clearfix">
			<div data-cards-carousel--pagination class="cards-carousel">
				<div>{{ card.default(bodySize=2, footerType='geoloc', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}</div>
				<div>{{ card.default(bodySize=2, footerType='geoloc', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}</div>
				<div>{{ card.default(bodySize=2, footerType='geoloc', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}</div>
				<div>{{ card.default(bodySize=2, footerType='geoloc', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}</div>
				<div>{{ card.default(bodySize=2, footerType='geoloc', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.') }}</div>
			</div>
		</div>
		<div class="search-list__results-pagination">
			{{pagination.default()}}
		</div>
	</div>

</div>

{% endblock %}
