{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}
<div class="destinos">
	{{breadcrumb.default(itens=['Home', 'Destinations'])}}
	{{destaque.destinos()}}

	<div class="destinos__wrapper destinos__find-place">
		<h2 class="destino__title title title--iskra title--2 title--sou-gray">Find a <strong class="title--em">perfect place</strong> for your trip</h2>

		<div class="search-list" data-component="search-list">
			<div class="search-list__text">Choose your <span><button type="button" data-target="interests" class="search-list__button"><strong>3</strong> interest</button> and <button class="search-list__button" data-target="activity" type="button"><strong>7</strong> activity</button></span> <button class="btn-simple">Clear</button></div>

			<div class="search-list__wrapper" id="interests">
				<ul class="search-list__checklist clearfix">
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Sightseeing', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Skateboard', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cavalcade', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Walking', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Rollerblades', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Kitesurf', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Trekking', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cycling', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Stand up paddle (SUP)', name='checklist')}}</li>
				</ul>
				<div class="search-list__bts-options">
					<button class="btn-simple">OK</button>&nbsp;&nbsp;
					<a href="#" class="destino__select search-list__select-all">Select / Deselect all</a>
				</div>
			</div>

			<div class="search-list__wrapper" id="activity">
				<ul class="search-list__checklist clearfix">
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Sol e praia', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cultura', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Aventura', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Ecoturismo', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Esporte', name='checklist')}}</li>
				</ul>
				<div class="search-list__bts-options">
					<button class="btn-simple">OK</button>&nbsp;&nbsp;
					<a href="#" class="search-list__select-all">Select / Deselect all</a>
				</div>
			</div>

			<div class="search-list__results">
			<div class="search-list__results-wrapper clearfix">
					<div data-cards-carousel--pagination class="cards-carousel">
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>

						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
						<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
					</div>
				</div>
				<div class="search-list__results-pagination">
					{{pagination.default()}}
				</div>
			</div>

		</div>

	</div>

	<div class="destinos__wrapper destinos__cards">
		<h2 class="destino__title title title--iskra title--2 title--sou-gray">People from <strong class="title--em">United Kingdon</strong> love...</h2>
		{{card_hover.default(size="normal", place="Paraty")}}
		{{card_hover.default(size="normal", place="Bonito")}}
		{{card_hover.default(size="normal", place="Rio de Janeiro")}}
	</div>
</div>

{% endblock %}
