{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% import "html-parts/components/custom-input-date.html" as inputdatepicker %}

{% block content %}
<div class="experiencias">
	{{breadcrumb.default(itens=['Home', 'Experiences'])}}
	<div class="experiencias__banner">
		{{destaque.experiencias()}}
		<div class="experiencias__photo-description experiencias__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
	</div>

	<div class="experiencias__content-wrapper">

		<h2 class="title title--iskra title--2 title--sou-gray">Find your <strong class="title--em">perfect experience!</strong></h2>
		<p class="experiencias__block-text">
			Experiences are travel itineraries with tips day by day, so that you enjoy the main attractions of each destination and live emotions you never foget.\
		</p>
	</div>
	<div class="display-events">
		<div class="display-events__search">
			<div class="display-events__wrapper">
				<div class="display-events__search-field display-events__search-field--select">
					<span>Interest</span>
					{{combobox.default(value=[
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio',
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio'
						]
					)}}
				</div>
				<div class="display-events__search-field display-events__search-field--select">
					<span>Activities</span>
					{{combobox.default(value=[
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio',
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio'
						]
					)}}
				</div>
				<div class="display-events__search-field display-events__search-field--select">
					<span>HOW LONG iS YOUR STAY?</span>
					{{combobox.default(value=[
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio',
							'Janeiro',
							'Fevereiro',
							'Março',
							'Abril',
							'Maio'
						]
					)}}
				</div>
				<div class="display-events__search-field display-events__search-field--input">
					<span>Destination </span><div class="display-events__answer">?</div>
					<input type="text" class="display-events__custom-input">
				</div>
			</div>
		</div>
		<div class="search-list__results-wrapper clearfix">
			<div data-cards-carousel--pagination class="cards-carousel">
				<div>{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}</div>
				<div>{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}</div>
				<div>{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}</div>
				<div>{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}</div>
				<div>{{ card.default(bodySize=3, footerType='title-text', dataTitle='Rio de Janeiro viewed from above', dataText='Combination of locations at high altitude to enjoy wonderful landscapes and adrenalin') }}</div>
			</div>
		</div>
		<div class="search-list__results-pagination">
			{{pagination.default()}}
		</div>
	</div>

</div>

{% endblock %}
