{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% block content %}
<div class="destinos">
	{{breadcrumb.default(itens=['Home', 'Destinations'])}}
	{{destaque.destinos()}}

	<div class="destinos__wrapper destinos__find-place">
		<h2 class="destino__title title title--iskra title--2 title--sou-gray">Find a <strong class="title--em">perfect place</strong> for your trip</h2>

		<div class="search-list" data-component="search-list">
			<div class="search-list__text">Choose your <br class="db-mobile"><span><button type="button" data-target="interests" class="search-list__button">interest</button> and <button class="search-list__button" data-target="activity" type="button">activity</button></span></div>

			<div class="search-list__wrapper" id="interests">
				<ul class="search-list__checklist clearfix">
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Sightseeing', name='checklist')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Skateboard', name='Skateboard')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cavalcade', name='Cavalcade')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Walking', name='Walking')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Rollerblades', name='Rollerblades')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Kitesurf', name='Kitesurf')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Trekking', name='Trekking')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cycling', name='Cycling')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Stand up paddle (SUP)', name='Stand-up')}}</li>
				</ul>
				<div class="search-list__bts-options">
					<button class="btn-simple">OK</button>&nbsp;&nbsp;
					<a href="#" class="search-list__select-all">Select / Deselect all</a>
				</div>
			</div>

			<div class="search-list__wrapper" id="activity">
				<ul class="search-list__checklist clearfix">
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Sol e praia', name='Sol')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Cultura', name='Cultura')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Aventura', name='Aventura')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Ecoturismo', name='Ecoturismo')}}</li>
					<li class="search-list__checklist-item">{{checkbox.default(type='normal', label='Esporte', name='Esporte')}}</li>
				</ul>
				<div class="search-list__bts-options">
					<button class="btn-simple">OK</button>&nbsp;&nbsp;
					<a href="#" class="destino__select search-list__select-all">Select / Deselect all</a>
				</div>
			</div>
		</div>

	</div>

	<div class="destinos__wrapper destinos__cards">
		<h2 class="destino__title title title--iskra title--2 title--sou-gray">People from <strong class="title--em">United Kingdon</strong> love...</h2>
		{{card_hover.default(size="normal", place="Paraty")}}
		{{card_hover.default(size="normal", place="Bonito")}}
		{{card_hover.default(size="normal", place="Rio de Janeiro")}}
	</div>
</div>

{% endblock %}
