{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/card.html" as card %}
{% import "html-parts/components/gallery.html" as gallery %}

{% block content %}

<div class="imprensa">
	<section class="imprensa__highlight-wrapper">
		{{destaque.imprensa()}}
		<div class="container imprensa__wrap-photo-description">{{photoDescription.default(type='bottom')}}</div>
	</section>
	<section class="imprensa__about">
		<div class="container">
			<p class="imprensa__about--paragraph">Here you can find <strong class="title--dark-gray title--em">press information</strong> and <strong class="title--dark-gray">support materia</strong>, ranging from images to formated clippings and press releases. You can also contact Embratur for further support and information, through our <a href="#" class="link">contact form</a>.</p>
			<p class="imprensa__about--paragraph">
				<button class="btn-default btn-default--orange">About Embratur's Press</button>
			</p>
		</div>

	</section>

	<section class="imprensa__search">
		<div class="container">
			<h2 class="destaque__title imprensa__search--title title title--sou-gray title--2">What are you <span class="title--orange">looking for</span>?</h2>
		</div>

		<div class="imprensa__search--wrapper">
			<div class="container">
				<form class="imprensa__form row">
					<div class="imprensa__form-col-search">
						<label class="imprensa__label" for="searchPress">Search</label>
						<div class="imprensa__form--search imprensa__field">
							<input type="text" class="imprensa__field--text" name="searchPress" id="searchPress" />
						</div>
						<button class="btn-simple btn-simple--orange imprensa__desk">Search</button>
					</div>

					<div class="imprensa__form-col">
						<label class="imprensa__label">Filter by niche</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboNiche"
						)}}
					</div>
					<div class="imprensa__form-col">
						<label class="imprensa__label">Filter by region or destination</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboRegion"
						)}}
					</div>
					<div class="imprensa__form-col">
						<label class="imprensa__label">&nbsp;</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboLocal"
						)}}

						<button class="btn-simple btn-simple--orange imprensa__mobile">Search</button>
					</div>
				</form>
			</div>
			<div class="imprensa__results-wrapper clearfix">
				<div class="container">
					<div data-component="press-tabs" class="imprensa__tabs">
						<ul class="imprensa__tabs-list">
							<li class="imprensa__tabs-item">
								<a href="#press-release" title="" class="imprensa__tabs-link">Press Releases <span class="label ">3 new</span></a>
								{% include "html-parts/partials/imprensa-press-release.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#press-images" title="" class="imprensa__tabs-link">Images</a>
								{% include "html-parts/partials/imprensa-images.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#press-videos" title="" class="imprensa__tabs-link">Videos</a>
								{% include "html-parts/partials/imprensa-videos.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#press-clipping" title="" class="imprensa__tabs-link">Clipping</a>
								{% include "html-parts/partials/imprensa-clipping.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#press-liveconference" title="" class="imprensa__tabs-link">Live Conferences </a>
								{% include "html-parts/partials/imprensa-live-conference.html" %}
							</li>
							<li class="imprensa__tabs-item imprensa__tabs-item--filter-results imprensa__tabs-item--active">
								<a href="#press-filter-results" title="" class="imprensa__tabs-link"></a>
								<div id="press-filter-results" class="imprensa__results imprensa__results--press-filter-results imprensa__results--no imprensa_tabs-content">
									<div class="result__no-result">
										<h3 class="result__no-result-title">Please make sure all words are spelled correctly or try different keywords.</h3>
										<p class="result__no-result-description">You can also browse popular searches below.</p>

										<div class="popular-search">
											<a href="#" class="popular-search__item">Rio de Janeiro</a>
											<a href="#" class="popular-search__item">Carnaval</a>
											<a href="#" class="popular-search__item">Beaches</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="imprensa__contact">
		<div class="container">

			<h2 class="destaque__title imprensa__search--title title title--sou-gray title--2"><span class="title--orange">Contact us</span></h2>

			<form class="imprensa__contact-form" action="">
				<fieldset>
					<div class="imprensa__contact-block imprensa__contact-name">
						<label class="imprensa__contact-label" for="contactName">Nome</label>

						<div class="imprensa__contact-field ">
							<input id="contactName" type="text" name="name">
						</div>
					</div>

					<div class="imprensa__contact-block imprensa__contact-phone">
						<label class="imprensa__contact-label" for="contactPhone">Phone</label>

						<div class="imprensa__contact-field ">
							<input id="contactPhone" type="text" name="phone">
						</div>
					</div>

					<div class="imprensa__contact-block imprensa__contact-email">
						<label class="imprensa__contact-label" for="contactEmail">Email</label>

						<div class="imprensa__contact-field ">
							<input id="contactEmail" type="text" name="email">
						</div>
					</div>

					<div class="imprensa__contact-block imprensa__contact-organization">
						<label class="imprensa__contact-label" for="contactOrganization">Organization</label>

						<div class="imprensa__contact-field ">
							<input id="contactOrganization" type="text" name="organization">
						</div>
					</div>

					<div class="imprensa__contact-block imprensa__contact-subject">
						<label class="imprensa__contact-label" for="contactSubject">Subject</label>

						<div class="imprensa__contact-field ">
							<input id="contactSubject" type="text" name="subject">
						</div>
					</div>
					<div class="imprensa__contact-block imprensa__contact-message">
						<label class="imprensa__contact-label" for="contactMessage">Message</label>

						<div class="imprensa__contact-field ">
							<textarea id="contactMessage" name="message"></textarea>
							<p class="counter">350 characters</p>
						</div>
					</div>
					<div class="imprensa__contact-block imprensa__contact-block--send">
						<button type="submit" name="send" class="btn-simple btn-simple--orange">Send</button>
					</div>
					<div class="imprensa__contact-block imprensa__contact-block--success">
						<button type="submit" name="send" class="btn-simple imprensa__contact-button imprensa__contact-button--success"> </button>

						<div class="imprensa__contact-block imprensa__contact-block--nomargin">
							<p>Your message has been sent successfully</p>
							<p>We will reply as soon as we can throught the provided email address</p>
						</div>
					</div>
				</fieldset>
			</form>
			<aside class="imprensa__contact-aside">
				<div class="imprensa__contact-aside--block">
					<h3 class="imprensa__contact-aside--title title title--dark-gray">Or contact an Internacional Press Agent</h3>
					{{combobox.changeContent(value=[
							{ "name": "Germany", "data": "contactGermany"},
							{ "name": "Brazil", "data": "contactBrazil"},
							{ "name": "Argentina", "data": "contactArgentina"}
						]
					)}}

					<div id="contactGermany" class="imprensa__contact-result combo-change-content">
						<p>Tourist department from:</p>
						<p class="strong">Germany - Nalan Demiröz</p>
						<p>Email: <a href="#" title="" class="link">nalan.demiroz@xxx.com</a></p>
						<p>Phone: +49-211-49700712</p>
					</div>

					<div id="contactBrazil" class="imprensa__contact-result combo-change-content">
						<p>Tourist department from:</p>
						<p class="strong">Brazil - Nalan Demiröz</p>
						<p>Email: <a href="#" title="" class="link">nalan.demiroz@xxx.com</a></p>
						<p>Phone: +49-211-49700712</p>
					</div>

					<div id="contactArgentina" class="imprensa__contact-result combo-change-content">
						<p>Tourist department from:</p>
						<p class="strong">Argentina - Nalan Demiröz</p>
						<p>Email: <a href="#" title="" class="link">nalan.demiroz@xxx.com</a></p>
						<p>Phone: +49-211-49700712</p>
					</div>
				</div>
				<div class="imprensa__contact-aside--block">
					<h3 class="imprensa__contact-aside--title title title--dark-gray">Our contacts</h3>
					<div class="imprensa__contact-result">
						<p>SCN Quadra 02 bloco G</p>
						<p>Ed. Embratur Brasília/DF - Brasil</p>
						<p>CEP 70712-907</p>
						<p>E-mail: <a href="#" class="link">rp@embratur.gov.br</a></p>
					</div>
				</div>
			</aside>
		</div>
	</section>

	<section class="imprensa__upcoming">
		<div class="container">
			<h2 class="imprensa__search--title title title--iskra title--sou-gray title--2"><span class="title--orange">Upcoming Events</span> in Brazil</h2>

			<div class="imprensa__upcoming-events">
				<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='orange', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='orange', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='orange', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='orange', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='orange', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
				</div>

			</div>
			<button class="btn-default btn-default--orange">See all events</button>
			<br>
		</div>
	</section>

</div>

{% endblock %}
