{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/share.html" as share %}
{% import "html-parts/components/add-favorite.html" as addFavorite %}
{% import "html-parts/components/mosaico.html" as mosaico %}
{% import "html-parts/components/author.html" as author %}
{% import "html-parts/components/related-links.html" as relatedLinks %}
{% import "html-parts/components/download-pdf.html" as downloadPdf %}

{% block content %}

<div class="imprensa">
	{{destaque.clippingRelease()}}


	<div class="internal-article container">
		<article class="internal-article__article content-editor">
			<header class="internal-article__header">
				<a href="/home-blog" class="btn-back btn-default--orange">Back to Press Releases</a>

				<div class="internal-article__add-to-favorites">{{addFavorite.default(type='orange', id='9', category='Press release', title="Soak up the sun this Winter in the 'Venice of Brazil'", description='Soak up the sun. Lorem ipsum dolor sit amet, consectetur adipisicing elit. dfsg fveverv frvervr df ddd dfrcwef rfgrvrw gferwg.')}}</div>
				<div class="internal-article__header-share">{{share.default(color='orange')}}</div>

				<div class="internal-article__author">
					{{author.with_photo()}}
				</div>
			</header>


			<p>Escape the dreary British winter this year by heading to <strong>Recife</strong> in <em>Brazil</em>. The near perfect weather means that Recife enjoys year round sun with a near absence of any harsh weather extremes and an average temperature of 25 degrees centigrade.  This makes this coastal city the perfect choice for a winter sun holiday and in 2014 we will be sure to see some famous footballers and their respective WAGs enjoying a caipirinha or three on the cities’ famous Boa Viagem beach front.</p>

			<p>Known as the ‘Venice of Brazil’ Recife is a city of water; from the long stretches of beautiful sandy beaches to the water ways dissecting the city it is difficult to escape the water when you visit. One of the best ways to take in this city is to take a boat trip along the Capibaribe River and soak up the beautiful architecture, the traditional rhythmic music that seems to constantly resonate around the streets and the general hustle and bustle going on around you.</p>

			<h2 class="internal-article__title">Location</h2>
			<p >Recife is Brazil’s fifth largest city and is the capital of the State of Pernambuco.  Nestled in the heart of North East Brazil Recife is an up and coming holiday hot spot and not just because of the excitement building around the 2014 FIFA World Cup.</p>

			<div class="internal-article__related-links">
				{{relatedLinks.default(
					title='Aditional Links',
					itens=['Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur'],
					externalLink= 'true',
					type= 'inline',
					isfixed= 'true',
					color= 'orange'
				)}}
			</div>

			<h2 class="internal-article__title">Football</h2>
			<p>Recife has already acted as a World Cup host city in 1950 but the 2014 World Cup matches will be played in the brand new £152 million Pernambuco Arena which is a benchmark in sustainable development for Brazil.  If you can’t wait until 2014 Recife has a very strong footballing tradition and you can catch either Santa Cruz or Nautico playing in their local stadiums for a taste of Brazilian football spirit.</p>

			<figure class="internal-article__figure">
				<img src="/images/img-popular-posts.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<h2 class="internal-article__title">Culture</h2>
			<p>The beautiful colonial town on Olinda, now considered a district of Recife, provides a laid-back alternative to the hustle and bustle of central Recife.  A maze of cobbled streets with white churches, pastel buildings and leafy squares Olinda is a picture perfect location to while away a lazy afternoon. In 1982 Olinda was designated a UNESCO cultural heritage site and has both retained its colonial feel and adopted a bohemian feel with a varied arts and culture scene.</p>

			<h2 class="internal-article__title">How to get there</h2>
			<p>TAP Portugal (0845 601 0932, www.flytap.com) flies from London to Recife, with return fares starting at £657 including all taxes.</p>

			<p><strong class="internal-article__bold">Fernando de Noronha</strong> – Another UNESCO World Heritage Site, Fernando de Noronha is an archipelago 545 kms off the coast of Recife, made up of 21 islands, in an area of 26 kms². This island is a paradise with plenty of surfing and underwater diving sites. Divided into a National Marine Park and an Environmental Protection Area, visitor numbers are restricted so booking in advance is essential.</p>

			<p><strong class="internal-article__bold">Trancoso</strong> – This sleepy fishing village has quickly become the most chic of Brazilian holiday destinations. The beautiful beaches are just the start of the appeal of Trancoso a destination which now attracts the international jet-set and some of the best restaurants outside of Rio and Sao Paulo.  Luxury shops and pousadas have sprung up but importantly Trancoso still maintains a quaint low-key atmosphere where locals and tourists mingle and enjoy each other’s company.</p>

			<p><strong class="internal-article__bold">Porto de Galinhas</strong> - Pernambuco State offers a beautiful long coastline, surrounded by reefs, crystal clear waters and palm groves, which are best visited on rafts and off-road vehicles. One of the main resorts is Porto de Galinhas, a sophisticated resort with luxury hotels and an internationally famous book fair, Fliporto.</p>

			<figure class="internal-article__figure">
				<img src="/images/img-popular-posts.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p><strong class="internal-article__bold">Paraty</strong> – Paraty is one of Brazil’s prettiest colonial towns and is located in the state of Rio de Janeiro. Filled with small boutique shops and art galleries Paraty has a bohemian atmosphere as well as being a traditional fishing village. Paraty retains an intimate feel with small cobbled streets and beautifully preserved building facades.  The streets come alive at night as the small bars and restaurants fill up with both locals and tourists spill out onto tables on the street.</p>


			<footer class="internal-article__footer">
				<div class="internal-article__footer-share">{{share.default('big', 'center', 'orange')}}</div>

				<hr class="internal-article__sep">

				<div class="internal-article__download-pdf">{{downloadPdf.default(color='orange')}}</div>
			</footer>

		</article>
	</div>

</div>

{% endblock %}
