{% extends "./html-parts/master/layout-ru.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/newsletter.html" as newsletter %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% block content %}
	<div class="home__banner">
		{{destaque.home(with_mark="true", image="/images/bg-home-desktop.png", text="5 лучших пляжей вштате Rio de Janeiro", button="true", btn="Iezen")}}
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='Лето на ', link='пляже Копакабана Рио-де-Жанейро/RJ')}}</div>

	</div>
	<div class="home__content-wrapper home__content-wrapper--top">
		{{trending.default(title='ПОПУЛЯРНЫЕ В РОССИИ', type='center', leftBox='Электронная ночная жизнь в Рио')}}

		<h2 class="title title--iskra title--2 title--em ">Насладитесь прекрасным опытом в Бразилии</h2>

		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Олимпиада чудесном городе', dataText='Крупнейший в мире спортивное событие будет проходить в 32 местах по всему городу', ftTitle='BPEMЯ', ftDays='17 дней') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Рио-де-Жанейро, видно из выше', dataText='Сочетание местах большой высоте, чтобы насладиться красивыми пейзажами и адреналином', ftTitle='BPEMЯ CЧEHAPИЯ', ftDays='4 дня - ', ftDestiny='2 место') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Историческое наследие в Рио-де-Жанейро', dataText='Ни один другой бразильский город не получил так много сокровищ архитектуры и искусства, Рио-де-Жанейро', ftTitle='BPEMЯ CЧEHAPИЯ', ftDays='4 дня - ', ftDestiny='2 место') }}</div>
			</div>
			<br>
			<button class="btn-default">Посмотреть все переживания</button>
		</div>
	</div>

	<div class="home__content-wrapper" style="background-image: url(images/__background01.jpg)">
		<h2 class="title title--iskra title--2 title--white title--strong-shadow">Незабываемые места</h2>
		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--white">
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Florianópolis', dataText='Золотые пляжи и пышные горы, самба питаемый ночная жизнь и захватывающие футбольные матчи', ftTitle='Топ-аттракцион') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Bonito', dataText='Золотые пляжи и пышные горы, самба питаемый ночная жизнь и захватывающие футбольные матчи', ftTitle='Топ-аттракцион') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Золотые пляжи и пышные горы, самба питаемый ночная жизнь и захватывающие футбольные матчи', ftTitle='Топ-аттракцион') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Foz do Iguaçu', dataText='Золотые пляжи и пышные горы, самба питаемый ночная жизнь и захватывающие футбольные матчи', ftTitle='Топ-аттракцион') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Jeriquaquara', dataText='Золотые пляжи и пышные горы, самба питаемый ночная жизнь и захватывающие футбольные матчи', ftTitle='Топ-аттракцион') }}</div>
			</div>
			<br>
			<button class="btn-default">все переживания</button>
		</div>
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='Лето на ', link='пляже Копакабана Рио-де-Жанейро/RJ')}}</div>
	</div>
	<div class="home__essenstial-information">
		{{essentialInformation.default(type='1', lang='ru', title='Осталось Есть вопросы?', t1='здоровье', t2='безопасности', t3='Валюта и обмен', t4='Виды и документация',
		t5='номера экстренных служб', t6='Энергетика и электричество', t7='погода', t8='Телефонные носители/провайдеры', t9='язык', t10='Полезные ссылки')}}
	</div>
	<div class="home__newsletter">
		<div class="home__photo-description">{{photoDescription.default(text='Itainbezinho Canyon on ', text='Лето на ', link='пляже Копакабана Рио-де-Жанейро/RJ')}}</div>
		{{newsletter.default(title='Оставайтесь на связи со всем, о туризме в Бразилии', subtitle='Зарегистрируйте свой адрес электронной почты и получите обновленные новости.', btn='подписываться')}}
	</div>
{% endblock %}
