{% extends "./html-parts/master/layout-nl.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/newsletter.html" as newsletter %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% block content %}
	<div class="home__banner">
		{{destaque.home(with_mark="true", image="/images/bg-home-desktop.png", text="6 beste stranden van Rio de Janeiro", button="true", btn="Iezen")}}
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='De zomer op ', link='Copacabana beach, Rio de janeiro')}}</div>

	</div>
	<div class="home__content-wrapper home__content-wrapper--top">
		{{trending.default(title='Popular in Nederland', type='center')}}

		<h2 class="title title--iskra title--2 title--em ">Geniet van prachtige ervaringen in Brazilie</h2>

		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Olympische Spelen in Marvelous stad', dataText='S werelds grootste sportevenement zal worden gehouden op 32 locaties door de hele stad', ftTitle='Duur', ftDays='17 dagen') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro van boven gezien', dataText='Combinatie van locaties op grote hoogte om te genieten van prachtige landschappen en adrenaline', ftTitle='Duur en Bestemmingen', ftDays='4 dagen - ', ftDestiny='2 bestemmingen') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Historisch Erfgoed in Rio de Janeiro', dataText='Geen enkele andere Braziliaanse stad kreeg zo vele schatten van de architectuur en kunst als
Rio de Janeiro', ftTitle='Duur en Bestemmingen', ftDays='4 dagen - ', ftDestiny='2 bestemmingen') }}</div>
			</div>
			<br>
			<button class="btn-default">Zie alle ervaringen</button>
		</div>
	</div>

	<div class="home__content-wrapper" style="background-image: url(images/__background01.jpg)">
		<h2 class="title title--iskra title--2 title--white title--strong-shadow">Onvergetelijke plaatsen</h2>
		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--white">
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Florianópolis', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Topattractie') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Bonito', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Topattractie') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Topattractie') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Foz do Iguaçu', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Topattractie') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Jeriquaquara', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Topattractie') }}</div>
			</div>
			<br>
			<button class="btn-default">Alle bestemmingen</button>
		</div>
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='Itainbezinho Canyon on ', link='Serra Gaúcha, Cambará do Sul/RS')}}</div>
	</div>
	<div class="home__essenstial-information">
		{{essentialInformation.default(type='1', lang='nl', title='Heeft u nog vragen over?', t1='Gezondheid', t2='Veiligheid', t3='Munt en uitwisseling', t4='Visa en documentatie',
		t5='Noodnummers', t6='Macht en electriciteit', t7='Weer', t8='Telefoon carries/providers', t9='Taal', t10='nuttige links')}}
	</div>
	<div class="home__newsletter">
		<div class="home__photo-description">{{photoDescription.default(text='Itainbezinho Canyon on ', text='Viewpoint in ', link='Lagoa da Conceição Florianópolis/PR')}}</div>
		{{newsletter.default(title='Blijf in contact met alles over het toerisme in Brazilie', subtitle='Registreer uw e-mailadres in en ontvang bijgewerkt nieuws.', btn='Abonneren')}}
	</div>
{% endblock %}
