{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/newsletter.html" as newsletter %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% block content %}
	<div class="home__banner">
		{{destaque.home(with_mark="true", image="/images/bg-home-desktop.png", text="5 best beaches in the state of Rio de Janeiro", button="true", btn="Read")}}
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='Summer on ', link='Copacabana beach, Rio de janeiro')}}</div>

	</div>
	<div class="home__content-wrapper home__content-wrapper--top">
		{{trending.default(title='Trending Now', type='center')}}

		<h2 class="title title--iskra title--2 title--em ">Enjoy wonderful experiences in Brazil</h2>

		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Duration', ftDays='17 days') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Duration and Destination', ftDays='4 days - ', ftDestiny='2 destinations') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Duration and Destination', ftDays='4 days - ', ftDestiny='2 destinations') }}</div>
			</div>
			<br>
			<button class="btn-default">See all experiences</button>
		</div>
	</div>

	<div class="home__content-wrapper" style="background-image: url(images/__background01.jpg)">
		<h2 class="title title--iskra title--2 title--white title--strong-shadow">Unforgettable places</h2>
		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--white">
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Top Attraction') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Top Attraction') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Top Attraction') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Top Attraction') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches', ftTitle='Top Attraction') }}</div>
			</div>
			<br>
			<button class="btn-default">See all experiences</button>
		</div>
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='Viewpoint in ', link='Lagoa da Conceição Florianópolis/PR')}}</div>
	</div>
	<div class="home__essenstial-information">
		{{essentialInformation.default(type='1', lang='en', title='Any questions left?', t1='Health', t2='Security', t3='Currency and Exchange', t4='Vistas and Documentation',
		t5='Emergency numbers', t6='Power and Eletricity', t7='Weather', t8='Phone carriers/providers', t9='Language', t10='Useful links')}}
	</div>
	<div class="home__newsletter">
		<div class="home__photo-description">{{photoDescription.default(text='Viewpoint in ', link='Lagoa da Conceição Florianópolis/PR')}}</div>
		{{newsletter.default(title='Stay in touch with every thing about tourism in Brazil', subtitle='Register your e-mail address and receive updated news.', btn='Subscribe')}}
	</div>
{% endblock %}
