{% extends "./html-parts/master/layout-jp.html" %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/newsletter.html" as newsletter %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/photo-description.html" as photoDescription %}

{% import "html-parts/components/trending.html" as trending %}

{% block content %}
	<div class="home__banner">
		{{destaque.home(with_mark="true", image="/images/bg-home-desktop.png", text="Rio de Janeiroの状態で
		5最高のビーチ", button="true", btn="読む")}}
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='サマー', link='Copacabana ビーチ
Rio de Janeiro/RJ')}}</div>

	</div>
	<div class="home__content-wrapper home__content-wrapper--top">
		{{trending.default(title='今流行っている', type='center', leftBox='Rio de Janeiroにおける電子ナイトライフ')}}

		<h2 class="title title--iskra title--2 title--em ">ブラジルでの素晴らしい体験をお楽しみください</h2>

		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='マーベラス市内のオリンピック', dataText='世界最大のスポーツイベントが市内各地32会場で開催されます', ftTitle='デュレーション', ftDays='17日', ftDestiny='') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro は、上から見ました', dataText='高高度での位置の組み合わせは、素晴らしい風景やアドレナリンを楽しむために', ftTitle='期間や目的地', ftDays='4日 - ', ftDestiny='の目的地') }}</div>
				<div>{{ card.default(bodySize=1, footerType='title-text', dataTitle='Rio de Janeiro は、上から見ました', dataText='高高度での位置の組み合わせは、素晴らしい風景やアドレナリンを楽しむために', ftTitle='期間や目的地', ftDays='4日 - ', ftDestiny='の目的地') }}</div>
			</div>
			<br>
			<button class="btn-default">すべての経験を参照してください。</button>
		</div>
	</div>

	<div class="home__content-wrapper" style="background-image: url(images/__background01.jpg)">
		<h2 class="title title--iskra title--2 title--white title--strong-shadow">忘れられない場所</h2>
		<div class="home__cards">
			<div data-cards-carousel--bullets class="cards-carousel bullets--white">
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Florianópolis', dataText='これはテストテキストのただ一つのソースです。ブラジルは美しいです。', ftTitle='トップアトラクション') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Bonito', dataText='これはテストテキストのただ一つのソースです。ブラジルは美しいです。', ftTitle='トップアトラクション') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Rio de Janeiro', dataText='これはテストテキストのただ一つのソースです。ブラジルは美しいです。', ftTitle='トップアトラクション') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Foz do Iguaçu', dataText='これはテストテキストのただ一つのソースです。ブラジルは美しいです。', ftTitle='トップアトラクション') }}</div>
				<div>{{ card.default(bodySize=1, footerType='top-atract', dataTitle='Jeriquaquara', dataText='これはテストテキストのただ一つのソースです。ブラジルは美しいです。', ftTitle='トップアトラクション') }}</div>
			</div>
			<br>
			<button class="btn-default">すべての経験を参照してください。</button>
		</div>
		<div class="home__photo-description home__photo-description--bottom">{{photoDescription.default(type='bottom', text='サマー', link='Copacabana ビーチ
		Rio de Janeiro/RJ')}}</div>
	</div>
	<div class="home__essenstial-information">
		{{essentialInformation.default(type='1', lang='jp', title='ご不明な点は左？', t1='健康', t2='セキュリティ', t3='通貨と両替', t4='ビザとドキュメント',
		t5='緊急番号', t6='電源および電気', t7='天気', t8='電話キャリア プロバイダ', t9='言語', t10='便利なリンク')}}
	</div>
	<div class="home__newsletter">
		<div class="home__photo-description">{{photoDescription.default(text='サマー', link='Copacabana ビーチRio de Janeiro/RJ')}}</div>
		{{newsletter.default(title='ブラジルの観光についてのすべてと連絡を取り合います', subtitle='メールアドレスを登録し、更新されたニュースを受け取ります。', btn='申し込む')}}
	</div>
{% endblock %}
