{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Vistas and Documentation'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--vistas"></span>
					<span class="essential-information__title-text">Visas and Documentation</span>
				</h3>

				<p class="essential-information__subtitle"><strong>Driving in Brazil</strong></p>
				<p>Tourists with driver's license can drive in Brazil if the stay is less than 180 days. For longer stays, you must obtain a Brazilian driver's license corresponding to the category and the local traffic laws. It is essential that your documentation is up to date.</p>

				<p>The foreign tourist driver can be penalized and judged by Brazilian law.</p>

				<p><a href="#" title="" class="link">Check the legislation</a></p>

				<p class="essential-information__subtitle"><strong>Visas</strong></p>

				<p>Visas to enter Brazil are granted by Brazilian consulates abroad. Citizens of Mercosur countries do not need a visa, just their passport or identity document, are up to date.</p>

				<p><a href="#" title="" class="link">See the list of consular representations in the countries</a></p>

				<p>Also check the visa <a href="#" title="" class="link">rules for the entry of foreigners in Brazil</a></p>

				<p class="essential-information__subtitle"><strong>Requirements for entry</strong></p>

				<ol>
					<li> Each traveler must complete their own Visa Application Form, including under-18s</li>
					<li> Payment rate, which varies depending on the type of visa and residence time</li>
					<li> Passport must have at least six months validity from the time the visa application (exception: citizens of Mercosur)</li>
					<li> Photo 3x4 or 5x7 recent and on white background</li>
					<li> Children under 18 unaccompanied by parents or guardians must submit travel authorization signed by both.</li>
				</ol>

				<p class="essential-information__subtitle"><strong>Guidelines for Spanish citizens</strong></p>

				<p>As last instruction to overseas posts, the requirements to be fulfilled for entry of Spanish tourists in Brazil in strict reciprocity to the requirements of Brazilian citizens, are as follows:</p>

				<ul class="essential-information__list-letter">
					<li><span class="title--em">a)</span> valid passport;</li>
					<li><span class="title--em">b)</span> airline ticket round trip (the return date must be checked);</li>
					<li><span class="title--em">c)</span> proof of sufficient financial means to maintain during the period of stay in Brazil. That amount must correspond to at least daily R$170,00 and be proven, for example, by credit card and presentation of your last bill, so it can be checked your limit;</li>
					<li><span class="title--em">d)</span> in case of hotel accommodation: document proving reservation paid in hotel.</li>
					<li><span class="title--em">e)</span> in the case of accommodation in residence: letter of invitation from a private resident in the Brazilian city of destination, stating the period of stay of the Spanish tourist with signature of certified declarant notarized (Brazilian), accompanied by proof of residence issued to the declarant. (Note: there is no specific form of letter of invitation, simpl y from looking statement containing the above information)</li>
				</ul>

				<p class="essential-information__subtitle"><strong>Business travelers</strong></p>

				<p>Must present documentary evidence of the activities to be performed in this condition during his stay in Brazil; if you can not receive the same treatment of tourists.</p>

				<p>If you have further questions, please contact the Brazilian Consulate nearest you.</p>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='visas')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
