{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Security'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--security"></span>
					<span class="essential-information__title-text">Security</span>
				</h3>

				<p>As everywhere in the world, foreign tourists are easily identified by local people, is the way you dress, the language or even by physical traits. So one must be careful not to become targeted by criminals.</p>

				<p class="essential-information__subtitle"><strong>See below our tips for safety trip:</strong></p>

				<ul>
					<li>Upon arrival at the airport, take identified and insured taxis.</li>
					<li>When you open the wallet in public, avoid exposing valuable bank notes.</li>
					<li>Do not place your wallet on the cake back of the pants, especially in very full sites.</li>
					<li>Be discreet and try not to draw attention to the fact of being a tourist.</li>
					<li>Do not carry large amounts of money in bags in tow or purse. Take only small sums of money for daily expenses.</li>
					<li>If you have to go out with a lot of money, store it in bags used inside in clothing, closed with zipper or Velcro and secured with elastic around the waist.</li>
					<li>Avoid going out with important documents and, if you have two credit cards, take just one. Thus, if it is stolen, you have another card to make future expenses.</li>
					<li>Leave your passport at the place where you are staying and walk only with a certified copy of it.</li>
					<li> Use safe where you are staying to save your money, original passport, credit cards and other important items.</li>
					<li>The majority of thefts occur in places where there are large concentrations of people, such as markets, metro stations, bus stations and crowded buses. Baggage theft is also common in airport lounges. Keep an eye open.</li>
					<li>Avoid walking in remote places or districts classified as hazardous by the local population. This advice is especially important in large cities and for people traveling alone.</li>
					<li>Be wary of people who address to offer a clandestine taxi at an airport or any other location.</li>
					<li>If you go to the beach, do   not leave your belongings unattended.</li>
					<li>If you rent a car, do not leave visible baggage inside. If this is unavoidable, try to park the vehicle in a safe place, where there is policing.</li>
					<li>Watch your mobile phone.</li>
				</ul>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='security')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
