{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Currency and Exchange'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container essential-information__currency">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--exchange"></span>
					<span class="essential-information__title-text">Currency and Exchange</span>
				</h3>

				<p>Brazil's monetary unit is the Real (R$). foreign currencies and travelers checks can be exchanged for real in banks, travel agencies and authorized hotels.</p>

				<p><a href="#" title="" class="link">Know the Brazilian money and learn how to identify them</a></p>

				<p class="essential-information__subtitle"><strong>Currency converter</strong></p>

				<div data-component="currency-converter" class="essential-information__block essential-information__block--gray currency-converter">
					<div class="currency-converter__wrap">
						<div class="currency-converter__from">
							<p class="currency-converter__label">Convert from</p>
							{{combobox.default(value=[
									'USD - American Dollar',
									'EUR - Euro',
									'BRL - Brazilian real'
								],
								id="cbConvertFrom"
							)}}
							<a href="#" class="btn-simple currency-converter__refresh"></a>
							<div class="currency-converter__box essential-information__box essential-information__box--white">
								<span class="currency-converter__start-symbol title--sou-gray">$</span>
								<input id="inicial-value" type="text" class="currency-converter__from--value" value="500,00">
							</div>
						</div>
						<div class="currency-converter__equal essential-information__box">=</div>
						<div class="currency-converter__equal-mobile"></div>
						<div class="currency-converter__to">
							<p class="currency-converter__label">To</p>
							<!-- <input type="text" class="input-text currency-converter__brl" value="BRL - Brazilian real" disabled> -->
							{{combobox.default(value=[
									'USD - American Dollar',
									'EUR - Euro',
									'BRL - Brazilian real'
								],
								id="cbConvertTo"
							)}}

							<div class="currency-converter__box essential-information__box essential-information__box--white">
								<span class="currency-converter__result-symbol title--sou-gray">R$</span>
								<input id="result-convertion" class="currency-converter__to--value" value="" readonly>
							</div>
						</div>

						<input type="hidden" id="temporary-value" />
					</div>
				</div>

				<p class="essential-information__subtitle"><strong>Some useful apps</strong></p>

				<div class="media">
					<picture class="media__logo">
						<img class="essential-information__image" src="../images/useful-apps__cambio-legal.png" alt="cambio legal" />
					</picture>
					<div class="media__content">
						<p class="media__description"><span class="title--dark-gray">Câmbio Legal</span> app informs the nearest exchange service points entities authorized by the Central Bank of Brazil for buying and selling currency.</p>

						<a href="#" title="" class="btn-app google-play">Download</a>

						<a href="#" title="" class="btn-app app-store">Download</a>
					</div>
				</div>

				<div class="media">
					<picture class="media__logo">
						<img class="essential-information__image"  src="../images/useful-apps__dinheiro-brasileiro.png" alt="dinheiro brasileiro" />
					</picture>
					<div class="media__content">
						<p class="media__description"><span class="title--dark-gray">Dinheiro Brasileiro</span> help you to know the Brazilian banknotes: learn to identify security features in the two series of the Brazilian Real.</p>

						<a href="#" title="" class="btn-app google-play">Download</a>

						<a href="#" title="" class="btn-app app-store">Download</a>
					</div>

				</div>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='currency')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
