{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information'])}}

<div class="essential-information home">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>
		<h3 class="essential-information__subtitle  title">Here you can find important information about the major topics regarding tourism in Brazil, from documentation to vaccination requirements.</h3>

		{{essentialInformation.search()}}
	</div>


	<div class="essential-information__wrapper--gray">

		<div class="container">

			{{essentialInformation.default()}}

		</div>
	</div>

	{{essentialInformation.whiteBlock(text='full')}}
</div>

{% endblock %}
