{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Power and Eletricity'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container essential-information__eletricity">
			<div class="essential-information__search-list main profile power-electricity content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--power"></span>
					<span class="essential-information__title-text">Power and eletricity</span>
				</h3>

				<p>The electricity voltage in Brazil varies between 110V and 220V depending on which state or city. It's good to have a voltage transformer or ask in the lobby of the hotel. Remember that many Brazilian hotels offer electrical outlet in two voltages.</p>

				<p class="essential-information__subtitle"><strong>Check the electrical voltage across the country</strong></p>
				<div class="essential-information__block essential-information__block--gray country-voltage">
					<div class="essential-information__inner">
					<p class="essential-information__label title--sasha-gray"><strong>destination</strong></p>

					<input type="text" name="city-name" class="country-voltage__query" value="City of São Paulo" />

					<div class="essential-information__block essential-information__block--white country-voltage__result">
						<h2 class="country-voltage__city title--3 title--dark-gray">City of São Paulo</h2>
						<p class="essential-information__label title--sasha-gray">voltages</p>
						<span class="country-voltage__value">110v</span>
						<span class="country-voltage__value">127v</span>
						<span class="country-voltage__value">220v</span>
					</div>
					</div>
				</div>

				<p class="essential-information__subtitle">
				<strong>Electrical outlets</strong></p>

				<p>Outlets in Brazil have a well-shaped, to hinder the contact of the finger with the electric current and avoid accidents. The plugs have a system that avoids overloading and heating and also provide better coupling to their terminals.
				The outlet adapter can be easily found in electrical equipment stores or duty-free shops at airports.</p>


				<p><strong><em>Brazil standard power outlet</em></strong></p>

				<img class="essential-information__image" src="../images/power-eletricity__socket.png" alt="3 edges socket" />
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='power')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
