{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Language'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--language"></span>
					<span class="essential-information__title-text">Language</span>
				</h3>

				<p>The official language of Brazil is Portuguese.</p>
				<p>But many Brazilians speak English and Spanish.</p>

				<p class="essential-information__subtitle"><strong>Dialects of Portuguese</strong></p>

				<p>The Portuguese language has an important variety of dialects, many of them with a strong lexical difference compared to standard Portuguese - particularly the case in Brazil. Such differences, however, generally not affect intelligibility between speakers of different dialects.</p>

				<p>The European standard is also known as Portuguese Extremaduran or Portuguese of Portugal. Even so, all aspects and sounds of all dialects Portugal can be found in some dialects in Brazil.</p>

				<p>African Portuguese, especially the Portuguese STP has many similarities with the Portuguese in some regions of Brazil. Also the dialects of southern Portugal have many similarities, especially the intensive use of the gerund. In the North, the Alto-Minho and tramontane are very similar to Galician.</p>

				<p>In Brazil, the dialect of Rio de Janeiro and Sao Paulo are dominant in the media; the standard written language is almost identical to that of Portugal, with slight differences (such as the almost complete abandonment of mesoclisis).</p>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='language')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
