{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information'])}}

<div class="essential-information">

	<div class="search-results">

		<div class="essential-information__wrapper essential-information__search">
			<h1 class="essential-information__title title title--iskra title--2">Essential Information</h1>

			{{essentialInformation.search()}}
		</div>

	    <div class="essential-information__wrapper--gray">

	       	<div class="container">
	       		<div class="main">
		    		<div class="essential-information__main-title title title--4"><span class="title--em">37</span> results for "<span class="essential-information__target-search">currency</span>"</div>
			    	<ul class="result">
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Health</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Security</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Currency and Exchange</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Vistas and Documentations</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Emergency Numbers</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Power and Eletricity</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Phone carriers/providers</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Language</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    		<li class="result__item">
			    			<h2 class="result__title title title--em">Useful Links</h2>
			    			<p class="search-list-item__description"><a href="#" title="" class="essential-information__result-link">Lorem ipsum dolor sit ame t, <strong><span>currency</span></strong> de iroka adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</a></p>
			    		</li>
			    	</ul>

			    	<div class="results__pagination">
						{{pagination.default()}}
					</div>
		    	</div>

				<div class="essential-information__menu">
					{{essentialInformation.default(2)}}
		    	</div>
	       	</div>
		</div>

		{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
	</div>


</div>

{% endblock %}
