{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/custom-combobox.html" as combobox %}

{% import "html-parts/components/pagination.html" as pagination %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/external-link.html" as externalLink %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Health'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile health content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--health"></span>
					<span class="essential-information__title-text">Health</span>
				</h3>

				<p>Public health services in Brazil are free for foreign tourists. So if you develop any health problems, just call the Mobile Emergency Service (SAMU), the phone 192. The call is free.</p>

				<p class="essential-information__subtitle"><strong>Basic Care</strong></p>

				<ul>
					<li>Brazil is a country with a tropical climate, so it is recommended the constant intake of fluids to prevent dehydration.</li>
					<li>Wear comfortable clothing and protect yourself from the sun with hat (or cap), sunglasses and sunscreen. Avoid direct sun exposure between 10h and 16h.</li>
					<li>Always carry insect repellents for use when needed.</li>
					<li>Wash your hands with soap and water several times a day, especially after using public transportation and visiting places with large movement of people.</li>
					<li>Avoid consuming food in poor conditions of preparation and packaging.</li>
					<li>During biking or hiking, take prefer foods that may be unrefrigerated and not spoil in the heat.</li>
				</ul>

				<p class="essential-information__subtitle"><strong>Vaccines</strong></p>

				<p>To enter Brazil, it is not required to get vaccinated against any disease. However, there are in the country calls Areas with Vaccination Recommendation (ACRV), where it is recommended to be vaccinated against yellow fever before the visit. Yellow fever is a disease transmitted by the bite of infected mosquitoes.</p>

				<p>So, if you have never taken the vaccine, we need to take it 10 days before the trip (this term is not necessary if you have already been vaccinated previously).</p>

				<p>In case of doubt, consult the {{externalLink.default(text='Ministry of Health website')}}</p>


				<div class="essential-information__vaccination essential-information__block essential-information__block--white">

					<p class="essential-information__subtitle">Areas with recommended vaccination</p>


					<p class="essential-information__label text--dark-gray">other categories</p>

					{{combobox.changeContent(value=[
						{ "name": "Acre", "data": "acre"},
						{ "name": "Alagoas", "data": "alagoas"},
						{ "name": "Amazonas", "data": "amazonas"},
						{ "name": "Amapá", "data": "amapa"},
						{ "name": "Bahia", "data": "bahia"},
						{ "name": "Ceará", "data": "ceara"},
						{ "name": "Distrito Federal", "data": "distrito-federal"},
						{ "name": "Espírito Santo", "data": "espirito-santo"},
						{ "name": "Goiás", "data": "goias"},
						{ "name": "Maranhão", "data": "maranhao"},
						{ "name": "Mato Grosso", "data": "mato-grosso"},
						{ "name": "Mato Grosso do Sul", "data": "mato-grosso-do-sul"},
						{ "name": "Minas Gerais", "data": "minas-gerais"},
						{ "name": "Pará", "data": "para"},
						{ "name": "Paraíba", "data": "paraiba"},
						{ "name": "Paraná", "data": "parana"},
						{ "name": "Pernambuco", "data": "pernambuco"},
						{ "name": "Piauí", "data": "piaui"},
						{ "name": "Rio de Janeiro", "data": "rio-de-janeiro"},
						{ "name": "Rio Grande do Norte", "data": "rio-grande-do-norte"},
						{ "name": "Rondônia", "data": "rondonia"},
						{ "name": "Rio Grande do Sul", "data": "rio-grande-do-sul"},
						{ "name": "Roraima", "data": "roraima"},
						{ "name": "Santa Catarina", "data": "santa-catarina"},
						{ "name": "Sergipe", "data": "sergipe"},
						{ "name": "São Paulo", "data": "sao-paulo"},
						{ "name": "Tocantins", "data": "tocantins"}
					])}}

					<div class="health__vaccination">

						<ul id="acre" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
							<li class="health__vaccination-item">Cidade Acre</li>
						</ul>

						<ul id="alagoas" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade alagoas</li>
							<li class="health__vaccination-item">Cidade alagoas</li>
							<li class="health__vaccination-item">Cidade alagoas</li>
							<li class="health__vaccination-item">Cidade alagoas</li>
						</ul>

						<ul id="amazonas" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade amazonas</li>
							<li class="health__vaccination-item">Cidade amazonas</li>
							<li class="health__vaccination-item">Cidade amazonas</li>
							<li class="health__vaccination-item">Cidade amazonas</li>
							<li class="health__vaccination-item">Cidade amazonas</li>
							<li class="health__vaccination-item">Cidade amazonas</li>
						</ul>

						<ul id="amapa" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade amapa</li>
							<li class="health__vaccination-item">Cidade amapa</li>
							<li class="health__vaccination-item">Cidade amapa</li>
							<li class="health__vaccination-item">Cidade amapa</li>
						</ul>

						<ul id="bahia" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade bahia</li>
							<li class="health__vaccination-item">Cidade bahia</li>
							<li class="health__vaccination-item">Cidade bahia</li>
							<li class="health__vaccination-item">Cidade bahia</li>
						</ul>

						<ul id="ceara" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade ceara</li>
							<li class="health__vaccination-item">Cidade ceara</li>
							<li class="health__vaccination-item">Cidade ceara</li>
							<li class="health__vaccination-item">Cidade ceara</li>
						</ul>

						<ul id="distrito-federal" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade distrito-federal</li>
							<li class="health__vaccination-item">Cidade distrito-federal</li>
							<li class="health__vaccination-item">Cidade distrito-federal</li>
							<li class="health__vaccination-item">Cidade distrito-federal</li>
						</ul>

						<ul id="espirito-santo" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade espirito-santo</li>
							<li class="health__vaccination-item">Cidade espirito-santo</li>
							<li class="health__vaccination-item">Cidade espirito-santo</li>
							<li class="health__vaccination-item">Cidade espirito-santo</li>
						</ul>

						<ul id="goias" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade goias</li>
							<li class="health__vaccination-item">Cidade goias</li>
							<li class="health__vaccination-item">Cidade goias</li>
							<li class="health__vaccination-item">Cidade goias</li>
						</ul>

						<ul id="maranhao" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade maranhao</li>
							<li class="health__vaccination-item">Cidade maranhao</li>
							<li class="health__vaccination-item">Cidade maranhao</li>
							<li class="health__vaccination-item">Cidade maranhao</li>
						</ul>

						<ul id="mato-grosso" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade mato-grosso</li>
							<li class="health__vaccination-item">Cidade mato-grosso</li>
							<li class="health__vaccination-item">Cidade mato-grosso</li>
							<li class="health__vaccination-item">Cidade mato-grosso</li>
						</ul>

						<ul id="mato-grosso-do-sul" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade mato-grosso-do-sul</li>
							<li class="health__vaccination-item">Cidade mato-grosso-do-sul</li>
							<li class="health__vaccination-item">Cidade mato-grosso-do-sul</li>
							<li class="health__vaccination-item">Cidade mato-grosso-do-sul</li>
						</ul>

						<ul id="minas-gerais" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade minas-gerais</li>
							<li class="health__vaccination-item">Cidade minas-gerais</li>
							<li class="health__vaccination-item">Cidade minas-gerais</li>
							<li class="health__vaccination-item">Cidade minas-gerais</li>
						</ul>

						<ul id="para" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade para</li>
							<li class="health__vaccination-item">Cidade para</li>
							<li class="health__vaccination-item">Cidade para</li>
							<li class="health__vaccination-item">Cidade para</li>
						</ul>

						<ul id="paraiba" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade paraiba</li>
							<li class="health__vaccination-item">Cidade paraiba</li>
							<li class="health__vaccination-item">Cidade paraiba</li>
							<li class="health__vaccination-item">Cidade paraiba</li>
						</ul>

						<ul id="parana" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade parana</li>
							<li class="health__vaccination-item">Cidade parana</li>
							<li class="health__vaccination-item">Cidade parana</li>
							<li class="health__vaccination-item">Cidade parana</li>
						</ul>

						<ul id="pernambuco" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade pernambuco</li>
							<li class="health__vaccination-item">Cidade pernambuco</li>
							<li class="health__vaccination-item">Cidade pernambuco</li>
							<li class="health__vaccination-item">Cidade pernambuco</li>
						</ul>

						<ul id="piaui" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade piaui</li>
							<li class="health__vaccination-item">Cidade piaui</li>
							<li class="health__vaccination-item">Cidade piaui</li>
							<li class="health__vaccination-item">Cidade piaui</li>
						</ul>

						<ul id="rio-de-janeiro" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade rio-de-janeiro</li>
							<li class="health__vaccination-item">Cidade rio-de-janeiro</li>
							<li class="health__vaccination-item">Cidade rio-de-janeiro</li>
							<li class="health__vaccination-item">Cidade rio-de-janeiro</li>
						</ul>

						<ul id="rio-grande-do-norte" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade rio-grande-do-norte</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-norte</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-norte</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-norte</li>
						</ul>

						<ul id="rondonia" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade rondonia</li>
							<li class="health__vaccination-item">Cidade rondonia</li>
							<li class="health__vaccination-item">Cidade rondonia</li>
							<li class="health__vaccination-item">Cidade rondonia</li>
						</ul>

						<ul id="rio-grande-do-sul" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade rio-grande-do-sul</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-sul</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-sul</li>
							<li class="health__vaccination-item">Cidade rio-grande-do-sul</li>
						</ul>

						<ul id="roraima" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade roraima</li>
							<li class="health__vaccination-item">Cidade roraima</li>
							<li class="health__vaccination-item">Cidade roraima</li>
							<li class="health__vaccination-item">Cidade roraima</li>
						</ul>

						<ul id="santa-catarina" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade santa-catarina</li>
							<li class="health__vaccination-item">Cidade santa-catarina</li>
							<li class="health__vaccination-item">Cidade santa-catarina</li>
							<li class="health__vaccination-item">Cidade santa-catarina</li>
						</ul>

						<ul id="sergipe" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade sergipe</li>
							<li class="health__vaccination-item">Cidade sergipe</li>
							<li class="health__vaccination-item">Cidade sergipe</li>
							<li class="health__vaccination-item">Cidade sergipe</li>
						</ul>

						<ul id="sao-paulo" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade sao-paulo</li>
							<li class="health__vaccination-item">Cidade sao-paulo</li>
							<li class="health__vaccination-item">Cidade sao-paulo</li>
							<li class="health__vaccination-item">Cidade sao-paulo</li>
						</ul>

						<ul id="tocantins" class="health__vaccination-list combo-change-content">
							<li class="health__vaccination-item">Cidade tocantins</li>
							<li class="health__vaccination-item">Cidade tocantins</li>
							<li class="health__vaccination-item">Cidade tocantins</li>
							<li class="health__vaccination-item">Cidade tocantins</li>
						</ul>

					</div>
				</div>

			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='health')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
