{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Phone carriers/providers'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile phone content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--phone"></span>
					<span class="essential-information__title-text">Phone carriers / providers</span>
				</h3>

				<p>The National Telecommunications Agency (Anatel) is the government agency in charge of managing phone operations in the country and on the site you can find more information about codes, carriers and rates.</p>

				<ul>
					<li>The international code to Brazil is +55.</li>
					<li>All cities have two-digit codes and landlines have eight digits throughout the country.</li>
					<li>Mobile phones have eight or nine digits, depending on the location.</li>
					<li>The codes of long distance carriers that cover the entire national territory are: 21, 15, 23 and 31. The cost of calls varies by service provider.</li>
					<li>For long-distance calls inside the country:
						<div class="essential-information__box title--dark-gray">
							0 + operator code + city or region code + telephone number
						</div>
					</li>
					<li>To collect calls inside the country, just change the 0 to 90 at the beginning of the call.</li>
					<li>For international calls from Brazil:
						<div class="essential-information__box title--dark-gray">
							00 + operator code + country code + city or region code + telephone number
						</div>
					</li>

					<li>To call service numbers (900, 0800, 0900, 0300, 800) is not necessary to dial the operator's number.</li>
				</ul>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='phone')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
