{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information'])}}

<div class="essential-information">

	<div class="search-results">
		<div class="essential-information__wrapper essential-information__search">
			<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

			{{essentialInformation.search()}}
		</div>

		<div class="essential-information__wrapper--gray">

			<div class="container">
				<div class="result main search-">
					<ul>
						<li class="result__item result__item--noresult">
							<h3 class="result__title title--em">We could not find any results for this search.</h3>
							<p class="result__description">Please try again or perhaps visit one of the categories.</p>
						</li>
					</ul>
				</div>

				<div class="essential-information__menu">
					{{essentialInformation.default(2)}}
				</div>
			</div>
		</div>

		{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
	</div>

</div>

{% endblock %}
