{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/essential-information.html" as essentialInformation %}

{% import "html-parts/components/card-hover.html" as card_hover %}

{% import "html-parts/components/custom-checkbox.html" as checkbox %}

{% import "html-parts/components/card.html" as card %}

{% import "html-parts/components/pagination.html" as pagination %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Useful Links'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--links"></span>
					<span class="essential-information__title-text">Useful links
				</h3>

				<ul>

					<li><a href="#" title="" class="link">Car rent</a></li>
					<li><a href="#" title="" class="link">Interstate bus terminals</a></li>
					<li><a href="#" title="" class="link">Airports</a></li>
					<li><a href="#" title="" class="link">Ports</a></li>
					<li><a href="#" title="" class="link">Baggage guidelines</a></li>
					<li><a href="#" title="" class="link">Brazil time zones</a></li>
					<li><a href="#" title="" class="link">Foreign embassies and consulates in Brazil</a></li>
					<li><a href="#" title="" class="link">Ministry of health</a></li>
					<li><a href="#" title="" class="link">National Traffic Department (Denatran)</a></li>
					<li><a href="#" title="" class="link">Electronic teclaration traveler goods</a></li>
					<li><a href="#" title="" class="link">Tourist service and information</a></li>
				</ul>
			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='useful')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
