{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}
{% import "html-parts/components/essential-information.html" as essentialInformation %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/custom-combobox.html" as combobox %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Essential Information', 'Weather'])}}

<div class="essential-information">

	<div class="essential-information__wrapper essential-information__search">
		<h2 class="essential-information__title title title--iskra title--2">Essential Information</h2>

		{{essentialInformation.search()}}
	</div>

	<div class="essential-information__wrapper--gray">

		<div class="container">
			<div class="essential-information__search-list main profile content-editor">
				<h3 class="essential-information__main-title title--em title--2 title--iskra">
					<span class="essential-information__icon essential-information__icon--weather"></span>
					<span class="essential-information__title-text">Weather</span>
				</h3>

				<p>Brazil has climates for all tastes, thanks to its large territory, combined with factors such as altitude, pressure and proximity to the ocean. The average annual temperature is 28°C in the North and 20°C in the south.</p>

				<p>The Brazilian winter is between May and September, and some cities in the South and Southeast, temperatures reach below 0°C, with frost and snow. In the summer, you can enjoy a 40°C heat in cities like Rio de Janeiro, for example. The summer in Brazil is the best time to go to the beach, drinking coconut water, dive into the sea and sunbathing.</p>

				<p>Regardless of the season, it is always good to bring in jacket and trousers bag, because the weather can change suddenly in some localities, especially in mountainous and coastal regions.</p>

				<p class="essential-information__subtitle"><strong>Seasons in the southern hemisphere</strong></p>

				<ul>
					<li><strong>Autumn:</strong> March 21 to June 21</li>
					<li><strong>Winter:</strong> from June 21 to September 23</li>
					<li><strong>Spring:</strong> from September 23 to December 21</li>
					<li><strong>Summer:</strong> December 21 to March 21</li>
				</ul>

				<p class="essential-information__subtitle">The average temperatures by season:</p>

				<p class="weather__label essential-information__label title--dark-gray">Select a season</p>

				{{combobox.changeContent(value=[
						{ "name": "Summer", "data": "summer"},
						{ "name": "Fall", "data": "fall"},
						{ "name": "Winter", "data": "winter"},
						{ "name": "Spring", "data": "spring"}
					]
				)}}

				<div class="weather__seasons">
					<div id="summer" class="weather__seasons--item combo-change-content">
						<img src="../images/essential-information-verao.png" class="essential-information__image" />
					</div>
					<div id="fall" class="weather__seasons--item combo-change-content">
						<img src="../images/essential-information-outono.png" class="essential-information__image" />
					</div>
					<div id="winter" class="weather__seasons--item combo-change-content">
						<img src="../images/essential-information-inverno.png" class="essential-information__image" />
					</div>
					<div id="spring" class="weather__seasons--item combo-change-content">
						<img src="../images/essential-information-primavera.png" class="essential-information__image" />
					</div>
				</div>

			</div>

			<div class="essential-information__menu">
				{{essentialInformation.default(2, active='weather')}}
			</div>
		</div>
	</div>
	{{essentialInformation.whiteBlock(categories=[
		{ "name": "Health", "link": "informacoes-essenciais-health.html"},
		{ "name": "Security", "link": "informacoes-essenciais-security.html"},
		{ "name": "Currency and Exchange", "link": "informacoes-essenciais-currency.html"},
		{ "name": "Vistas and Documentation", "link": "informacoes-essenciais-visas.html"},
		{ "name": "Emergency numbers", "link": "informacoes-essenciais-emergency.html"},
		{ "name": "Power and Eletricity", "link": "informacoes-essenciais-eletricity.html"},
		{ "name": "Weather", "link": "informacoes-essenciais-weather.html"},
		{ "name": "Phone carriers/providers", "link": "informacoes-essenciais-phone.html"},
		{ "name": "Language", "link": "informacoes-essenciais-language.html"},
		{ "name": "Useful links", "link": "informacoes-essenciais-useful.html"}
	])}}
</div>

{% endblock %}
