{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/share.html" as share %}
{% import "html-parts/components/add-favorite.html" as addFavorite %}
{% import "html-parts/components/mosaico.html" as mosaico %}
{% import "html-parts/components/author.html" as author %}
{% import "html-parts/components/related-links.html" as relatedLinks %}
{% import "html-parts/components/download-pdf.html" as downloadPdf %}


{% block content %}

{{breadcrumb.default(itens=['Home', 'Blog', "5 ways to break down the big city of São Paulo"])}}

<div class="blog-internal">

	{{destaque.internalBlog()}}

	<div class="internal-article container">
		<article class="internal-article__article content-editor">
			<header class="internal-article__header">
				<a href="/home-blog" class="btn-back">Back to Blog</a>

				<div class="internal-article__add-to-favorites">{{addFavorite.default(id='10', category='Blog', title='5 ways to break down the big city of São Paulo', description='5 ways to break down the big city of São Paulo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. dfsg fveverv frvervr df ddd dfrcwef rfgrvrw gferwg.')}}</div>
				<div class="internal-article__header-share">{{share.default()}}</div>

				<div class="internal-article__author">
					{{author.with_photo()}}
				</div>
			</header>

			<p>Passing through the endless skyscraper forest of Sao Paulo can be an intimidating scene for a solo traveler trying to understand the city.</p>
			<p>With so much ground to cover in a limited time, I felt overwhelmed trying to decide which way to go first.</p>
			<p>Thankfully, over the past five years of traveling around Latin America, I’ve developed a strategy for getting started in a new city.</p>
			<p>Here is my simple five-step plan for <em>breaking down the giant concrete jungle</em> of almost <strong>20 million “Paulistas”</strong> and making the most of your urban experience.</p>

			<h2 class="internal-article__title">Find a lookout point</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-popular-posts.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>The first task is to seek out a vantage point that gives you a view over the terrain to get my bearings on the landscape.</p>
			<p>In Sao Paulo, it was a bit difficult to find at first because every building looks to be a good choice.</p>
			<p>Often times you can find a luxury hotel that has a rooftop terrace or pool, which can be easy to get into if you act like you belong.</p>
			<p>Luckily it didn’t come to that because a friendly taxi driver pointed me in the direction of the Edificio Italia (Italy Building) for an incredible 360-degree view of Sao Paulo.</p>
			<p>I actually don’t know if this helped or hurt my cause as the city stretched well past my eyes could see.</p>
			<p>Again, I was feeling in way over my head.</p>
			<p>A casa possui um freguesia composta de empresários, profissionais liberais, publicitários e membros de empresas que tem sua sede em Botafogo.</p>
			<p>O local também tem estrutura para festas particulares e de empresas.</p>

			<div class="internal-article__related-links">
				{{relatedLinks.default(
					title='Aditional Links',
					itens=['Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur', 'Lorem ipsum dolor sit a met, consectetur'],
					externalLink= 'true',
					type= 'inline',
					isfixed= 'true'
				)}}
			</div>

			<h2 class="internal-article__title">Use public transportation</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>From top level to ground floor, the next step was to learn the public transportation process.</p>
			<p>While the bus system in many cities can takes months, if not years to master, subway systems are usually much more manageable and a great way to get around.</p>
			<p>Sao Paulo’s metro is surprisingly simple to navigate compared to other major metropolises (I’m looking at you New York).</p>
			<p>With some local help, I managed to make a few metro trips without getting lost and was able to learn the city’s layout through lines and stops in the meantime.</p>

			<h2 class="internal-article__title">Meet with locals</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>This one may be third on the list, but it is hands down the most important thing you should do in Sao Paulo, or any new place for that matter.</p>
			<p>Friends of friends, couchsurfing, social media, online dating, it doesn’t matter, however you can connect with locals, I highly recommend it!</p>
			<p>I was very grateful to have local friends join me for some delicious coxinhas and cachaca on my first night in town and they advised me on the best things to see and do in town.</p>

			<h2 class="internal-article__title">Hit the Major Avenues</h2>

			<p>Next up, find the main arteries that come in the form of major streets and avenues that serve as the lifeblood of the city.</p>
			<p>In Sao Paulo, Paulista Avenue is the main passageway through the heart of the city. Serving as both a financial and shopping center, it’s a great place to absorb local culture and get lost in the crowds.</p>
			<p>Visit local stores, eat traditional food, go to a museum, do some international business, all can be arranged on Paulista Ave.</p>

			<h2 class="internal-article__title">Find the public Markets</h2>

			<figure class="internal-article__figure">
				<img src="/images/img-expe-temp.jpg" class="internal-article__image" alt="Image post">
				<figcaption class="internal-article__subtitle">Tempor incididunt ut labore et dolore magna aliqua. </figcaption>
			</figure>

			<p>I’ve said it before and I’ll say it again, when traveling through Latin America; one of the best ways to understand a place is through the local markets.</p>
			<p>Not only do you have a chance to sample the local foods, but you can also see how people interact with one another and what knick-knacks are popular to locals.</p>
			<p>Sao Paulo’s central market is a great place to people watch, food taste and find refuge from the busy city streets outside.</p>
			<p>Stay tuned for more from Sao Paulo’s central market coming up next, but in the meantime, how do you explore a new city?</p>

			<footer class="internal-article__footer">
				<div class="internal-article__footer-share">{{share.default('big', 'center')}}</div>

				<hr class="internal-article__sep">

				<div class="internal-article__download-pdf">{{downloadPdf.default(color='green')}}</div>
			</footer>
		</article>

	</div>

	<div class="blog-internal__mosaico">
		<h3 class="title title--2 title--iskra title--em">See our recommendations!</h3>
		{{mosaico.default(type='big')}}
	</div>

</div>

{% endblock %}
