{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/custom-checkbox.html" as checkbox %}
{% import "html-parts/components/card.html" as card %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/newsletter.html" as newsletter %}
{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/mice-contact.html" as miceContact %}

{% block content %}

<div class="mice">
	<div>
		{{destaque.mice()}}
		<div class="mice__photo-description mice__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
	</div>

	<section class="mice__wrapper">
		<header class="mice__header container">
			<div class="mice__info">
				<p class="mice__info--text">This page is the official brazillian information for the meetings, incentives, conferences and exhibitions tourism industry. Here you can find the perfect spot in Brazil to host your event.</p>
				<a href="#" class="btn-default btn-default--degra-blue">
					<span class="db-desktop">Know more about MICE and business events</span>
					<span class="db-mobile">About Embratur’s MICE</span>
				</a>
			</div>

			<h2 class="mice__title title title--2 title--iskra title--sou-gray">Let us help<br class="db-mobile" /> you find the <strong class="title--degra-blue">perfect location</strong></h2>
		</header>

		<div class="mice__location-wrap">
			<div class="container">
				<div class="row">
					<div class="mice__item-filter">
						<label class="mice__item-filter-label" for="txtCity">City Name</label>
						<input type="text" name="txtCity" class="input-text" id="txtCity">
					</div>
					<div class="mice__item-filter">
						<label class="mice__item-filter-label" for="cbParticipants">Number of Participants</label>
						{{combobox.default(value=['1','2','3','4','5'], id="cbParticipants")}}
					</div>
					<div class="mice__item-filter">
						<label class="mice__item-filter-label" for="cbAccomodation">Accomodation</label>
						{{combobox.default(value=['1','2','3','4','5'], id="cbAccomodation")}}
					</div>
					<div class="mice__item-filter">
						<label class="mice__item-filter-label" for="cbSegment">Segment of interest</label>
						{{combobox.default(value=['Segmento 1','Segmento 2','Segmento 3','Segmento 4','Segmento 5'], id="cbSegment")}}
					</div>
					<div class="mice__item-filter mice__item-filter--checkbox">
						{{checkbox.default(type='normal', label='Has international airport', name='checkAirport')}}
					</div>
					<div class="mice__item-filter mice__item-filter--btn-search">
						<button class="btn-simple btn-simple--degra-blue">Search</button>
					</div>
				</div>
			</div>
		</div>

		<div class="mice__panel">
			<div data-cards-carousel--pagination class="cards-carousel container">
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='São Paulo', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Belo Horizonte', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Florianópolis', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Gramado', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Manaus', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Recife', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Salvador', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='Porto Alegre', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
				<div>{{ card.default(topContent='true', bodySize=3, cardColor='blue', dataTitle='São Luiz', dataText1='5.000', dataText2='10.000', dataText3='sun and beach culture', dataText4='sun and beach culture') }}</div>
			</div>
			<div class="search-list__results-pagination">
				{{pagination.default(type='light-blue')}}
				<button class="btn-load btn-load--degra-blue">Load more results</button><br />
				<a href="#" class="btn-default btn-default--degra-blue btn-all-cities">See all host cities</a>
			</div>
		</div>
	</section>

	<section class="mice__contact">
		{{miceContact.default()}}
	</section>

	<section class="mice__events-cards">
		<h2 class="container title title--2 title--iskra title--sou-gray"><strong class="title--degra-blue">Upcomming events</strong> in Brazil</h2>
		<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
		</div>
		<a href="#" class="btn-default btn-default--degra-blue">See all events</a>
	</section>

</div>
{% endblock %}
