{% extends "./html-parts/master/layout.html" %}

	{% import "html-parts/components/destaque.html" as destaque %}
	{% import "html-parts/components/custom-combobox.html" as combobox %}
	{% import "html-parts/components/custom-checkbox.html" as checkbox %}
	{% import "html-parts/components/card.html" as card %}
	{% import "html-parts/components/pagination.html" as pagination %}
	{% import "html-parts/components/newsletter.html" as newsletter %}
	{% import "html-parts/components/photo-description.html" as photoDescription %}
	{% import "html-parts/components/mice-contact.html" as miceContact %}

	{% block content %}

	<div class="mice">
		<div>
			{{destaque.miceSobre()}}
			<div class="mice__photo-description mice__photo-description--bottom">{{photoDescription.default(type='bottom')}}</div>
		</div>

		<article class="mice-about container">
			<aside class="mice-about__highlight">
				<p>This page is the official brazillian information for the meetings, incentives, conferences and exhibitions tourism industry.</p>
			</aside>
			<div class="mice-about__description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

				<ul class="list-default">
					<li class="list-default__item">Lorem ipsum dolor sit amet</li>
					<li class="list-default__item">consectetur adipiscing elit</li>
					<li class="list-default__item">Aenean euismod bibendum laoreet</li>
					<li class="list-default__item">Proin gravida dolor sit amet lacus accumsan</li>
				</ul>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus.</p>

				<p><a href="#" title="" class="btn-default btn-default--degra-blue">Go back to MICE page</a></p>
			</div>
		</article>

		<section class="mice__contact">
			{{miceContact.default()}}
		</section>

		<section class="mice__events-cards">
			<h2 class="container title title--2 title--iskra title--sou-gray"><strong class="title--degra-blue">Upcomming events</strong> in Brazil</h2>
			<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
				<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
				<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			</div>
			<a href="#" class="btn-default btn-default--degra-blue">See all events</a>
		</section>

	</div>
	{% endblock %}
