{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/custom-checkbox.html" as checkbox %}
{% import "html-parts/components/card.html" as card %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/newsletter.html" as newsletter %}
{% import "html-parts/components/mice-contact.html" as miceContact %}
{% import "html-parts/components/weather.html" as weather %}
{% import "html-parts/components/population.html" as population %}
{% import "html-parts/components/download-pdf.html" as downloadPdf %}

{% block content %}

<div class="mice-destino">
	<div>
		{{destaque.mice()}}
	</div>

	<section class="mice-destino__wrapper">
		<div class="container">
			<div class="mice-destino__info-wrapper">
				<div class="mice-destino__info">
					{{weather.default(theme="mice")}}
					<p class="mice-destino__info--text">This page is the official brazillian information for the meetings, incentives, conferences and exhibitions tourism industry. Here you can find the perfect spot in Brazil to host your event.</p>
				</div>

				<div class="mice-destino__list">
					<div class="mice-destino__list-title">Segment of interest</div>
					<div class="mice-destino__list-labels">
						<div class="mice-destino__list-label">Sun and beach</div>
						<div class="mice-destino__list-label">Sports and adventure</div>
						<div class="mice-destino__list-label">Culture</div>
					</div>
				</div>

				<div class="mice-destino__list mice-destino__list--table">
					<div class="mice-destino__list-wrapper mice-destino__list-wrapper--table">
						<div class="mice-destino__list-title mice-destino__list-title--border">Number of Participants</div>
						<div class="mice-destino__list-description">up to 10.000</div>
					</div>
					<div class="mice-destino__list-wrapper mice-destino__list-wrapper--table">
						<div class="mice-destino__list-title mice-destino__list-title--border">Accomodation</div>
						<div class="mice-destino__list-description">10.000 beds</div>
					</div>
					<div class="mice-destino__list-wrapper mice-destino__list-wrapper--table">
						<div class="mice-destino__list-title mice-destino__list-title--border">Airport</div>
						<div class="mice-destino__list-description">Rio de Janeiro has an international airport</div>
					</div>
				</div>
			</div>

			<div class="mice-destino__population">
				{{population.default()}}
			</div>


		</div>
	</section>

	<div class="mice-destino__panel">
		<h2 class="container title title--2 title--iskra title--sou-gray"><strong class="title--degra-blue">Convention centers</strong></h2>
		<div data-cards-carousel--pagination class="cards-carousel container">
			<div>{{ card.default(bodySize=0, topContentDestination='true', cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000') }}</div>
			<div>{{ card.default(bodySize=0, topContentDestination='true', cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000') }}</div>
			<div>{{ card.default(bodySize=0, topContentDestination='true', cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000') }}</div>
			<div>{{ card.default(bodySize=0, topContentDestination='true', cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000') }}</div>
			<div>{{ card.default(bodySize=0, topContentDestination='true', cardColor='blue', dataTitle='Rio de Janeiro', dataText1='5.000') }}</div>
		</div>

		<div class="mice-destino__panel-bottom">
			<h2 class="container title title--3 title--iskra title--sou-gray"><strong class="title--degra-blue">Rio de Janeiro</strong> convention & visitors bureau</h2>

			<div class="mice-destino__panel-address">
				Address: Edifício Braspar - Rua Guilhermina Guinle, 272 - Botafogo, Rio de Janeiro - RJ, 22270-060 <br>
				Phone: (21) 2266-9750 <br>
				E-mail: rp@embratur.gov.br <br>
				<a href="#" class="mice-destino__panel-link">www.rcvb.com.br</a>
			</div>
		</div>


		{{downloadPdf.default(type="", color="blue")}}

	</div>

	<section class="mice-destino__contact">
		{{miceContact.default()}}
	</section>

	<section class="mice-destino__events-cards">
		<h2 class="container title title--2 title--iskra title--sou-gray"><strong class="title--degra-blue">Upcomming events</strong> in Brazil</h2>
		<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
			<div>{{ card.default(bodySize=1, date=true, cardColor='blue', footerType='geoloc', dataTitle='Rio de Janeiro', dataText='Golden Beaches and lush mountains, samba-fueled nightlife and spectacular football matches') }}</div>
		</div>
		<button class="btn-default btn-default--degra-blue">See all events</button>
	</section>

</div>
{% endblock %}
