{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/apps.html" as apps %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'Apps and Sites'])}}
<div class="mobile-promo">
	{{destaque.mobilePromo()}}
	<div class="mobile-promo__wrapper clearfix">
		<section class="mobile-promo__aside">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		</section>
		<section class="mobile-promo__info">
			<p class="mobile-promo__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip:
			</p>

			<h2 class="mobile-promo__title title title--iskra title--light-green">Our Mobile apps</h2>
			<ul>
				<li>{{apps.default(image='../images/bg-app-1.png')}}</li>
				<li>{{apps.default(image='../images/bg-app-2.png')}}</li>
			</ul>
			<br><br><br>
			<h2 class="mobile-promo__title title title--iskra title--light-green">Our promotional sites</h2>
			<ul>
				<li>{{apps.default(sites='true', image='../images/bg-site-1.png')}}</li>
				<li>{{apps.default(sites='true', image='../images/bg-site-2.png')}}</li>
				<li>{{apps.default(sites='true', image='../images/bg-site-3.png')}}</li>
				<li>{{apps.default(sites='true', image='../images/bg-site-4.png')}}</li>
				<li>{{apps.default(sites='true', image='../images/bg-site-5.png')}}</li>
			</ul>
			<br><br><br>
		</section>
	</div>
</div>
{% endblock %}
