{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/breadcrumb.html" as breadcrumb %}

{% import "html-parts/components/destaque.html" as destaque %}

{% import "html-parts/components/external-links.html" as links %}

{% import "html-parts/components/contact-form.html" as form %}

{% block content %}

{{breadcrumb.default(itens=['Home', 'About Embratur'])}}
<div class="sobre-embratur">
	{{destaque.sobre()}}
	<div class="sobre-embratur__wrapper clearfix">
		<section class="sobre-embratur__aside">
			<strong class="sobre-embratur__logo title title--3">Embratur</strong>
		</section>
		<section class="sobre-embratur__info">
			<p class="sobre-embratur__text">
				The Brazilian Tourist Board (Embratur) is the specialist agency of the Brazilian Ministry of Tourism responsible for implementing National
				Tourism Policy it was formed in 1966 and works exclusively in the areas of promotion, marketing, and marketing support for Brazilian tourist
				destinations, services and products in the international market.
			</p>
			<p class="sobre-embratur__text">
				Embratur helps to generate social and economic development for the country by increasing the flow of international tourists to national destinations.
				For this purpose, it has the ‘Aquarela Plan - International Tourism Marketing of Brazil’ as the guideline for its action programmes.
			</p>
			<p class="sobre-embratur__text">
				More information on the official website:&nbsp<a href="http://www.embratur.gov.com.br" target="_blank">www.embratur.gov.com.br</a>
			</p>
			<div class="sobre-embratur__external-links">
				{{links.default()}}
			</div>
			<div class="sobre-embratur__formulario">
				{{form.default()}}
			</div>
		</section>
	</div>
</div>

{% endblock %}
