{% extends "./html-parts/master/layout.html" %}
{% import "html-parts/components/card-media.html" as cardMedia %}

{% block content %}

<div class="trade-login">

	<div class="trade-login__wrapper">

		<p class="trade-login__head-text">
			Here you can find support material for tourism trade agents, ranging from images and videos to detailed experience guides. Below you can find some samples of the material and through a quick sign-up and login you can have it in high resolution, among many others.
		</p>

		<div class="trade-login__container">
			<div class="trade-login__content trade-login__content--login">
				<h2 class="title title--dark-gray title--iskra trade-login__title">Login <strong class="title title--new-green">Trade</strong></h2>

				<form action="">
					<label class="trade-login__label" for="username">
						<span class="input-label">username</span>
						<input id="username" class="input-text " type="text">
						<span class="contact-form__fail contact-form__fail--cname" style="display: none"></span>
					</label>

					<label class="trade-login__label" for="password">
						<span class="input-label">password</span>
						<input id="password" class="input-text " type="text">
						<span class="contact-form__fail contact-form__fail--cname" style="display: none"></span>
					</label>
					<button type="submit" name="send" class="btn-simple btn-simple--new-green">Login</button>
					<a class="trade-login__link-forgot" href="/trade-forgot-password.html">Forgot password?</a>
				</form>
			</div>


			<div class="trade-login__content trade-login__content--signup">
				<h2 class="title title--dark-gray title--iskra trade-login__title">Sign up now!</h2>

				<p class="trade-login__text">Sign up to access exclusive content for the international trade, including:</p>

				<ul class="trade-login__list">
					<li class="trade-login__item">High resolution images and videos</li>
					<li class="trade-login__item">Information guides about Brazil's touristic experiences</li>
					<li class="trade-login__item">Information about how to become an specialist agent</li>
				</ul>

				<button class="btn-default btn-default--new-green">Register now</button>
			</div>
		</div>
	</div>

	<div class="trade-login__samples-wrapper">

		<div class="trade-login__samples">
			<div class="title title--2 title--sou-gray title--iskra">Sample <strong class="title--new-green title--iskra">images</strong></div>
			<p class="trade-login__sample-text">More than 300 images in high resolution after registration</p>

			<div class="trade-login__cards">
				{{cardMedia.default(type="image", color="new-green", text="Bahia")}}
				{{cardMedia.default(type="image", color="new-green", text="Distrito Federal")}}
				{{cardMedia.default(type="image", color="new-green", text="Amazonas")}}
			</div>
		</div>

		<div class="trade-login__samples">
			<div class="title title--2 title--sou-gray title--iskra">Sample <strong class="title--new-green title--iskra">videos</strong></div>
			<p class="trade-login__sample-text">More than 50 videos in high resolution after registration</p>
			<div class="trade-login__cards">
				{{cardMedia.default(type="video", color="new-green", text="Brazil beaches")}}
				{{cardMedia.default(type="video", color="new-green", text="Recife")}}
				{{cardMedia.default(type="video", color="new-green", text="Florianópolis")}}
			</div>
		</div>


		<button class="btn-default btn-default--new-green">Register now</button>


	</div>

</div>

{% endblock %}
