{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/card.html" as card %}
{% import "html-parts/components/gallery.html" as gallery %}
{% import "html-parts/components/trade-contact.html" as tradeContact %}

{% block content %}

<div class="imprensa imprensa--green">
	<section class="imprensa__highlight-wrapper">
		{{destaque.imprensa(type="trade")}}
		<div class="container imprensa__wrap-photo-description">{{photoDescription.default(type='bottom')}}</div>
	</section>
	<section class="imprensa__about">
		<div class="container">
			<p class="imprensa__about--paragraph">Here you can find <strong class="title--dark-gray title--em">press information</strong> and <strong class="title--dark-gray">support material</strong>, ranging from images to formated clippings and press releases. You can also contact Embratur for further support and information, through our <a href="#" class="link">contact form</a>.</p>
			<p class="imprensa__about--paragraph">
				<button class="btn-default btn-default--new-green">About Embratur's Trade</button>
			</p>
		</div>

	</section>

	<section class="imprensa__search">
		<div class="container">
			<h2 class="destaque__title imprensa__search--title title title--sou-gray title--2">What are you <span class="title--new-green">looking for</span>?</h2>
		</div>

		<div class="imprensa__search--wrapper">
			<div class="container">
				<form class="imprensa__form row">
					<div class="imprensa__form-col-search">
						<label class="imprensa__label" for="searchPress">Search</label>
						<div class="imprensa__form--search imprensa__field">
							<input type="text" class="imprensa__field--text" name="searchPress" id="searchPress" />
						</div>
						<button class="btn-simple btn-simple--new-green imprensa__desk">Search</button>
					</div>

					<div class="imprensa__form-col">
						<label class="imprensa__label">Interest</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboInterest"
						)}}
					</div>
					<div class="imprensa__form-col">
						<label class="imprensa__label">Filter by region or destination</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboRegion"
						)}}
					</div>
					<div class="imprensa__form-col">
						<label class="imprensa__label">&nbsp;</label>
						{{combobox.default(value=[
							'Lorem ipsum1',
							'Lorem ipsum2',
							'Lorem ipsum3',
							'Lorem ipsum4',
							'Lorem ipsum5'],
							id="comboLocal"
						)}}

						<button class="btn-simple btn-simple--orange imprensa__mobile">Search</button>
					</div>
				</form>
			</div>
			<div class="imprensa__results-wrapper clearfix">
				<div class="container">
					<div data-component="press-tabs" class="imprensa__tabs">
						<ul class="imprensa__tabs-list">
							<li class="imprensa__tabs-item">
								<a href="#trade-experiences" title="" class="imprensa__tabs-link">Experiences guides</a>
								{% include "html-parts/partials/trade-experiences.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#trade-images" title="" class="imprensa__tabs-link">Images</a>
								{% include "html-parts/partials/trade-images.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#trade-videos" title="" class="imprensa__tabs-link">Videos</a>
								{% include "html-parts/partials/trade-videos.html" %}
							</li>
							<li class="imprensa__tabs-item">
								<a href="#trade-clipping" title="" class="imprensa__tabs-link">Clipping</a>

							</li>
							<li class="imprensa__tabs-item imprensa__tabs-item--filter-results imprensa__tabs-item--active">
								<a href="#trade-filter-results" title="" class="imprensa__tabs-link"></a>
								<div id="trade-filter-results" class="imprensa__results imprensa__results--trade-filter-results imprensa__results--no imprensa_tabs-content">
									<div class="result__no-result">
										<h3 class="result__no-result-title">Please make sure all words are spelled correctly or try different keywords.</h3>
										<p class="result__no-result-description">You can also browse popular searches below.</p>

										<div class="popular-search">
											<a href="#" class="popular-search__item">Rio de Janeiro</a>
											<a href="#" class="popular-search__item">Carnaval</a>
											<a href="#" class="popular-search__item">Beaches</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="imprensa__contact">
		<div class="container">

			<h2 class="destaque__title imprensa__search--title title title--sou-gray title--2"><span class="title--new-green">Contact us</span></h2>
			{{tradeContact.default()}}

			<aside class="imprensa__contact-aside">
				<div class="imprensa__contact-aside--block">
					<h3 class="imprensa__contact-aside--title title title--dark-gray">Become an specialist agent</h3>
					<div class="imprensa__contact-result">
						<p>Want to become a specialist agent in Brazil? Fill out the registration accessed through the link below and we will inform you when the program will be held.</p>
					</div>
					<a href="#" class="imprensa__btn-program btn-simple btn-simple--new-green">Subscribe to this program</a>
				</div>
			</aside>
		</div>
	</section>

	<section class="imprensa__upcoming">
		<div class="container">
			<h2 class="imprensa__search--title title title--iskra title--sou-gray title--2"><span class="title--new-green">Upcoming Events</span> in Brazil</h2>

			<div class="imprensa__upcoming-events">
				<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
				</div>

			</div>
			<button class="btn-default btn-default--new-green">See all events</button>
			<br>
		</div>
	</section>

</div>

{% endblock %}
