{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/pagination.html" as pagination %}
{% import "html-parts/components/card.html" as card %}

{% block content %}

<div class="imprensa">
	<section class="imprensa__highlight-wrapper">
		{{destaque.tradeSobre()}}
		<div class="container imprensa__wrap-photo-description">{{photoDescription.default(type='bottom')}}</div>
	</section>

	<div class="imprensa__about-content container">
		<aside class="imprensa__about-highlight">
			<p class="imprensa__about-highlight--paragraph">This page is the official brazillian information for international trade</p>
		</aside>
		<section class="imprensa__about-description">
			<p class="imprensa__about-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

			<ul class="imprensa__about-list">
				<li class="imprensa__about-item">Lorem ipsum dolor sit amet</li>
				<li class="imprensa__about-item">consectetur adipiscing elit</li>
				<li class="imprensa__about-item">Aenean euismod bibendum laoreet</li>
				<li class="imprensa__about-item">Proin gravida dolor sit amet lacus accumsan</li>
			</ul>

			<p class="imprensa__about-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus.</p>

			<p><a href="#" title="" class="btn-default btn-default--new-green">Go back to Trade page</a></p>
		</section>
	</div>

	<section class="imprensa__upcoming">
		<div class="container">
			<h2 class="imprensa__search--title title title--iskra title--sou-gray title--2"><span class="title--new-green">Upcoming Events</span> in Brazil</h2>

			<div class="imprensa__upcoming-events">
				<div data-cards-carousel--bullets class="cards-carousel bullets--gray">
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
					<div class="imprensa__wrap-card">
						{{ card.default(bodySize=3, cardColor='new-green', date=true, dataTitle='Reveillon Fireworks in Copacabana', dataText='New Year\'s Eve in Rio is celebrated by millions of people. Tons of fireworks explode in the sky over Copacabana.', footerType='geoloc') }}
					</div>
				</div>

			</div>
			<button class="btn-default btn-default--new-green">See all events</button>
			<br>
		</div>
	</section>

</div>

{% endblock %}
