{% extends "./html-parts/master/layout.html" %}

{% import "html-parts/components/custom-combobox.html" as combobox %}
{% import "html-parts/components/custom-checkbox.html" as checkbox %}
{% import "html-parts/components/custom-radio.html" as radio %}

{% block content %}

<div class="trade-register">
	<h1 class="title title--iskra title--2 title--new-green">Join now</h1>

	<p class="trade-register__initial-text"><span class="trade-register__line-break">Sign up to access exclusive content for the international trade, including:</span> <br />High resolution images and videos, information guides about Brazil's touristic experiences and information about how to become an specialist agent</p>

	<form action="#" class="trade-register__form">

		<div data-component="box-msg-error" class="box-msg-error">
			<span><strong>All</strong> fields are required</span>
			<a href="#" class="box-msg-error__btn-close-error"></a>
		</div>

		<fieldset class="trade-register__fieldset">
			<legend class="trade-register__form-title">Personal information</legend>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<label for="txtName" class="trade-register__form-label">Name</label>
				<input type="text" class="input-text required" name="txtName" id="txtName">
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<label for="txtLastName" class="trade-register__form-label">Last Name</label>
				<input type="text" class="input-text required" name="txtLastName" id="txtLastName">
			</div>

			<div class="trade-register__form-item trade-register__form-item--big trade-register__form-item--first-line">
				<label for="txtEmail" class="trade-register__form-label">E-mail</label>
				<input type="email" class="input-text required" name="txtEmail" id="txtEmail">
			</div>
			<div class="trade-register__form-item trade-register__form-item--small">
				<label for="txtPhone" class="trade-register__form-label">Phone number</label>
				<input type="text" class="input-text required" name="txtPhone" id="txtPhone">
			</div>

			<div class="trade-register__form-item trade-register__form-item--small trade-register__form-item--first-line">
				<label for="txtDate" class="trade-register__form-label">Date of birth</label>
				<input type="text" class="input-text required" name="txtDate" id="txtDate">
			</div>

			<div class="trade-register__form-item trade-register__form-item--big">
				<label for="txtPhone" class="trade-register__form-label">Sex</label>
				<br />
				<div class="trade-register__radio">{{radio.default(label='Female', name='rdSex', id='rdFemale')}}</div>
				<div class="trade-register__radio">{{radio.default(label='Male', name='rdSex', id='rdMale')}}</div>
			</div>
		</fieldset>

		<fieldset class="trade-register__fieldset">
			<legend class="trade-register__form-title">Company information</legend>

			<div class="trade-register__form-item trade-register__form-item--full">
				<label for="txtJob" class="trade-register__form-label">Job title</label>
				<input type="text" class="input-text required" name="txtJob" id="txtJob">
			</div>

			<div class="trade-register__form-item trade-register__form-item--big trade-register__form-item--first-line">
				<label for="txtCompany" class="trade-register__form-label">Company name</label>
				<input type="text" class="input-text required" name="txtCompany" id="txtCompany">
			</div>
			<div class="trade-register__form-item trade-register__form-item--small trade-register__form-item--no-label">
				{{combobox.default(value=['Tourist trade','Public institution','Media','Others'], id="cbGroup", text="Group")}}
			</div>

			<div class="trade-register__form-item trade-register__form-item--full">
				<label for="txtAddress" class="trade-register__form-label">Full address</label>
				<input type="text" class="input-text required" name="txtAddress" id="txtAddress">
			</div>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<label for="txtCity" class="trade-register__form-label">City</label>
				<input type="text" class="input-text required" name="txtCity" id="txtCity">
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<label for="txtState" class="trade-register__form-label">State</label>
				<input type="text" class="input-text required" name="txtState" id="txtState">
			</div>

			<div class="trade-register__form-item trade-register__form-item--big trade-register__form-item--first-line">
				<label for="cbCountry" class="trade-register__form-label">Country</label>
				{{combobox.default(value=['Brasil','Argentina','Indonésia','Australia', 'Peru', 'México', 'Costa Rica', 'Panamá'], id="cbCountry", text="Select", required='true')}}
			</div>
			<div class="trade-register__form-item trade-register__form-item--small">
				<label for="txtZipCode" class="trade-register__form-label">Zip code</label>
				<input type="text" class="input-text" name="txtZipCode" id="txtZipCode">
			</div>

			<div class="trade-register__form-item trade-register__form-item--full">
				<label for="txtWebsite" class="trade-register__form-label">Company website</label>
				<input type="text" class="input-text required" name="txtWebsite" id="txtWebsite">
			</div>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<p class="trade-register__question">Does your company sell tourism products from South America?</p>
				<div class="trade-register__radio">{{radio.default(label='Yes', name='rdSouth', id='rdYesSouth')}}</div>
				<div class="trade-register__radio">{{radio.default(label='No', name='rdSouth', id='rdNoSouth')}}</div>
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<p class="trade-register__question">Does your company sell tourism products from Brazil?</p>
				<div class="trade-register__radio">{{radio.default(label='Yes', name='rdBrazil', id='rdYesBrazil')}}</div>
				<div class="trade-register__radio">{{radio.default(label='No', name='rdBrazil', id='rdNoBrazil')}}</div>
			</div>
		</fieldset>

		<fieldset class="trade-register__fieldset">
			<legend class="trade-register__form-title">Social information</legend>

			<p class="trade-register__description-fieldset">If you would like to be contacted via social networks, please inform:</p>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<label for="txtFacebook" class="trade-register__form-label">Facebook</label>
				<input type="text" class="input-text trade-register__field-social trade-register__field-social--facebook placeholder" name="txtFacebook" id="txtFacebook" placeholder="Ex: facebook.com/john.doe">
				<span class="trade-register__icon-social trade-register__icon-social--facebook"></span>
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<label for="txtLinkedin" class="trade-register__form-label">Linkedin</label>
				<input type="text" class="input-text trade-register__field-social trade-register__field-social--linkedin" name="txtLinkedin" id="txtLinkedin" placeholder="Ex: linkedin.com/john.doe">
				<span class="trade-register__icon-social trade-register__icon-social--linkedin"></span>
			</div>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<label for="txtSkype" class="trade-register__form-label">Skype</label>
				<input type="text" class="input-text trade-register__field-social trade-register__field-social--skype" name="txtSkype" id="txtSkype" placeholder="Ex: john_doe">
				<span class="trade-register__icon-social trade-register__icon-social--skype"></span>
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<label for="txtTwitter" class="trade-register__form-label">Twitter</label>
				<input type="text" class="input-text trade-register__field-social trade-register__field-social--twitter" name="txtTwitter" id="txtTwitter" placeholder="Ex: @johndoe">
				<span class="trade-register__icon-social trade-register__icon-social--twitter"></span>
			</div>
		</fieldset>

		<fieldset class="trade-register__fieldset">
			<legend class="trade-register__form-title">Security</legend>

			<div class="trade-register__form-item trade-register__form-item--medium trade-register__form-item--first-line">
				<label for="txtPassword" class="trade-register__form-label">Password</label>
				<input type="password" class="input-text required" name="txtPassword" id="txtPassword" placeholder="6 ou more characters">
			</div>
			<div class="trade-register__form-item trade-register__form-item--medium">
				<label for="txtVerifyPassword" class="trade-register__form-label">Verify password</label>
				<input type="password" class="input-text required" name="txtVerifyPassword" id="txtVerifyPassword" placeholder="Retype password">
			</div>
		</fieldset>

		<fieldset class="trade-register__fieldset">
			<div class="trade-register__form-item--terms">
				<div class="trade-register__form-item trade-register__form-item--full">
					{{checkbox.default(type='normal', label='I have read and accept', linkText='Terms and Conditions', name='checkTerms', required='true')}}
				</div>
				<div class="trade-register__form-item trade-register__form-item--full">
					{{checkbox.default(type='normal', label='I wish to receive newsletter emails from Embratur Trade', name='checkNews')}}
				</div>
			</div>
		</fieldset>

		<div class="trade-register__form-item trade-register__form-item--full">
			<div class="trade-register__box-send">
				<input type="submit" class="btn-simple btn-simple--new-green" value="Register">
				<input type="reset" class="trade-register__btn-cancel" value="Cancel">
			</div>
			<div class="trade-register__box-success">
				<span class="trade-register__btn-ok"></span>
				<small class="trade-register__text-success"><span class="trade-register__thank-you">Thank you!</span></small>
			</div>
		</div>
	</form>
</div>

{% endblock %}
