{% extends "./html-parts/master/layout.html" %}
{% import "html-parts/components/destaque.html" as destaque %}
{% import "html-parts/components/photo-description.html" as photoDescription %}
{% import "html-parts/components/trade-contact.html" as tradeContact %}

{% block content %}

<div class="trade-treinamento">

	{{destaque.imprensa(type="trade")}}
	<div class="trade-treinamento__photo-description-wrapper">
		<div class="trade-treinamento__photo-description trade-treinamento__photo-description--bottom">{{photoDescription.default(type='bottom', text='Amazon River in ', link='Belém/PA')}}</div>
	</div>

	<div class="trade-treinamento__wrapper">
		<div class="trade-treinamento__top">
			<div class="trade-treinamento__explanation">

				<div class="trade-treinamento__explanation-head">
					The focus of the program is to provide online training for Travel Agents.
				</div>
				<div class="trade-treinamento__explanation-text">
					Enabling them to learn more about Brazil and successfully sell the country, with its extensive range of products and destinations. To that end, an online e-learning platform will be created.
				</div>

			</div>

			<div class="trade-treinamento__levels">

				<span class="trade-treinamento__levels-text">The program will be divided into 3 levels.</span>



					<div class="trade-treinamento__levels-boxes">
						<div class="trade-treinamento__levels-boxeshead">

							<span class="trade-treinamento__levels-boxeshead-top">Level</span>
							<span class="trade-treinamento__levels-boxeshead-middle">1</span>
							<span class="trade-treinamento__levels-boxeshead-bottom">Basic</span>

						</div>

						<div class="trade-treinamento__levels-boxesbody">

							<p class="trade-treinamento__levels-boxesbody-top">
								Specialist Agents deemed to be at basic level are those who have:
							</p>

							<ul class="trade-treinamento__levels-boxesbody-list">
								<li class="trade-treinamento__levels-boxesbody-item">
									Participated in an edition of the e-learning course (2006, 2007, 2008 or 2009) and are active;
								</li>
								<li class="trade-treinamento__levels-boxesbody-item">
									Participated for the first time in a 40-minute seminar providing an overall presentation on Brazil (basic level) after the implementation date of the new program, given by EMBRATUR or the relevant Committees.
								</li>
							</ul>

						</div>
					</div>


					<div class="trade-treinamento__levels-boxes trade-treinamento__levels-boxes--secondof">
						<div class="trade-treinamento__levels-boxeshead">

							<span class="trade-treinamento__levels-boxeshead-top">Level</span>
							<span class="trade-treinamento__levels-boxeshead-middle">2</span>
							<span class="trade-treinamento__levels-boxeshead-bottom">Intermediate</span>

						</div>

						<div class="trade-treinamento__levels-boxesbody">

							<p class="trade-treinamento__levels-boxesbody-top">
								Specialist Agents deemed to be at intermediate level are those who have:
							</p>

							<ul class="trade-treinamento__levels-boxesbody-list">
								<li class="trade-treinamento__levels-boxesbody-item">
									Those who have passed level 1, are Specialists, active and have participated in an additional seminar on Brazil (in-person or online) or refresher course (in-person or online - given by EMBRATUR or the relevant Committees).
								</li>
							</ul>

						</div>
					</div>


					<div class="trade-treinamento__levels-boxes trade-treinamento__levels-boxes--thirdof">
						<div class="trade-treinamento__levels-boxeshead">

							<span class="trade-treinamento__levels-boxeshead-top">Level</span>
							<span class="trade-treinamento__levels-boxeshead-middle">3</span>
							<span class="trade-treinamento__levels-boxeshead-bottom">Advanced</span>

						</div>

						<div class="trade-treinamento__levels-boxesbody">

							<p class="trade-treinamento__levels-boxesbody-top">
								Specialist Agents deemed to be at advanced level are those who have:
							</p>

							<ul class="trade-treinamento__levels-boxesbody-list">
								<li class="trade-treinamento__levels-boxesbody-item">
									Are those who have achieved all the previous levels and participated in Caravana Brasil. May act as a disseminator of Brazil as a destination, and will be submitted to an advanced level QUESTIONNAIRE via email in order to achieve this level.
								</li>
							</ul>

						</div>
					</div>

			</div>
		</div>
		<div class="trade-treinamento__bottom">


			<div class="trade-treinamento__subscribe">
				<strong class="title title--iskra title--2 title--new-green trade-treinamento__title-mobile">Substribe to this program</strong>
				<div class="trade-treinamento__subscribe-box">
					<strong class="trade-treinamento__subscribe-title trade-treinamento__subscribe-title--big">Information</strong>
					<p class="trade-treinamento__subscribe-text trade-treinamento__subscribe-text--head">
						Currently the program is not available. <br>
						For more informations, contact:
					</p>
					<strong class="trade-treinamento__subscribe-title">International Markets Department </strong>
					<span class="trade-treinamento__subscribe-text">Brasília/BRASIL</span>

					<div class="trade-treinamento__info">
						<div class="trade-treinamento__info-data">
							<strong class="trade-treinamento__subscribe-title">E-mail </strong>
							<a href="" class="trade-treinamento__subscribe-text trade-treinamento__subscribe-text--link">dmi@embratur.gov.br</a>
						</div>
						<div class="trade-treinamento__info-data">
							<strong class="trade-treinamento__subscribe-title">Phone</strong>
							<span class="trade-treinamento__subscribe-text">+55 61 2023.8537</span>
						</div>
						<div class="trade-treinamento__info-data">
							<strong class="trade-treinamento__subscribe-title">Fax</strong>
							<span class="trade-treinamento__subscribe-text">+55 61 2023.8540</span>
						</div>
					</div>
				</div>
			</div>

			<div class="trade-treinamento__contact">
				<strong class="title title--iskra title--2 title--new-green trade-treinamento__title-desk">Substribe to this program</strong>
				{{tradeContact.default()}}
			</div>
		</div>
	</div>

</div>

{% endblock %}
