{% extends "./html-parts/master/layout.html" %}
{% import "html-parts/components/card-media.html" as cardMedia %}
{% import "html-parts/components/alert-intern.html" as alert %}

{% block content %}

<div class="trade-login">

	<div class="trade-login__wrapper">

		<p class="trade-login__head-text">
			Here you can find support material for tourism trade agents, ranging from images and videos to detailed experience guides. Below you can find some samples of the material and through a quick sign-up and login you can have it in high resolution, among many others.
		</p>

		<div class="trade-login__container">
			<div class="trade-login__content trade-login__content--login trade-login__content--lh">
				<h2 class="title title--dark-gray title--iskra trade-login__title">Forgotten your <br> password?</h2>
				<div class="trade-login__form">
					<p class="trade-login__text">Please tell us your e-mail address so we can reset your password:</p>
					{{alert.intern(theme="red", icon="bug", size="small", title="All fields are required")}}
					<form id="restore-password" action="" data-validate--password>
						<label class="trade-login__label" for="email">
							<span class="input-label">email</span>
							<input id="email" class="input-text required" type="text">
						</label>
						<button type="submit" name="send" class="btn-simple btn-simple--new-green">Send</button>
						<a class="trade-login__link-cancel" href="/trade-login.html">Cancel</a>
					</form>
				</div>
				<div class="trade-login__message">
					<p class="trade-login__text">
						Password reset started. <br>
						Please check your e-mail address soon and follow the instructions sent to reset your password.
					</p>
					<a href="trade-login.html" class="btn-simple btn-simple--new-green">Login</a>
				</div>
			</div>


			<div class="trade-login__content trade-login__content--signup trade-login__content--lh">
				<h2 class="title title--dark-gray title--iskra trade-login__title">Sign up now!</h2>

				<p class="trade-login__text">Sign up to access exclusive content for the international trade, including:</p>

				<ul class="trade-login__list">
					<li class="trade-login__item">High resolution images and videos</li>
					<li class="trade-login__item">Information guides about Brazil's touristic experiences</li>
					<li class="trade-login__item">Information about how to become an specialist agent</li>
				</ul>

				<button class="btn-default btn-default--new-green">Register now</button>
			</div>
		</div>
	</div>

	<div class="trade-login__samples-wrapper">

		<div class="trade-login__samples">
			<div class="title title--2 title--sou-gray title--iskra">Sample <strong class="title--new-green title--iskra">images</strong></div>
			<p class="trade-login__sample-text">More than 300 images in high resolution after registration</p>

			<div class="trade-login__cards">
				{{cardMedia.default(type="image", color="new-green", text="Bahia")}}
				{{cardMedia.default(type="image", color="new-green", text="Distrito Federal")}}
				{{cardMedia.default(type="image", color="new-green", text="Amazonas")}}
			</div>
		</div>

		<div class="trade-login__samples">
			<div class="title title--2 title--sou-gray title--iskra">Sample <strong class="title--new-green title--iskra">videos</strong></div>
			<p class="trade-login__sample-text">More than 50 videos in high resolution after registration</p>
			<div class="trade-login__cards">
				{{cardMedia.default(type="video", color="new-green", text="Brazil beaches")}}
				{{cardMedia.default(type="video", color="new-green", text="Recife")}}
				{{cardMedia.default(type="video", color="new-green", text="Florianópolis")}}
			</div>
		</div>


		<button class="btn-default btn-default--new-green">Register now</button>


	</div>

</div>

{% endblock %}
