.accordeon {
	margin: 32px 0;

	@include breakpoint('mobile') {
		background-color: $bd-gray-light;
	}

	&--address {
		margin: 0;
	}

	&__wrapper {
		padding: 0 24px 0px;
		background-color: $bd-gray-light;

		@include breakpoint('mobile') {
			width: $grid-col-width-mobile;
			margin: 0 auto;
			padding: 0;
		}

		&--address {
			padding: 0;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
		color: $sasha-gray;
		letter-spacing: 1px;
		padding: 24px 0;
		display: block;
		cursor: pointer;
		position: relative;

		&--address {
			&:before, &::after {
				display: none;
			}
		}

		&:before, &::after {
			background-color: $light-bege;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:before {
			content: '';
			height: 3px;
			width: 15px;
			top: 50%;
			margin-top: -1px;
			transform: rotate(180deg);
			right: 31px;
		}

		&:after {
			content: '';
			top: 50%;
			margin-top: -7px;
			width: 3px;
			height: 15px;
			right: 37px;
		}

		@include breakpoint('mobile') {
			font-size: 17px;

			&::before {
				right: 0px;
			}
			&::after {
				right: 6px;
			}
		}
	}

	&__content {
		display: none;
	}

	&__content-title {
		display: block;
		padding-left: 32px + 36px + 12px;
		font-size: 16px;
		color: $sasha-gray;
		height: 64px;
		background-color: $white;
		line-height: 66px;
		border-bottom: 1px solid $bd-gray-middle;
		cursor: pointer;
		position: relative;

		&::before {
			content: '';
			border-radius: 60px;
			border: 1px solid $light-green;
			width: 36px;
			height: 36px;
			position: absolute;
			top: 50%;
			left: 32px;
			margin-top: -16px;
			background-repeat: no-repeat;
			background-size: 70%;
			background-position: center;
		}

		@include breakpoint('mobile') {
			display: table-cell;
			vertical-align: middle;
			width: $grid-col-width-mobile;
			font-size: 12px;
			padding: 0 55px 0 80px;
			line-height: normal;
		}

		&--como-chegar {
			&::before {
				background-image: url(../images/aviao--light-gray.svg);
			}
		}

		&--como-locomover {
			&::before {
				background-image: url(../images/onibus--light-gray.svg);
			}
		}

		&--onde-ficar {
			&::before {
				background-image: url(../images/keychain--gray.svg);
			}
		}

		&--quanto-custa {
			&::before {
				background-image: url(../images/currency--light-gray.svg);
			}
		}

		&--bus {
			&::before {
				background-image: url(../images/onibus--light-gray.svg);
			}
		}

		&--metro {
			&::before {
				background-image: url(../images/metro--light-gray.svg);
			}
		}

		&--taxi {
			&::before {
				background-image: url(../images/taxi--light-gray.svg);
			}
		}
	}

	&__content-description-icon {
		background-image: url(../images/seta-vertical--gray-light.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 32px;
		margin-top: -35px;
		width: 14px;
		height: 9px;
		transform: rotate(180deg);
		transition: transform .3s ease-in-out;
		cursor: pointer;
	}

	&__content-description {
		position: relative;

		&:last-child .accordeon__content-description-text {
			border-bottom: 1px solid $bd-gray-middle;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
		}
	}

	&__content-description-text {
		font-size: 14px;
		padding: 32px;
		line-height: 20px;
		background-color: $white;
		display: none;

		@include breakpoint('mobile') {
			font-size: 13px;
		}
	}

	&__checkbox {
		 display: none;
	}

	&__checkbox--description:checked ~ p {
		display: block;
		border-bottom: 1px solid $bd-gray-middle;
	}

	&__checkbox--description:checked ~ .accordeon__content-description-icon {
		transform: rotate(0deg);
	}

	&__checkbox--title:checked ~ dl {
		display: block;
		padding-bottom: 24px;
	}

	&__checkbox--title:checked ~ label::after {
		display: none;
	}
}
