.ad {
	position: relative;
	padding-top: 20px;
	padding-left: 25px;
	width: 465px;
	height: 120px;
	display: none;

	@include breakpoint("desktop") {
		display: block;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__text {
		font-size: 18px;
		font-weight: bold;
		width: 200px;
		line-height: 1.2;
		color: $white;
		position: relative;
		margin-bottom: 15px;
	}
}
