.add-favorite {
	display: inline-block;
	min-width: 150px;
	cursor: pointer;
	font-size: 0;

	@include breakpoint('mobile') {
		min-width: auto;
	}

	&__label {
		display: inline-block;
		margin-right: 12px;
		font-size: 12px;
		color: $basic-gray;
		text-align: left;

		&--remove {
			display: none;
		}

		@include breakpoint('mobile') {
			width: 50px;
			float: left;
		}
	}

	&--right {
		.add-favorite__label {
			margin-right: 0;
			margin-left: 12px;

			@include breakpoint('mobile') {
				float: right;
			}
		}
	}

	&__icon {
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 1px solid $grama-green;
		text-align: left;

		&::before {
			display: inline-block;
			position: relative;
			top: 3px;
			left: 5px;
			content: '';
			width: 16px;
			height: 17px;
			background-image: url(../images/heart-border--gray.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}


	&--active {
		.add-favorite__label {
			display: none;

			&--remove {
				display: inline-block;
			}
		}
	}


	// Variacão para cor laranja
	&--orange {
		.add-favorite__icon {border: 1px solid $basic-orange;}
	}

}
