.address {
	position: relative;
	width: 464px;
	height: 100%;
	background-color: $bd-gray-light;
	border-radius: 3px;
	border: 2px solid $bd-gray;


	&--map-picture {
		border: 0;
	}

	@include breakpoint('mobile') {
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 0 23px;
	}

	&__wrapper {
		@include breakpoint('mobile') {
			@include free-cols(1.2);
			margin: 0 auto;
		}
	}

	&__mapa {
		display: inline-block;
		width: 100%;
		height: 215px;

		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__conteudo {
		display: block;
		word-wrap: break-word;
		max-width: 400px;
		margin: 0 auto;
		margin-top: 25px;

		@include breakpoint('mobile') {
			margin-top: 34px;
		}

		&--title {
			margin-bottom: 15px;
			font-size: 20px;
			color: $sasha-gray;
			letter-spacing: 1px;
			font-weight: bold;
		}

		&--subTitle {
			font-weight: 200;
			font-size: 14px;
			line-height: 18px;
			color: $dark-gray;
			margin: 15px 0 0 0;

			@include breakpoint('mobile') {
				margin-bottom: 30px;
			}
		}
	}

	&__button {
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;

		@include breakpoint('mobile') {
			position: static;
			max-width: 400px;
			margin: 0 auto;
		}
	}

	&__nomap {
		margin-top: 35px;
		margin-bottom: 20px;

		@include breakpoint('mobile') {
			margin-top: 0px;
			margin-bottom: 0;
		}
	}

	&__place-label {
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 5px;
		color: $sasha-gray;

		&--timezone {
			margin-top: 15px;
		}

		@include breakpoint('tablet') {
			margin-top: 50px;
		}
	}

	&__place-timezone {
		font-weight: bold;
	}

	&__place-text-wrapper {
		text-indent: -10px;

		@include breakpoint('tablet') {
			text-indent: 0px;
		}

		@include breakpoint('desktop') {
			text-indent: 0px;
		}

		&--noapi {
			display: none;
		}
	}

	&__place-text {
		white-space: nowrap;
		line-height: 31px;
		font-size: 20px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 2px solid $sasha-gray;
		position: relative;
		display: inline;

		&::after {
			content: '';
			background-color: $degra-blue;
			width: 16px;
			height: 16px;
			position: absolute;
			border-radius: 50px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			bottom: 2px;
			right: -22px;
		}

		@include breakpoint('tablet') {
			line-height: 26px;
		}
	}

	&__map-wrapper {

		@include breakpoint('desktop') {

		}

		@include breakpoint('tablet') {
			position: absolute;
			bottom: 85px;
			margin-top: 0;
			margin-left: 25px;
		}

		&--noapi {
			max-width: inherit;
			left: 0;
			position: static;
			bottom: 0;
			text-align: left;
			margin: -41px 0 20px 0;

			@include breakpoint('mobile') {
				text-align: center;
				margin: 0 auto;
			}

			.address__map-regions {
				float: none;
				margin-left: 246px;
				padding-top: 5px;

				@include breakpoint('mobile') {
					margin-left: 0;
				}
			}

			.address__map-image {
				text-align: left;
				position: absolute;
				top: 0;

				@include breakpoint('mobile') {
					position: relative;
					top: 0;
				}
			}

			.btn-get-region {
				margin-left: 246px;
				margin-top: 20px;

				@include breakpoint('mobile') {
					margin: 0 auto;
				}
			}
		}
	}

	&__map-image {
		width: 216px;
		height: 216px;
		border-radius: 120px;
		background-color: $navy-blue;
		position: relative;
		text-align: center;
		padding-top: 15px;
		position: relative;
		border: 4px solid #FFF;
		z-index: 1;
		margin: 24px auto;
		margin-top: -25px;
		margin-bottom: -25px;

		&::after {
			content: '';
			background-image: url(../images/brasil-map.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 186px;
			height: 186px;
			top: 50%;
			position: absolute;
			left: 50%;
			margin-top: -87px;
			margin-left: -90px;
			background-position: center;
		}

		@include breakpoint('tablet') {
			text-align: left;
			position: absolute;
			top: 0;
		}

		@include breakpoint('desktop') {
			float: left;
	    margin-right: 30px;
		}

		@include breakpoint('mobile') {
			margin-top: 10px;
		}
	}

	&__map-regions {
		text-align: left;
		position: relative;

		@include breakpoint('tablet') {
			float: none;
			margin-left: 246px;
			padding-top: 5px;
		}

		@include breakpoint('desktop') {
			float: left;
			position: relative;
		}

		@include breakpoint('mobile') {
			text-align: center;
		}
	}

	&__map-maps {
		height: 488px;
    margin-top: -50px;

		@include breakpoint('tablet--e-acima') {
			margin-top: 0;
		}
	}

	&__accordion {
		display: block;
		max-width: 400px;
		height: 100%;
		margin: 0 auto;
		margin-bottom: 25px;
		word-wrap: break-word;
	}
}
