.alert-topo {
	position: relative;

	&__wrapper {
		max-width: 1208px;
		margin: 0 auto;
		position: relative;
		padding: 7px 0px;
		line-height: 30px;

		@include breakpoint('tablet--e-abaixo') {
			padding: 20px 54px 20px 20px;
		};
	}

	&__text-wrapper {
		line-height: 16px;
		float: left;

	}

	&__bg-wrapper {
		background-color: $light-blue;
	}

	&__btn {
		color: $light-blue;
		line-height: 20px;
		font-size: 14px;
		font-weight: bold;
		background-color: $white;
		border-radius: 20px;
		padding: 1px 11px;
		line-height: 0;
		letter-spacing: 1px;
		margin-left: 8px;

		@include breakpoint('tablet--e-abaixo') {
			margin-top: 0;
			margin-left: 0px;
		};
	}

	&__phrase {
		color: $white;
		font-size: 12px;
		margin-right: 5px;

		strong {
			font-weight: bold;
		}

		em {
			font-style: italic;
		}
	}

	&__bt-dismiss {
		position: relative;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1px;
		float: right;
		padding-right: 23px + 6px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
		right: 25px;
		line-height: 47px;
		color: $white;

		&::after {
			content: '';
			width: 23px;
			height: 23px;
			position: absolute;
			background-size: 100%;
			top: 50%;
			right: 0;
			margin-top: -12px;
			background-image: url(../images/btn-close-bg.svg);
		}

		@include breakpoint('mobile') {
			position: absolute;
			margin-top: 0;
	    top: 30px;
	    right: 25px;
			span {
				display: none;
			}
		};
	}
}
