.alert-intern {
	position: relative;
	margin-bottom: 28px;
	padding: 28px;
	border-radius: 4px;

	&--red {
		background-color: $thin-red;
		color: $middle-red;
	}

	&--orange {
		background-color: $thin-orange;
		color: $middle-orange;
	}

	&--green {
		background-color: $thin-green;
		color: $middle-green;
	}

	&--small {
		padding: 20px;
		border-radius: 4px;

		.alert-intern__title {
			font-size: 12px;
			text-transform: initial;
			font-weight: normal;
		}

		.alert-intern__bt-close {
			top: 19px;
			right: 20px;

			&::before, &::after {
				width: 12px;
			}
		}
	}

	&__title {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		position: relative;
		padding-left: 23px;

		&::before {
			content: '';
			top: -1px;
			background-size: 100%;
			left: 0;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--red::before {
			width: 16px;
			height: 14px;
			background-image: url(../images/icon-caution--red.svg);
		}

		&--orange::before {
			width: 16px;
			height: 16px;
			top: -2px;
			background-image: url(../images/icon-alert--orange.svg);
		}

		&--green::before {
			width: 16px;
			height: 16px;
			top: -2px;
			background-image: url(../images/icon-alert--green.svg);
		}
	}

	&__text {
		margin-top: 15px;
		font-size: 16px;
		line-height: 20px;
	}

	&__bt-close {
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 20px;
		top: 20px;

		&::before, &::after {
			content: '';
			height: 3px;
			width: 16px;
			position: absolute;
			top: 6px;
		}

		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}

		&--red {
			&::before, &::after {
				background-color: $middle-red;
			}
		}

		&--orange {
			&::before, &::after {
				background-color: $middle-orange;
			}
		}

		&--green {
			&::before, &::after {
				background-color: $middle-green;
			}
		}
	}
}
