.alert-global {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 11;

	&__bt-open {
		display: none;
		width: 64px;
		height: 64px;
		border-radius: 60px;

		@include breakpoint('mobile') {
			display: block;
			position: absolute;
			top: 20px;
			left: 23px;
		}
	}

	&__button-inside {
		width: 48px;
		height: 48px;
		border-radius: 60px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -24px;
		margin-top: -24px;
		background-repeat: no-repeat;
		background-size: 85%;
		background-position: 50% center;
		z-index: 1;
		transition: background .2s ease-in-out;

		&.active {
			background-repeat: no-repeat;
			background-size: 65%;
			background-position: 50% center;
		}
	}

	&__button-outside {
		width: 64px;
		height: 64px;
		border-radius: 60px;
		display: block;
		position: absolute;
		opacity: .3;
		top: 50%;
		left: 50%;
		margin-left: -32px;
		margin-top: -32px;
	}

	&__bg-wrapper {

		@include breakpoint('mobile') {
			display: none;
		}

		&::before, &::after {
			content: '';
			position: absolute;
			width: 50%;
			top: 0;
			height: 100%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	&__wrapper {
		max-width: 1208px;
		line-height: 47px;
		margin: 0 auto;
		font-size: 12px;
		color: $white;
		position: relative;
		z-index: 10;
		background-repeat: repeat-y;
		height: 47px;

		@include breakpoint('tablet'){
			padding: 0 105px 0 55px;
			height: auto;
		}

		@include breakpoint('mobile'){
			padding: 20px 55px;
			height: auto;
		}

		strong {
			font-weight: bold;
		}

		&::before {
			content: '';
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			margin-left: -10px;
			top: 10px;

			@include breakpoint('tablet--e-abaixo'){
				top: 20px;
			}
		}

		&--bug {
			&::before {
				background-image: url(../images/icon-bug.svg);
				width: 23px;
				height: 24px;
			}
		}

		&--cloud {
			&::before {
				background-image: url(../images/icon-cloud.svg);
				width: 23px;
				height: 24px;
			}
		}

		&--notebook {
			&::before {
				background-image: url(../images/icon-notebook.svg);
				width: 23px;
				height: 28px;
			}
		}
	}

	&__text {
		padding-left: 20px;

		@include breakpoint('tablet'){
			display: block;
			max-width: 593px;
			line-height: 22px;
			padding: 20px;
		}
		@include breakpoint('mobile'){
			display: block;
			line-height: 18px;
		}
	}

	&__text-wrapper {
	display: inline;
		@include breakpoint('tablet'){
			display: inline;
		}

		@include breakpoint('mobile'){
			display: inline-block;
		}

		em {
			font-style: italic;
		}
	}

	&__btn {
		font-size: 14px;
		font-weight: bold;
		background-color: $white;
		border-radius: 20px;
		color: $black;
		padding: 1px 11px;
		line-height: 0;
		letter-spacing: 1px;
		margin-left: 8px;

		@include breakpoint('tablet'){
			display: inline;
		}

		@include breakpoint('mobile'){
			display: inline-block;
			line-height: 14px;
			margin-left: 0;
			margin-top: 5px;
		}
	}

	&__bt-dismiss {
		position: relative;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1px;
		float: right;
		padding-right: 23px + 6px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
		right: 25px;
		line-height: 47px;

		&::after {
			content: '';
			width: 23px;
			height: 23px;
			position: absolute;
			background-size: 100%;
			top: 50%;
			right: 0;
			margin-top: -12px;
			background-image: url(../images/btn-close-bg.svg);
		}

		@include breakpoint('mobile') {
			position: absolute;
			margin-top: 0;
	    top: 30px;
	    right: 25px;
			span {
				display: none;
			}
		};
	}
}

.alert-global--red {
	&::before {
		background-color: $strong-red;
	}

	&::after {
		background-color: $soft-red;
	}

	.alert-global__bg-wrapper {
		background-image: url(../images/bg-linear-red.jpg);
		background: linear-gradient(to right, $strong-red, $soft-red);
	}

	.alert-global__btn {
		color: $middle-red;
	}
}

.alert-global--green {
	&::before {
		background-color: $soft-green;
	}

	&::after {
		background-color: $strong-green;
	}

	.alert-global__bg-wrapper {
		background-image: url(../images/bg-linear-green.jpg);
		background: linear-gradient(to right, $soft-green, $strong-green);
	}

	.alert-global__btn {
		color: $middle-green;
	}
}

.alert-global--orange {
	&::before {
		background-color: $soft-orange;
	}

	&::after {
		background-color: $strong-orange;
	}

	.alert-global__bg-wrapper {
		background-image: url(../images/bg-linear-orange.jpg);
		background: linear-gradient(to right, $soft-orange, $strong-orange);
	}

	.alert-global__btn {
		color: $middle-orange;
	}
}



.alert-global__bt-open--red {
	.alert-global__button-inside {
		background-color: $super-soft-red;
	}
	.alert-global__button-outside {
		background-color: $super-soft-red;
	}
}

.alert-global__bt-open--orange {
	.alert-global__button-inside {
		background-color: $super-soft-orange;
	}
	.alert-global__button-outside {
		background-color: $super-soft-orange;
	}
}

.alert-global__bt-open--green {
	.alert-global__button-inside {
		background-color: $super-soft-green;
	}
	.alert-global__button-outside {
		background-color: $super-soft-green;
	}
}

.alert-global__button-inside {
	background-position: center;
	background-size: 60%;
}

.alert-global__button-inside--bug {
	background-image: url(../images/icon-bug.svg);
}

.alert-global__button-inside--cloud {
	background-image: url(../images/icon-cloud.svg);
}

.alert-global__button-inside--notebook {
	background-image: url(../images/icon-notebook.svg);
}
