.alert-event {
	position: relative;
	margin-bottom: 28px;
	padding: 22px 32px;;
	border-radius: 4px;
	background-color: $thin-orange;
	color: $middle-orange;

		@include breakpoint('mobile') {
			padding: 32px 32px;;
		}

	&__content {
		height: 100%;

		&--block {
			display: table-cell;
			width: 50%;

			@include breakpoint('mobile') {
				display: block;
				width: 100%;
				margin-bottom: 20px;
			}
		}

		&--title {
			display: inline-block;
			font-family: $noto-sans-bold;
			color: $light-green;
			font-size: 12px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			padding-bottom: 14px;

			@include breakpoint('mobile') {
				padding-bottom: 5px;
			}
		}

		&--description {
			display: block;
			font-size: 16px;
			line-height: 19px;
		}

		&--happening{
			padding-right: 40px;

			@include breakpoint('mobile') {
				padding: 0;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 14px;
    			height: 14px;
    			margin: 0 5px -2px 0;
				background-image: url(../images/calendar--green.svg);
			}
		}

		&--when{
			padding-left: 40px;

			@include breakpoint('mobile') {
				padding: 0;
			}

			&::before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 14px;
    			height: 14px;
    			margin: 1px 0 0 -23px;
				background-image: url(../images/calendar--green.svg);

				@include breakpoint('mobile') {
					position: relative;
					margin: 0 5px 0 0;
    				top: 1px;
				}
			}
		}
	}

	.btn-default {
		margin-top: 15px;
		height: 22px;
		line-height: 0;
		font-size: 16px;
		padding: 0 25px 0 8px;

		&::before {
			right: 4px;
			width: 16px;
			height: 16px;
		}

		&::after {right: 8px;}

		@include breakpoint('mobile') {
			margin-top: 0;
		}
	}

	&__bt-close {
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 20px;
		top: 20px;

		&::before, &::after {
			content: '';
			height: 3px;
			width: 16px;
			position: absolute;
			top: 6px;
			background-color: $middle-orange;
		}

		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}

	//Animação do Pin Alert
	@-webkit-keyframes pulse {       
    	0% {-webkit-transform: scale(0); opacity: 0;}
    	8% {-webkit-transform: scale(0); opacity: 0;}
    	15% {-webkit-transform: scale(0.1); opacity: 1;}
    	30% {-webkit-transform: scale(0.5); opacity: 1;}
    	100% {opacity: 0; -webkit-transform: scale(1);}
  	}

  	@-moz-keyframes pulse {       
    	0% {-moz-transform: scale(0); opacity: 0;}
    	8% {-moz-transform: scale(0); opacity: 0;}
    	15% {-moz-transform: scale(0.1); opacity: 1;}
    	30% {-moz-transform: scale(0.5); opacity: 1;}
    	100% {opacity: 0; -moz-transform: scale(1);}
  	}
  
  	&__pulse_holder {
		display: block;
    	position: absolute;
    	top: -4px;
    	left: -4px;
  	}
    
	&__pulse_holder &__pulse_marker {
    	width: 12px;
    	height: 12px;
    	background-color: $light-green;
    	border-radius: 28px;
  	}
 
	&__pulse_holder &__pulse_rays {
    	margin: 0 auto;
    	border-radius: 100px;
    	position: absolute;
    	right: -13px;
    	top: -13px;
    	z-index: 10;
    	background-color: transparent;
    	opacity: 0.1;
    	width: 38px;
    	height: 38px;
    	border: 10px solid rgba(127, 193, 65, 0.5);
    	-webkit-border-radius: 100px;
    	-moz-border-radius: 100px;
    	-o-border-radius: 100px;
    	-ms-border-radius: 100px;
    	border-radius: 100px;
    	-webkit-animation: pulse 2s linear infinite;
    	-moz-animation: pulse 2s linear infinite; 
    	border-image: initial;
	}	
}


