.apps {
	text-align: left;
	width: 712px;
	height: 100%;
	margin: 0 auto;

	@include breakpoint('mobile') {
		width: auto;
	}

	&__item-wrapper {
		height: 100%;
		word-wrap: break-word;
		margin: 48px 0 32px 0;
		padding-bottom: 32px;
		border-bottom: 1px solid $bd-gray;

		&:first-child {
			margin-top: 0;
		}
	}

	&__item {
		height: 100%;
		word-wrap: break-word;

		&--image {
			display: inline-block;
			width: 216px;
			height: 210px;
			overflow: hidden;

			@include breakpoint('mobile') {
				margin: 0 30px;
			}
		}
	}

	&__info {
		display: inline-block;
		max-width: 450px;
		margin-left: 36px;
		vertical-align: top;

		@include breakpoint('mobile') {
			margin: 28px 0 0 0;
		}

		&--title {
			font-size: 20px;
			color: $sasha-gray;
			font-weight: 600;
			margin: 0 0 15px 0;
		}

		&--text {
			font-size: 16px;
			line-height: 26px;
			margin: 0 0 28px 0;

			@include breakpoint('mobile') {
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&__btn-wrapper {
		display: block;
		margin: 0;
		padding: 0;
	}

	&__button {
		display: inline-block;
		width: 150px;
		height: 48px;
		border: 1px solid $light-green;
		border-radius: 5px;
		margin: 0 20px 0 0;

		@include breakpoint('mobile') {
				margin-bottom: 13px;
			}
	}
}

