.atividade {

	&__wrapper {
		margin: 0 auto;
		text-align: center;
	}

	&__title-wrapper {
		@include cols(3);
		position: relative;
		left: 10px;
		z-index: 1;

		@include breakpoint('tablet') {
			@include free-cols(1);
		}

		@include breakpoint('mobile') {
			left: 0;
		}
	}

	&__icon {
		display: inline-block;
		position: relative;
		top: 23px;
		width: 92px;
		height: 92px;
		border: 1px solid $light-green;
		border-radius: 50px;
		background-size: 73%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #fff;
		background-image: url(../images/icon_features_kite_surfing--gray.svg);

		@include breakpoint('mobile') {
			width: 70px;
			height: 70px;;
		}

		&--location {
			display: block;
			margin: 0 auto;
			border: 0;
			top: -18px;
			width: 30px;
			height: 30px;
			background-color: $bd-gray-light;
			background-image: url(../images/location--blue.svg);
		}
	}

	&__title {
		display: inline-block;
		position: relative;
		bottom: 8px;

		@include breakpoint('mobile') {
			bottom: 0px;
		}
	}

	&__widgets-wrapper {
		@include cols(2);
		text-align: right;
		margin-top: 38px;

		@include breakpoint('mobile') {
			text-align: left;
		}
	}

	&__widget {
		display: inline-block;
	}

	&__share {
		margin-right: 12px;

		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__favorite {
		position: relative;
		top: 18px;
		background-color: #fff;
		border-radius: 3px;
		padding: 8px;
		z-index: 1;

		@include breakpoint('mobile') {
			top: 53px;
		}

		.add-favorite__icon::before {
			// left: -5px;

				@include breakpoint('mobile') {
					left: 5px;
				}
		}
	}

	&__weather {
		position: relative;
		display: block;
		top: 35px;
		z-index: 1;

		@include breakpoint('mobile') {
			position: inherit;
			top: -10px;
		}

	}

	&__mapa-wrapper {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 436px;
		top: -55px;
		text-align: center;
		background-color: $bd-gray-light;

		@include breakpoint('mobile') {
			top: -100px;
			height: 600px;
		}

		&--brasil {
			height: 595px;

			.atividade__mapa {
				height: 540px;

				@include breakpoint('mobile') {
					height: 445px;
				}
			}
		}
	}


	&__mapa {
		height: 386px;

		@include breakpoint('mobile') {
			height: 445px;
		}

		.map {
			width: 100%;
			height: inherit;
		}
	}

	&__mapa-info {
		position: relative;
		bottom: 96px;
		width: 370px;
		height: 144px;
		margin: 0 auto;
		border-radius: 3px;
		background-color: $bd-gray-light;

		@include breakpoint('mobile') {
			@include cols(1);
			bottom: 25px;
			max-height: 138px;
		}
	}

	&__location {
		display: block;
		text-align: center;
		font-size: 15px;
		letter-spacing: 2px;
		color: $degra-blue;
		padding: 0 37px 10px 37px;
		border-radius: 3px;

		a:hover {
			text-decoration: underline;
		}

		@include breakpoint('mobile') {
			padding-bottom: 8px;
		}
	}

	&__text {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		color: $dark-gray;
		padding: 0 30px 30px 30px;

		@include breakpoint('mobile') {
			padding: 0 10px 20px 10px;
		}
	}

	&__cards {
		margin-top: -55px;
		padding: 15px 0;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@include breakpoint('mobile') {
			margin-top: -100px;
		}


		&--sou-gray {
			background-color: $bd-gray-light;
		}

		&--bd-gray {
			background-color: $bd-gray;
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__see-more {
		margin-top: 72px;
		padding-top: 50px;

		@include breakpoint('mobile') {
			margin-top: 50px;
		}
	}

	.btn-default {
		margin: 0 0 57px 0;
	}

	&__more-activities {
		width: 100%;
		padding: 50px 0 70px 0;
		background-color: $bd-gray-light;

		@include breakpoint('mobile') {
			height: 750px;
		}
	}
}


/* Fix Heart Favorite Icon */


