.author {

	.author__photo {
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 60px;
		float: left;
		border: 2px solid $white;
		margin-right: 8px;
	}

	&__data {
		line-height: 0;
		width: 205px;
	}

	&__data-posted-by {
		font-size: 10px;
		line-height: 11px;
		color: $black;
	}

	&__data-name {
		display: block;
		font-size: 12px;
		line-height: 12px;
		font-weight: bold;
		color: $black;
		margin: 6px 0;

		&--no-date {
			padding-top: 24px;
		}
	}

	&__data-posted {
		@extend .author__data-posted-by;
	}

	&__description {
		font-size: 10px;
		line-height: 13px;
		color: $black;
		margin-top: 24px;
	}

	&__by {
		font-size: 10px;
		font-weight: normal;
	}
}

.author--with-description {
	.author__data {
		padding: 28px 32px;
		border: 3px solid $bd-gray;
		border-radius: 5px;
	}

	.author__photo {
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 60px;
		float: left;
		margin-top: 24px;
		border: 2px solid $white;
	}
}

.author--with-photo {
	.author__data {
		margin-left: 24px;
	}
}
