.basic-tooltip {
	position: absolute;
	height: 24px;
	padding: 0 8px;
	line-height: 24px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid $sou-gray;
	background-color: $white;
	opacity: 0;

	&::after {
		display: block;
		position: absolute;
		bottom: -6px;
		left: 50%;
		margin-left: -5px;
		width: 10px;
		height: 10px;
		content: '';
		border-right: 1px solid $sou-gray;
		border-bottom: 1px solid $sou-gray;
		background-color: $white;
		transform: rotate(45deg);
	}
}
