.blog {
	position: relative;
	@extend %clearfix;


	// **
	// * Highlights Section
	// **
	&__highlights {
		padding-bottom: 63px;
		background: $bd-gray url(/images/bg-home-blog.jpg) no-repeat top center;
		background-size: cover;
	}

	&__header-highlights {
		@include free-cols(3);
		height: 192px;
		margin: 0 auto;
		padding-top: 13px;

		@include breakpoint('mobile') {
			width: 100%;
			height: 178px;
			padding-top: 21px;
		}
	}

	&__title-main {
		position: relative;
		font-size: 164px;
		font-weight: 400;
		letter-spacing: -0.03em;
		text-shadow: 2px 2px 5px rgba(67, 58, 37, 0.15);

		@include breakpoint('mobile') {
			font-size: 120px;
		}
	}

	&__title-main-small {
		margin-left: -15px;
		font-size: 42px;
		letter-spacing: -0.03em;
		font-weight: 200;
		color: $sasha-gray;
		text-shadow: none;

		@include breakpoint('mobile') {
			position: absolute;
			top: 89px;
			left: 0;
			margin-left: 0;
			font-size: 40px;
		}
	}

	&__title-default {
		display: inline-block;
		margin-bottom: 12px;
		padding: 2px 4px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-family: 'NotoSansBold';
		font-size: 13px;
		color: $white;
		background-color: $soft-green;
	}

	&__initial-text {
		float: left;
		@include free-cols(1);
		font-size: 24px;
		letter-spacing: -0.01em;
		line-height: 32px;
		color: $sasha-gray;

		@include breakpoint('tablet') {
			@include free-cols(3);
		}

		@include breakpoint('mobile') {
			width: 100%;
			font-size: 18px;
			line-height: 24px;
		}

		&::before {
			display: block;
			content: '';
			width: 195px;
			height: 2px;
			margin-bottom: 32px;
			background-color: rgba(91, 91, 91, .2);

			@include breakpoint('mobile') {
				width: 120px;
				margin-bottom: 23px;
			}
		}

		> p {
			margin-bottom: 28px;

			@include breakpoint('mobile') {
				margin-bottom: 17px;
			}

			&:last-child {margin-bottom: 0;}
		}
	}

	&__initial-text-link {
		text-decoration: underline;
	}

	&__main-highlights {
		float: left;
		@include free-cols(3);

		@include breakpoint('desktop') {
			margin: -31px $grid-gutter 0 $grid-gutter;
		}

		@include breakpoint('tablet') {
			margin-top: 68px;
		}

		@include breakpoint('mobile') {
			width: 100%;
			margin-top: 28px;
		}


		.featured-posts--big {
			margin-bottom: $grid-gutter;

			@include breakpoint('mobile') {
				margin-bottom: 24px;
			}
		}
		.featured-posts--medium {
			margin-right: $grid-gutter;

			@include breakpoint('mobile') {
				margin-right: 24px;
			}
		}

		.featured-posts--medium,
		.featured-posts--small {
			float: left;
		}

	}

	.btn-read-more {margin-top: $grid-gutter;}


	// **
	// * Editor's corner section
	// **
	&__editor-corner {
		padding: 70px 0;

		@include breakpoint('mobile') {
			padding-top: 64px;
		}
	}

	&__trending-now {
		margin-bottom: 65px;

		@include breakpoint('desktop') {
			position: absolute;
			top: 161px;
			margin: 0 0 0 992px;

			.trending-blog {
				min-height: 815px;
			}
		}
	}

	&__box-send-email {
		@include cols(1);
		margin-top: -5px;
		color: $sou-gray;
		font-size: 24px;
    	line-height: 32px;
		letter-spacing: -0.0em;

		.blog__initial-text-link {
			color: $sasha-gray;
		}

		&::before {display: none;}
	}

	&__top-text-editors {
		margin: 6px 0 $grid-gutter 0;
		padding-bottom: 26px;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.02em;
		color: $sasha-gray;
		border-bottom: 2px solid $bd-gray;

		@include breakpoint('mobile') {
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__editor-post {
		margin-bottom: 27px;
		padding-bottom: 37px;
		border-bottom: 2px solid $bd-gray;
	}

	&__main-content {
		@include cols(3);
	}


	// **
	// * Popular posts
	// **
	&__popular-posts {
		padding: 64px 0 72px 0;
		background-color: $bd-gray;

		@include breakpoint('mobile') {
			.container:nth-of-type(2) {width: 100%;}
			.blog__title-default {margin-bottom: 35px;}
		}
	}


	&__hidden-desktop {
		@include breakpoint('desktop') {
			display: none;
		}
	}

	&__hidden-mobile {
		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

}
