.box-msg-error {
	display: none;
	position: relative;
	width: 100%;
	height: 51px;
	margin-bottom: 21px;
	padding: 0 20px;
	font-size: 12px;
	line-height: 51px;
	color: $middle-red;
	border-radius: 4px;
	background-color: $bg-error;

	&::before {
		content: '';
		display: inline-block;
		position: relative;
		top: 2px;
		width: 16px;
		height: 14px;
		margin-right: 5px;
		background-image: url(../images/ico-alert.svg);
		background-size: 100%;
	}

	&__btn-close-error {
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;

		&::before, &::after {
			content: '';
			height: 3px;
			width: 13px;
			position: absolute;
			top: 6px;
			background-color: $middle-red;
		}

		&::before {transform: rotate(45deg);}
		&::after {transform: rotate(-45deg);}
	}

	strong {font-weight: bold;}
}
