.breadcrumb {
	position: relative;
	width: 100%;
	background-color: $light-blue;
	z-index: 1008;

	&--fixed {
		position: fixed;
		margin-top: 62px;

		@include breakpoint('tablet--e-abaixo') {
			position: relative;
			margin-top: 0;
		}
	}


	&__inner {
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
	}

	&__list {
		list-style-type: none;

		@include breakpoint('mobile') {
		    margin-left: -32px;
		}		

		&--item {
			display: inline-block;
			position: relative;

			&:last-child a {
				cursor: default;
			}

			&:after {
				content: '';
				display: inline-block;
				width: 7px;
				height: 7px;
				background-image: url(../images/seta--breadcrumb.svg);
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}
