.card-media {
	position: relative;
	@include free-cols(1);
	min-height: 164px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 1px 5px 0 rgba(67, 58, 37, 0.2);

	&__image-wrap {
		position: relative;
		height: 121px;

		&--video {
			&::before {
				content: '';
				position: absolute;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				border: solid 2px $white;
				top: 36px;
				left: 87px;
			}

			&::after {
				content: "";
			    display: inline-block;
			    vertical-align: middle;
			    margin-right: 10px;
			    position: absolute;
			    left: 105px;
			    top: 47px;
			    width: 0;
			    height: 0;
			    border-top: 14px solid transparent;
			    border-bottom: 14px solid transparent;
			    border-left: 21px solid $white;
			}
		}
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__label {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 20px;
		padding: 0 5px;
		color: $basic-gray;
		background-color: $white;
		font-family: 'NotoSansBold';
		font-size: 12px;
		text-transform: uppercase;
		border-radius: 3px;
		line-height: 20px;
		cursor: pointer;

		&--images {
			&::before {
				content: '';
				display: inline-block;
				position: relative;
				top: 2px;
				width: 14px;
				height: 13px;
				margin-right: 3px;
				background-image: url(../images/photo_gallery--gray.svg);
				background-size: 100%;
			}
		}
	}

	&__body {
	    position: absolute;
	    bottom: 0;
	    background-color: $white;
		padding: 4px;
		width: 100%;
	}

	&__title {
	    color: $basic-orange;
	    line-height: 20px;
	    margin-left: 12px;
	    font-weight: bold;
	    padding: 8px 0;

	    &--orange {color: $basic-orange;}
	    &--new-green {color: $new-green;}
	}
}
