.card-tooltip {

	&__wrap {
		position: absolute;
		width: 164px;
		padding-bottom: 11px;
		letter-spacing: -0.02em;
		text-align: center;
		border-radius: 4px;
		background-color: $white;
		box-shadow: 0px 8px 34px 0px rgba(67, 58, 37, .4);
		opacity: 0;
		z-index: 11;

		&::after {
			display: block;
			position: absolute;
			bottom: -6px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 20px;
			content: '';
			background-color: $white;
			transform: rotate(45deg);
			z-index: 2;
		}
	}

	&__figure {
		width: 100%;
		height: 64px;
		border-radius: 4px;
		overflow: hidden;
	}

	&__section {
		position: absolute;
		top: 58px;
		left: 50%;
		transform: translateX(-50%);
		height: 12px;
		line-height: 12px;
		padding: 0 5px;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 9px;
		color: $white;
		border-radius: 10px;
		background-color: $soft-green;
	}

	&__title {
		display: inline-block;
		margin: 16px 0 5px 0;
		padding: 0 15px;
		line-height: 17px;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 12px;
		color: $soft-green;
	}

	&__description {
		padding: 0 15px;
		line-height: 14px;
		font-size: 11px;
		color: $sasha-gray;
	}

	&__btn {
		position: relative;
		width: 16px;
		height: 16px;
		margin-top: 7px;
		border-radius: 50%;
		background-color: $soft-green;
		z-index: 3;

		&::before {
			display: block;
			width: 8px;
			height: 9px;
			content: '';
			background-image: url(../images/seta-button-default--yellow.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: -1px 1px;
		}
	}

}
