.card-hover {
	background-color: $navy-blue;
	border-radius: 5px;
	display: inline-block;
	
	&--normal {
		width: 216px;
		height: 105px;
	}

	&--small {
		width: 184px;
		height: 105px;
	}

	&__wrapper {
		display: table;
		width: 100%;
		height: 91.5%;
	}

	&__images {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: $white;
		border-radius: 5px;
		position: relative;
		background-size: cover;
		background-position: center;

		&::before {
			content: '';
			border-radius: 5px;
			opacity: .5;
			background-color: #666;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}

	.title {
		text-shadow: 1px 2px 3px #333;
	}

	&__text-tl {
		font-size: 28px;
		line-height: 40px;
		z-index: 10;
		position: relative;
	}

	&__text-sm {
		font-size: 14px;
		font-weight: bold;
		z-index: 10;
		position: relative;
		text-shadow: 1px 1px 2px #333;

		&::before, &::after {
			content: '-';
			margin: 0 5px;
		}
	}
}
