.card {
	$WIDTH: 216px;
	$IMAGE_WIDTH: $WIDTH;
	$IMAGE_HEIGHT: $WIDTH;
	$IMAGE_WIDTH_MOBILE: $WIDTH;
	$IMAGE_HEIGHT_MOBILE: 168px;


	width: $WIDTH;
	border-radius: 4px;
	box-shadow: 0px 2px 5px 0px rgba(67, 58, 37, 0.15);
	background-color: #fff;
	overflow: hidden;
	position: relative;

	// Força layer próprio de animação
	transform: translate3d(0, 0, 0);

	// Transition
	transition-property: box-shadow, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-out;

	// Layout
	display: inline-block;
	vertical-align: top;
	margin: 0 16px;

	// Remove margem do primeiro e último elemento
	@include breakpoint(tablet--e-acima) {
		&:first-of-type { margin-left: 0; }
		&:last-of-type { margin-right: 0; }
	}

	@include breakpoint(mobile) {
		display: block;
		margin: 16px auto;
	}

	&:hover {
		box-shadow: 0px 8px 10px 0px rgba(67, 58, 37, 0.15);
		transform: translate3d(0, -8px, 0);
	}


	/**
	 * Modifier: Link
	 * Card que tem apenas um link e mais nada
	 */
	&--link {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		font-family: $noto-sans-bold;
		padding: ($IMAGE_HEIGHT / 2) 0; // Para compensar a altura por não ter imagem
		background-color: $light-gray;
		border: 1px solid $bem-gray;
		text-decoration: underline;

		@include breakpoint(mobile) {
			padding: ($IMAGE_HEIGHT_MOBILE / 2) 0; // Para compensar a altura por não ter imagem
		}
	}


	/**
	 * Modifier: Cor
	 * Cor do conteúdo do card (green|orange|blue|new-green)
	 */
	&--color-green { color: $light-green; }
	&--color-orange { color: $basic-orange; }
	&--color-blue { color: $degra-blue; }
	&--color-new-green { color: $new-green; }


	/**
	 * Element: Image Wrap
	 * Envolve a imagem
	 */
	&__image-wrap {
		width: $WIDTH;
		height: $WIDTH;
		overflow: hidden;
		position: relative;

		@include breakpoint(mobile) {
			height: $IMAGE_HEIGHT_MOBILE;
		}
	}


	/**
	 * Element: Image
	 * Representa a imagem do topo do card
	 *
	 * Requisitos:
	 * - child de __image-wrap
	 */
	&__image {
		width: $WIDTH;
		height: $WIDTH;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}


	/**
	 * Element: Icon
	 * Ícone que fica entre a imagem e o título
	 */
	&__icon {
		$ICON_BORDER_SIZE: 3px;
		$ICON_INNER_SIZE: 25px;
		$ICON_TOTAL_SIZE: $ICON_INNER_SIZE + ($ICON_BORDER_SIZE * 2);
		$ICON_TOP: $WIDTH - round($ICON_TOTAL_SIZE/2);
		$ICON_IMAGE_SIZE: $ICON_INNER_SIZE - 12px;

		width: $ICON_TOTAL_SIZE;
		height: $ICON_TOTAL_SIZE;
		border: $ICON_BORDER_SIZE solid #fff;
		background-color: #ccc;
		position: absolute;
		left: 50%;
		margin-left: round($ICON_TOTAL_SIZE/2)*-1;
		top: $WIDTH - round($ICON_TOTAL_SIZE/2);
		border-radius: $ICON_TOTAL_SIZE*2;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: round(($ICON_INNER_SIZE - $ICON_IMAGE_SIZE) / 2);
			left: round(($ICON_INNER_SIZE - $ICON_IMAGE_SIZE) / 2);
			width: $ICON_IMAGE_SIZE;
			height: $ICON_IMAGE_SIZE;

			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 100% 100%;
		}

		@include breakpoint(mobile) {
			$ICON_TOP: $IMAGE_HEIGHT_MOBILE - round($ICON_TOTAL_SIZE/2);
			top: $ICON_TOP;
		}

		&--star::before { background-image: url(../images/star--white.svg); }
	}

	&__label {
		background-color: $basic-orange;
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		@include border-radius(3px);
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 5px;
		z-index: 2;
	}

	// Modificadores pelo antecessor
	&--color-green &__icon { background-color: $light-green; }
	&--color-orange &__icon { background-color: $basic-orange; }
	&--color-blue &__icon { background-color: $degra-blue; }


	/**
	 * Element: Body
	 * Tudo que fica abaixo a imagem (content e footer)
	 */
	&__body {
		display: table;
		text-align: center;

		/**
		 * Modifier: Size [1-3]
		 * Altura determinada para conteúdo e footer
		 * - 1: 200px
		 * - 2: 216px;
		 * - 3: 244px;
		 */
		&--size-1 {
			height: 206px;

			@include breakpoint(mobile) {
				height: 170px;
			}
		}

		&--size-2 {
			height: 216px;

			@include breakpoint(mobile) {
				height: 168px;
			}
		}

		&--size-3 {
			height: 244px;

			@include breakpoint(mobile) {
				height: 186px;
			}
		}
	}


	/**
	 * Element: Content
	 * Wrap do __content-middle, que é um table-cell para centralizar
	 * título e texto ao centro da área útil.
	 *
	 * Responde como um table-row para que sua altura seja dinâmica
	 * conforme a altura determinada no __footer.
	 *
	 * Requisitos:
	 * - child de __body
	 */
	&__content {
		display: table-row;
		vertical-align: middle;
		font-size: 14px;
	}


	/**
	 * Element: Content Middle
	 * Wrap dos textos do card (titulo, descrição, ...)
	 * Tudo que estiver entre a imagem e o footer.
	 *
	 * Requisitos:
	 * - child de __content
	 */
	 &__content-middle {
 		display: table-cell;
 		vertical-align: middle;
 		font-size: 14px;
		padding: 0 20px;
 	}


 	/**
	 * Element: Content Top
	 * Wrap dos textos do card (titulo, descrição, ...)
	 * Tudo que estiver entre a imagem e o footer.
	 *
	 * Requisitos:
	 * - child de __content
	 */
	 &__content-top {
 		display: table-cell;
 		vertical-align: top;
 		text-align: left;
 		font-size: 14px;
		padding: 20px 20px;
 	}


	/**
	 * Element: Title
	 * Heading do card
	 *
	 * Requisitos:
	 * - child de __content
	 */
	&__title {
		line-height: 24px;
		margin-bottom: 6px;
		font-size: 20px;
		font-family: $noto-sans-bold;

		@include breakpoint(mobile) {
			font-size: 16px;
			line-height: 20px;
		}

		&--small {
			font-size: 16px;
			line-height: 20px;
		}
	}


	/**
	 * Element: SubTitle
	 * Heading do card
	 *
	 * Requisitos:
	 * - child de __content
	 */
	&__sub-title {
		line-height: 14px;
		font-size: 10px;
		font-family: $noto-sans-bold;
		color: $sasha-gray;
		text-transform: uppercase;
	}


	/**
	 * Element: Text
	 * Texto do card
	 *
	 * Requisitos:
	 * - child de __content
	 */
	&__text {
		line-height: 18px;
		font-size: 14px;
		color: $basic-gray;

		@include breakpoint(mobile) {
			font-size: 12px;
		}

		&--top-content {
			margin-bottom: 8px;
		}
	}


	/**
	 * Element: Footer
	 * Footer do card
	 *
	 * Requisitos:
	 * - child the __body
	 */
	&__footer {
		font-size: 12px;
		display: table-row;
		color: $basic-gray;

		/**
		 * Modifiers: Tipo de footer
		 */
		&--title-text, &--directions, &--buttons { height: 50px; }
		&--geoloc { height: 40px; }

		a {
			text-decoration: underline;
		}

		&--buttons {
			a {text-decoration: none;}

			.btn-download {margin-right: 17px;}
		}
	}


	/**
	 * Element: Footer Middle
	 * Wrap do conteúdo do footer para ficar centralizado
	 *
	 * Requisitos:
	 * - child de __footer
	 */
	 &__footer-middle {
 		display: table-cell;
 		vertical-align: middle;
		border-top: 1px solid $light-gray;
 	}


	/**
	 * Element: Footer Title
	 * Título do footer
	 */
	 &__footer-title {
		font-family: $noto-sans-bold;
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 2px;
		text-transform: uppercase;
		color: $sasha-gray;
 	}


	/**
	 * Element: Footer Text
	 * Texto do footer
	 */
	 &__footer-text {
		font-size: 13px;
		line-height: 16px;
 	}


	/**
	 * Element: Footer Link Maps
	 * Link para o Google maps usado no --directions
	 */
	 &__footer-link-maps {
		@extend .card__footer-title;
		text-decoration: none !important; // Precisa para sobrescrever '__footer a'. Tag tem prioridade sobre classe.
		line-height: 14px;
		display: block;
		margin: 0 37px;
		text-align: left;
		letter-spacing: 1.5px;

		background-image: url(../images/external_link--blue.svg);
		background-size: 17px 17px;
		background-position: 100% 50%;

		background-repeat: no-repeat;
 	}


	/**
	 * Element: Footer Place
	 * URL com icone de pin
	 */
	 &__footer-place {
		font-size: 12px;

		&::before {
			content: '';
			display: inline-block;
			width: 9px;
			height: 13px;
			margin-right: 6px;
			background-image: url(../images/location--gray.svg);
			background-size: 100% 100%;
			vertical-align: middle;
		}
 	}


	/**
	 * Element: Date
	 * Data que fica sobre a foto
	 */
	&__date {
		position: absolute;
		z-index: 100;
		width: 100%;
		height: auto;
		left: 0;
		top: 15px;
		text-align: center;
		color: #fff;

		line-height: 16px;
		font-size: 12px;
		text-transform: uppercase;
	}


	/**
	 * Element: Date Number
	 * Elemento inline de número
	 */
	&__date-number {
		font-size: 20px;
	}

	/**
	 * Element: Common link
	 */

	&__common-link {
		font-size: 12px;
		color: $sasha-gray;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;

		&::after {
			content: '';
			background-image: url(../images/icon-target-thin--gray.svg);
			background-repeat: repeat;
			background-position: center;
			width: 10px;
			height: 10px;
			position: absolute;
			background-size: 100%;
			right: -16px;
			top: 3px;
		}
	}
}


// Estilo para carrossel de cards em mobile
[data-cards-carousel--bullets] .card,
[data-cards-carousel--pagination] .card {
	@include breakpoint('mobile') {
		margin-left: 14px;
		margin-right: 14px;
	}
}
