.contextual-nav {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	border-top: 3px solid $light-green;
	color: $new-gray;
	z-index: 1001;

	&__wrapper {
		max-width: 1208px;
		margin: 0 auto;
		position: relative;
		padding: 7px 0px;
		line-height: 30px;

		@include breakpoint('tablet--e-abaixo') {
			padding: 20px 54px 20px 20px;
		}
	}

	&__text-wrapper {
		float: left;
		font-size: 13px;
		vertical-align: middle;
		padding-right: 10px;

		@include breakpoint('mobile') {
			line-height: 16px;
			margin-bottom: 10px;
		}
	}

	&__bg-wrapper {
		background-color: rgba(255, 255, 255, 0.9);
	}

	&__list {
		list-style-type: none;
		display: inline-block;
		vertical-align: middle;

		&--item {
			display: inline-block;
			position: relative;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 2px;


			&:hover a{
				text-decoration: underline;
			}

			&:after {
				content: '';
				display: inline-block;
				width: 7px;
				height: 7px;
				background-image: url(../images/seta--nav.svg);
			}

			&:last-child:after {
				display: none;
			}
		}
	}

	&__bt-dismiss {
		position: relative;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1px;
		float: right;
		padding-right: 23px + 6px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
		right: 0;
		line-height: 47px;
		font-size: 11px;
		color: $new-gray;

		&::after {
			content: '';
			width: 23px;
			height: 23px;
			position: absolute;
			background-size: 100%;
			top: 50%;
			right: 0;
			margin-top: -12px;
			background-image: url(../images/btn-close-bg--green.svg);
		}

		@include breakpoint('mobile') {
			position: absolute;
			margin-top: 0;
			top: 30px;
			right: 25px;
			span {
				display: none;
			}
		}
	}

	&--blue {
		border-color: $degra-blue;

		.contextual-nav__bt-dismiss::after {
			background-image: url(../images/btn-close-bg--blue.svg);
		}
	}
}
