.content-editor {

	p {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 32px;

		@include breakpoint('mobile') {
			font-size: 16px;
			line-height: 22px;
		}

		&:first-of-type {
			clear: both;
		}
	}

	strong {
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}


	//lista não ordenada
	ul:not(.share__list, .related-links__list, .custom-combo__options, .essential-information__categories, .health__vaccination-list) {
		line-height: 26px;
		font-size: 18px;

		strong {
			font-weight: bold;
		}

		li {
			margin-bottom: 18px;
			padding-left: 10px;

			&:last-child {margin-bottom: 32px;}

			&::before {
				content: '';
			    position: absolute;
			    margin-left: -10px;
			    margin-top: 11px;
			    width: 0;
			    height: 0;
			    border: .17rem solid $light-green;
			    border-radius: 50%;
			}
		}

		//Lista com letras em informações essenciais
		&.essential-information__list-letter {
			li {
				padding-left: 0;

				&::before {
					border: none;
				}
			}
		}
	}


	//Lista ordenada
	ol {
		counter-reset: li;
		line-height: 26px;
		font-size: 18px;

		li {
			margin-bottom: 18px;

			&:last-child {margin-bottom: 32px;}


			&::before {
				content: counter(li) '.'; /* Define um contador como conteúdo */
				counter-increment: li; /* Incrementa o contador de 1 */
				margin-right: 5px;
				font-family: $noto-sans-bold;
				color: $light-green;
			}
		}
	}

}
