.contact-form {
	text-align: center;
	height: 100%;
	margin: 0 auto;

	&__wrapper {
		@include cols(3);
		position: relative;
		text-align: left;
		padding: 15px 0 75px 0;
	}

	&__title {
		text-align: left;
	}

	&__form {
		margin-top: 32px;
	}

	&__label {
		display: inline-block;
		width: 340px;
		height: 32px;
		font-size: 11px;
		font-weight: 600;
		color: $sasha-gray;
		text-transform: uppercase;

		@include breakpoint('mobile') {
			width: 272px;
			margin-bottom: 54px;
		}

		&--mail {
			margin-left: 25px;

			@include breakpoint('mobile') {
				margin-left: 0;
			}
		}

		&--msg {
			width: 100%;
			height: 192px;
			margin: 30px 0 45px 0;

			@include breakpoint('mobile') {
				margin-top: 0;
			}
		}
	}

	&__textarea {
		width: 100%;
		height: 192px;
		padding: 10px;
		border-radius: 20px;
	}


	&__field {
		position: absolute;
		font-family: $noto-sans-regular;
		font-size: 15px;
		font-weight: 500;
		right: 35px;
		color: $jaca-gray;
		text-transform: lowercase;
	}

	&__msg {
		width: 100%;
		height: 145px;
		font-size: 20px;
		border: 0;

		@include breakpoint('mobile') {
			font-size: 16px;
		}
	}

	.custom-textarea {
		height: 192px;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: red;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
	}

	&__sucesso {
		position: absolute;
		bottom: 95px;
		height: 37px;
	}

	&__sucesso-wrapper {
		display: inline-block;
		line-height: 18px;

		@include breakpoint('mobile') {
			margin: 15px 0 20px 0;
		}

		&--msg {
			@include breakpoint('mobile'){
				margin-bottom: 25px;
			}
		}
	}

	&__sucesso-btn {
		display: inline-block;
		width: 90px;
		height: 32px;
		border-radius: 50px;
		margin: 10px 10px -2px 0;
		background-color: $new-green;

		&::before {
			content: '';
			position: absolute;
			display: inline-block;
			background-size: 20px 20px;
			background-image: url(../images/check_icon--white.svg);
			width: 20px;
			height: 20px;
			margin: 7px 0 0 37px;
		}
	}

	&__fail {
		position: absolute;
		color: red;
		font-size: 11px;
		font-weight: 100;
		text-transform: uppercase;

		&--cname {
			top: 132px;
			left: 250px;

			@include breakpoint('mobile') {
				top: 116px;
				left: 182px;
			}
		}

		&--cmail {
			top: 132px;
			right: 12px;

			@include breakpoint('mobile') {
				top: 202px;
				left: 175px;
			}
		}

		&--cmsg {
			top: 210px;
			right: 12px;

			@include breakpoint('mobile') {
				top: 295px;
				left: 161px;
			}
		}
	}

	.btn-simple {
		border-radius: 16px;
	}
}

