.custom-combo {
	float: left;
	position: relative;
	min-width: 170px;

	&.active {
		z-index: 1000;
	}

	&__button {
		border: 1px solid $bb-gray;
		border-radius: 18px;
		padding-left: 15px;
		padding-right: 15px;
		cursor: pointer;
		font-size: 16px;
		color: $sasha-gray;
		height: 32px;
		position: relative;
		z-index: 10;
		background-color: $white;
		transition: background-color .1s ease-out;
		width: 100%;
		text-align: left;

		@include breakpoint('mobile') {
			font-size: 12px;
		}

		&::after {
			content: '';
			background-image: url(../images/seta-vertical--gray-light.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 11px;
			height: 8px;
			position: absolute;
			right: 15px;
			top: 12px;
			transform: rotate(180deg);
			transition: transform .2s ease-in-out;
		}

		&--date::after {
			display: none;
		}
	}

	&__options {
		position: absolute;
		width: 100%;
		border: 1px solid $bb-gray;
		border-radius: 6px;
		top: 50%;
		margin-top: -5px;
		background: $white;
		padding: 24px 4px 4px;
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: opacity .1s ease-out;
	    z-index: 2;
	}

	&__options-item {
		padding: 5px 15px;
		font-size: 14px;
		color: $sasha-gray;
		border-radius: 18px;
		cursor: pointer;
		margin: 3px 0;

		@include breakpoint('mobile') {
			font-size: 12px;
		}

		&:hover, &.active {
			background-color: $bd-gray-bold;
		}

		&:first-child {
			margin-top: 10px;
		}

		&--link {
			display: block;
		}
	}

	//Customiza a scrollbar customizada
	.mCSB_scrollTools {
		width: 10px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		width: 10px;
		background-color: transparent;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 10px;
		background-color: $bd-gray-bold;

		&:hover {
			background-color: $bd-gray-bold;
		}
	}
}

.custom-combo.active {
	.custom-combo__button {
		background-color: $bd-gray-light;

		&::after {
			transform: rotate(0deg);
		}
	}

	.custom-combo__options {
		height: 175px;
		opacity: 1;
	}
}

.custom-combo--green {
	min-width: 130px;
	.custom-combo__button {
		background-color: $green-dark;
		color: $white;
		border: 0;
		height: 24px;
		font-size: 14px;

		&::after {
			top: 8px;
			background-image: url(../images/seta-vertical--dark-green.svg);
		}
	}

	&.active {
		.custom-combo__button {
			background-color: $green-dark;
		}
	}

	.custom-combo__options {
		border-color: $green-dark;
		border-radius: 15px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding-left: 0;
		padding-right: 0;
	}

	.custom-combo__options-item {
		border-radius: 0px;

		&:hover, &.active {
			background-color: $bd-gray;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}

.custom-combo--locked {

	.custom-combo__button {
		background-color: transparent;
		pointer-events: none;
	}
}
