.custom-radio {
	width: 24px;
	height: 24px;
	position: relative;
	background: trasparent;
	border-radius: 50px;
	border: 1px solid $light-bege;

	label {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		border-radius: 50px;
		font-size: 16px;
		padding: 5px 0;
		color: $sasha-gray;
		text-indent: 30px;
		line-height: 13px;
		white-space: nowrap;

		@include breakpoint('mobile') {
			white-space: inherit;
			text-align: left;
		}

		&:after {
			content: '';
			position: absolute;
			top: 6px;
			left: 6px;
			opacity: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $sou-gray;
		}

		> a {
			text-decoration: underline;
			color: $sasha-gray;
		}
	}

	input[type=radio] {
    	visibility: hidden;
	    &:checked + label:after {
			opacity: 1;
	    }
	}
}
