.custom-input-date {

	&__input, &__input-date {
		border: 1px solid $bb-gray;
		border-radius: 18px;
		padding-left: 15px;
		padding-right: 15px;
		cursor: pointer;
		font-size: 16px;
		color: #5B5B5B;
		height: 34px;
		position: relative;
		z-index: 10;
		background-color: #ffffff;
		transition: background-color .1s ease-out;
		width: 100%;
		text-align: left;
	}

	&__input {
		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__input-date {
		display: none;

		@include breakpoint('tablet--e-abaixo') {
			display: block;
		}

		@include breakpoint('mobile') {
			background: transparent;
		}
	}
}


// customização do plugin datepicker
.ui-widget-content {
	border: 2px solid $bb-gray;
	border-radius: 5px;
	margin-top: 5px;
}

.ui-widget-header {
	background-color: $bb-gray;
	border: none;
}

.ui-widget-content {
	color: $sasha-gray;
}

.ui-state-hover {
	background-color: $bd-gray-bold !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid $bd-gray-bold;
	background-color: $bd-gray-light ;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid $bd-gray-bold;
	background-color: $bd-gray-bold;
	font-weight: bold;
}

.ui-datepicker-next,
.ui-datepicker-prev {
	position: relative;
	cursor: pointer;

	&::after {
		content: '';
		background-image: url(../images/seta-horizontal--gray.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 10px;
		height: 16px;
		background-size: 100%;
		position: absolute;
		top: 50%;
		margin-top: -8px;
	}
}

.ui-datepicker-prev {
	transform: rotateY(180deg);
}

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover {
	border: none;
}
