.destaque {
	width: 100%;
	text-align: center;
	height: 490px;
	color: #fff;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@include breakpoint('mobile') {
		height: 400px;
	}

	&__picture {
		font: 0/0 a;
	}

	&--home {
		position: absolute;
		overflow: inherit;
		margin-top: -18px;

		.trending--center {
			position: absolute;
			top: inherit;
			bottom: -93px;

			@include breakpoint('mobile') {
				bottom: -179px;
			}
		}

		.destaque__conteudo {
			position: relative;
			z-index: 10;
		}
	}


	// Interna Blog
	&--internal-blog {
		position: relative;

		.destaque__conteudo {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 40px;
		}

		.title--1 {
			@include breakpoint('mobile') {
				font-size: 44px;
				letter-spacing: -0.02em;
			}
		}
	}

	&__txt-journal {
		display: inline-block;
		margin-bottom: 3px;
		font-family: $iskra;
		font-weight: 200;
		font-size: 42px;
		letter-spacing: -0.03em;

		@include breakpoint('mobile') {
			margin-bottom: 7px;
			font-size: 36px;
		}

		> span {
			font-weight: 400;
			font-style: italic;
		}
	}


	&__mark {
		position: absolute;
		width: 100%;
		height: 814px;
		overflow: hidden;
		top: 0;

		&::before {
			content: '';
			width: 1109px;
			height: 814px;
			position: absolute;
			top: 65px;
			left: 50%;
			margin-left: -554px;
			background-image: url(../images/bg_marca_agua.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&--home-destinos {
		min-height: 768px;
		height: auto;
		margin-bottom: 60px;

		@include breakpoint('mobile') {
			min-height: 560px;
			margin-bottom: 45px;
		}
	}

	&__mapaDestinos {
		display: none;
		height: 597px;
		position: relative;
		top: 35px;

		@include breakpoint('mobile') {
			height: 340px;
			top: 24px;
		}

		&:before {
			content: '';
			position: inherit;
			display: inline-block;
			margin: 0 auto;
			top: 2px;
			border-style: solid;
			border-width: 0 15px 15px 15px;
			border-color: transparent transparent $ocean-blue transparent;
		}

		&--controls-wrapper {
			width: 100%;
			position: absolute;
			z-index: 2;
		}

		&--controls-inner {
			@include free-cols(5);
			position: relative;
			margin: 0 auto;
			display: block;

			@include breakpoint('tablet') {
				@include free-cols(3);
			}

			@include breakpoint('mobile') {
				width: 100%;
			}
		}

		&--controls-btn {
			position: absolute;
			cursor: pointer;
			display: block;
			right: 0;
			width: 30px;
			height: 30px;
			color: #fff;
			font-weight: 600;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: $light-blue;
			margin-top: 32px;

			@include breakpoint('mobile') {
				right: 25px;
			}
		}

		.btn-plus {
			position: absolute;
			width: 15px;
			height: 3px;
			top: 12px;
			left: 7px;
			border-radius: 10px;
			background: #fff;
			-ms-transform: rotate(45deg); /* IE 9 */
			-webkit-transform: rotate(45deg); /* Safari */
			transform: rotate(45deg);
		}

		.btn-plus-2 {
			-ms-transform: rotate(-45deg); /* IE 9 */
			-webkit-transform: rotate(-45deg); /* Safari */
			transform: rotate(-45deg);
		}

		.map {
			width: 100%;
			height: inherit;
		}
	}

	&__destinos {
		position: absolute;
		height: 768px;
		margin-top: -18px;

		@include breakpoint('mobile') {
			height: 600px;
		}
	}

	&--mapaWrapper {
		position: relative;
		overflow: initial;
	}

	&--mapa {
		height: 100%;
	}



	&__destino {
		position: absolute;
		top: 0;
		z-index: 1;
		width: 90%;

		&--btn {
			position: relative;
			height: 100%;
			text-align: right;

			@include breakpoint('mobile') {
				display: none;
			}

			.btn-get-map {
				position: absolute;
				bottom: 17px;
				right: 0;

				@include breakpoint('tablet') {
					right: 40px;
				}
			}
		}
	}

	&__destino--nomap {
		width: 100%;
		overflow: initial;

		.container {
			position: relative;
			height: 100%;

			@include breakpoint('tablet--e-abaixo') {
				width: 100%;
			}
		}
	}

	&--atracao,
	&--regiao,
	&--eventos,
	&--evento {
		position: relative;
		overflow: visible;
	}

	&--evento-btn-wrapper {
		@include free-cols(5);
		position: relative;
		margin: 0 auto;
		display: block;

		@include breakpoint('tablet') {
			@include free-cols(3);
		}

		@include breakpoint('mobile') {
			width: 100%;
		}
	}

	&--evento-btn {
		position: absolute;
		top: 28px;
		right: 0;

		@include breakpoint('mobile') {
			right: 18px;
		}
	}

	&__wrap-title {
		width: 565px;

		@include breakpoint('mobile') {
			width: 272px;
		}

		&--bg {
			margin-left: 25px;

			span {
				position: relative;
				background-color: $white;
				display: inline;
				padding: 0px 0 15px 0;
				box-shadow: 28px 0 0 $white, -25px 0 0 $white;

				&::before {
					position: absolute;
					content: '';
					width: 1px;
					left: -1px;
					top: 0;
					height: 100%;
					background: $white;
					z-index: 1;
				}
			}

			strong {
				position: relative;

				> span {
					background: transparent;
					box-shadow: none;
				}
			}
		}

		&--green {
			color: $light-green;
		}

		&--blue {
			color: $degra-blue;
		}

		&--about-mice {
			@include free-cols(3);

			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
			}
		}
	}

	&__experiencias {
		position: relative;
		height: 578px;
		overflow: initial;

		@include breakpoint('mobile') {
			height: 404px;
		}

		&--capa {
			position: relative;
			height: 100%;
		}
	}

	&--sobre {
		position: relative;
		overflow: initial;
	}

	&--mice {
		position: relative;
		overflow: initial;
	}

	&--apps {
		position: relative;
		overflow: initial;
	}

	&--error-page {
		position: absolute;
		overflow: initial;
	}

	&__conteudo {
		@include free-cols(3);
		display: inline-block;
		word-wrap: break-word;

		@include breakpoint('mobile') {
			width: $grid-col-width-mobile;
		}

		&--imprensa {
			display: block;
			text-align: left;
			position: absolute;
			bottom: 53px;
			z-index: 3;

			@include breakpoint('tablet') {
				margin-left: 0px;
				left: 32px;
			}

			@include breakpoint('mobile') {
				@include free-cols(1.2);
				margin-left: 0px;
				bottom: -11px;
				left: 0;
			}
		}

		&--left {
			@include free-cols(5);
			display: inline-block;

			@include breakpoint('tablet') {
				@include free-cols(3);
			}

			@include breakpoint('mobile') {
				@include free-cols(1.2);
			}
		}

		&--left-inner {
			display: block;
			text-align: left;
			position: absolute;
			bottom: -6px;
			margin-left: -30px;
			z-index: 3;

			@include breakpoint('tablet') {
				margin-left: 0px;
				left: 0;
			}

			@include breakpoint('mobile') {
				@include free-cols(1.2);
					margin-left: 0px;
					left: 0;
			}
		}

		&--left-inner-type-2 {
			margin-left: 0;
			bottom: 78px;

			@include breakpoint('tablet') {
				margin-left: $grid-gutter;
			}

			@include breakpoint('mobile') {
				bottom: -3px;
			}
		}

		&--left-inner-destino {
			width: 648px;

			@include breakpoint('tablet') {
				width: 595px;
			}

			@include breakpoint('mobile') {
				width: 272px;
			}

			.destaque__title--left {display: inline-block;}
		}

		&--home {
			position: relative;
			z-index: 11;
			top: 50%;
			transform: translateY(-50%);
		}

		&--destinos {
			position: relative;
		}

		&--regiao {
			bottom: 0;
		}

		&--eventos{
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		}

		&--experiencias {
			@include free-cols(5);
			display: inline-block;
			position: relative;

			@include breakpoint('tablet') {
				@include free-cols(3);

			}

			@include breakpoint('mobile') {
				@include free-cols(1.2);
				top: -205px;
			}
		}

		&--experiencia {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: auto;
		}

		&--error-page {
			position: relative;

			@include breakpoint('mobile') {
				top: 25px;
			}
		}

		&--box {
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			bottom: -85px;
			width: 368px;
			height: 170px;
			border-radius: 3px;
			background-color: $white;

			@include breakpoint('mobile') {
				width: 250px;
				bottom: -145px;
			}
		}

		&--about-mice {
			@include breakpoint('tablet') {
				position: relative;
				height: 100%;
				margin: 0 auto;
			}
		}
	}

	&__regularBox {
		position: absolute;
		top: -35px;
		display: inline-block;
		font-size: 16px;
		letter-spacing: 4px;
		font-weight: 100;
		color: $degra-blue;
		text-transform: uppercase;
		background-color: $white;
		padding: 8px 10px 0px 30px;
		margin: 0;

		@include breakpoint('mobile') {
			top: -31px;
		}
	}

	&__irregularBox {
		position: inherit;
		display: inline-block;
		border-style: solid;
		border-color: transparent;

		&__before {
			position: absolute;
			top: -12px;
			left: 0;
			border-bottom-color: $white;
			border-width: 0 0 12px 126px;

			@include breakpoint('mobile') {
				bottom: 76px;
			}

			&--regiao {
				border-left-width: 162px;
			}
		}

		&__after {
			position: absolute;
			top: -13px;
			right: -12px;
			border-left-color: $white;
			border-width: 37px 0 0 12px;

			@include breakpoint('mobile') {
				bottom: 52px;
			}
		}
	}

	&__location {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 2px;
		color: $degra-blue;
		background-color: $white;
		padding: 10px 25px 10px 55px;
		margin-bottom: 23px;

		&:before {
			content: '';
			position: absolute;
			display: inline-block;
			background-image: url("../images/location--blue.svg");
			width: 20px;
			height: 20px;
			top: 7px;
			left: 25px;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__title{
		font-family: $iskra;
		font-style: italic;

		&--home {
			display: inline-block;
			width: 600px;
			margin: 0 6px 23px 6px;

			@include breakpoint('mobile') {
				width: 270px;
				margin: 0 0 23px 0;
			}
		}

		&--destinos {
			margin: 55px 0 23px 0;

			@include breakpoint('mobile') {
				margin: 40px 0 15px 0;
			}
		}

		&--left {
			background-color: $white;
			padding: 5px 30px 7px 30px;

			@include breakpoint('mobile') {
				padding-right: 10px;
			}
		}

		&--experiencias {
			position: relative;
			top: 41%;
			transform: translateY(-50%);
		}

		&--experiencia {
			width: 744px;
			margin: 60px 0 65px 0;

			@include breakpoint('tablet') {
				width: 712px;
			}

			@include breakpoint('mobile') {
				width: 272px;
				margin: 35px 0 46px 0;
			}
		}

		&--error-page-1 {
			display: block;
			font-size: 36px;
			margin-top: 153px;
			font-weight: 500;

			@include breakpoint('mobile') {
				margin-top: 70px;
			}
		}

		&--error-page-2 {
			display: block;
			margin: -10px 0 20px 0;

			@include breakpoint('mobile') {
				font-size: 43px;
				margin: 0 0 30px 0;
			}
		}

		&--imprensa {
		    max-width: 555px;
		    background-color: #fff;
			padding: 21px 44px 30px 39px;
			border-radius: 0 3px 3px 3px;
		}
	}

	&__title-left {
		display: inline-block;
		position: relative;
		background-color: $white;

		&--line-1 {
			margin: 0;
			padding: 5px 28px 26px 28px;
		}

		&--line-2 {
			bottom: 21px;
			padding: 0 28px 0 28px;
		}

		&--line-type-2 {
			padding-bottom: 25px;
		}
	}

	&__subTitle{
		font-family: $noto-sans-regular;
		word-wrap: break-word;

		&--destinos {
			font-size: 27px;
			font-weight: 500;
			line-height: 32px;
			margin-bottom: 28px;
			padding: 0 17px 0 17px;

			@include breakpoint('mobile') {
				font-size: 20px;
				font-weight: 100;
				line-height: 28px;
				margin: 0 0 28px 0;
				padding: 0;
			}
		}

		&--experiencia {
			font-size: 15px;
			letter-spacing: 6px;
			text-transform: uppercase;
			font-weight: 600;
		}

		&--line {
			position: relative;
			padding: 0 67px;

			@include breakpoint('mobile') {
				padding: 0 39px;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 11px;
				width: 52px;
				height: 2px;
				background-color: $white;

				@include breakpoint('mobile') {
					width: 25px;
				}
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}

		&--boxExperiencias {
			display: block;
			color: $light-green;
		}

		&--boxExperiencias-1 {
			font-size: 13px;
			letter-spacing: 3px;
			text-transform: uppercase;
			padding: 14px 0 17px 0;

			@include breakpoint('mobile') {
				font-size: 12px;
				letter-spacing: 2px;
			}
		}

		&--boxExperiencias-2 {
			margin-bottom: 17px;
			font-size: 18px;
			font-weight: 600;
		}

		&--error-page {
			margin: 0 auto;
			width: 310px;
			font-size: 20px;
			line-height: 25px;
			font-weight: 500;

			@include breakpoint('mobile') {
				width: 272px;
				font-size: 16px;
				line-height: 22px;
				font-weight: 600;
				padding: 0 10px 0 10px;
			}

			a {
				text-decoration: underline;
			}
		}

		> strong {font-family: 'NotoSansBold';}
	}

	&__text{
		font-size: 14px;
		color: $sou-gray;
		padding: 0 30px 24px 30px;

		@include breakpoint('mobile') {
			padding: 0 10px 20px 10px;
		}
	}

	&__video {
		width: 615px;
		height: 348px;
		margin: 0 auto;
		border: 3px solid rgba(0, 0, 0, 0.5);
		border-radius: 4px;

		@include breakpoint('mobile') {
			width: 278px;
			height: 160px;
		}

		> iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__btn {

		&--destinos {
			height: 48px;
			padding: 4px 16px 10px 16px;
			margin-top: 36px;
			font-size: 32px;
			letter-spacing: 1px;
			border-radius: 26px;

			@include breakpoint('mobile') {
				height: 30px;
				padding-top: 0;
				font-size: 22px;
				letter-spacing: 0;
			}
		}

		&--experiencias {
			width: 80px;
			font-size: 16px;
			padding: 0 30px 0 8px;
		}

		&--destino {
			position: absolute;
			z-index: 2;
			width: 65px;
			height: 65px;
			right: 8.3%;
			bottom: 160px;
			border: 0.5px solid $degra-blue;
			color: $degra-blue;
			cursor: pointer;
			background-color: $white;
			@include border-radius(50%);

			@include breakpoint('tablet') {
				right: 8.3%;
			}

			@include breakpoint('mobile') {
				right: 8.3%;
			}
		}

		&--destino-close {
			display: inline-block;

			&::before {
				content: '';
				display: inline-block;
				background-image: url("../images/seta-button-default--blue.svg");
				width: 10px;
				height: 10px;
				margin: 0 0 5px 0;
				padding: 0;

				-ms-transform: rotate(180deg);
				-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				transform: rotate(180deg);
				}

			&::after {
				content: 'view map';
				display: inline-block;
				font-size: 13px;
				width: 19px;
				height: 19px;
				margin: 5px 18px 0 5px;
				padding: 13px 0 0 0;
			}
		}

		&--destino-open {
			color: $white;
			border: 0.5px solid $white;
			background-color: $blue-label;

			&::after {
				content: '';
				display: inline-block;
				background-image: url("../images/	seta-button-default--white.svg");
				width: 10px;
				height: 10px;
				margin: 0 0 5px 0;
				padding: 0;
			}

			&::before {
				content: 'close map';
				display: inline-block;
				font-size: 13px;
				width: 19px;
				height: 19px;
				margin: 5px 15px 0 5px;
				padding: 13px 0 0 0;
			}
		}
	}


	// Imprensa

	&__imprensa {
		position: relative;
		overflow: initial;
	}

	&__imprensa-about {
		position: relative;

		@include breakpoint('tablet') {
			height: 490px;
		}

		.destaque__conteudo {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 40px;
		}

		.destaque__txt-press {
			font-size: 42px;
			font-weight: 400;

			@include breakpoint('mobile') {
				margin-bottom: 7px;
				font-size: 36px;
			}
		}

		.title--1 {
			@include breakpoint('mobile') {
				font-size: 44px;
				letter-spacing: -0.02em;
			}
		}
	}

}
