.destino {

	&__wrapper {
		padding: 50px 0;
		margin: 12px auto;
		text-align: center;
	}

	&__post {
		@include cols(3);

		@include breakpoint('mobile') {
			width: 100%;

			> div:not(.accordeon) {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				width: $grid-col-width-mobile;
			}
		}
	}

	.btn-get-weather {
		margin-bottom: 32px;
	}

	&__aside {
		@include cols(2);

		@include breakpoint('mobile') {
			width: $grid-col-width-mobile;
		}

		.region-map {
			margin-top: -70px;

			@include breakpoint('tablet--e-abaixo') {
				margin-top: 32px;
			}
		}

		.trending {
			margin-top: 32px;
		}

	}

	&__post, &__aside {
		@include breakpoint('tablet') {
			@include cols(3);
		}
	}

	&__title {
		margin: 0 auto;

		@include breakpoint('mobile') {
			width: 270px;
		}
	}

	&__cards {
		padding: 60px 0;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--sou-gray {
			background-color: $bd-gray-light;
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__mosaico {
		text-align: center;
		padding: 60px 0 0;

		.mosaico {
			margin-top: 32px;
		}
	}

	.ad {
		margin-top: 32px;
	}
}
