.display-events {
	background-color: $bd-gray;

	&__custom-input {
		border: 1px solid $bb-gray;
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: $sasha-gray;
    height: 34px;
    position: relative;
    z-index: 10;
    background-color: $white;
    transition: background-color .1s ease-out;
    width: 100%;
    text-align: left;
	}

	&__wrapper {
		@include breakpoint('tablet') {
			@include free-cols(3.2);
			text-align: left;
			margin: 0 auto;
			padding: 0 5px;
		}
	}

	&__display {
		display: table;
		width: 100%;

		@include breakpoint('mobile') {
			display: block;
		}

		.custom-combo {
			float: none;

			@include breakpoint('tablet--e-abaixo') {
				display: none;
			}

			&--date {
				display: none;

				@include breakpoint('tablet--e-abaixo') {
					display: block;
					min-width: inherit;
					max-width: 300px;
					margin: 0 auto;
				}
			}
		}
	}

	&__combos, &__title, &__text {
		display: inline-block;
		margin: 0px 7px;

		@include breakpoint('mobile') {
			margin: 0px;
		}
	}

	&__combos {
		@include breakpoint('mobile') {
			display: block;
		}
	}

	&__text {
		@include breakpoint('mobile') {
			margin: 10px 0;
		}
	}

	&__title {
		color: $sasha-gray;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;

		@include breakpoint('tablet--e-abaixo') {
			display: block;
		}
	}

	&__text {
		color: $sasha-gray;
		font-size: 16px;
	}

	&__display-wrapper {
		text-align: center;
		display: table-cell;
		padding: 0 0 40px;

		@include breakpoint('mobile') {
			padding: 0 32px 40px 32px;
			display: block;
		}
	}



	&__search {
		border-top: 2px solid $bd-gray;
		background-color: $bd-gray-light;
		width: 100%;
		text-align: center;
		padding: 32px 0;
		margin-bottom: 40px;

		@include breakpoint('mobile') {
			padding: 32px;
			text-align: left;
		}

		.btn-simple {
			@include breakpoint('desktop') {
				margin-left: 20px;
			}

			@include breakpoint('tablet') {
				margin-top: 32px;
			}
		}

		&-field {
			display: inline-block;
			text-align: left;

			@include breakpoint('mobile') {
				display: block;
				margin: 32px 0;
			}

			span {
				display: inline-block;
				font-size: 10px;
				color: $black;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: bold;
				margin-bottom: 13px;
				text-indent: 5px;
			}

			.custom-combo {
				float: none;
			}

			&--select {
				width: 216px;
				margin-right: 32px;

				@include breakpoint('mobile') {
					width: auto;
					margin-right: 0;
				}
			}

			&--input {
				width: 414px;

				@include breakpoint('tablet') {
					margin-top: 30px;
				}

				@include breakpoint('mobile') {
					width: auto;
				}
			}
		}
	}

	&__answer {
		display: inline-block;
		font-size: 12px;
		color: $sou-gray;
		border: 1px solid $sou-gray;
		border-radius: 60px;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		font-weight: bold;
	}
}
