.download-pdf {
	text-align: center;

	&__label{
		display: block;
		top: 0;
		margin: 0 0 10px 0;

		&--size {
			font-size: 14px;
		}
	}
	&__btn {
		@include breakpoint('mobile') {
			font-size: 14px;
		}
	}

}
