.editor-post {
	@include free-cols(3);

	@include breakpoint('mobile') {
		width: 100%;
	}

	&__date {
		font-size: 10px;
		line-height: 11px;
		color: $black;
	}

	&__title {
		margin: 8px 0;
		font-family: 'NotoSansBold';
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.02em;
		color: $soft-green;
	}

	&__description {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.02em;
	}

	&__lk-description {
		letter-spacing: -0.02em;
		text-decoration: underline;
		font-family: 'NotoSansBold';
		color: $sasha-gray;
	}

	.author {
		@include breakpoint('mobile') {
			margin-top: 19px;
		}
	}

	// BOX capa post
	&__wrap-capa-post {
		position: relative;
		height: 158px;
		margin-top: 21px;
		padding-left: 50px;
		border-left: 4px solid $bd-gray;

		@include breakpoint('mobile') {
			height: 190px;
			padding-left: 40px;
		}

		// Posiciona componente AUTHOR
		.author {
			position: absolute;
			bottom: -3px;
			margin-top: 0;
		}
	}

	&__figure {
		position: absolute;
		top: 0;
		left: 26px;
		width: 682px;
		height: 131px;
		overflow: hidden;

		@include breakpoint('mobile') {
			width: 240px;
			height: 163px;
			left: 28px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 94px;
			opacity: .5;
			border-radius: 4px;

			background: url(../images/gradiente-post-blog-editor.png) repeat-x;
			background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);

			@include breakpoint('mobile') {
				height: inherit;
			}
		}
	}

	&__image {
		border-radius: 4px;
	}

	&__box-text {
		&--no-details {
			@include breakpoint('mobile') {
				position: absolute;
				bottom: 54px;
			}

			.editor-post__category {
				margin: 24px 0 14px 0;

				@include breakpoint('mobile') {
					margin: 24px 0 8px 0;
				}
			}
		}
	}

	&__category {
		position: relative;
		display: inline-block;
		margin: 24px 0 18px 0;
		padding: 2px 4px;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 12px;
		color: $white;
		border-radius: 2px;
		background-color: $soft-green;
	}

	&__title-post {
		position: relative;
		margin-bottom: 2px;
		font-family: 'NotoSansBold';
		font-size: 28px;
		letter-spacing: -0.04em;
		color: $white;

		@include breakpoint('mobile') {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__details {
		position: relative;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 12px;
		letter-spacing: 0.1em;
		color: $white;
	}

}
