.health {

	&__vaccination {
		clear: both;
	}

	&__vaccination-list {
		// position: absolute;
	}

	&__vaccination-item {
		display: inline-block;
		width: 215px;
		font-size: 14px;
		line-height: 20px;
		color: $basic-gray;
	}

	@include breakpoint('desktop') {
		.essential-information {
			&__label {
				display: none;
			}
		}
	}

	@include breakpoint('mobile') {
		.essential-information {
			&__block-list {
				display: none;
			}

			&__subtitle {
				display: none;
			}

			&__label {
				text-transform: uppercase;
			    font-weight: 500;
			    font-size: 10px;
			    margin-bottom: 8px;
			}
		}
	}

	.custom-combo {margin-bottom: 20px;}
}
