.home {


    @include breakpoint('desktop'){
        .container {
            width: 1212px;
        }
    }

    .essential-information {

    	&__subtitle {
            margin-bottom: 27px;
            font-size: 20px;
            font-weight: normal;
        }

    	&__search {
            right: 0;
            text-align: center;
        }

        &__categories {
            @include breakpoint('tablet') {
                width:  100vw;
                margin: 0 auto;
            }

            @include breakpoint('mobile') {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }

        //Menu de cards

        &__category {
            position: relative;
            padding: 0;
            background-color: $white;
            width: 215px;
            height: 148px;
            margin-bottom: 30px;
            text-align: center;
            margin-right: 30px;
            box-shadow: 0 1px 5px 0 rgba(67, 58, 37, 0.2);
            border-radius: 3px;
            border: solid 1px $white;
            border-bottom: solid 1px #dad3c0;

            @include breakpoint('desktop') {
                &:nth-child(5), &:nth-child(10) {
                    margin-right: 0;
                }
            }

            a {
            	display: block;
            	height: 148px;
            }
        }

        &__icon {
            margin-top: 42px;
        }
    }

    @include breakpoint('desktop') {
    	.essential-information__icon--small {
            display: none;
        }
    }

    @include breakpoint('mobile'){
        .essential-information {

            &__category {
                width: 273px;
                height: 63px;
                margin-bottom: 0;

                &--active {
                    background-color: $bd-gray-middle;
                    height: 61px;
                    border-radius: 3px;

                    .essential-information__icon--small {
                        display: none;
                    }
                }

                @include breakpoint('tablet') {
                    &:nth-child(3),
                    &:nth-child(6) {
                        margin-right: 0;
                    }
                }
            }

            &__icon {
                margin: 21px 0 0 38px;
                float: left;
                width: 18px;
                height: 18px;

                &::before {
                    width: 38px;
                    height: 38px;
                }

                &--small {
                    display: block;
                    width: 12px;
                    height: 12px;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 16px;
                }
            }

            &__label {
                display: table-cell;
                vertical-align: middle;
                width: 180px;
                height: 63px;
                padding-left: 20px;
                text-align: left;
            }
        }
    }
}
