.essential-information {
    &__image {

    	@include breakpoint('mobile') {
    		width: 100%;
    	}
    }

	&__icon {
        display: block;
        width: 28px;
        height: 28px;
        margin: 0 auto 20px;

        &::before{
            content: '';
            display: block;
            position: relative;
            width: 48px;
            height: 48px;
            left: -10px;
            top: -10px;
            border: 0.5px solid $light-green;
            @include border-radius(50%);
        }

    	&--health {background-image: url(../images/health.svg);}
	    &--security {background-image: url(../images/security.svg);}
	    &--exchange {background-image: url(../images/currency.svg);}
	    &--vistas {background-image: url(../images/vistas.svg);}
	    &--emergency {background-image: url(../images/emergency_numbers.svg);}
	    &--power {background-image: url(../images/power.svg);}
	    &--weather {background-image: url(../images/weather.svg);}
	    &--phone {background-image: url(../images/phone_carriers.svg);}
	    &--language {background-image: url(../images/language.svg);}
	    &--links {background-image: url(../images/useful_links.svg);}
	    &--arrow-gray {background-image: url(../images/seta--fav-gray.svg);}

        &--small {
	        display: block;
	        width: 12px;
	        height: 12px;
	        content: '';
	        position: absolute;
	        top: 50%;
	        right: 16px;
	    }
    }

    &__box {
    	background: $white;
	    box-shadow: 0 1px 5px 0 rgba(67, 58, 37, 0.2);
	    border-radius: 5px;
	    border: solid 1px $white;
	    border-bottom: solid 1px #dad3c0;
	    padding: 15px;
    }

	&__wrapper {
		padding: 52px 0 72px 0;
        position: relative;
        background-position: center;
        background-size: cover;
        position: relative;
        font-size: 18px;


        &--gray {
        	position: relative;
            background-color: $bd-gray-light;
            padding: 32px 0;

            @include breakpoint('mobile') {
            	 padding: 16px 0 32px 0;

            	 &::after {
            	 	content: '';
            	 	display: inline-block;
            	 	position: absolute;
            	 	bottom: 0;
            	 	width: 100%;
            	 	height: 6px;
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(231,228,221,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(231,228,221,1) 100%);
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(231,228,221,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e7e4dd',GradientType=0 );

            	 }
            }
        }

        &--white {
            background-color: $white;
            padding: 27px 0 66px;
            font-size: 16px;
            text-align: center;

            @include breakpoint('mobile') {
            	padding: 27px 0 45px;
            }

            .essential-information__paragraph {
            	font-size: 16px;
            	margin-bottom: 18px;
            	line-height: 18px;
            }
        }

        @include breakpoint('mobile') {
            padding: 32px 0;
        }
	}

	&__title {
        padding: 0 0 26px 0;
        color: $light-green;

        @include breakpoint('mobile') {
            font-size: 32px;
            padding-top: 0;
        }
    }

    &__subtitle {
    	padding: 0;
        margin-bottom: 40px;
        font-size: 26px;

        &--link {
            color: $light-green;
        }

        @include breakpoint('tablet') {
            font-size: 24px;
        }

        @include breakpoint('mobile') {
            font-size: 20px;
            padding: 0 55px 40px 55px;
            word-wrap: break-word;
        }

        a:hover {
            text-decoration: underline;
        }
    }



	&__categories {
		width: 100%;
        display: block;
        margin: 0 auto;
	}

	&__category {
		display: inline-block;
        width: 19%;
        padding: 0 0.5rem 4.6rem 0.5rem;
        vertical-align: top;

        @include breakpoint('tablet') {
            width: 18.3%;
        }

        @include breakpoint('mobile') {
            width: 32.74%;
            padding: 0 0 2.5rem 0;
        }
	}

	&__other-categories {
		display: none;
		margin-bottom: 50px;
		text-align: left;
		@extend %clearfix;

		@include breakpoint('mobile') {
			display: block;
		}

		label {
			display: inline-block;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-family: $noto-sans-bold;
			font-size: 10px;
			color: $sasha-gray;
		}

		.custom-combo__options-item a {display: block;}
	}

	&__list {

		&-item {
			margin-bottom: 32px;
			line-height: 23px;

			strong {
				font-weight: bold;
			}

			&--bullet {
				padding-left: 10px;

				&::before {
					content: '';
				    position: absolute;
				    margin-left: -10px;
				    margin-top: 11px;
				    width: 0;
				    height: 0;
				    border: .17rem solid $light-green;
				    border-radius: 50%;
				}
			}
		}
	}

	&__label {
		font-size: 15px;
        color: $dark-gray;

        @include breakpoint('tablet') {
            font-size: 12px;
        }

        @include breakpoint('mobile') {
            word-wrap: break-word;
        }
	}

	&__block {
    	display: inline-block;
    	width: 100%;
    	padding: 20px 25px;
    	border: solid 1px $bd-gray;
    	border-radius: 3px;
    	margin-bottom: 27px;

    	&-list {
    		display: block;
		    width: 30%;
		    height: 161px;
		    float: left;
		    margin-top: 20px;

		    &-item {
		    	display: inline-block;
    			width: 100%;
    			padding: 20px 25px;
    			border: solid 1px $bd-gray;
    			border-radius: 3px;
    			margin-bottom: 27px;
		    }
    	}

    	@include breakpoint('mobile') {
            word-wrap: break-word;
        }

    	&--white {
    		background-color: $white;
    	}

    	&--gray {
    		background-color: $bd-gray;
    	}
    }

    &__inner {
    	@include breakpoint('mobile') {
    		width: 272px;
            margin: 0 auto;
        }
    }

    .custom-combo {
		width: 210px;

		@include breakpoint('mobile') {
			width: 100%;
		}
	}

	//----Pedacinho

    &--1 {
        @include free-cols(3);
        height: 550px;
        color: $sou-gray;
        background-color: #fff;
        text-align: center;
        margin: 0 auto;

        @include breakpoint('mobile') {
			width: 100%;
			height: auto;

			.essential-information__category {
				width: 40%;
			}
		}

    }

    &--2 {
        width: 100%;
        display: block;
        margin: 0 auto;

        .essential-information {
        	&__category {
				position: relative;
	            width: 216px;
	            height: 63px;
	            margin-bottom: 0;
	            background: $white;
	            box-shadow: 0 1px 5px 0 rgba(67, 58, 37, 0.2);
	            border-radius: 3px;
	            border: solid 1px $white;
	            border-bottom: solid 1px #dad3c0;
	            padding: 0;

	            &--active {
	                background-color: $bd-gray-middle;
	                height: 63px;
	                border-radius: 3px;

	                .essential-information__icon--small {display: none;}
	            }

	            @include breakpoint('tablet') {
	                &:nth-child(3),
	                &:nth-child(6) {
	                    margin-right: 0;
	                }
	            }
			}

	        &__icon {
	            margin: 21px 0 0 28px;
	            float: left;
	            width: 18px;
	            height: 18px;

	            &::before {
	                width: 38px;
	                height: 38px;
	            }
	        }

	        &__label {
	            display: block;
	            float: left;
	            width: 110px;
	            text-align: left;
	            margin-left: 22px;
	            font-size: 12px;
	            line-height: 18px;
	            @include center-height(relative);
	        }
        }
    }

    &__menu {
        @include free-cols(1);
        float: left;

        @include breakpoint('mobile') {
            display: none;
        }


        @include breakpoint('tablet') {
            display: none;
        }
    }

    &__search {
    	@include free-cols(3);
        background-color: #fff;
        margin: 0 auto;
        text-align: left;
        position: relative;
        right: -120px;

        @include breakpoint('desktop'){
            padding-bottom: 33px;
        }

        @include breakpoint('tablet'){
            text-align: center;
            right: 0;
        }

        @include breakpoint('mobile'){
            width: $grid-col-width-mobile;
            position: initial;

            .essential-information__title {
            	padding-bottom: 0;
                margin-bottom: 24px;
                text-align: center;

                @include breakpoint('mobile') {
		            margin-bottom: 15px;
        		}
            }

            .essential-information__subtitle {
                margin-bottom: 25px;
                line-height: 25px
            }
        }


        &-form {
            .search-query {
                height: 32px;
                z-index: 1;
                border-radius: 25px;
                border: solid 1px $bb-gray;
                font-size: 16px;
                padding-left: 20px;
                width: 585px;
                margin-right: 30px;

                @include breakpoint('mobile'){
                    width: 200px;
                    margin-right: 12px;
                }
            }

            .btn-search-icon {
            	position: relative;

            	@include  breakpoint('mobile') {
            		top: -6px;
            	}
            }
        }
    }

	.link {
        text-decoration: underline;
        color: $sasha-gray;
        line-height: 18px;
    }

    .container {


        @include breakpoint('desktop') {
            @include free-cols(4);
        }
    }

    .main {
    	@include free-cols(3);
        float: right;

        @include breakpoint('mobile') {
            width: 275px;
            clear: both;
        }
    }

    .media {
    	width: 523px;
    	margin-bottom: 32px;
    	@extend %clearfix;

    	&__logo {
    		display: inline-block;
    		width: 20%;
    		float: left;
    	}

    	&__content {
    		margin-left: 20px;
    		display: inline-block;
    		float: left;
    		width: 75%;
    	}

    	&__description {
    		width: 100%;
    		margin-bottom: 10px;
    		line-height: 25px;


    		.title--dark-gray {
    			font-weight: bold;
    		}
    	}

    	.google-play {
    		margin-right: 20px;
    	}

    	@include breakpoint('mobile') {
    		width: 100%;

			&:last-of-type {margin-bottom: 0;}

    		&__content {
	    		margin-left: 20px;
	    		display: inline-block;
	    		float: left;
	    		width: 70%;
	    	}

	    	.google-play,
	    	.app-store {
	    		display: block;
    			height: 48px;
    			margin-bottom: 12px;
	    	}
    	}
    }

   .results__pagination {
    	text-align: center;
    }

    .search-results {

        .essential-information__main-title {
        	font-size: 20px;
	        height: 64px;
	        padding-top: 25px;
	        padding-bottom: 25px;
	        border-bottom: solid 1px $bb-gray;
	        text-align: left;

	        @include breakpoint('mobile') {
				font-size: 18px;
	        }
        }

		.result {
			@include free-cols(3);
			float: right;
			margin-bottom: 27px;

			@include breakpoint('mobile') {
				width: 275px;
				clear: both;
			}

        	&__item {
        		min-height: 89px;
		        border-bottom: solid 1px $bd-gray;
		        margin-top: 25px;
		        padding-bottom: 30px;

				&--noresult {
					border: 0;

					.result__title {
						margin-bottom: 12px;
					}
				}
			}

        	&__title {
        		margin-bottom: 8px;
        		font-size: 20px;
				margin-bottom: 12px;

				@include breakpoint('mobile') {
					text-decoration: underline;
					color: $light-green;
					font-size: 18px;
				}
        	}
        }
    }

    &__target-search {
    	font-style: italic;
    	color: $sasha-gray;
    }

    &__result-link {
    	font-size: 13px;

    	@include breakpoint('mobile') {
    		text-decoration: underline;
    	}

    	&:hover {
    		text-decoration: underline;
    		color: $sasha-gray;
    	}

    	> strong {
    		position: relative;
    		font-family: $noto-sans-bold;
    		color: $sasha-gray;
    		background-color: transparent;

    		&::before {
    			content: '';
    			display: inline-block;
    			position: absolute;
    			bottom: 1px;
    			left: 0;
    			width: 100%;
    			height: 6px;
    			border-radius: 5px;
    			background-color: $homer-yellow;
    		}

    		> span {
    			position: relative;
    		}
    	}
    }

	&__currency,
	&__eletricity {
		@include breakpoint('mobile') {
		width: 100%;

		.main {
			width: 100%;

				> *:not(.currency-converter, .country-voltage) {
					width: $grid-col-width-mobile;
					@include center-width(relative);
				}
			}
		}
	}

	&__vaccination {
		@include breakpoint('mobile') {
			display: none;
		}
	}

	.currency-converter {
		position: relative;
		padding: 20px;

		@include breakpoint('mobile') {
		    padding: 29px 0 0 0;
		}

		&__wrap {
			@include breakpoint('mobile') {
	    		width: $grid-col-width-mobile;
				margin: 0 auto;
			}
		}

		&__result-symbol,
		&__start-symbol {
			@include breakpoint('mobile') {
				font-size: 24px;
			}
		}

		&__from,
		&__to {
			width: 302px;
			display: inline-block;
			position: relative;

			.custom-combo {
				width: 100%;
				float: none;
				margin-bottom: 27px;

				&__options-item:nth-of-type(3) {display: none;}

				&--locked {
					.custom-combo__button::after {
						width: 12px;
						height: 14px;
						top: 8px;
						transform: rotate(0);
						background-image: url(../images/ico-cadeado.svg);
					}
				}
			}

			&--value {
				width: 78%;
				height: 39px;
				font-size: 38px;
				color: $sasha-gray;
				font-weight: 400;

				@include breakpoint('mobile') {
					width: 75%;
					font-size: 32px;
				}
			}

			@include breakpoint('mobile') {
				width: 246px;
			    display: inline-block;
			    margin-bottom: 32px;
			}
		}

		&__brl {
			margin: 0 0 27px 0;
			font-size: 16px;
			background-image: url(../images/ico-cadeado.svg);
			background-position: 273px 7px;
			background-size: 13px;
			background-repeat: no-repeat;
			background-color: transparent;
		}

		&__from {
			float: left;

			&::after {
				right: -10px;
			}

			@include breakpoint('mobile') {
				.custom-combo {
					width: 80%;
				}

				.currency-converter__refresh {
					right: 0;
				}
			}
		}

		&__to {
			float: right;

			&::after {
				right: 306px;
			}

			@include breakpoint('mobile') {
				float: none;

				&::after {
					right: -10px;
				}
			}
		}

		&__box {
			font-size: 40px;

			@include breakpoint('mobile') {
				font-size: 32px;
			}
		}

		&__label {
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 12px;
			font-size: 10px;
			display: block;
			color: $sasha-gray;
		}

		&__refresh {
			display: block;
			width: 32px;
			height: 32px;
			background-color: $light-green;
			@include border-radius(50%);
			position: absolute;
			top: 20px;
			right: -44px;

			&::after {
			    content: '';
			    display: block;
			    width: 20px;
			    height: 18px;
			    background-image: url(../images/icon-refresh.png);
			    position: absolute;
			    top: 7px;
			    right: 6px;
			}
		}

		&__equal {
			position: absolute;
			top: 130px;
			right: 345px;
			font-weight: bold;
			font-size: 20px;
			@include border-radius(50%);
			padding: 1px 4px;

			&::before,
			&::after {
				position: absolute;
				display: block;
				content: "";
			}

			&::before {
				left: 22px;
				top: 10px;
			    height: 20px;
			    width: 14px;
			    border-top: 0.125rem solid #d4d4d4;
			}

			&::after {
			    right: 21px;
			    top: 10px;
			    height: 20px;
			    width: 14px;
			    border-top: 0.125rem solid #d4d4d4;
			}

			@include breakpoint('mobile') {
				display: none;
			}
		}

		&__equal-mobile {
			display: none;
			position: absolute;
			top: 64px;
			right: 23px;
			width: 19px;
			height: 188px;
			border: 2px solid $bb-gray;
			border-left: none;

			&::before,
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $bb-gray;
			}

			&::before {top: -4px;}
			&::after {bottom: -4px;}

			@include breakpoint('mobile') {
				display: block;
			}
		}
	}

	.weather {
		&__label {
			text-transform: uppercase;
			margin-bottom: 12px;
			font-size: 10px;
			font-weight: bold;
		}

		&__seasons {
			clear: both;
			border: none;
			text-align: center;
			width: 100%;
			padding: 22px;

			&--item {
				display: none;
			}
		}
	}

	&__text-bottom {
		@include free-cols(3);
		float: right;

		@include breakpoint('mobile') {
			width: 100%;
			float: none;
		}

		&--full {
			float: none;
			margin: 0 auto;
		}
	}

	.1 {

		margin: 0 auto;

		@include breakpoint('mobile') {
			width: 272px;
		}
	}
}
