.power-electricity {
	.country-voltage {

		.essential-information__label {
			text-transform: uppercase;
			margin-bottom: 12px;
			font-size: 10px;
		}

		&__result {
			padding: 30px;
			border-radius: 10px;
		}

		&__query {
			border: solid 1px $bb-gray;
			border-radius: 20px;
			width: 100%;
			padding: 5px 15px;
			height: 32px;
			margin-bottom: 32px;
			font-size: 16px;
			color: $sasha-gray;
		}

		&__city {
			font-size: 24px;
			float: left;
			width: 74%;
		}

		&__value {
			background-color: $basic-orange;
			display: inline-block;
			border-radius: 3px;
			color: $white;
			font-size: 12px;
			text-transform: uppercase;
			padding: 3px 10px;
			font-weight: bold;
		}

		@include breakpoint('mobile'){
			.essential-information__label {
		    	font-weight: bold;
		    }

			&__result {
			    padding: 33px 15px;
			    border-radius: 10px;
			    text-align: center;
			}

			&__city {
				font-size: 24px;
			    text-align: center;
			    margin-bottom: 12px;
			    width: 100%;
			}
		}
	}

	.container {
		@include breakpoint('mobile'){
			width: 100%;
		}
	}
}
