.emmergency {
	.essential-information__category {
		color: $sasha-gray;
		height: 118px;
		margin-right: 18px;
		margin-bottom: 18px;

		.title {
			font-size: 44px;
			font-weight: 300;
			margin: 15px 0;
		}

		p {
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			line-height: normal;
			margin-bottom: 5px;
		}
	}
}
