.profile {
	.essential-information {
		&__main-title {
			position: relative;
			margin-left: 69px;
			margin-bottom: 27px;
			font-size: 36px;
			padding-top: 0;
			height: 46px;
			font-weight: 600;
			border-bottom: solid 1px $bd-gray;

			.essential-information__icon {
				display: inline-block;
				margin: 0 20px;
				position: absolute;
				left: -80px;
				top: 10px;

				@include breakpoint('mobile') {
					left: 10px;
					margin: 0;
					top: 22px;
				}
			}

			@include breakpoint('mobile') {
				height: 75px;
				padding-bottom: 12px;	
				word-break: break-word;
				font-size: 33px;
				margin-left: 0;
				padding-left: 55px;
			}
		}

		&__title-text {
			@include breakpoint('mobile') {
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&__subtitle {
			font-size: 1.2rem;
			color: $sasha-gray;
			margin-bottom: 25px;
			font-family: $noto-sans-bold;
			padding: 0;

			&--outlet {
				font-size: 1rem;
				font-weight: 100;
				font-style: italic;
				color: $basic-gray;
			}
		}

		&__description {
			margin-bottom: 28px;
			line-height: 25px;
		}
	}
}
