.eventos-single {

	&__wrapper {
		padding: 50px 0;
		margin: 12px auto;
		text-align: center;

		@include breakpoint('mobile') {
			width: auto;
		}
	}

	&__post {
		@include cols(3);
		position: relative;

		@include breakpoint('tablet--e-acima') {
			padding-top: 114px;
		}

		@include breakpoint('tablet--e-acima') {
			.get-tickets {
				position: absolute;
				top: 0;
				width: 80%;

				&__date, &__link {
					font-size: 20px;
				}
			}
		}
	}

	&__aside {
		@include cols(2);

		.trending {
			margin-top: 32px;
		}

		@include breakpoint('tablet') {
			@include cols(3);
		}

		@include breakpoint('mobile') {
			width: auto;
			display: block;
			margin-top: 32px;

			.trending {
				width: 272px;
				margin: 32px auto;
			}
		}

		.address {
			width: 100%;
		}
	}

	&__post{
		@include breakpoint('tablet') {
			@include cols(3);
		}

		@include breakpoint('mobile') {
			@include cols(1);
		}
	}

	&__cards {
		padding: 60px 0;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--sou-gray {
			background-color: $bd-gray-light;
		}

		&--bd-gray {
			background-color: $bd-gray;
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__mosaico {
		text-align: center;
		padding: 60px 0 0;

		.mosaico {
			margin-top: 32px;
		}
	}
}
