.experiencias {

	&__banner {
		position: relative;
		z-index: 10;
	}

	&__photo-description {
		width: 1208px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -640px;

		&--bottom {
			top: inherit;
			bottom: 0;
		}
	}

	&__content-wrapper {
		padding-bottom: 72px;
		background-color: $white;
		background-position: center;
		background-size: cover;
		position: relative;
		padding-top: 126px;

		@include breakpoint('mobile') {
			padding-top: 211px;
			padding-bottom: 0px;
		}


		&--top {
			padding-top: 135px;

			@include breakpoint('mobile'){
				padding-top: 175px;
			}
		}

		.trending {
			position: absolute;
			top: inherit;
			z-index: 10;
			top: -93px;
			background-color: $white;

			@include breakpoint('mobile'){
				top: -27px;
			}
		}

		.title {
			position: relative;
			z-index: 10;
			text-align: center;
		}
	}

	&__block-text {
		color: $basic-gray;
		font-size: 28px;
		line-height: 37px;
		max-width: 712px;
		text-align: center;
		margin: 25px auto;

		@include breakpoint('mobile') {
			font-size: 21px;
			line-height: 27px;
			margin: 25px;
		}
	}
}
