.experiencia-single {
	background-color: $bd-gray-light;

	&--sem-dia-dia {
		.pin__wrapper {
			&::after, &::before, .pin__pin {
				display: none;
			}
		}

		.experiencia-single__nav-wrapper {
			text-align: left;
		}

		.experiencia-single__enjoy {
			display: none;
		}
	}

	&--sem-api {
		.experiencia-single__day-attractions, .experiencia-single__day-attractions .cards-carousel > div {
			float: none;
		}
	}

	&__nav {
		border-top: 1px solid $darkest-gray;
		height: 60px;
		padding: 14px 0;
		text-align: center;
		background-color: $white;
		box-shadow: 0px 2px 5px 0px #CCC;
		margin-bottom: 10px;

		.link-to-pdf {
			margin-left: 6px;
		}

		.add-favorite__label {
			margin-left: 8px;
		}

		&--fixed {
			position: fixed;
			top: 62px;
			width: 100%;
			z-index: 1000;

			@include breakpoint('tablet--e-abaixo') {
				top: 0;
			}
		}
	}

	&__nav-wrapper {
		@include free-cols(5);
		margin: 0 auto;

		@include breakpoint('tablet--e-acima') {
			text-align: right;
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
		}

		@include breakpoint('mobile') {
			width: auto;
		}
	}

	&__post {
		background-color: $white;

		.author {
			margin-bottom: 34px;
		}

		.post-default {
			margin-bottom: 0;

			@include breakpoint('desktop') {
				float: left;
				clear: inherit;
				@include cols(4);

				&:last-child {
					margin-top: -100px;
					padding-top: 100px;
				}

				.post-default__title {
					width: 712px;
				}
			}

			@include breakpoint('tablet--e-acima') {
				.post-default__title {
					margin-bottom: 0;
				}
			}
		}
	}

	&__post-block {
		float: left;

		@include breakpoint('desktop') {
			@include free-cols(3);
		}

		@include breakpoint('tablet') {
			@include free-cols(2);
		}

		@include breakpoint('mobile') {
			float: none;
		}
	}

	&__column-l {
		margin-bottom: 0;

		@include breakpoint('desktop') {
			float: left;
			@include cols(1)
		}

		.related-links {margin-top: 130px;}
	}

	@include breakpoint('tablet--e-abaixo') {
		.related-links {
			display: none;
		}
	}

	&__wrapper {
		@include breakpoint('desktop') {
			@include free-cols(5);
			display: block;
    	margin: 0 auto;
			padding: 47px 0px 0;
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
			margin: 0 auto;
			padding: 47px 0px 0;
		}

		@include breakpoint('mobile') {
			margin: 0 auto;
			padding: 35px 24px;
		}
	}

	&__nav-days {
		display: inline-block;
		margin-right: 16px;
		line-height: 26px;
		position: relative;

		@include breakpoint('tablet--e-acima') {
			float: left;
			text-align: center;
		}

		&-wrapper {
			display: none;

			@include breakpoint('tablet--e-acima') {
				display: inline-block;
			}

			@include breakpoint('mobile') {
				display: none;
				position: absolute;
				right: 0;
				border: 1px solid $bb-gray;
				border-radius: 10px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				width: 58.6px;
				background: $white;
				top: 13px;
				padding-top: 27px;
				border-top: 0;
				padding-bottom: 7px;

				&.active {
					display: block;
					z-index: 10;
				}
			}
		}

		&-title {
			color: $sasha-gray;
			font-size: 20px;
			display: inline-block;
			font-weight: bold;
		}

		&-label {
			font-size: 14px;
			color: $sasha-gray;
			padding-left: 15px;
			padding-right: 35px;
			border: 1px solid $bb-gray;
			border-radius: 30px;
			height: 32px;
			line-height: 26px;
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				width: 12px;
				height: 8px;
				background-image: url(../images/seta-vertical--gray-light.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				transform: rotate(180deg);
				right: 15px;
				transition: transform .2s;
			}

			&.active {
				&::after {
					transform: rotate(0deg);
				}
			}

			@include breakpoint('tablet--e-acima') {
				display: none;
			}

			@include breakpoint('mobile') {
				z-index: 12;
			}
		}
	}

	&__nav-item {
		display: inline-block;
		margin: 0 6px;

		@include breakpoint('mobile') {
			display: block;
		}
	}

	&__nav-day {
		border: 1px solid $darkest-gray;
		font-size: 18px;
		width: 30px;
		height: 30px;
		border-radius: 40px;
		display: inline-block;
		transition: color .2s, background-color .2s;

		&:hover, &.active {
			color: $white;
			background-color: $light-green;
			border: 0;
		}

		@include breakpoint('mobile') {
			border: 0;
			width: 45px;
		}
	}

	&__day-wrapper {
		background-color: $bd-gray-light;

		@include breakpoint('desktop') {
			@include free-cols(5);
			margin: 0 auto;
		}

		&--sem-dia {
			@include breakpoint('desktop') {
				margin-bottom: 72px;
			}
		}
	}

	&__day {
		padding: 47px 24px;
		border-bottom: 1px solid $bd-gray;
		position: relative;

		&:last-of-type {
			border-bottom: none;
			padding-bottom: 0;
		}

		&::before {
			content: '';
			position: absolute;
			height: calc(100% - 140px);
			width: 1px;
			background-color: black;
			margin-top: 90px;
			left: 32px;
			display: none;
		}

		@include breakpoint('desktop') {
			padding-left: 0;
			padding-right: 0;
		}

		@include breakpoint('tablet') {
			width: 724px;
			margin: 0 auto;
			padding-left: 0;
			padding-right: 0;
		};

		&-title {
			font-size: 36px;

			@include breakpoint('tablet--e-acima') {
				display: inline-block;
				float: left;
				text-align: center;
				margin-top: -15px;
			}

			span {
				font-family: $pso-regular;
				font-weight: 100;
				padding: 0 7px 0 0;

				@include breakpoint('tablet--e-acima') {
					border: 2px solid $bb-gray;
					margin-top: 7px;
					width: 64px;
					height: 64px;
					display: block;
					border-radius: 60px;
					line-height: 64px;
					text-align: center;
					color: $sasha-gray;
				}
			}
		}

		&-description {
			font-size: 24px;
			color: $degra-blue;
			margin-top: 26px;
			margin-bottom: 16px;
			font-weight: bold;

			@include breakpoint('tablet') {
				margin-left: 90px;
			}
		}

		&-place {
			display: block;
			font-size: 16px;
			color: $sasha-gray;
			text-decoration: underline;
			position: relative;
			padding-left: 25px;
			font-weight: bold;

			@include breakpoint('tablet') {
				margin-left: 90px;
			}

			&::before {
				content: '';
				width: 17px;
				height: 19px;
				background-image: url(../images/location--blue.svg);
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				background-size: 100%;
				left: 0;
			}
		}

		&-text {
			padding-top: 26px;
			font-size: 16px;
			line-height: 23px;
		}


		@include breakpoint('desktop') {
			&-description, &-place, &-text {
				margin-left: auto;
				margin-right: auto;
				@include free-cols(3);
			}
		}

		&-attractions {
			clear: both;
			padding-top: 32px;

			@include breakpoint('tablet--e-acima') {
				.great-for {
					display: none;
				}
			}

			@include breakpoint('desktop') {
				clear: inherit;
				padding-top: 32px;
				float: right;

				.cards-carousel > div {
					float: left;
				}
			}
		}

		&-attractions-title {
			font-size: 20px;
			color: $sasha-gray;
			margin-top: 50px;
			margin-bottom: 30px;
			display: block;
			text-align: center;
			font-weight: bold;

			@include breakpoint('tablet--e-acima') {
				display: none;
			}
		}

		&-cards {
			text-align: center;

			@include breakpoint('mobile') {
				margin: 0 -24px;
			}
		}
	}

	&__wrapper-btn {
		position: relative;
		display: block;
	}

	&__btn {
		position: absolute;
		top: 25px;
		right: 28px;
	}

	&__enjoy {
		background-color: $bd-gray-light;
		text-align: center;
		font-size: 2.3em;

		@include breakpoint('desktop') {
			text-align: left;
			text-indent: 30px;
			max-width: 1208px;
			margin: 0 auto;

		}

		span {
			padding: 47px 0;
			margin: 0 -6px;
			display: inline-block;
			position: relative;



			@include breakpoint('desktop') {
				padding-top: 0;
				top: -28px;
				padding-bottom: 38px;
			}

		}
	}

	&__share {
		position: relative;
		padding: 35px 24px 30px;

		&::before {
			content: '';
			width: 712px;
			height: 1px;
			background-color: $bd-gray;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -356px;

			@include breakpoint('mobile') {
				width: 200px;
				margin-left: -100px;
			}
		}

		&::after {
			content: '';
			width: 28px;
			height: 2px;
			background-color: $bd-gray;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -14px;
		}
	}

	&__pdf {
		padding: 33px 0;
	}

	&__mosaico {
		text-align: center;
		background-color: $white;

		.title {
			padding: 60px 0 32px;
		}
	}
}

.map-region {
	width: 216px;
	text-align: center;
	margin: 0 auto 50px;

	@include breakpoint('tablet--e-acima') {
		float: right;
		text-align: center;
	}

	@include breakpoint('desktop') {
		margin-top: -135px;
	}

	&__wrapper {
		width: 216px;
		height: 216px;
		border-radius: 140px;
		background-color: $navy-blue;
		border: 3px solid $white;
		background-image: url(../images/brasil-map.svg);
		background-position: center;
		background-size: 85%;
		background-repeat: no-repeat;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 18px;
			height: 18px;
			background: $navy-blue;
			transform: rotate(45deg); /* Prefixes... */
			bottom: -7px;
			left: 50%;
			z-index: 111;
			margin-left: -9px;
		}
	}

	&__place-text {
		white-space: nowrap;
		font-size: 20px;
		line-height: 35px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 2px solid $sasha-gray;
		position: relative;
		display: inline;

		&::after {
			content: '';
			background-color: $degra-blue;
			width: 16px;
			height: 16px;
			position: absolute;
			border-radius: 50px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			bottom: 4px;
			right: -22px;
		}
	}

	&__text {
		font-size: 14px;
		color: $basic-gray;
		line-height: 20px;
		padding-top: 50px;
		position: relative;

		&::before {
			content: '';
			width: 21px;
			height: 21px;
			position: absolute;
			background-image: url(../images/icon-pin--dark-gray.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			top: 20px;
			left: 50%;
			margin-left: -10px;
		}
	}
}

.pin {
	@include breakpoint('desktop') {
		&__wrapper {
			position: relative;

			&::before {
				content: '';
		    position: absolute;
		    border-left: 1px dashed $bb-gray;
		    height: 100%;
		    top: 0;
		    left: 31px;
			}

			&--top {
				padding-bottom: 30px;

				&::before {
					top: 90px;
					border-left: 1px solid $bb-gray;
					height: calc( 100% - 90px );
				}
			}
		}

		&__pin {
			width: 17px;
			height: 17px;
			background-color: $soft-green;
			border-radius: 40px;
			position: absolute;
			left: 23px;
			bottom: 0px;
		}
	}
}

.place {
	position: relative;

	@include breakpoint('tablet') {
		margin-top: 38px;
	}

	@include breakpoint('desktop') {
		float: left;
		padding-top: 32px;
	}

	.great-for {
		display: none;
	}

	&__map {
		display: none;
		@include free-cols(2);
		border: 2px solid $bd-gray;
		border-radius: 4px;
		height: 262px;
		margin: 0;
		float: left;

		@include breakpoint('tablet--e-acima') {
			display: block;
		}
	}

	&__map-legend {
		@include free-cols(1);
		float: left;
		margin-left: 35px;
		display: none;

		@include breakpoint('tablet--e-acima') {
			display: block;
		}

		@include breakpoint('tablet--e-acima') {
			.great-for {
				display: block;
				@include free-cols(1);
			}
		}

		@include breakpoint('desktop') {
			clear: left;
			width: auto;
			float: none;
			padding-top: 32px;

			.great-for {
				float: right;
			}
		}
	}

	&__map-legend-item {
		font-size: 12px;
		line-height: 17px;
		position: relative;
    padding-left: 17px;

		&::before {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 40px;
			position: absolute;
			background-color: black;
			top: 50%;
			margin-top: -4px;
			left: 0;
		}

		&--orange {
			&::before {
				background-color: $basic-orange;
			}
		}

		&--green {
			&::before {
				background-color: $soft-green;
			}
		}

		&--blue {
			&::before {
				background-color: $dark-blue;
			}
		}
	}

	&__map-legend-wrapper {
		margin-bottom: 30px;
		margin-left: 32px;

		@include breakpoint('desktop') {
			float: left;
		}
	}

	@include breakpoint('mobile') {
		.great-for {
			display: block;
		}
	}
}


.route {
	position: relative;
	margin: 50px auto 0px;

	@include breakpoint('desktop') {
		float: right;
		margin: 70px auto 85px;

		&::before {
			content: "";
			position: absolute;
			width: 37px;
			height: 37px;
			background: $white;
			transform: rotate(45deg); /* Prefixes... */
			top: 64px;
			left: 89px;
			box-shadow: -2px 4px 5px -3px rgba(0, 0, 0, 0.1);
			z-index: 111;
		}

		&::after {
			content: '';
			width: 10px;
			height: 10px;
			background-color: $sasha-gray;
			border-radius: 40px;
			position: absolute;
			left: 26px;
			top: 50%;
			margin-top: -5px;

		}
	}

	&__wrapper {
		background-color: $white;

		border-radius: 8px;
		height: 366px;
		box-shadow: 0px 2px 5px 0px rgba(67, 58, 37, 0.15);
		text-align: center;
		font-weight: bold;
		color: $sasha-gray;
		padding: 40px 11px;
		@include free-cols(1);

		@include breakpoint('tablet--e-acima') {
			width: 100%;
			display: table;
			table-layout: fixed;
			height: 178px;
			padding: 0;
		}

		@include breakpoint('desktop') {
			float: right;
			width: calc(100% - 105px);
			position: relative;
		}

		@include breakpoint('mobile') {
    	margin: 0 auto;
		}
	}

	&__point {
		font-size: 16px;
		text-decoration: underline;
		position: relative;
		display: block;
		vertical-align: middle;

		&::after {
			content: '';
			width: 16px;
			height: 12px;
			background-image: url(../images/seta-vertical--gray.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			transform: rotate(180deg);
			left: 50%;
			margin-left: -8px;

			@include breakpoint('tablet--e-acima') {
				transform: rotate(90deg);
			}
		}

		&--top {

			@include breakpoint('mobile') {
				padding-top: 14px;
				margin-top: 9px;
			}

			&::after {
				bottom: 100%;

				@include breakpoint('tablet--e-acima') {
					top: 50%;
					bottom: inherit;
					left: 15%;
					margin-top: -6px;
				}
			}
		}

		&--bottom {
			@include breakpoint('mobile') {
				padding-bottom: 19px;
			}

			&::after {
				top: 100%;

				@include breakpoint('tablet--e-acima') {
					top: 50%;
					left: 85%;
					margin-top: -6px;
				}
			}
		}

		@include breakpoint('tablet--e-acima') {
			display: table-cell;
		}
	}

	&__trip {
		padding: 93px 0 20px;
		line-height: 1.4;
		position: relative;
		vertical-align: middle;

		&::after {
			content: '';
			width: 56px;
			height: 56px;
			position: absolute;
			border-radius: 60px;
			border: 1px solid $grama-green;
			top: 30px;
			left: 50%;
			margin-left: -28px;
			background-image: url(../images/onibus--light-gray.svg);
			background-position: center;
			background-size: 67%;
			background-repeat: no-repeat;
			background-color: $white;

			@include breakpoint('tablet--e-acima') {
				margin-top: -60px;
			}
		}

		@include breakpoint('tablet--e-acima') {
			display: table-cell;
			padding: 8px 0 0;
		}
	}

	&__trip-description {
		color: $basic-gray;
		font-size: 14px;
		font-weight: normal;
	}
}
