.external-links {
	text-align: center;
	width: 712px;
	height: 100%;
	margin: 0 auto;

	@include breakpoint('mobile') {
		width: auto;
	}

	&__title {
		text-align: left;
		color: $new-gray;
		font-size: 20px;
		letter-spacing: 0.5px;
		font-weight: 600;
		line-height: 25px;

		@include breakpoint('mobile') {
			font-size: 18px;
		}
	}

	&__list {
		margin-top: 25px;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		width: 215px;
		height: 308px;
		margin: 0 0 30px 28px;
		border: 2px solid $bd-gray;
		border-radius: 3px;
		background-color: $bd-gray-light;
		text-align: left;

		&:first-child {
			margin-left: 0;
		}

		@include breakpoint('mobile') {
			width: 272px;
			height: 100%;;
			margin-left: 0;
		}
	}

	&__item-title {
		display: block;
		height: 84px;
		background-color: #fff;

		&--top {
			font-family: $iskra;
			font-style: italic;
			font-size: 23px;
			font-weight: 500;
			padding: 20px 0 0 25px;
			color: $degra-blue;
		}

		&--top-green {
			padding-top: 30px;
			color: $new-green;
		}

		&--top-orange {
			padding-top: 30px;
			color: $basic-orange;
		}
	}

	&__text {
		height: 162px;
		font-size: 14px;
		line-height: 18px;
		padding: 21px 23px;
		word-wrap: break-word;
		color: $sasha-gray;

		@include breakpoint('mobile') {
			height: 48%;
		}
	}

	&__btn {
		margin: 2px 21px;
		background-color: $degra-blue;

			@include breakpoint('mobile') {
				margin: 0 0 21px 21px;
			}

		&--green {
			background-color: $new-green;
		}

		&--orange {
			background-color: $basic-orange;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}
