.external-link {
	padding-right: 3px;
	font-family: 'NotoSansBold';
	color: $sasha-gray;
	text-decoration: underline;

	&::after {
		display: inline-block;
		content: '';
		width: 9px;
		height: 9px;
		margin-left: 5px;
		background-image: url(../images/external_link--sasha-gray.svg);
		background-size: 100%
	}

	&--como-chegar {
		padding-right: 4px;
		font-size: 15px;
	}

	&--no-bold {
		font-size: 14px;
		font-family: $noto-sans-regular;
	}
}
