.favorite {
	display: inline-block;
	position: relative;
	height: 60px;

	@include breakpoint('tablet') {
		height: 64px;
	}

	@include breakpoint('mobile') {
		height: 56px;
	}

	&__button {
		position: relative;
		width: 32px;
		height: 32px;
		margin: 15px 10px 13px 10px;
		border-radius: 50%;
		border: 1px solid $light-blue;
		cursor: pointer;
		overflow: visible;

		@include breakpoint('tablet') {
			margin: 16px 10px 16px 10px;
		}

		@include breakpoint('mobile') {
			margin: 14px 6px 10px 6px;
		}

		&::before {
		    position: absolute;
		    top: 6px;
		    left: 5px;
			content: '';
			display: inline-block;
			width: 20px;
			height: 19px;
			background-image: url(../images/heart--white.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}

	&__count {
		position: absolute;
		top: -7px;
		right: -7px;
		width: auto;
		height: 12px;
		padding: 0 6px;
		line-height: 12px;
		font-family: 'NotoSansBold';
		font-size: 9px;
		letter-spacing: 0.092em;
		color: $degra-blue;
		border-radius: 7px;
		background-color: $homer-yellow;
		opacity: 1;
		transition: opacity .5s ease-out;
	}

	&__wrap-list {
		display: none;
		z-index: 150;
		position: absolute;
		left: -268px;
		width: 320px;
		height: 412px;
		border-bottom: 3px solid $light-blue;
		background-color: $white;

		@include breakpoint('mobile') {
			left: -258px;
		}
	}

	&__mask {
		position: absolute;
		bottom: 0;
		display: block;
		width: 320px;
		height: 40px;
		background: url(../images/gradient-mask-favoritos.png) repeat-x;
		background: linear-gradient(to bottom, transparent, $white);
	}

	&__category {
		display: block;
		width: 269px;
		height: 28px;
		padding-left: 20px;
		line-height: 28px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 10px;
		color: $white;
		background: url(../images/gradient-name-favorite.jpg) repeat-y;
		background: linear-gradient(to left, $white, $light-blue);
	}

	&__item-list {
		position: relative;
		margin: 0 28px;
		padding: 16px 0;
		border-bottom: 1px solid $bd-gray;
		opacity: 1;
		transition: opacity .5s ease-out;

		&:first-child {
			padding-top: 15px;
		}

		&.no-border {
			border-bottom: none;
		}

		&.remove-item {
			opacity: 0;
		}
	}

	&__item-list-link {
		width: 235px;
		display: inline-block;

		&:hover .favorite__name,
		&:hover .favorite__description {
			text-decoration: underline;
		}
	}

	&__name {
		letter-spacing: -0.02em;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 12px;
		color: $light-blue;
	}

	&__description {
		margin-top: 5px;
		line-height: 14px;
		letter-spacing: -0.02em;
		font-size: 11px;
		color: $sasha-gray;
	}

	&__btn-remove {
		position: absolute;
		top: 50%;
		right: 0;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: $sou-gray;
		transform: translateY(-50%);
		cursor: pointer;

		&::before {
			display: inline-block;
			content: '';
			position: absolute;
			top: 49%;
			left: 50%;
			width: 14px;
			height: 2px;
			transform: translate(-50%);
			background-color: $white;
		}
	}

	&__btn-more-fav {
		display: none;
		position: relative;
		left: 50%;
		height: 24px;
		margin: 8px 0 32px 0;
		padding: 0 13px;
		line-height: 22px;
		text-align: center;
		font-size: 13px;
		color: $sasha-gray;
		border-radius: 16px;
		border: 1px solid $bb-gray;
		cursor: pointer;
		transform: translateX(-41%);

		&::before {
			display: inline-block;
			position: relative;
			top: 2px;
			content: '';
			width: 12px;
			height: 12px;
			margin-right: 5px;
			background-image: url(../images/seta--fav-gray.svg);
			background-repeat: no-repeat;
			transform: rotate(90deg);
			transition: transform .5s ease-out;
		}
	}

	&__no-results {
		display: none;
		padding: 25px;
		text-align: center;
		color: $basic-gray;

		&--active {display: block;}
	}


	// favoritos aberto
	&--active {
		background-color: $white;

		.favorite__button {
			background-color: $light-blue;
		}

		.favorite__count {
			opacity: 0;
		}

		.favorite__wrap-list {
			display: block;
		}
	}


	// Paginação ativa
	.active-pagination {
		.favorite__item-list {
			display: none;
		}

		.favorite__item-list:nth-of-type(1),
		.favorite__item-list:nth-of-type(2) {
			display: block;
		}

		.favorite__btn-more-fav--show {
			display: inline-block;
		}

		.favorite__btn-more-fav--close {
			display: none;

			&::before {
				transform: rotate(-90deg);
			}
		}

		.full-list .favorite__item-list {
			display: block;
		}
	}



	// Custom Scroll
	.mCSB_inside > .mCSB_container {
		margin-right: 0;
		padding-bottom: 40px;
	}

	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: transparent;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: $air-gray;
	}

}
