.featured-posts {
	border-radius: 4px;
	background-color: $white;
	box-shadow: 0px 2px 18px rgba(67, 58, 37, 0.15);


	&__box-image {
		position: relative;
		overflow: hidden;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 156px;
			opacity: .6;
			z-index: 2;

			background: url(../images/gradiente-post-blog.png) repeat-x;
			background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
		}
	}

	&__image {

		@include breakpoint('mobile') {
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}

	&__title {
		font-size: 20px;
		color: $sasha-gray;
		line-height: 24px;

		@include breakpoint('mobile') {
			font-size: 14px;
			line-height: 18px;
		}

		&--big {
			position: absolute;
			bottom: 24px;
			width: 410px;
			padding-left: 30px;
			line-height: 40px;
			text-decoration: underline;
			font-family: 'NotoSansBold';
			letter-spacing: -0.04em;
			font-size: 36px;
			color: $white;
			z-index: 3;

			@include breakpoint('mobile') {
				width: 100%;
				font-size: 28px;
				line-height: 36px;
			}
		}
	}

	&__box-description {
		padding: 16px 21px;

		@include breakpoint('mobile') {
			padding: 14px 15px;
		}
	}

	&__text-description {
		font-size: 14px;
		color: $basic-gray;
		line-height: 18px;
		letter-spacing: -0.02em;

		@include breakpoint('mobile') {
			font-size: 14px;
			line-height: 18px;
		}
	}


	// BIG
	&--big {
		@include free-cols(3);

		@include breakpoint('mobile') {
			width: 100%;

			.featured-posts__box-image {
				height: 288px;
			}
		}


		.featured-posts__box-description {
			padding: 20px 32px;
		}
	}

	// MEDIUM
	&--medium {
		@include free-cols(2);

		@include breakpoint('mobile') {
			width: 124px;

			.featured-posts__box-image {
				height: 120px;
			}
		}
	}

	// SMALL
	&--small {
		@include free-cols(1);

		@include breakpoint('mobile') {
			width: 124px;

			.featured-posts__box-image {
				height: 120px;

				img {height: 120px;}
			}
		}
	}

}
