.gallery {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
	z-index: 9999;
	overflow-y: auto;

	&--fullscreen {
		overflow-y: inherit;
	}


	//
	// HEADER da galeria
	//

	&__header {
		width: 100%;
		height: auto;
		padding: 15px 0 16px 0;
		border-bottom: 1px solid $normal-gray;
		@extend %clearfix;

		@include breakpoint('tablet') {
			padding: 9px 0 28px 0;
		}

		@include breakpoint('mobile') {
			padding: 11px 0 30px 0;
		}

		.container {position: relative;}

		.btn-download {
			position: absolute;
			top: 0;
			right: 0;

			@include breakpoint('mobile') {
				display: none;
			}
		}
	}

	&__logo {
		width: 120px;
		height: 88px;
		float: left;
		margin-right: 30px;
		background-image: url(../images/logotipo_pb.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0;

		@include breakpoint('tablet') {
			width: 68px;
			height: 50px;
		};

		@include breakpoint('mobile') {
			width: 52px;
			height: 38px;
		};
	}

	&__wrap-name {
		position: relative;
		float: left;
		margin-top: 25px;

		@include breakpoint('desktop') {
			width: 810px;
		}

		@include breakpoint('tablet--e-abaixo') {
			clear: both;
			width: 100%;
			margin-top: 0;
		}

		@include breakpoint('tablet') {
			margin-top: 24px;
		}

		@include breakpoint('mobile') {
			margin-top: 18px;
		}
	}

	&__name {
		max-width: 525px;
		font-family: 'NotoSansBold';
		font-size: 24px;
		color: $light-blue;
		letter-spacing: 0.056em;

		@include breakpoint('tablet') {
			max-width: 435px;
		}

		@include breakpoint('mobile') {
			max-width: 100%;
			font-size: 20px;
			letter-spacing: 0;
		}
	}

	&__date {
		font-size: 12px;
		color: $basic-gray;
		letter-spacing: 0.15em;
	}

	&__wrap-buttons {
		float: right;
		margin-top: 25px;

		@include breakpoint('tablet--e-abaixo') {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 0;
		}

		@include breakpoint('tablet') {
			margin-top: 9px;
		}

		@include breakpoint('mobile') {
			margin-top: 9px;
		}
	}

	&__close-btn {
		width: 32px;
		height: 32px;
		float: right;
		background-image: url(../images/close_icon_thin.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0;
		cursor: pointer;

		@include breakpoint('mobile') {
			width: 20px;
			height: 20px;
		};

		&--white {
			background-image: url(../images/close_icon_thin--white.svg);
		}
	}

	&__change-mode {
		position: relative;
		float: right;
		width: 27px;
		height: 27px;
		margin: 2px 32px 0 32px;
		cursor: pointer;

		@include breakpoint('mobile') {
			width: 20px;
			height: 20px;
			margin: 0 20px 0 20px;
		}

		&::before,
		&::after,
		> span:first-child,
		> span:last-child {
			position: absolute;
			width: 12px;
			height: 12px;
			background-color: $light-blue ;

			@include breakpoint('mobile') {
				width: 9px;
				height: 9px;
			}
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: 0;
			left: 0
		}

		> span:first-child {
			top: 0;
			right: 0;
		}

		> span:last-child {
			bottom: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			right: 0;
		}
	}

	&__share {
		display: block;
		position: relative;
		float: right;
		height: 28px;
		padding-right: 38px;
		line-height: 28px;
		margin-top: 2px;
		font-size: 12px;

		@include breakpoint('mobile') {
			display: none;
		}

		&::after {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			width: 28px;
			height: 28px;
			background-color: $white;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url(../images/share--light-blue.svg);

		}
	}


	//
	// Área de Thumbs da galeria
	//

	&__content {
		position: relative;
		@extend %clearfix;
	}

	&__thumbs {
		position: relative;
		margin-top: 32px;
		opacity: 1;
		transition: opacity .5s ease-in-out;
		z-index: 101;

		@include breakpoint('mobile') {
			margin-top: 28px;
		}

		&--hidden {
			opacity: 0;
			z-index: 100;
		}
	}

	&__wrap-thumbs {
		@include cols(4);

		@include breakpoint('tablet') {
			@include cols(3);
		}
	}

	&__details {
		@include cols(1);
		letter-spacing: -0.01em;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__thumbs-item {
		@include free-cols(1);
		position: relative;
		float: left;
		height: 121px;
		margin: 0 0 $grid-gutter $grid-gutter;
		overflow: hidden;

		@include breakpoint('desktop') {
			&:nth-child(4n+1) {
				margin-left: 0;
			}
		}

		@include breakpoint('tablet--e-abaixo') {
			&:nth-child(3n+1) {
				margin-left: 0;
			}
		}

		@include breakpoint('mobile') {
			width: 72px;
			height: 72px;
			margin: 0 0 28px 28px;
		}
	}

	&__thumb-link {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border: 0 solid transparent;
		background-color: rgba(0, 0, 0, .1);
		transition: background-color .3s ease-in-out, border .3s ease-in-out;
		z-index: 2;

		&:hover,
		&.active {
			border: 4px solid $light-blue;
			background-color: rgba(0, 0, 0, .3);
		}
	}

	&__displaying {
		font-family: 'NotoSansBold';
		font-size: 24px;
		color: $sasha-gray;
	}

	&__total {
		margin: 8px 0 3px 0;
		font-size: 36px;
		color: $light-blue;

		> span {
			color: $basic-gray;
		}
	}

	&__type {
		font-size: 24px;
		color: $basic-gray;
	}

	// Paginação
	.pagination{
		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	.btn-load {
		display: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		@include breakpoint('tablet--e-abaixo') {
			display: block;
			margin-bottom: 32px;
		}
	}


	//
	// Área de imagem expandida
	//

	&__details-image {
		// display: none;
		position: absolute;
		top: 32px;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity .5s ease-in-out;
		z-index: 100;

		@include breakpoint('mobile') {
			top: 0;
		}

		&--active {
			opacity: 1;
			z-index: 101;
		}

		&.container {
			@include breakpoint('mobile') {
				width: 100%;
			}
		}
	}

	&__wrap-full-image {
		@include cols(4);
		height: 541px;
		background-color: $black;
		overflow: hidden;

		@include breakpoint('tablet') {
			@include cols(3);
			height: 401px;
		}

		@include breakpoint('mobile') {
			width: 100%;
			height: 181px;
		}
	}

	&__image-full {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		z-index: 101;
	}

	&__wrap-details-image {
		position: relative;
		@include cols(1);
		height: 541px;

		@include breakpoint('tablet') {
			@include cols(3);
			top: 28px;
		}

		@include breakpoint('tablet--e-abaixo') {
			height: auto;
		}

		@include breakpoint('mobile') {
			display: block;
			margin: 0 auto;

			&:last-child {
				margin-right: auto;
			}
		}
	}

	&__box-details-image {
		width: auto;

		@include breakpoint('tablet') {
			@include free-cols(2);
			float: left;
		}

		.btn-download {
			@include breakpoint('mobile') {
				display: none;
			}
		}
	}

	&__name-image {
		font-family: 'NotoSansBold';
		font-size: 24px;
		color: $sasha-gray;
		letter-spacing: -0.01em;

		@include breakpoint('mobile') {
			font-size: 18px;
			margin-top: 19px;
		}
	}

	&__description {
		margin: 18px 0 24px 0;
		line-height: 20px;
		font-size: 16px;
		letter-spacing: -0.02em;

		@include breakpoint('mobile') {
			margin: 8px 0 24px 0;
		}
	}

	&__box-nav-image {
		position: absolute;
		bottom: 0;
		width: 100%;

		@include breakpoint('tablet') {
			@include free-cols(1);
			float: right;
		}

		@include breakpoint('tablet--e-abaixo') {
			position: relative;
		}

		@include breakpoint('mobile') {
			top: 20px;
		}
	}

	&__box-details-nav-image {
		float: right;
		text-align: right;

		@include breakpoint('mobile') {
			float: left;
			text-align: left;
		}
	}

	&__total-nav-image {
		width: 95px;
		font-size: 20px;
		color: $light-blue;
	}

	&__sep {
		color: $basic-gray;
	}

	&__type-nav-image {
		margin-top: 7px;
		font-size: 12px;
		letter-spacing: 0.15em;
	}

	&__btn-nav {
		float: right;
		width: 47px;
		height: 40px;
		background-color: $basic-gray;
		cursor: pointer;
		transition: background-color .5s ease-in-out;

		&:hover {
			background-color: $sasha-gray;
		}

		&::before {
			display: inline-block;
			content: '';
			width: 13px;
			height: 14px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}

		&--right {
			margin-left: 1px;
		}

		&--left {
			margin-left: 24px;

			&::before {
				transform: rotate(180deg);
				background-position: 0px -2px;
			}
		}
	}

	//
	// Imagem fullscreen mobile.
	//

	&__mask-full-screen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px 24px 0 0;
		background-color: $black;
		z-index: 100;
	}

	&__to-zoom {
		position: absolute;
		bottom: 39px;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 52px;
		letter-spacing: 0.15em;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		color: $sasha-gray;

		&::before {
			display: inline-block;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: calc(-36px / 2);
			width: 36px;
			height: 45px;
			background-image: url(../images/ico-zoom.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}


}
