.get-tickets {

	border: 2px solid $bd-gray;
	border-radius: 3px;

	@include breakpoint('tablet--e-acima') {
		display: table;
		width: 100%;
	}

	&__content {
		padding: 28px 0;
		font-size: 16px;
		color: $sasha-gray;
		line-height: 1.5;
		padding-left: 85px;
		position: relative;

		&:first-of-type {
			border-bottom: 2px solid $bd-gray;
		}

		&::after {
			content: '';
			width: 48px;
			height: 48px;
			border: 1px solid $soft-green;
			border-radius: 60px;
			position: absolute;
			left: 26px;
			top: 26px;
			background-repeat: no-repeat;
			background-position: center 5px;
		}

		@include breakpoint('tablet--e-acima') {
			display: table-cell;
			padding-top: 18px;
			padding-bottom: 18px;


			&:first-of-type {
				border-bottom: 0;
				border-right: 2px solid $bd-gray;
			}

			&::after {
				top: 16px;
			}
		}

		&--calendar {
			@include breakpoint('tablet--e-acima') {
				.get-tickets__link {
					display: none;
				}
			}

			&::after {
				background-image: url(../images/icon-calendar--gray.svg);
				background-size: 35px 33px;
			}
		}

		&--tickets {
			position: relative;
			@include breakpoint('tablet--e-acima') {
				.get-tickets__link {
					background-image: url(../images/icon-target-thin--gray.svg);
					background-repeat: no-repeat;
					background-size: 11px;
					background-position: 100% 10px;
					padding-right: 18px;
				}
			}

			&::after {
				background-image: url(../images/icon-tickets--gray.svg);
				background-size: 30px 38px;
			}
		}
	}

	&__title, &__date {
		display: block;
	}

	&__title {
		font-size: 12px;
		text-transform: uppercase;
	}

	&__date {
		font-weight: bold;
	}

	&__link {
		color: $soft-green;
		text-decoration: underline;
	}
}
