.great-for {
	padding: 25px 30px 20px 30px;
	border: 2px solid $bd-gray;
	border-radius: 3px;
	color: $light-green;

	@extend %clearfix;

	@include breakpoint(desktop) {
		@include free-cols(2);
	}

	@include breakpoint(tablet) {
		padding: 25px 0 20px 0;
		box-sizing: initial;

		@include free-cols(3);
	}


	&__block {
		margin: 29px 0 0 0;

		&:first-child {
			margin-top: 0;
		}

		&:nth-of-type(3) {
			display: none;
		}

		@include breakpoint(tablet) {
			@include cols(1);
			box-sizing: border-box;

			&:first-child {
				padding-left: 30px;
			}

			&:nth-of-type(2) {
				padding: 0 15px;
			}

			&:nth-of-type(3) {
				display: inline-block;
				padding-right: 15px;
			}
		}
	}

	&__main-title {
		margin-bottom: 17px;
		font-family: 'NotoSansBold';
		font-size: 20px;
		color: $sasha-gray;

		@include breakpoint(tablet) {
			margin-bottom: 3px;
			padding-left: 30px;
		}
	}

	&__sub-title {
		margin: 0 0 8px 0;
		text-transform: uppercase;
		font-family: 'NotoSansBold';
		font-size: 13px;
		letter-spacing: 0.2em;
	}

	&__text {
		font-size: 14px;
		color: $new-gray;
		line-height: 20px;

		> a {
			text-decoration: underline;
		}
	}

	// Modificadores
	&--one {
		box-sizing: border-box;

		@include breakpoint(tablet) {
			padding: 30px 0;

			@include free-cols(1);
		}

		@include breakpoint(mobile) {
			.great-for__main-title {
				display: none;
			}
		}
	}


}
