.destinos {

	&__wrapper {
		padding: 45px 0;
		text-align: center;
	}

	&__cards {
		background-color: $bd-gray;

		.card-hover {
			margin-top: 30px !important;
			@include breakpoint('tablet--e-acima') {
				@include cols(1);
			}

			@include breakpoint('mobile') {
				margin: 33px auto 0;
				display: block;
			}
		}
	}
}
