.home {

	&__banner {
		position: relative;
		z-index: 10;
	}

	&__content-wrapper {
		padding-bottom: 72px;
		background-color: $bd-gray-light;
		background-position: center;
		background-size: cover;
		position: relative;
		padding-top: 72px;


		&--top {
			padding-top: 135px;

			@include breakpoint('mobile'){
				padding-top: 175px;
			}
		}

		.trending {
			position: absolute;
			top: inherit;
			z-index: 10;
			top: -93px;

			@include breakpoint('mobile'){
				top: -27px;
			}
		}

		.title {
			position: relative;
			z-index: 10;
			text-align: center;
		}
	}

	&__photo-description {
		width: 1208px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -640px;

		&--bottom {
			top: inherit;
			bottom: 0;
		}
	}

	&__cards {
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		z-index: 10;
		position: relative;

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		@include breakpoint('tablet') {
			.cards-carousel > div:nth-of-type(4),
			.cards-carousel > div:nth-of-type(5) {
				display: none;
			}
		}

	}

	&__newsletter {
		background-image: url(../images/bg-newsletter.jpg);
		background-position: center;
		background-size: cover;
		position: relative;

		@include breakpoint('mobile'){
			display: none;
		}
	}
}
