.imprensa {

	&__highlight-wrapper {
		position: relative;
		z-index: 3;
	}

	&__wrap-photo-description {position: relative;}

	&__about {
		position: relative;
		padding: 43px 0;
		font-size: 28px;

		.title--dark-gray {
			font-weight: bold;
		}

		.link {
			text-decoration: underline;
			color: $sasha-gray;
		}

		&--paragraph {
			@include free-cols(3);
			margin-bottom: 27px;
			font-size: 28px;
			line-height: 36px;
			letter-spacing: -0.04em;

			@include breakpoint('tablet') {
				width: 100%;
			}

			@include breakpoint('mobile') {
				width: 100%;
				font-size: 20px;
				line-height: 28px;
			}
		}

		&-content {
			position: relative;
			padding: 40px 0 72px;
		}

		&-highlight {
			display: inline-block;
			@include free-cols(1);
			float: left;

			&--paragraph {
				font-size: 28px;
				line-height: 32px;

				@include breakpoint('mobile') {
					font-size: 20px;
					line-height: 24px;
				}
			}

			@include breakpoint('tablet--e-abaixo') {
				width: 100%;
				margin-bottom: 23px;
			}
		}

		&-description {
			@include free-cols(3);
			display: inline-block;
			margin-left: 32px;

			@include breakpoint('tablet--e-abaixo') {
				margin-left: 0;
			}

			@include breakpoint('mobile') {
				width: 100%;
			}
		}

		&-list {
			margin-bottom: 22px;
		}

		&-item {
			position: relative;
			padding-left: 13px;
			line-height: 24px;

			&::before {
				content: '';
				width: 4px;
				height: 4px;
				background-color: $light-green;
			    border-radius: 10px;
			    position: absolute;
			    top: 11px;
			    left: 0;
			}
		}

		&-paragraph {
			margin-bottom: 23px;
			font-size: 18px;
			line-height: 26px;

			@include breakpoint('mobile') {
				font-size: 16px;
				line-height: 24px;
			}
		}

	}

	&__clipping {
		padding: 32px 0;
		@include free-cols(3);
		margin: 0 auto;
		position: relative;

		&-share {
			display: inline-block;
		    vertical-align: top;
		    margin-left: 40px;

		    &--bottom {
		    	margin-bottom: 32px;
		    }
		}

		&-favorite {
			display: inline-block;
			float: right;

			.add-favorite {
				&__icon {
					border-color: $basic-orange;
				}
			}
		}

		&-content {
			border-bottom: solid 1px $bd-gray;
			margin-bottom: 32px;
			position: relative;
		}

		&-title {
			font-size: 28px;
			color: $sasha-gray;
			font-weight: 400;
			margin-bottom: 27px;
		}

		&-image-wrapper {
			margin: 62px 0 27px;
		}

		&-image {
			width: 100%;
			height: auto;
		}

		&-image-legend {
			font-size: 11px;
			text-align: right;
			padding-top: 8px;
		}

		&-download {
			text-align: center;

			&--legend {
				margin-bottom: 12px;
			}
		}
	}

	&__aditional-links {
		border: solid 1px $bd-gray;
		border-radius: 3px;
		position: absolute;
		top: 50px;
		right: -250px;
		@include free-cols(1);
		padding: 20px 28px;
	}

	&__aditional-links-title {
		margin-bottom: 12px;
		letter-spacing: .2rem;
	}

	&__aditional-links-item {
		position: relative;
		margin-bottom: 12px;

		&::before {
			content: '';
			position: absolute;
			top: 7px;
			left: -10px;
			display: block;
			width: 3px;
			height: 3px;
			border-radius: 10px;
			background-color: $basic-orange;
		}

		a {
			text-decoration: underline;
			color: $sasha-gray;
			letter-spacing: .1rem;
			font-size: 13px;
		}

	}

	&__search {
		&--title {
			margin-bottom: 32px;
		}

		&--wrapper {
			background-color: $bd-gray-light;
			border-top: solid 1px $bd-gray;
			border-bottom: solid 1px $bd-gray;
		}
	}

	&__form {
		position: relative;
		padding: 30px 0;

		&-col {
			@include cols(1);

			@include breakpoint('tablet') {
				margin-top: 32px;
				&:nth-of-type(2) {margin-left: 0;}
			}

			@include breakpoint('mobile') {
				margin-bottom: 27px;
			}

			&:nth-of-type(3),
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&-col-search {
			@include cols(2);

			@include breakpoint('tablet') {
				@include cols(3);
			}

			@include breakpoint('mobile') {
				margin-bottom: 27px;
			}
		}

		.btn-simple {
			@include breakpoint('mobile') {
				margin-top: 32px;
			}
		}

		.custom-combo {
			float: none;
		}


		&::after {
			@include breakpoint('mobile') {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: -8px;
				left: 28px;
				width: 17px;
				height: 17px;
				transform: rotate(-45deg);

				background: #a7cfdf;
				background: -moz-linear-gradient(45deg,  #f2edde 55%, #dcd7c9 100%);
				background: -webkit-linear-gradient(45deg,  #f2edde 55%,#dcd7c9 100%);
				background: linear-gradient(45deg,  #f2edde 55%,#dcd7c9 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2edde', endColorstr='#dcd7c9',GradientType=1 );
			}
		}
	}

	&__label {
		font-size: 10px;
		text-transform: uppercase;
		color: $sasha-gray;
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__field {
		position: relative;
		top: -2px;
		display: inline-block;
		margin-right: 5px;
		border-radius: 20px;
		background: $white;
		border: solid 1px $bb-gray;
		padding: 0 15px;

		@include breakpoint('mobile') {
			width: 100%;
		}

		&--text {
			width: 332px;
			height: 32px;

			@include breakpoint('mobile') {
				width: 100%;
			}
		}
	}

	&__results-wrapper {
		background: #6559ea;
		background: -moz-linear-gradient(left,  $bd-gray-light 0%, $bd-gray-light 51%, $bd-gray 51%, $bd-gray 100%);
		background: -webkit-linear-gradient(left,  $bd-gray-light 0%,$bd-gray-light 51%,$bd-gray 51%,$bd-gray 100%);
		background: linear-gradient(to right,  $bd-gray-light 0%,$bd-gray-light 51%,$bd-gray 51%,$bd-gray 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9f4', endColorstr='#f2edde',GradientType=1 );
		position: relative;

		@include breakpoint('mobile') {
			.container {
				width: 100%;
			}
		}
	}

	&__tabs {
		display: block;
		@include free-cols(1);
		background-color: $bd-gray-light;

		@include breakpoint('mobile') {
			width: 100%;
			border-top: 2px solid $bd-gray;
		}

		&-item {
			height: 64px;

			@include breakpoint('mobile') {
				height: auto;
				border-bottom: 1px solid $bb-gray;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 19%;
				height: 64px;
				background-color: $bd-gray-light;

				@include breakpoint('tablet') {
					width: 21%;
				}

				@include breakpoint('mobile') {
					display: none;
				}
			}

			&:hover,
			&--active {

				&::before {
					background-color: $bb-gray;
				}

				.imprensa__tabs-link {
					font-family: 'NotoSansBold';
					background: $bb-gray; /* Old browsers */
					background: -moz-linear-gradient(left,  $grad-gray 0%, $bd-gray 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left,  $grad-gray 0%,$bd-gray 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right,  $grad-gray 0%,$bd-gray 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d4c7', endColorstr='#f2edde',GradientType=1 ); /* IE6-9 */

					@include breakpoint('mobile') {
						background: none;
					}

					&::after {
						content: '';
						display: block;
						width: 12px;
						height: 12px;
						background-image: url(../images/seta-button-default--orange.svg);
						position: absolute;
					    right: 25px;
					    top: 28px;

					    @include breakpoint('mobile') {
					    	width: 15px;
							height: 9px;
							right: 0;
							background-image: url(../images/seta-vertical--gray-light.svg);
							background-size: 100%;
							transform: rotate(0deg);
						}
					}
				}
			}

			&--filter-results {
				@include breakpoint('mobile') {
					border: 0;

					.imprensa__tabs-link {display: none;}
				}
			}

			&--filter-results:hover,
			&--filter-results.imprensa__tabs-item--active {
				&::before,
				.imprensa__tabs-link,
				.imprensa__tabs-link::after {
					background: none;
					cursor: default;
				}
			}
		}

		&-link {
			position: relative;
			display: block;
			width: 100%;
			height: 64px;
			line-height: 64px;
			text-align: left;
			font-size: 16px;
			float: left;
			color: $sasha-gray;

			@include breakpoint('mobile') {
				float: none;
				width: 272px;
				margin: 0 auto;
				font-size: 14px;
			}

			@include breakpoint('mobile'){
				&::after {
					content: '';
					display: block;
					width: 15px;
					height: 9px;
					background-image: url(../images/seta-vertical--gray-light.svg);
					background-size: 100%;
					position: absolute;
				    right: 0;
				    top: 30px;
				    transform: rotate(-180deg);
				}
			}

			.label {
				background-color: $basic-orange;
				text-transform: uppercase;
				color: $white;
				font-weight: bold;
				@include border-radius(5px);
			    font-size: 9px;
			    padding: 0 3px;
			    margin-left: 3px;
			    position: relative;
			    display: inline-block;
			    top: -1px;
			    height: 12px;
			    line-height: 12px;
			}
		}


		// Mofificadora p/ página de resultados de busca/filtros.
		&--filter-results {
			@include breakpoint('mobile') {
				.imprensa__tabs-link {display: none;}
				.imprensa__tabs-item {border: 0;}
			}
		}
	}

	&__results {
		display: none;
		position: absolute;
		top: 0;
		min-height: 384px;
		margin: 0 0 0 216px;
		@include free-cols(4);
		padding: $grid-gutter 0 0 $grid-gutter;
		text-align: left;
		background-color: $bd-gray;
		box-sizing: content-box;

		@include breakpoint('tablet') {
			@include free-cols(2);
		}

		@include breakpoint('mobile') {
			position: initial;
			width: 100%;
			min-height: auto;
			margin: 0;
			padding: 17px 0 0 0;
		}

		&--press-release {display: block;}

		&--press-filter-results,
		&--trade-filter-results {
			@include free-cols(3);

			@include breakpoint('tablet') {
				@include free-cols(2);
			}

			@include breakpoint('mobile') {
				width: 100%;

				.imprensa__pagination {
					@include breakpoint('mobile') {
						.pagination{display: none;}
						.btn-load{display: inline-block;}
					}
				}
			}
		}

		&--no {
			@include free-cols(4);

			@include breakpoint('tablet') {
				@include free-cols(2);
			}

			@include breakpoint('mobile') {
				width: 100%;
			}
		}
	}

	&__cards {
		font-size: 0;

		> .card {
			margin-bottom: $grid-gutter;

			@include breakpoint('desktop') {
				&:nth-child(4n+1) {margin-left: 0;}
				&:nth-child(4n+4) {margin-right: 0;}
			}

			@include breakpoint('tablet') {
				&:nth-child(2n+1) {margin-left: 0;}
				&:nth-child(2n+2) {margin-right: 0;}
			}
		}
	}

	.card-media {
		float: left;
		margin: 0 32px 32px 0;

		@include breakpoint('desktop') {
			&:nth-child(4n+4) {margin-right: 0;}
		}

		@include breakpoint('tablet') {
			&:nth-child(2n+2) {margin-right: 0;}
		}

		@include breakpoint('mobile') {
			margin: 16px 14px;
		}
	}

	.conference {
		&__item {
			@include free-cols(3);
			border-bottom: solid 1px $bb-gray;
			padding-bottom: 32px;
			margin-bottom: 27px;

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}

			@include breakpoint('tablet'){
				width: 100%;
			}

			@include breakpoint('mobile'){
				width: $grid-col-width-mobile;
				margin: 0 auto;
				margin-top: 32px;

				&:first-of-type {margin-top: 15px;}
			}
		}

		&__logo {
			display: inline-block;
			width: 216px;
			height: 121px;
			background-color: $sou-gray;
			position: relative;
			border-radius: 3px;
			margin-right: 32px;
			float: left;
		}

		&__label {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 12px;
			background-color: $white;
			color: $basic-gray;
			padding: 3px;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: bold;
		}

		&__wrapper {
			width: 450px;
			display: inline-block;

			@include breakpoint('tablet'){
				@include free-cols(1);
			}

			@include breakpoint('mobile'){
				width: 100%;
			}
		}

		&__title {
			font-size: 20px;
			margin-bottom: 18px;
			line-height: 24px;
			letter-spacing: -0.02em;

			@include breakpoint('mobile'){
				margin-top: 17px;
				font-size: 16px;
				line-height: 20px;
			}
		}

		&__title-no-results {
			margin-bottom: 15px;
			font-family: $noto-sans-bold;
			font-size: 24px;
			line-height: 26px;
			letter-spacing: 0;

			@include breakpoint('mobile'){
				font-size: 18px;
				line-height: 24px;
			}
		}

		&__legend-wrapper {
			position: relative;
			top: 35px;
			text-align: center;
		}

		&__legend {
			font-size: 20px;
			color: $white;
		}

		&__sublegend {
			font-size: 14px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&__description {
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.02em;
			margin-bottom: 27px;
		}

		&__description-no-results {
			font-size: 16px;
			line-height: 24px;
			color: $sasha-gray;

			@include breakpoint('mobile'){
				font-size: 14px;
				line-height: 20px;
			}
		}

		&__link {
			text-decoration: underline;
			font-size: 14px;
		}
	}

	.result {

		&__main-title {
			border-bottom: solid 1px $sou-gray;
			height: 67px;
			position: relative;

			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
				height: auto;
				margin: 0 auto;
			}
		}

		&__main-label {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $white;
			box-shadow: 0 1px 5px 0 rgba(67, 58, 37, 0.2);
			border-radius: 20px;
			padding: 8px 17px;
			font-family: $noto-sans-italic;
			font-size: 16px;
			font-weight: bold;
			color: $sou-gray;

			@include breakpoint('mobile') {
				display: inline-block;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				margin: 15px 0 32px 0;
			}

			> span {
				font-family: $noto-sans-bold;
				color: $basic-orange;
			}
		}

		&__item {
			padding: 32px 0;
			border-bottom: solid 1px $bb-gray;
			@extend %clearfix;

			&:last-of-type {
				margin-bottom: 32px;
				border-bottom-color: $sou-gray;
			}

			@include breakpoint('mobile') {
				display: block;
				width: $grid-col-width-mobile;
				margin: 0 auto;
			}
		}

		&__thumb {
			position: relative;
			@include cols(1);
			overflow: hidden;

			> img {
				max-width: 216px;
				border-radius: 5px;

				@include breakpoint('mobile') {
					max-width: 136px;
				}
			}
		}

		&__content {
			@include breakpoint('desktop') {
				@include cols(2);
			}

			@include breakpoint('tablet') {
				@include cols(1);
			}

			&--no-thumb {
				width: 100%;

				.result__title {margin-top: 0;}
			}
		}

		&__title {
			margin-bottom: 7px;
			font-family: $noto-sans-bold;
			color: $basic-orange;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: -0.02em;

			@include breakpoint('desktop') {
				padding-right: 25px;
			}

			@include breakpoint('mobile') {
				margin-top: 13px;
				font-size: 16px;
				line-height: 20px;
			}
		}

		&__description {
			color: $basic-gray;
			font-size: 13px;
			line-height: 18px;
			letter-spacing: -0.02em;

			@include breakpoint('desktop') {
				padding-right: 25px;
			}

			> strong {
				font-family: $noto-sans-bold;
				color: $sasha-gray;
			}
		}

		&__label {
			position: absolute;
			top: 10px;
			left: 10px;
			background: $white;
			padding: 4px;
			text-transform: uppercase;
			color: $basic-gray;
			font-size: 12px;
			font-weight: bold;
			border-radius: 3px;

			&--video {
				background-color: transparent;

				&::after,
				&::before {
					content: '';
					display: block;
					position: absolute;
				}

				&::after {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					border: solid 1px $white;
					top: 24px;
					left: 73px;

					@include breakpoint('mobile') {
						width: 42px;
						height: 42px;
						top: 7px;
						left: 37px;
					}
				}

				&::before {
				    vertical-align: middle;
				    margin-right: 10px;
				    left: 90px;
				    top: 34px;
				    width: 0;
				    height: 0;
					border-top: 14px solid transparent;
					border-bottom: 14px solid transparent;
					border-left: 21px solid $white;

				    @include breakpoint('mobile') {
				    	left: 53px;
				    	top: 18px;
						border-top: 11px solid transparent;
						border-bottom: 11px solid transparent;
						border-left: 18px solid $white;
					}
				}
			}

			&--photo {
				padding: 3px 5px;

				&::before {
					content: '';
					display: inline-block;
					position: relative;
					top: 1px;
					width: 14px;
					height: 13px;
					margin-right: 3px;
					background-image: url(../images/photo_gallery--gray.svg);
					background-size: 100%;
				}
			}
		}

		&__no-result {
			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
				margin: 0 auto;
			}
		}

		&__no-result-title {
			font-family: $noto-sans-bold;
			font-size: 24px;
			line-height: 26px;
			color: $basic-orange;

			@include breakpoint('mobile') {
				margin-top: 10px;
				font-size: 18px;
				line-height: 24px;
			}
		}

		&__no-result-description {
			margin: 14px 0 28px 0;
			font-size: 16px;
			line-height: 24px;
			color: $sasha-gray;

			@include breakpoint('mobile') {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}

	.popular-search {
		padding-bottom: 23px;
		font-size: 0;

		&__item {
			display: inline-block;
			margin: 0 8px 8px 0;
			padding: 10px;
			font-size: 14px;
			color: $new-gray;
			border-radius: 2px;
			border: solid 2px $bb-gray;
			background-color: $white;
		}
	}

	&__pagination {
		padding-bottom: $grid-gutter;
		box-sizing: border-box;

		.btn-load {display: none;}

		@include breakpoint('tablet') {
			text-align: center;

			.pagination{display: none;}
			.btn-load{display: inline-block;}
		}

		@include breakpoint('mobile') {
			margin-top: 15px;
			text-align: center;
		}
	}

	&__contact {
		background-color: $white;
		padding: 32px 0;

		@include breakpoint('mobile') {
			padding: 55px 0;
		}

		&-block {
			margin-bottom: 27px;
			display: inline-block;

			&--full {
				width: 100%;
			}

			&--nomargin {
				margin: 0;
				vertical-align: top;
			}

			&--success {
				display: none;
				position: absolute;

				@include breakpoint('mobile') {
					p:first-of-type {width: 178px;}
					p:last-of-type {display: none;}
				}
			}

			&--send {
				position: absolute;
			}

			&.success {
				.imprensa__contact-label,
				.imprensa__contact-field {
					opacity: .2;
				}
			}
		}

		&-form {
			display: inline-block;
			@include free-cols(3);
			float: left;
			margin-right: 27px;

			@include breakpoint('tablet') {
				width: 100%;
			}

			@include breakpoint('mobile') {
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}

		&-label {
			font-size: 10px;
			text-transform: uppercase;
			color: $sasha-gray;
			font-weight: bold;
			margin-bottom: 12px;
			display: block;
			transition: opacity .8s ease-out;
		}

		&-field {
			border-radius: 20px;
			border: solid 1px $bb-gray;
			padding: 0 15px;
			transition: opacity .8s ease-out;

			input {
				height: 32px;
			}

			textarea {
				height: 150px;
				border: 0;
				resize: none;
			}

			input, textarea {
				width: 100%;
				font-size: 20px;
			}

			&.error {
				border-color: rgb(255, 12, 0);
			}
		}

		&-name {
			width: 462px;
    		margin-right: 12px;

    		@include breakpoint('mobile') {
    			width: 100%;
    		}
		}

		&-phone {
			width: 233px;

			@include breakpoint('mobile') {
				width: 100%;
			}
		}

		&-email {
			width: 349px;
			margin-right: 12px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-right: 0;
			}
		}

		&-organization {
			width: 346px;

			@include breakpoint('mobile') {
				width: 100%;
			}
		}

		&-subject {
			width: 100%;
		}

		&-message {
			width: 100%;

			.imprensa__contact-field {
				padding: 15px;
				text-align: right;
			}
		}

		&-aside {
			display: inline-block;
			@include free-cols(2);

			@include breakpoint('tablet') {
				width: 100%;
				margin-top: 60px;
			}

			@include breakpoint('mobile') {
				width: 100%;
				margin-top: 84px;
				padding-top: 20px;
				border-top: 2px solid $bd-gray;
			}

			.custom-combo {
				float: none;
				width: 55%;
				margin-bottom: 12px;

				@include breakpoint('mobile') {
					width: 100%;
				}
			}

			.strong {
				font-weight: bold;
				color: $sasha-gray;
			}

			.link {
				text-decoration: underline;
				color: $basic-orange;
			}

			&--title {
				font-size: 20px;
				line-height: 28px;
				font-weight: 500;
				margin-bottom: 12px;
				font-family: $noto-sans-bold;
			}

			&--block {
				border-radius: 4px;
				border: solid 2px $bd-gray;
				padding: 12px 27px;
				margin-top: 27px;
			}
		}


		&-button {
			position: relative;
			margin-right: 12px;

			&--success {
				padding: 5px 27px;
				cursor: auto;

				&::after {
					content: '';
					background-image: url(../images/check_icon--white.svg);
					background-size: 100% 100%;
					display: inline-block;
					width: 20px;
					height: 20px;
				}
			}
		}

		&-result {
			line-height: 20px;
			font-size: 14px;
		}

	}

	&__upcoming {
		background-color: $bd-gray-light;
		padding: 50px 0;
		text-align: center;

		@include breakpoint('tablet') {
			.imprensa__wrap-card:nth-child(3) {
				margin-right: 0;
			}

			.imprensa__wrap-card:nth-child(4),
			.imprensa__wrap-card:nth-child(5) {
				display: none;
			}
		}

		@include breakpoint('mobile') {
			.container {width: 100%;}

			.title {
				width: 272px;
				margin: 0 auto 12px auto;
			}

			.card {
				margin-top: 28px;
				margin-bottom: 28px;
			}
		}

		&-events {
			margin-bottom: 27px;
		    height: 480px;
		    font-size: 0;
		    overflow: hidden;

		    @include breakpoint('mobile') {
				margin-bottom: 0;
		    	height: auto;
			}
		}
	}

	&__description-guides {
		position: relative;
		@include free-cols(4);
		margin-bottom: 32px;
		padding: 28px 75px 28px 105px;
		font-size: 14px;
		line-height: 20px;
		color: $sasha-gray;
		box-shadow: 2px 2px 5px 0px rgba(67,58,37,0.15);
		border-radius: 4px;
		background: $white url(../images/img-description-guides.png) no-repeat 32px 28px;
		box-sizing: border-box;

		&-close {
			position: absolute;
			top: 20px;
			right: 24px;
			display: block;
			width: 14px;
			height: 14px;
			cursor: pointer;

			&::before, &::after {
				content: '';
				height: 3px;
				width: 13px;
				position: absolute;
				top: 6px;
				background-color: $sou-gray;
			}

			&::before {transform: rotate(45deg);}
			&::after {transform: rotate(-45deg);}
		}

		@include breakpoint('tablet'){
			@include free-cols(2);
		}

		@include breakpoint('mobile'){
			display: none;
		}
	}

	&__btn-program {
		margin: 15px 0;
	}


	// Article interna
	.internal-article {
		padding-bottom: 102px;

		&__subtitle {
			&::after {
				border-top: 7px solid $basic-orange;
			}
		}
	}


	&--green {
		.imprensa__tabs-link::after,
		.imprensa__tabs-item:hover .imprensa__tabs-link::after,
		.imprensa__tabs-item--active .imprensa__tabs-link::after {
			background-image: url(../images/seta-button-default--new-green.svg);

			@include breakpoint('mobile') {
				background-image: url(../images/seta-vertical--gray-light.svg);
			}
		}

		.imprensa__tabs-item--filter-results:hover,
		.imprensa__tabs-item--filter-results.imprensa__tabs-item--active {
			&::before,
			.imprensa__tabs-link,
			.imprensa__tabs-link::after {
				background: none;
				cursor: default;
			}
		}

		.result__main-label > span,
		.result__title,
		.result__no-result-title {
			color: $new-green;
		}
	}

	// Double bind
	// =(
	&__desk {
		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__mobile {
		display: none;

		@include breakpoint('mobile') {
			display: inline-block;
		}
	}


	.gallery {
		box-sizing: border-box;

		@include breakpoint('mobile') {
			.gallery__header .container,
			.gallery__thumbs.container {
				width: $grid-col-width-mobile;
			}
		}
	}

}
