.information-tips {

	@include breakpoint('mobile') {
		display: none;
	}

	&__wrapper {
		display: table;
		width: 100%;
		table-layout: fixed;
		margin-top: 20px;
	}

	&__tip-wrapper {
		text-align: center;
		display: table-cell;
		vertical-align: top;

		&:first-of-type {
			text-align: left;
		}
		&:last-of-type {
			text-align: right;
		}
	}

	&__tip {
		display: inline-block;
		width: 144px;
		height: 164px;
		border: 2px solid $bd-gray;
		text-align: center;
		border-radius: 3px;
		font-size: 14px;
		padding: 25px 15px;

		&-text {
			position: relative;
			padding-top: 60px;

			&::before {
				content: '';
				background-position: center;
				background-repeat: no-repeat;
				background-size: 70%;
				left: 50%;
				margin-left: -24px;
				width: 48px;
				height: 48px;
				position: absolute;
				border: 1px solid $light-green;
				border-radius: 60px;
				top: 0;
			}

			&--localtip::before {
				background-image: url(../images/icon-localtip--gray.svg);
				background-position: 12px center;
				background-size: 60%;
			}

			&--tickets::before {
				background-image: url(../images/icon-tickets--gray.svg);
				background-position: 9px center;
				background-size: 60%;
			}

			&--weather::before {
				background-image: url(../images/weather--dark-gray.svg);
				background-position: 5px center;
				background-size: 72%;
			}
		}

		&--large {
			@include free-cols(1);
		}
	}

	&__title {
		font-size: 18px;
		color: $sasha-gray;
		font-weight: bold;
	}
}
