.internal-article {
	position: relative;
	padding-top: 52px;

	@include breakpoint('tablet--e-abaixo') {
		padding-top: 32px;
	}

	@include breakpoint('mobile') {
		width: 100%;
	}


	&__article {
		@include free-cols(3);
		margin: 0 auto;

		@include breakpoint('tablet--e-abaixo') {
			width: 100%;
		}

		@include breakpoint('mobile') {
			> * {
				// padding: 0 24px;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				width: 272px;
			}
		}

		p {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 18px;

			@include breakpoint('mobile') {
				font-size: 16px;
				line-height: 24px;
			}
		}

		a:not(.btn-back) {
			text-decoration: underline;
			color: $sasha-gray;
		}
		strong, b {font-weight: bold;}
		em, i {font-style: italic;}
	}

	// HEADER
	&__header {
		margin-bottom: 36px;

		@extend %clearfix;
	}

	&__author {
		@include breakpoint('desktop') {
			position: absolute;
			top: 52px;
			left: 0;
		}

		@include breakpoint('tablet--e-abaixo') {
			margin-top: 30px;
		}
	}

	&__header-share,
	&__add-to-favorites {
		float: right;
	}

	&__header-share {
		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__add-to-favorites {
		margin-left: 36px;

		@include breakpoint('mobile') {
			display: none;
		}
	}


	// CORPO ARTIGO
	&__title {
		margin: 37px 0 20px 0;
		font-family: 'NotoSansBold';
		font-size: 28px;
		line-height: 26px;
		color: $sasha-gray;

		@include breakpoint('mobile') {
			margin: 37px 0 15px 0;
			font-size: 20px;
			line-height: 24px;
		}

		&--underline {
			margin: 37px 0 30px 0;
			text-decoration: underline;

			@include breakpoint('mobile') {
				margin: 37px 0 20px 0;
				font-size: 16px;
				line-height: 24px;
			}

			> span {
				display: inline-block;
				margin-right: 5px;
				text-decoration: none;
			}
		}

		&--featured {
			margin: 0 0 26px 0;
			font-size: 36px;
			line-height: 40px;

			@include breakpoint('mobile') {
				margin-bottom: 0;
				font-size: 24px;
				line-height: 32px;
			}
		}
	}

	&__bold {color: $sasha-gray;}

	&__figure,
	&__video {
		width: 100%;
		margin-bottom: 16px;
		overflow: hidden;
	}

	&__image {
		max-width: 100%;
	}

	&__video-embed{
		width: 100%;
		height: 402px;

		@include breakpoint('mobile') {
			height: auto;
		}
	}

	&__subtitle {
		position: relative;
		padding: 10px 15px 0 0;
		text-align: right;
		font-size: 11px;
		line-height: 14px;
		color: $sasha-gray;

		@include breakpoint('mobile') {
			margin: 0 24px;
		}

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 15px;
			right: 0;
			border-left: 7px solid transparent;
			border-right: 0px solid transparent;
			border-top: 7px solid $soft-green;
		}
	}


	&__related-links {

		@include breakpoint('desktop') {
			position: absolute;
			right: 0;
			top: 465px;
			@include free-cols(1);

			.related-links__list--bullet {
				margin-left: 0;
				margin-bottom: 3px;

				&:last-child {
					margin-bottom: 15px;
				}
			}
		}
	}


	// FOOTER
	&__footer {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 2px solid $bd-gray;
	}

	&__sep {
		width: 28px;
		height: 1px;
		margin: 32px auto;
		border: 0;
		background-color: $bd-gray;
	}



	// Variações de template de algumas páginas

	// conteúdo editorial - POST / LISTA
	&--post,
	&--list {

		.internal-article__header {
			@include breakpoint('mobile') {
				margin-bottom: 22px;
			}
		}

		.internal-article__author {
			margin: 0 0 30px 0;
		}

		.internal-article__header-share,
		.internal-article__add-to-favorites {
			float: left;
		}

		.internal-article__related-links {
			@include breakpoint('tablet--e-abaixo') {display: none;}
		}
	}

	&--post {
		.internal-article__figure {
			float: right;
			padding: 0 0 0 $grid-gutter;
			@include free-cols(2);

			@include breakpoint('mobile') {
				width: 100%;
				padding: 0;
			}
		}
	}

	&--list {

		.internal-article__figure {
			position: relative;
			float: left;
			margin-left: -136px;
			padding: 0  $grid-gutter 0 0;
			@include free-cols(2);

			@include breakpoint('tablet--e-abaixo') {
				margin-left: 0;
			}

			@include breakpoint('mobile') {
				width: 100%;
				padding: 0;
			}
		}

		.internal-article__figure {overflow: initial;}

		.internal-article__subtitle {
			position: absolute;
			left: 0;
			width: 104px;
			padding: 25px 0 0 0;

			@include breakpoint('tablet--e-abaixo') {
				position: relative;
				width: auto;
				padding: 17px 0 0 0;

				&::after {top: 8px;}
			}

			@include breakpoint('mobile') {
				margin: 0 24px;
			}

		}

	}

}
