.blog-internal {

	&__mosaico {
		text-align: center;

		.title {
			@include free-cols(3);
			margin: 0 auto;
			padding: 60px 0 32px 0;

			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
			}
		}
	}
}
