.languages {
	position: relative;
	z-index: 10;

	&.active {
		z-index: 20;
	}

	// label title
	&__label {
		color: $white;
		display: block;
		position: relative;
		padding: 0 15px 0 37px;
		height: 32px;
		font-size: 12px;
		line-height: 33px;
		transition: color .3s;
		min-width: 154px;
		float: right;
		border: 1px solid $light-blue;
		border-radius: 16px;
		cursor: pointer;
		transition: background .1s;

		&::before {
			content: '';
			width: 13px;
			height: 13px;
			background-image: url(../images/globo_icon--white.svg);
			background-size: 100%;
			position: absolute;
			top: 50%;
			margin-top: -6px;
			margin-left: -22px;
			transition: background-image .3s;
		}

		&::after {
			content: '';
			width: 11px;
			height: 8px;
			background-image: url(../images/seta-vertical--blue.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: 15px;
			transition: transform .2s ease-in-out;
			transform: rotate(-180deg);
		}

		@include breakpoint('tablet--e-abaixo') {
			min-width: 100%;
			float: none;
			border: 0;
			padding: 0;

			&::before {
				margin-left: 17px;
				left: 0;
			}

			&::after {
				right: 20px;
			}
		}
	}

	&__options {
		position: absolute;
		background-color: transparent;
		transition: background-color .2s;
		top: 0;
		width: 100%;
		border-radius: 0;

		@include breakpoint('tablet--e-abaixo') {
			border: 1px solid $light-blue;
			border-radius: 16px;
			text-align: center;
		}
	}

	&__options-group {
		overflow: hidden;
		display: none;
		padding: 16px;
		clear: both;
		float: right;
		max-width: 374px;
		border: 1px solid $light-blue;
		border-radius: 5px;
		background-color: $white;

		@include breakpoint('tablet--e-abaixo') {
			float: none;
			min-width: 100%;
			border-radius: 0;
			background-color: transparent;
		}
	}

	&__options-item {
		float: left;
		width: 50%;
		padding-right: 16px;
		cursor: pointer;
		color: $sasha-gray;
		font-size: 12px;

		&:nth-child(2n) {
			padding-right: 0;
		}

		@include breakpoint('tablet--e-abaixo') {
			width: auto;
			float: none;
			padding-right: 0;
		}

		span {
			height: 32px;
			line-height: 32px;
			padding: 0 16px;
			display: block;
			border-radius: 16px;
			position: relative;
			font-weight: normal;
			background-color: transparent;
			transition: font-weight .1s, padding-left .1s, background-color .3s;
			white-space: nowrap;

			&::before {
				content: '';
				background-image: url(../images/check_icon--green.svg);
				opacity: 0;
				transition: opacity 1s;
			}

			&:hover {
				background-color: $soft-blue;
			}


		}

		&.active {
			span {
				padding-left: 16px + 17px;
				font-weight: bold;

				&::before {
					content: '';
					opacity: 1;
					margin-top: -4px;
					width: 12px;
					height: 9px;
					top: 50%;
					left: 16px;
					background-image: url(../images/check_icon--green.svg);
					background-size: 100%;
					position: absolute;
				}
				@include breakpoint('tablet--e-abaixo') {
					text-indent: -16px;

					&::before {
						left: 9px;
					}
				}
			}
		}
	}

	&__options-wrapper {
		position: absolute;
		top: 33px;
		right: 0;
		min-width: 374px;

		@include breakpoint('tablet--e-abaixo') {
			position: static;
			min-width: 100%;
		}
	}
}

// select on active
.languages__options.active {
	background: transparent;

	@include breakpoint('tablet--e-abaixo') {
		background: $white;
	}

	.languages__label {
		color: $sasha-gray;
		background-color: $white;
		height: 33px;
		z-index: 10;
		border-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		&::before {
			background-image: url(../images/globo_icon--light-gray.svg);
		}

		&::after {
			transform: rotate(0deg);
		}
	}

	.languages__options-group {
		height: 100%;
		display: block;
		border-top-right-radius: 0;
		margin-top: -1px;

		@include breakpoint('tablet--e-abaixo') {
			border: 0;
		}
	}

	@include breakpoint('tablet') {
		.languages__label--large {
			height: 73px;
		}
	}
}

// align bottom
.languages__options--bottom {
	bottom: -34px;
	top: inherit;
}

//large size
@include breakpoint('tablet') {
	.languages__options--large.languages__options--bottom {
		bottom: -73px;
	}

	.languages__options--large {
		border-radius: 39px;
	}

	.languages__label--large {
		border-radius: 46px;
		height: 73px;
		font-size: 22px;
		line-height: 72px;
		text-align: center;
		min-width: 254px;

		&::before {
			width: 28px;
			height: 28px;
			margin-top: -14px;
			margin-left: 32px;
			left: 0;
		}

		&::after {
			width: 19px;
			height: 15px;
			margin-top: -9px;
			right: 25px;
		}
	}

	.languages__options-group--large {
		max-width: 514px;
		.languages__options-item {
			font-size: 18px;

			span {
				&::before {
					margin-top: -8px;
					width: 22px;
					height: 16px;
				}
			}
		}
	}
}
