.line-gradient {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width:100%;
		height: 3px;
		background: $line-blue;
		background: -webkit-linear-gradient(left, $light-blue, $degra-blue);
		background: -o-linear-gradient(right, $light-blue, $degra-blue);
		background: -moz-linear-gradient(right, $light-blue, $degra-blue);
		background: linear-gradient(to right, $light-blue, $degra-blue);
	}
}
