.link-to-pdf {
	display: inline-block;
	min-width: 68px;
	cursor: pointer;
	font-size: 0;

	@include breakpoint('mobile') {
		min-width: auto;
	}

	&__label {
		display: inline-block;
		margin-left: 8px;
		font-size: 12px;
		color: $basic-gray;
		text-align: left;
		letter-spacing: -0.05em;

		@include breakpoint('mobile') {

		}
	}

	&__icon {
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 1px solid $grama-green;
		text-align: left;

		&::before {
			display: inline-block;
			position: relative;
			top: 5px;
	    left: 7px;
	    content: '';
	    width: 12px;
	    height: 17px;
			background-image: url(../images/download--gray.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}
