.map {

	// Remove logo e informacões sobre o mapbox do mapa.
	.mapbox-logo,
	.leaflet-control-attribution {display: none;}

	// Icones dos marcadores do mapa.
	&__simple-icon {
		width: 21px !important;
		height: 21px !important;
		border-radius: 50%;
		border: 3px solid $white;

		&--small {
			width: 14px !important;
			height: 14px !important;
			border: 2px solid $white;
		}

		&--green {background-color: $soft-green;}
		&--blue {background-color: $dark-blue;}
	}

	&__star-icon {
		width: 21px !important;
		height: 21px !important;
		border-radius: 50%;
		border: 3px solid $white;

		&::before {
			display: inline-block;
			content: '';
			position: relative;
			top: -2px;
			left: 3px;
			width: 9px;
			height: 9px;
			background-image: url(../images/star--white.svg);
			background-size: 100%;
			background-repeat: no-repeat;
		}

		&--green {background-color: $soft-green;}
		&--orange {background-color: $basic-orange;}
	}

	&__number-icon {
		width: 34px !important;
		height: 34px !important;
		padding-top: 3px;
		text-align: center;
		font-family: $noto-sans-bold;
		font-size: 12px;
		color: $white;
		border-radius: 50%;
		border: 4px solid rgba(0, 143, 76, .7);

		&::before {
			content: '';
			width: 26px;
			height: 26px;
			border-radius: 50%;
			border: 3px solid $white;
			background-color: $new-green;
			z-index: -1;
			@include center(absolute);
		}
	}

	// Posiciona os botões de zoom à direita.
	.leaflet-control-container .leaflet-left {
		left: initial;
		right: 10px;
	}
}
