.menu-hamburguer {
	display: none;
    width: 28px;
    height: 10px;
	position: absolute;
	top: 32px;
	left: 0;
	z-index: 2;

	@include breakpoint('tablet--e-abaixo') {
		display: block;
	}

	@include breakpoint('tablet') {
		left: 28px;
	}

	@include breakpoint('mobile') {
		top: 28px;
		left: 24px;
	}

	> span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 28px;
		height: 4px;
		border-radius: 2px;
		background-color: $white;
		transition: background .3s ease-out;
	}

	&::after, &::before {
		width: 28px;
		content: '';
		height: 4px;
		right: 0px;
		position: absolute;
		border-radius: 2px;
		background: $white;
		transition: top .3s ease-out, -webkit-transform .3s ease-out, transform .3s ease-out;
	}

	&::before {
		top: -9px;
	}

	&::after {
		top: 9px;
	}

	&.is-active {

		@include breakpoint('mobile') {
			top: 26px;
		}

		> span {
			background: none;
		}

		&::before {
			top: 0px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&::after {
			top: 0px;
			top: 0px;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
}
