.mice-destino {
	position: relative;

	.container {
		margin-bottom: 33px;

		@include breakpoint('tablet') {
			text-align: center;
			width: auto;
		}

		@include breakpoint('mobile') {
			width: auto;
		}
	}

	.card__body--size-0 {
		height: 145px;
	}

	&__population {
		@include breakpoint('desktop') {
			@include free-cols(2);
			display: inline-block;
		}
	}

	&__header {
		height: 100%;
		padding-bottom: 30px;

		@include breakpoint('mobile') {
			padding-bottom: 25px;
		}

		.btn-default {margin-top: 22px;}
	}

	&__info-wrapper {
		width: 276px;
		margin: 0 auto 35px;

		@include breakpoint('tablet--e-acima') {
			@include cols(3);
		}
	}

	&__info {

		padding: 35px 0 50px 0;

		&--text {
			font-size: 26px;
			line-height: 35px;
			color: $new-gray;

			@include breakpoint('mobile') {
				font-size: 20px;
				line-height: 28px;
			}
		}
	}

	&__title {
		font-size: 52px;
		letter-spacing: -0.03em;

		@include breakpoint('tablet') {
			@include free-cols(2);
		}

		@include breakpoint('mobile') {
			font-size: 36px;
		}
	}

	&__location-wrap {
		background-color: $bd-gray-light;
		border-top: 2px solid $bd-gray;
		padding: 0 0 30px 0;

		@include breakpoint('tablet') {
			padding: 15px 0 15px 0;
		}

		@include breakpoint('mobile') {
			padding: 5px 0 30px 0;
		}
	}

	&__item-filter {
		@include cols(1);

		@include breakpoint('desktop') {
			&:nth-child(5) {margin-right: 0;}
		}

		@include breakpoint('tablet') {
			margin-bottom: 15px;
			&:nth-child(3) {margin-right: 0;}
			&:nth-child(4) {margin-left: 0;}
		}

		&--checkbox {
			margin-top: 37px;

			@include breakpoint('mobile') {
				margin-top: 32px;
			}
		}

		&--btn-search {
			display: none;

			@include breakpoint('tablet') {
				display: inline-block;
				margin-top: 40px;
			}

			@include breakpoint('mobile') {
				display: inline-block;
				margin-top: 32px;
			}
		}


		.checkbox-normal label {
			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
			}
		}
		.custom-combo {
			float: none;
			margin-top: 9px;
		}
		.custom-combo__button {height: 32px;}
	}

	&__item-filter-label {
		display: inline-block;
		font-size: 9px;
		color: $sasha-gray;
		letter-spacing: 0.1em;
		font-weight: 600;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 15px;
		text-indent: 5px;

		@include breakpoint('mobile') {
			margin-top: 25px;

			&:first-of-tyoe {margin-top: 0;}
		}
	}

	&__panel {
		height: 100%;
		background-color: $bd-gray-light;
		padding-top: 65px;
		padding-bottom: 74px;
		text-align: center;

		@include breakpoint('mobile') {
			padding: 32px 0 32px 0;

			.container {width: 100%;}
		}

		.cards-carousel {
			font-size: 0;

			> div {
				@include breakpoint('desktop') {
					margin-top: 32px;
					&:nth-child(5n+5) {margin-right: 0;}
					&:nth-child(5n+1) {margin-left: 0;}
				}

				@include breakpoint('tablet') {
					margin-top: 32px;
					&:nth-of-type(10) {display: none;}
					&:nth-child(3n+3) {margin-right: 0;}
					&:nth-child(3n+1) {margin-left: 0;}
				}
			}
		}

		.card {
			@include breakpoint('mobile') {
				margin-top: 0;
			}
		}

		.btn-all-cities {
			display: none;
			margin-top: 32px;

			@include breakpoint('mobile') {
				display: inline-block;
			}
		}

		&-bottom {
			padding: 60px 40px;
			text-align: center;
			display: block;
			box-sizing: border-box;

			@include breakpoint('tablet--e-abaixo') {
				display: none;
			}
		}

		&-address {
			text-align: left;
			font-size: 14px;
			display: inline-block;
			border: 2px solid $bd-gray;
			border-radius: 3px;
			line-height: 22px;
			padding: 22px;
			@include free-cols(3);
		}

		&-link {
			color: $sasha-gray;
			position: relative;

			&::after {
				content: '';
				background-image: url(../images/icon-target-thin--gray.svg);
				background-repeat: repeat;
				background-position: center;
				width: 10px;
				height: 10px;
				position: absolute;
				background-size: 100%;
				right: -15px;
				top: 5px;
			}
		}
	}

	.search-list__results-pagination {
		.pagination {
			@include breakpoint('tablet') {
				display: none;
			}
		}
		.btn-load {
			display: none;

			@include breakpoint('tablet') {
				display: inline-block;
			}
		}
	}


	&__events-cards {
		vertical-align: top;
		background-color: $bd-gray-light;
		padding: 45px 0 50px 0;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		z-index: 10;
		position: relative;

		.cards-carousel > div {
			@include breakpoint('tablet') {
				&:nth-child(4),
				&:nth-child(5) {
					display: none;
				}
			}
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__contact {
		padding: 62px 0;

		@include breakpoint('mobile') {
			padding: 50px 0;
		}
	}

	&__list {
		margin-bottom: 33px;

		&--table {
			@include breakpoint('tablet--e-acima') {
				display: table;
				table-layout: fixed;
				width: 100%;
			}
		}

		&-wrapper {
			margin-bottom: 33px;

			&--table {
				@include breakpoint('tablet--e-acima') {
					display: table-cell;
				}
			}
		}

		&-title {
			font-size: 10px;
			color: $sasha-gray;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
			position: relative;

			&--border {
				&::after {
					content: '';
					width: 34px;
					height: 1px;
					background-color: $light-bege;
					position: absolute;
					left: 0;
					bottom: -10px;
				}
			}
		}

		&-label {
			font-size: 14px;
			border: 2px solid $bd-gray;
			color: $new-gray;
			display: inline-block;
			padding: 15px;
			border-radius: 3px;
			margin-right: 5px;
			margin-bottom: 8px;
		}



		&-description {
			color: $degra-blue;
			font-size: 20px;
			margin-top: 18px;
		}
	}
}
