.mice-contact {
	@include free-cols(3);
	margin: 0 auto;

	@extend %clearfix;

	@include breakpoint('mobile') {
		width: $grid-col-width-mobile;
	}


	&__form {
		&--success {
			.mice-contact__fieldset {opacity: .3;}
			.mice-contact__box-send {opacity: 0;}
			.mice-contact__box-success {opacity: 1;}
		}

		&.error .mice-contact__box-msg-error {display: block;}
	}

	&__title {
		margin-bottom: 45px;
		font-size: 49px;
		line-height: 52px;

		@include breakpoint('mobile') {
			margin-bottom: 29px;
			font-size: 36px;
			line-height: 36px;
		}
	}

	&__fieldset {
		margin-top: 27px;
		opacity: 1;
		transition: opacity .8s ease-out;

		&:first-of-type {margin-top: 0;}

		@include breakpoint('mobile') {
			margin-top: 13px;
		}

		&.error .mice-contact__legend{border-color: $border-error;}
	}

	&__legend {
		width: 100%;
		margin-bottom: 14px;
		padding-bottom: 15px;
		font-family: $iskra;
		font-style: italic;
		font-size: 28px;
		font-weight: 500;
		letter-spacing: -0.03em;
		color: $sasha-gray;
		border-bottom: 1px solid $bb-gray;
	}

	&__form-item {
		position: relative;
		float: left;
		margin: 0 0 26px 32px;

		&:first-of-type {margin-left: 0;}

		@include breakpoint('mobile') {
			margin: 0 0 8px 32px;
		}


		&--full {
			width: 100%;
			margin-left: 0;
		}

		&--name,
		&--email {
			width: 340px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}

		&--event-title {
			width: 430px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}
		&--people {
			width: 250px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}

		&--chk {
			@include breakpoint('mobile') {
				min-height: 78px;
				margin-top: 22px;
			}

			.checkbox-normal label{
				font-size: 16px;
				color: $basic-gray;

				@include breakpoint('mobile') {
					width: 245px;
					line-height: 17px;
					padding-left: 30px;
					text-indent: 0;
				}
			}
		}

		.custom-combo {
			float: none;
			margin-top: 9px;
		}


		&.error {
			.input-text,
			.custom-textarea,
			.custom-combo__button,
			.checkbox-normal {
				border-color: $border-error;
			}
		}
	}

	&__form-label {
		text-transform: uppercase;
		font-family: $noto-sans-bold;
		font-size: 10px;
		line-height: 14px;
		color: $sasha-gray;
	}

	&__box-msg-error {
		display: none;
		position: relative;
		width: 100%;
		height: 51px;
		margin-bottom: 21px;
		padding: 0 20px;
		font-size: 12px;
		line-height: 51px;
		color: $middle-red;
		border-radius: 4px;
		background-color: $bg-error;

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			top: 2px;
			width: 16px;
			height: 14px;
			margin-right: 5px;
			background-image: url(../images/ico-alert.svg);
			background-size: 100%;
		}

		strong {font-weight: bold;}
	}

	&__btn-close-error {
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;

		&::before, &::after {
			content: '';
			height: 3px;
			width: 13px;
			position: absolute;
			top: 6px;
			background-color: $middle-red;
		}

		&::before {transform: rotate(45deg);}
		&::after {transform: rotate(-45deg);}
	}

	&__msg-validation {
		margin-left: 18px;

		@include breakpoint('mobile') {
			float: right;
			width: 100px;
			line-height: 18px;
		}
	}

	&__box-send {
		position: relative;
		opacity: 1;
		transition: opacity .8s ease-out;
		z-index: 2;
	}

	&__box-success {
		position: absolute;
		top: 0;
		opacity: 0;
		transition: opacity .8s ease-out;
		z-index: 1;
	}

	&__btn-ok {
		display: inline-block;
		width: 185px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 50px;
		background-color: $new-green;

		@include breakpoint('mobile') {
			width: 156px;
		}

		&::before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 13px;
			background-image: url(../images/check_icon--white.svg);
			background-size: 100%;
		}
	}

	&__text-success {
		float: right;
		@include free-cols(2);
		margin-left: 23px;
		font-size: 16px;
		letter-spacing: -0.02em;
		line-height: 19px;
		color: $new-green;

		@include breakpoint('mobile') {
			float: left;
			width: 245px;
			margin-left: 0;
		}
	}

	&__thank-you {
		@include breakpoint('mobile') {
			position: absolute;
			top: 7px;
			right: 0;
		}
	}
}
