.mice {
	position: relative;

	&__header {
		height: 100%;
		padding-bottom: 30px;

		@include breakpoint('mobile') {
			padding-bottom: 25px;
		}

		.btn-default {margin-top: 22px;}
	}

	&__info {
		@include cols(3);
		padding: 35px 0 50px 0;

		&--text {
			font-size: 26px;
			line-height: 35px;
			color: $new-gray;

			@include breakpoint('mobile') {
				font-size: 20px;
				line-height: 28px;
			}
		}
	}

	&__title {
		font-size: 52px;
		letter-spacing: -0.03em;

		@include breakpoint('tablet') {
			@include free-cols(2);
		}

		@include breakpoint('mobile') {
			font-size: 36px;
		}
	}

	&__location-wrap {
		background-color: $bd-gray-light;
		border-top: 2px solid $bd-gray;
		padding: 0 0 30px 0;

		@include breakpoint('tablet') {
			padding: 15px 0 15px 0;
		}

		@include breakpoint('mobile') {
			padding: 5px 0 30px 0;
		}
	}

	&__item-filter {
		@include cols(1);

		@include breakpoint('desktop') {
			&:nth-child(5) {margin-right: 0;}
		}

		@include breakpoint('tablet') {
			margin-bottom: 15px;
			&:nth-child(3) {margin-right: 0;}
			&:nth-child(4) {margin-left: 0;}
		}

		&--checkbox {
			margin-top: 37px;

			@include breakpoint('mobile') {
				margin-top: 32px;
			}
		}

		&--btn-search {
			display: none;

			@include breakpoint('tablet') {
				display: inline-block;
				margin-top: 40px;
			}

			@include breakpoint('mobile') {
				display: inline-block;
				margin-top: 32px;
			}
		}


		.checkbox-normal label {
			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
			}
		}
		.custom-combo {
			float: none;
			margin-top: 9px;
		}
		.custom-combo__button {height: 32px;}
	}

	&__item-filter-label {
		display: inline-block;
		font-size: 9px;
		color: $sasha-gray;
		letter-spacing: 0.1em;
		font-weight: 600;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 15px;
		text-indent: 5px;

		@include breakpoint('mobile') {
			margin-top: 25px;

			&:first-of-tyoe {margin-top: 0;}
		}
	}

	&__panel {
		height: 100%;
		background-color: $bd-gray;

		@include breakpoint('mobile') {
			padding: 32px 0 0 0;

			.container {width: 100%;}
		}

		.cards-carousel {
			font-size: 0;

			> div {
				@include breakpoint('desktop') {
					margin-top: 32px;
					&:nth-child(5n+5) {margin-right: 0;}
					&:nth-child(5n+1) {margin-left: 0;}
				}

				@include breakpoint('tablet') {
					margin-top: 32px;
					&:nth-of-type(10) {display: none;}
					&:nth-child(3n+3) {margin-right: 0;}
					&:nth-child(3n+1) {margin-left: 0;}
				}
			}
		}

		.card {
			@include breakpoint('mobile') {
				margin-top: 0;
			}
		}

		.btn-all-cities {
			display: none;
			margin-top: 32px;

			@include breakpoint('mobile') {
				display: inline-block;
			}
		}
	}

	&__wrap-results.container {
		@include breakpoint('mobile') {
			width: $grid-col-width-mobile;
		}
	}

	&__wrap-no-results {
		padding: 60px 0;

		@include breakpoint('mobile') {
			padding: 0 0 30px 0;
		}

		&.container {
			@include breakpoint('mobile') {
				width: $grid-col-width-mobile;
			}
		}
	}

	&__results {
		display: inline-block;
		margin-top: 30px;
		padding: 10px 16px;
		font-family: $noto-sans-italic;
		font-size: 16px;
		color: $last-gray;
		border-radius: 50px;
		background-color: $white;
		box-shadow: 2px 2px 5px 0px rgba(67,58,37,0.15);

		@include breakpoint('mobile') {
			margin: 0 0 32px 0;
			font-size: 13px;
			letter-spacing: -0.02em;
		}

		> strong {
			font-family: $noto-sans-regular;
			font-weight: bold;
			color: $degra-blue;

			@include breakpoint('mobile') {
				font-weight: normal;
				color: $last-gray;
			}
		}
	}

	&__no-results {
		font-family: $noto-sans-bold;
		font-size: 24px;
		line-height: 26px;
		color: $degra-blue;

		@include breakpoint('mobile') {
			font-size: 18px;
			line-height: 24px;
		}
	}

	.search-list__results-pagination {
		.pagination {
			@include breakpoint('tablet') {
				display: none;
			}
		}
		.btn-load {
			display: none;

			@include breakpoint('tablet') {
				display: inline-block;
			}
		}
	}


	&__events-cards {
		vertical-align: top;
		background-color: $bd-gray-light;
		padding: 45px 0 50px 0;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
		z-index: 10;
		position: relative;

		.cards-carousel > div {
			@include breakpoint('tablet') {
				&:nth-child(4),
				&:nth-child(5) {
					display: none;
				}
			}
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__contact {
		padding: 62px 0;

		@include breakpoint('mobile') {
			padding: 50px 0;
		}
	}

	&__photo-description {
		width: 1208px;
		margin: 0 auto;
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -605px;
		z-index: 999;

		&--bottom {
			top: inherit;
			bottom: 10px;
			z-index: 999;
		}
	}
}
