.mice-about {
	position: relative;
	padding-top: 43px;

	&__highlight {
		@include free-cols(1);
		float: left;
		font-size: 28px;
		line-height: 32px;
		letter-spacing: -0.02em;

		@include breakpoint('tablet--e-abaixo') {
			width: 100%;
			margin-bottom: 23px;
		}

		@include breakpoint('mobile') {
			font-size: 20px;
			line-height: 28px;
		}
	}

	&__description {
		@include free-cols(3);
		float: left;
		margin-left: 32px;
		font-size: 18px;
		line-height: 26px;

		@include breakpoint('tablet--e-abaixo') {
			margin-left: 0;
		}

		@include breakpoint('mobile') {
			width: 100%;
		}

		> p {
			margin-bottom: 27px;

			&:last-of-type {margin-bottom: 0;}
		}
	}

	.list-default{margin-bottom: 27px;}
}
