.mobile-promo {
	position: relative;

	&__wrapper {
		padding-top: 40px;
		margin: 0 auto;
		text-align: left;

		@include breakpoint('desktop') {
			@include free-cols(5);
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
		}

		@include breakpoint('mobile') {
			@include free-cols(1.2);
			padding-bottom: 40px;
		}
	}

	&__aside {
		@include cols(1);
		margin-right: 0;
		font-size: 26px;
		line-height: 30px;
		color: $basic-gray;
		font-weight: 100;
	}

	&__info {
		@include cols(3);
	}

	&__text {
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 25px;
	}

	&__title {
		font-size: 26px;
		margin-bottom: 30px;
	}
}


