.more-activities {
	text-align: center;
	margin: 0 auto;

	@include breakpoint('mobile') {
		width: auto;
	}

	&__title {
		@include breakpoint('mobile') {
			width: 250px;
			margin: 0 auto;
		}

		&--sub {
			@include breakpoint('mobile') {
				font-size: 26px;
			}
		}
	}

	.title--2 strong{
		white-space: nowrap;
	}

	&__activitie {
		@include breakpoint('tablet--e-acima') {
			@include cols(1);
			text-align: center;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		@include breakpoint('mobile') {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}

	&__activitie-image {
		width: 92px;
		height: 92px;
		border: 1px solid $light-green;
		border-radius: 50px;
		margin: 0 auto;
		position: relative;
		background-size: 73%;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__activitie-label {
		color: $light-green;
		line-height: 0.8;
		margin-top: 10px;
		font-size: 32px;
	}

	&__activitie-image--kite_surfing {
		background-image: url(../images/icon_banho--gray.svg);
	}

	&__activitie-image--banho {
		background-image: url(../images/icon_features_kite_surfing--gray.svg);
	}
}
