.mosaico {
	$heightItem: 580px;

	width: 100%;

	@extend %clearfix;

	&__list-item {
		display: table;
		float: left;
		text-align: center;
		color: $white;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		@include breakpoint('mobile') {

			&:first-child {
				width: 100%;
				height: 320px;

				.mosaico__title {
					font-size: 28px;
					line-height: 36px;
				}
			}

			&:nth-of-type(4),
			&:nth-of-type(5),
			&:nth-of-type(6),
			&:nth-of-type(7) {
				display: none;
			}
		}
	}

	&__link {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		background-color: rgba(51, 51, 51, .6);
		transition: background-color .4s ease-in-out;

		&:hover {
			background-color: rgba(51, 51, 51, .7);
		}
	}

	&__wrap-content {
		margin: 0 auto;
	}

	&__title {
		letter-spacing: -0.04em;
		font-family: 'NotoSansBold';
	}


	// Variações do tipo de mosaico
	&--big {
		@include breakpoint('tablet') {
			.mosaico__list-item--big {
				display: none;
			}
		}
	}

	&--small {
		.mosaico__list-item--small:last-child {
			display: none;

			@include breakpoint('tablet') {
				display: table;
			}
		}
	}


	// Variações dos tamanhos dos itens
	&__list-item--big {
		width: 40%;
		height: $heightItem;

		.mosaico__wrap-content {
			width: 372px;

			@include breakpoint('mobile') {
				width: 216px;
			}
		}

		.mosaico__title {
			margin-bottom: 25px;
			font-size: 50px;
			line-height: 58px;
		}

		.btn-default {
			@include breakpoint('mobile') {
				display: none;
			}
		}

		.btn-default--small {
			display: none;

			@include breakpoint('mobile') {
				display: inline-block;
			}
		}
	}

	&__list-item--small {
		width: 20%;
		height: $heightItem / 2;

		@include breakpoint('tablet') {
			width: 33.33%;
			height: 256px;
		}

		@include breakpoint('mobile') {
			width: 50%;
			height: 160px;
		}

		.mosaico__wrap-content {
			width: 232px;

			@include breakpoint('mobile') {
				width: 120px;
			}
		}

		.mosaico__title {
			margin-bottom: 16px;
			font-size: 28px;
			line-height: 36px;

			@include breakpoint('mobile') {
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
