.multi-atividades {
	position: relative;

	&__wrapper {
		padding-top: 52px;
		padding-bottom: 76px;
		text-align: center;

		@include breakpoint('desktop') {
			@include free-cols(5);
			margin: 0 auto;
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
			margin: 0 auto;
		}

		@include breakpoint('mobile') {
			padding-bottom: 40px;
			margin: 0 auto;
		}
	}

	&__btn-photos {
		position: absolute;
		top: 28px;
		left: 50%;
		z-index: 100;
		text-align: right;

		@include breakpoint('desktop') {
			width: 1208px;
			margin-left: -(1208px / 2);
		}

		@include breakpoint('tablet--e-abaixo') {
			width: 100%;
			left: 0;
			padding-right: 28px;
		}
	}

	&__activities {
		background-color: $bd-gray-light;
		padding: 65px 0;
	}

	&__cards {
		padding: 60px 0;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--sou-gray {
			background-color: $bd-gray;
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}

	}

	&__mosaico {
		text-align: center;
		padding: 60px 0 0;

		.mosaico {
			margin-top: 32px;
		}
	}

	&__information {
		@include cols(1);
		margin-left: 0;

		@include breakpoint('desktop') {
			float: left;
		}

		@include breakpoint('tablet') {
			float: left;
		}

		@include breakpoint('mobile') {
			@include free-cols(1.2);
			display: block;
			margin: 0 auto;
		}

		&-wrapper {
			background-color: $bd-gray-light;
			padding: 30px;
			margin-top: 32px;
			font-size: 14px;
			line-height: 1.4;

			&:first-of-type {
				margin-top: 0;
			}

			@include breakpoint('mobile') {
				background-color: $darkest-gray;
				display: none;
			};
		}

		&-title {
			display: block;
			color: $sasha-gray;
			font-size: 18px;
			margin-bottom: 15px;
			margin-top: 32px;
			font-weight: bold;

			&:first-child {
				margin-top: 0;
			}
		}

		&-text {
			display: block;
		}

		&-link {
			color: $soft-green;
			display: block;
			position: relative;
			text-decoration: underline;

			&::after {
				content: '';
				background-image: url(../images/icon-target-thin--gray.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				width: 9px;
				height: 9px;
				position: absolute;
				top: 6px;
				margin-left: 8px;
			}
		}

		&-listlink {
			text-decoration: underline;
			position: relative;
			padding-left: 10px;

			&::before {
				content: '• ';
				color: $soft-green;
				position: absolute;
				left: 0px;
			}
		}
	}

	&__show-box-label {
		padding: 30px;
		background-color: $bd-gray-soft;
		border-bottom: 1px solid $super-darkest-gray;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.1;
		color: $sasha-gray;
		cursor: pointer;
		display: none;
		position: relative;

		@include breakpoint('mobile') {
			display: block;
		}

		&::after {
			content: '';
			background-image: url(../images/seta-vertical--gray-light.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			right: 32px;
			margin-top: -4px;
			width: 14px;
			height: 9px;
			transform: rotate(180deg);
			transition: transform .3s ease-in-out;
		}
	}

	&__show-box-checkbox {
		display: none;
		&:checked ~ .multi-atividades__information-wrapper {
			display: block;
		}

		&:checked ~ .multi-atividades__show-box-label:after {
			transform: rotate(0deg);
		}
	}

	&__tooltip {
		width: 32px;
		height: 32px;
		background-color: $sou-gray;
		border-radius: 60px;
		display: inline-block;
		margin-right: 9px;
		margin-top: 20px;


		&::after {
			content: '';
			position: relative;
			width: 32px;
			height: 32px;
			top: 0;
			left: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
		}

		&--wheelchair {
			&::after {
				background-image: url(../images/icon-wheelchair--white.svg);
			}
		}

		&--pregnancy {
			&::after {
				background-image: url(../images/icon-pregnancy--white.svg);
			}
		}

		&--foodcourt {
			&::after {
				background-image: url(../images/icon-foodcourt--white.svg);
			}
		}
	}

	&__post {
		@include cols(2);

		@include breakpoint('tablet') {
			float: right;
			margin-right: 0;
		}

		@include breakpoint('mobile') {
			@include free-cols(1.2);
		}
	}

	&__other-info {
		@include cols(2);


		@include breakpoint('mobile') {
			width: auto;
			display: block;
			margin-top: 32px;
		}

		@include breakpoint('tablet') {
			float: right;
			margin-left: 0;
			margin-top: 32px;
		}

		.related-links {
			margin-top: 32px;
			margin: 32px auto 0;
		}
	}
}
