.newsletter {
	margin: 0 auto;

	@include free-cols(5);
	height: 330px;
	color: #fff;
	font-size: 24px;
	text-align: center;

	@include breakpoint('tablet') {
		@include free-cols(3);
	}

	&__title {
		display: inline-block;
		width: 650px;
		padding: 54px 0 10px 0;

		@include breakpoint('tablet') {
			font-size: 45px !important;
			padding: 65px 0 0 0;
		}
	}

	&__subTitle {
		letter-spacing: 2.4px;
		padding: 7px 0 28px 0;

		@include breakpoint('tablet') {
			letter-spacing: 0.4px;
			padding: 7px 0 28px 0;
		}
	}

	#newsletterForm {
		border-radius: 25px;
		height: 32px;
		z-index: 1;
	}

	.newsletterMail {
		font-size: 16px;
		padding-left: 20px;
		width: 537px;
		border: 1px solid transparent;
	}

	.btnNewsLetter {
		position: relative;
		left: 8px;
		top: 1px;
	}

	.fail {
		position: relative;
		left: 155px;
		bottom: 33px;
		color: red;
		font-weight: 100;
		font-size: 11px;
	}

	.sucesso {
		width: 515px;
		border-radius: 25px;
		padding: 5px 10px 5px 10px;
		background-color: $light-green;
		font-size: 16px;
	}
}
