.pagination {

	@include breakpoint('mobile') {
		display: inline-block;
	}

	&__nav {
		border: 3px solid $bb-gray;
		border-radius: 60px;
		width: 40px;
		height: 40px;
		line-height: 35px;
		transition: border-color .3s ease-in-out, color .3s ease-in-out;
		font-size: 16px;
		display: inline-block;
		cursor: pointer;
		position: relative;

		&:hover, &.active {
			font-weight: bold;
			border-color: $sou-gray;
			color: $soft-green;
		}

		&--prev, &--next {
			&::before {
				content: '';
				width: 14px;
				height: 20px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -4px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
				margin-left: -6px;
				margin-top: -10px;
			}
		}

		&--prev {
			float: left;

			&::before {
				background-image: url(../images/left-arrow-pagination--green.svg);
				margin-left: -8px;
			}
		}

		&--next {
			float: right;

			&::before {
				background-image: url(../images/right-arrow-pagination--green.svg);
			}
		}
	}

	&__list {
		width: auto;
		text-align: center;
		margin: 0 50px;
		display: block;

		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__pages {
		border: 3px solid #d9d3c6;
		border-radius: 60px;
		padding: 0 15px;
		margin: 0 70px;
		height: 40px;
		line-height: 35px;
		display: none;

		&-current {
			color: $soft-green;
			font-weight: bold;
		}

		@include breakpoint('mobile') {
			display: block;
		}
	}

	&__list-item {
		display: inline-block;
		margin-right: 6px;
	}

	&__list-link {
		@extend .pagination__nav;
		text-align: center;
		color: $sou-gray;

		&--noitem {
			border: 0;
			font-weight: bold;
			letter-spacing: 1px;
			cursor: default;
		}
	}

	&--light-blue {
		.pagination__nav--next {
			&::before {
				background-image: url(../images/right-arrow-pagination--blue.svg);
			}
		}

		.pagination__nav--prev {
			&::before {
				background-image: url(../images/left-arrow-pagination--blue.svg);
			}
		}

		.pagination__pages-current {
			color: $degra-blue;
		}

		.pagination__list-link  {
			&:hover, &.active {
				color: $degra-blue;
			}
		}
	}

	&--orange {
		.pagination__nav--next {
			&::before {
				background-image: url(../images/right-arrow-pagination--orange.svg);
			}
		}

		.pagination__nav--prev {
			&::before {
				background-image: url(../images/left-arrow-pagination--orange.svg);
			}
		}

		.pagination__pages-current {
			color: $basic-orange;
		}

		.pagination__list-link  {
			&:hover, &.active {
				color: $basic-orange;
			}
		}
	}

	&--new-green {
		.pagination__nav--next {
			&::before {
				background-image: url(../images/right-arrow-pagination--new-green.svg);
			}
		}

		.pagination__nav--prev {
			&::before {
				background-image: url(../images/left-arrow-pagination--new-green.svg);
			}
		}

		.pagination__pages-current {
			color: $new-green;
		}

		.pagination__list-link  {
			&:hover, &.active {
				color: $new-green;
			}
		}
	}
}
