.photo-description {
    position: absolute;
	@include free-cols(1);
    top: -69px;
    right: 0px;
    font-size: 12px;
    color: $sou-gray;

    @include breakpoint('tablet--e-abaixo'){
    	display: none;
    }

    &::before {
            content: '';
            width: 1px;
            height: 61px;
            display: inline-block;
            border-right: 1px dashed;
            position: absolute;
            left: 14px;
            bottom: -60px;
   }

    &::after {
    	content: '';
    	display: inline-block;
    	position: absolute;
        width: 5px;
        height: 5px;
        @include border-radius(50%);
        background-color: #fff;
        left: 12px;
        bottom: -65px;
    }

    &__icon {
        display: inline-block;
        width: 29px;
        height: 29px;
        border: 0.5px solid;
        @include border-radius(50%);


        &::after {
            content: '';
            background-size: 100%;
            background-image: no-repeat;
            background-image: url("../images/location.svg");
            width: 19px;
            height: 19px;
            margin: 5px 0 0 4px;
            display: inline-block;
        }

    }

    &__text{
    	display: inline-block;
    	word-wrap: break-word;
    	line-height: 18px;
    	margin: 0px 0 0 9px;
    	position: inherit;
    	top: -4px;
	}

	 &__text a{
    	text-decoration: underline;
	}

    &__link {
        color: $sasha-gray;
    }

    &--bottom {
    	bottom: -69px;
    	top: inherit;

    	&::before {
            height: 61px;
            bottom: 30px;
        }

        &::after {
			top: -62px;
    	}
	}
}





