.population {
	position: relative;

	height: 100%;
	background-color: $white;
	border-bottom: 1px solid $bem-gray;
	border-top: 1px solid $bem-gray;


	&__content {
		padding: 25px 32px;
		line-height: 21px;
		background-color: $bd-gray-light;

		&-title {
			font-size: 20px;
			margin-bottom: 8px;
			display: block;
		}

		&-text {
			margin-bottom: 20px;
			font-size: 14px;
		}

		strong { font-weight: bold; color: $sasha-gray }
	}

	&__border-wrap {
		border: 2px solid $bd-gray;
		border-radius: 3px;
		width: 468px;

		@include breakpoint('tablet') {
			float: right;
		}

		@include breakpoint('mobile') {
			width: auto;
			margin-top: -33px;
		}
	}

	&--map-picture {
		border: 0;
	}

	@include breakpoint('mobile') {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	&__wrapper {
		@include breakpoint('mobile') {

			margin: 0 auto;
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
			margin: 0 auto;
		}
	}

	&__mapa {
		display: inline-block;
		width: 100%;
		height: 223px;
	}


	&__button {
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;

		@include breakpoint('mobile') {
			position: static;
			max-width: 400px;
			margin: 0 auto;
		}
	}

	&__nomap {
		margin-top: 35px;
		margin-bottom: 20px;

		@include breakpoint('mobile') {
			margin-top: 0px;
			margin-bottom: 0;
		}
	}

	&__place-label {
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 5px;
		color: $sasha-gray;

		&--timezone {
			margin-top: 18px;
			line-height: 20px;
		}

		@include breakpoint('tablet') {
			// margin-top: 50px;
		}

		@include breakpoint('mobile') {
			text-transform: initial;
		}
	}

	&__place-timezone {
		font-weight: bold;

		@include breakpoint('tablet--e-abaixo') {
			display: block;
			font-size: 20px;
		}
	}

	&__place-text-wrapper {
		text-indent: -10px;

		@include breakpoint('tablet') {
			text-indent: 0px;
		}

		@include breakpoint('desktop') {
			text-indent: 0px;
		}

		&--noapi {
			display: none;
		}
	}

	&__place-text {
		white-space: nowrap;
		line-height: 31px;
		font-size: 20px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 2px solid $sasha-gray;
		position: relative;
		display: inline;

		&::after {
			content: '';
			background-color: $degra-blue;
			width: 16px;
			height: 16px;
			position: absolute;
			border-radius: 50px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			bottom: 2px;
			right: -22px;
		}

		@include breakpoint('tablet') {
			line-height: 26px;
		}
	}

	&__map-wrapper {

		@include breakpoint('mobile') {
			position: relative;
			padding-bottom: 226px;
		}

		@include breakpoint('tablet') {
			// position: absolute;
			// bottom: 85px;
			// margin-top: 0;
			// margin-left: 25px;
			position: relative;
			width: 238px;
			text-align: center;
			float: left;
		}

		&--noapi {
			max-width: inherit;
			left: 0;
			position: static;
			bottom: 0;
			margin: -41px 0 20px 0;

			@include breakpoint('mobile') {
				// text-align: center;
				margin: 0 auto;
			}

			.address__map-regions {

				@include breakpoint('tablet') {
					margin-left: 0;
				}

				@include breakpoint('mobile') {
					margin-left: 0;
					float: none;
					margin-left: 246px;
					padding-top: 5px;
				}
			}

			.address__map-image {
				position: relative;
				top: 0;

			}

			.btn-get-region {
				margin-left: 246px;
				margin-top: 20px;

				@include breakpoint('mobile') {
					margin: 0 auto;
				}
			}
		}
	}

	&__map-image {
		width: 216px;
		height: 216px;
		border-radius: 120px;
		background-color: $navy-blue;
		position: relative;
		text-align: center;
		padding-top: 15px;
		border: 4px solid #FFF;
		z-index: 1;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -108px;


		&::after {
			content: '';
			background-image: url(../images/brasil-map.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 186px;
			height: 186px;
			top: 50%;
			position: absolute;
			left: 50%;
			margin-top: -87px;
			margin-left: -90px;
			background-position: center;
		}

		@include breakpoint('tablet') {
			top: 0;
		}

		@include breakpoint('desktop') {
			float: left;
	    margin-right: 30px;
			margin-top: -25px;
			margin-bottom: -25px;
			position: relative;
			margin-left: 0;
			left: 0;
		}

		@include breakpoint('mobile') {
			margin-top: 10px;
		}
	}

	&__map-regions {
		// text-align: left;
		position: relative;

		@include breakpoint('tablet') {
			padding-top: 216px;
		}

		@include breakpoint('desktop') {
			float: left;
			position: relative;
		}

		@include breakpoint('mobile') {
			text-align: center;
		}
	}

	&__map-maps {
		height: 488px;
    margin-top: -50px;

		@include breakpoint('tablet--e-acima') {
			margin-top: 0;
		}
	}
}
