.popular-posts {
	position: relative;
	height: 462px;
	box-shadow: 0px 2px 18px rgba(67, 58, 37, 0.15);

	@include breakpoint('mobile') {
	    width: 100%;
		height: 272px;
		box-shadow: none;
	}

	&__wrap-title {
		width: 100%;
		height: 100%;
	}

	&__box-title {
		position: absolute;
		top: 0;
		width: 100%;
		height: inherit;
		border-radius: 5px;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		opacity: 0;
		transition: opacity 1s ease-out;

		@include breakpoint('mobile') {
			position: relative;
			width: 216px;
			height: 272px;
			margin: 0 14px;
			opacity: 1;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 264px;
			opacity: .6;
			z-index: 1;

			background: url(../images/gradiente-popular-post.png) repeat-x;
			background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
		}

		&.active {
			opacity: 1;
		}
	}

	&__box-title-link {
		position: relative;
		display: block;
		height: 100%;
		z-index: 2;
	}

	&__title {
		position: absolute;
		bottom: $grid-gutter;
		left: $grid-gutter;
		width: 370px;
		text-decoration: underline;
		letter-spacing: -0.04em;
		font-family: 'NotoSansBold';
		font-size: 36px;
		line-height: 40px;
		color: $white;
		z-index: 3;

		@include breakpoint('mobile') {
			width: 100%;
			padding: 25px;
			bottom: 0;
			left: 0;
			font-size: 24px;
			line-height: 32px;
		}
	}

	&__box-description {
		position: absolute;
		top: 0;
		right: 0;
		width: 216px;
		height: 100%;
		background-color: $white;
		z-index: 4;

		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__item-description {
		position: relative;
		height: 92px;
		padding: 16px 25px 0 50px;
		color: $sasha-gray;
		border-bottom: 1px solid $bd-gray;
		background-color: $white;
		transition: background-color 1s ease-out, color 1s ease-out;

		&:last-child {
			border-bottom: 0;
		}

		&::before {
			content: '';
			position: absolute;
			top: 37px;
			left: -7px;
			width: 19px;
			height: 19px;
			transform: rotate(-45deg);
			background-color: $bd-gray-light;
			opacity: 0;
			transition: opacity 1s ease-out;
		}

		&.active {
			color: $sou-gray;
			background-color: $bd-gray-light;

			&::before {
				opacity: 1;
			}

			.popular-posts__count {
				color: $white;
				border: 1px solid $sou-gray;
				background-color: $sou-gray;
			}
		}
	}

	&__count {
		position: absolute;
		top: 15px;
		left: 18px;
		width: 20px;
		height: 20px;
		padding-left: 5px;
		line-height: 18px;
		letter-spacing: -0.04em;
		font-family: 'NotoSansBold';
		font-size: 14px;
		color: $sasha-gray;
		border-radius: 50%;
		border: 1px solid $soft-green;
		transition: background-color 1s ease-out, color 1s ease-out, border 1s ease-out;
	}

	&__description {
		line-height: 20px;
		letter-spacing: -0.02em;
		font-family: 'NotoSansBold';
		font-size: 14px;
	}

}
