.post-default {
	position: relative;
	overflow: hidden;
	clear: both;

	&::before {
		content: '';
		height: 50px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $white;
		display: none;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 150px;
		bottom: 50px;
		display: none;
		// background: linear-gradient(to top, $white, transparent);

		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

	}

	@include breakpoint('mobile') {
		max-height: 410px;
		overflow: hidden;
		margin-bottom: 60px;

		&::before, &::after {
			display: block;
		}
	}

	&__title {
		font-size: 36px;
		line-height: 38px;
		font-weight: bold;
		color: $sasha-gray;
		display: block;
		clear: both;

		@include breakpoint('mobile') {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 16px;
		}
	}

	&__title--2 {
		@include breakpoint('mobile') {
			font-size: 24px;
		}
	}

	&__title--3 {
		font-size: 20px;
		margin-bottom: 30px;
		line-height: 29px;
	}

	&__title--4 {
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 30px;
		line-height: 29px;

		@include breakpoint('mobile') {
			font-size: 18px;
		}
	}

	&__share, &__add-to-favorites {
		float: left;
		padding: 32px 32px 32px 0;
	}

	&__text {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 32px;

		@include breakpoint('mobile') {
			font-size: 16px;
			line-height: 22px;
		}

		&:first-of-type {
			clear: both;
		}
	}

	&__share {
		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__add-to-favorites {
		@include breakpoint('mobile') {
			position: absolute;
			bottom: 0;
			z-index: 10;
			right: 0;
			padding: 0;
		}
	}

	.btn-tranparent {
		display: none;

		@include breakpoint('mobile') {
			display: block;
		}
	}

	&__figure {
		width: 464px;
		position: relative;

		figcaption {
			font-size: 11px;
			margin-top: 10px;
			margin-bottom: 30px;
			position: relative;
			line-height: 14px;

			&::after {
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				top: 4px;
			}
		}

		&--left {
			float: left;
			margin-right: 32px;

			figcaption {
				text-align: left;
				padding-left: 20px;

				&::after {
					left: 0;
					border-top: 0px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid $light-green;
				}
			}
		}

		&--right {
			float: right;
			margin-left: 32px;

			figcaption {
				text-align: right;
				padding-right: 20px;

				&::after {
					right: 0;
					border-top: 0px solid transparent;
					border-bottom: 6px solid transparent;
					border-right: 6px solid $light-green;
				}
			}
		}
	}

	a {
		text-decoration: underline;
		color: $sasha-gray;

		&:hover {
			color: $soft-green;
		}

		&:visited {
			color: $simple-purple;
		}
	}

	&--custom01 {
		max-height: inherit;

		&::before, &::after {
			display: none;
		}

		@include breakpoint('mobile') {
			.post-default__add-to-favorites{
				display: none;
			}
		}
	}
}

.btn-tranparent {
	border-radius: 16px;
	border: 1px solid $bb-gray;
	position: absolute;
	bottom: 0px;
	z-index: 10;
	height: 32px;
	line-height: 30px;
	padding: 0 16px 0 32px;
	background: $white;
	cursor: pointer;

	&--centered {
		left: 50%;
		margin-left: -66px;

		@include breakpoint('mobile') {
			left: 0;
			margin-left: 0;
		}
	}

	&::before {
		content: '';
		width: 12px;
		height: 14px;
		position: absolute;
		top: 50%;
		margin-top: -7px;
		left: 16px;
		background-image: url(../images/seta-dupla-vertical--gray-light.svg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

.read-more {
	display: none;
}

.read-more:checked ~ .post-default {
	max-height: inherit;
	padding-bottom: 30px;

	&::before, &::after {
		display: none;
	}
}

.read-more:checked ~ .post-default .btn-tranparent {
	&::before {
		transform: rotateX(-180deg);
	}
}
