.region-map {
	position: relative;
	margin-bottom: 32px;

	&__content {
		position: relative;
		width: 192px;

		@include breakpoint('tablet') {
			float: left;
		}

		@include breakpoint('mobile') {
			margin: 0 auto;
		}
	}

	&__wrapper {
		width: 192px;
		height: 192px;
		border-radius: 100px;
		background-color: $navy-blue;
		text-align: center;
		padding-top: 15px;
		position: relative;
		border: 4px solid #FFF;
		z-index: 1;
	}

	&__title {
		color: $white;
		text-transform: uppercase;
		font-size: 10px;
		margin: 7px 0;
		display: block;
		font-weight: bold;
	}

	&__select {
		text-align: left;
		margin: 0 auto;
		width: 130px;
	}

	&__initial {
		background-color: $barte-yellow;
		width: 36px;
		height: 36px;
		position: absolute;
		line-height: 36px;
		font-size: 16px;
		font-weight: bold;
		color: $sasha-gray;
		border-radius: 40px;
		right: -16px;
		bottom: 62px;
		text-align: center;
		z-index: 10;
		display: none;

		&::before {
			content: '';
			width: 21px;
			height: 21px;
			position: absolute;
			background-image: url(../images/icon-pin--dark-gray.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			top: -12px;
			right: -10px;
		}
	}

	&__place {
		display: none;
		padding-bottom: 20px;

		@include breakpoint('desktop') {
			position: absolute;
			z-index: 15;
			left: 120%;
			top: 50%;
			margin-top: -10px;
		}

		@include breakpoint('tablet') {
			text-align: center;
			position: absolute;
			bottom: -65px;
			width: 100%;
		}

		@include breakpoint('tablet--e-abaixo') {
			text-align: center;
		}
	}

	&__box {
		border: 2px solid $lighter-blue;
		padding: 32px 28px;
		margin-top: -7px;
		border-radius: 5px;
		position: relative;

		@include breakpoint('tablet') {
			margin-left: 251px;
		}
	}

	&__box-title {
		color: $green-dark;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		display: block;
		position: relative;
		z-index: 1;

		strong {
			font-size: 18px;
			color: $sasha-gray;
			display: block;
			letter-spacing: 1px;
		}
	}

	&__box-icon {
		width: 15px;
		height: 10px;
		position: absolute;
		top: 45px;
		right: 27px;
		background-image: url(../images/seta-vertical--gray-light.svg);
		background-size: 100%;
		transition: transform .2s ease-in-out;
		transform: rotate(180deg);
		display: none;

		@include breakpoint('mobile') {
			display: block;
		}
	}

	&__box-wrapper {

		@include breakpoint('mobile') {
			display: none;
		}
	}

	&__box-link-wrapper {
		clear: both;
		padding: 20px 0 0 17px;
	}

	&__box-link {
		display: inline;
		font-size: 14px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 1px solid $sasha-gray;
		position: relative;

		&::before {
			content: '';
			color: $middle-dark-green;
			position: absolute;
			left: 0px;
			background-image: url(../images/seta-button-default--green.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			width: 9px;
			height: 10px;
			left: -17px;
			top: 4px;
		}

		@include breakpoint('mobile') {
			display: inline;
			font-size: 13px;
    	line-height: 20px;
		}
	}

	&__checkbox {
		display: none;
	}

	@include breakpoint('mobile') {
		&__checkbox:checked ~ .region-map__box-wrapper {
			display: block;
		}

		&__checkbox:checked ~ .region-map__box-icon {
			transform: rotate(0deg);
		}
	}

	&__place-label {
		white-space: nowrap;
	}

	&__place-text {
		white-space: nowrap;
		font-size: 20px;
		line-height: 25px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 2px solid $sasha-gray;
		position: relative;
		display: inline;

		&::after {
			content: '';
			background-color: $degra-blue;
			width: 16px;
			height: 16px;
			position: absolute;
			border-radius: 50px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			bottom: 4px;
			right: -22px;
		}
	}

	&__map-svg {
		display: none;
		position: relative;
	}

	&__svg path {
		cursor: pointer;
		position: relative;
	}

	&__svg path:hover {
		fill: $barte-yellow;
	}

	&__map-pin {
		width: 12px;
		height: 12px;
		border: 2px solid $white;
		border-radius: 40px;
		position: absolute;
		background: red;

		&--BR-RJ {
			top: 95px;
			left: 123px;
		}

		&--BR-MG {
			top: 60px;
			left: 110px;
		}

		&--BR-ES {
			top: 70px;
			left: 140px;
		}

		&--BR-SP {
			top: 99px;
			left: 74px;
		}

		&--BR-AC {
			top: 94px;
			left: 39px;
		}

		&--BR-AM {
			top: 74px;
			left: 59px;
		}

		&--BR-AP {
			top: 41px;
			left: 128px;
		}

		&--BR-PA {
			top: 71px;
			left: 128px;
		}

		&--BR-RO {
			top: 101px;
			left: 72px;
		}

		&--BR-RR {
			top: 38px;
			left: 82px;
		}

		&--BR-TO {
			top: 97px;
			left: 144px;
		}

		&--BR-AL {
			top: 74px;
			left: 120px;
		}

		&--BR-BA {
			top: 94px;
			left: 90px;
		}

		&--BR-CE {
			top: 44px;
			left: 103px;
		}

		&--BR-MA {
			top: 44px;
			left: 63px;
		}

		&--BR-PB {
			top: 58px;
			left: 121px;
		}

		&--BR-PE {
			top: 66px;
			left: 115px;
		}

		&--BR-PI {
			top: 63px;
			left: 80px;
		}

		&--BR-RN {
			top: 48px;
			left: 120px;
		}

		&--BR-SE {
			top: 81px;
			left: 118px;
		}

		&--BR-DF {
			top: 76px;
			left: 122px;
		}

		&--BR-GO {
			top: 80px;
			left: 112px;
		}

		&--BR-MS {
			top: 110px;
			left: 82px;
		}

		&--BR-MT {
			top: 61px;
			left: 72px;
		}

		&--BR-PR {
			top: 41px;
			left: 92px;
		}

		&--BR-RS {
			top: 91px;
			left: 82px;
		}

		&--BR-SC {
			top: 69px;
			left: 110px;
		}
	}

	.card-hover {
		margin-top: 25px;
		float: left;

		&:nth-child(1) {
			margin-right: 16px;
		}
		&:nth-child(2) {
			margin-left: 16px;
		}

		@include breakpoint('mobile') {
			width: 100%;
			margin-bottom: 0;

			&:nth-child(1) {
				margin-right: 0px;
			}
			&:nth-child(2) {
				margin-left: 0px;
			}
		}
	}

}
