.region-map-maps {
	text-align: center;
	margin: 40px 0 0;
	position: relative;

	@include breakpoint('tablet') {
		padding-bottom: 220px;
	}

	.title {
		font-size: 32px;

		@include breakpoint('desktop') {
			max-width: 1208px;
			margin: 0 auto 25px;
		}

		@include breakpoint('tablet--e-acima') {
			font-size: 35px;
			text-align: left;
			text-indent: 30px;
			margin-bottom: 25px;
		}

		&--noapi {
			display: none;
		}
	}

	&__place-label {
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 5px;

		@include breakpoint('tablet') {
			margin-top: 50px;
		}
	}

	&__place-text-wrapper {
		text-indent: -10px;

		@include breakpoint('tablet') {
			text-indent: 0px;
		}

		@include breakpoint('desktop') {
			text-indent: 0px;
		}

		&--noapi {
			display: none;
		}
	}

	&__place-text {
		white-space: nowrap;
		line-height: 31px;
		font-size: 16px;
		font-weight: bold;
		color: $sasha-gray;
		border-bottom: 2px solid $sasha-gray;
		position: relative;
		display: inline;

		&::after {
			content: '';
			background-color: $degra-blue;
			width: 16px;
			height: 16px;
			position: absolute;
			border-radius: 50px;
			background-image: url(../images/seta--fav-white.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			bottom: 2px;
			right: -22px;
		}

		@include breakpoint('tablet') {
			line-height: 26px;
		}
	}

	&__map-wrapper {

		@include breakpoint('desktop') {
			width: 100%;
			margin-left: 0;
			max-width: 1208px;
			left: 50%;
			margin-left: -604px;
			position: absolute;
			bottom: 100%;
			margin-bottom: -115px;
		}

		@include breakpoint('tablet') {
			position: absolute;
			bottom: 85px;
			margin-top: 0;
			margin-left: 25px;
		}

		&--noapi {
			max-width: inherit;
			left: 0;
			position: static;
			bottom: 0;
			text-align: left;
			margin: -41px 0 20px 0;

			@include breakpoint('mobile') {
				text-align: center;
				margin: 0 auto;
			}

			.region-map-maps__map-regions {
				float: none;
				margin-left: 246px;
				padding-top: 5px;

				@include breakpoint('mobile') {
					margin-left: 0;
				}
			}

			.region-map-maps__map-image {
				text-align: left;
				position: absolute;
				top: 0;

				@include breakpoint('mobile') {
					position: relative;
					top: 0;
				}
			}

			.btn-get-region {
				margin-left: 246px;
				margin-top: 20px;

				@include breakpoint('mobile') {
					margin: 0 auto;
				}
			}
		}
	}

	&__map-image {
		width: 216px;
		height: 216px;
		border-radius: 120px;
		background-color: $navy-blue;
		position: relative;
		text-align: center;
		padding-top: 15px;
		position: relative;
		border: 4px solid #FFF;
		z-index: 1;
		margin: 24px auto;
		margin-top: -25px;

		&::after {
			content: '';
			background-image: url(../images/brasil-map.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 186px;
			height: 186px;
			top: 50%;
			position: absolute;
			left: 50%;
			margin-top: -87px;
			margin-left: -90px;
			background-position: center;
		}

		@include breakpoint('tablet') {
			text-align: left;
			position: absolute;
			top: 0;
		}

		@include breakpoint('desktop') {
			float: right;
	    margin-right: 30px;
		}

		@include breakpoint('mobile') {
			margin-top: 10px;
		}
	}

	&__map-regions {
		text-align: left;
		position: relative;

		@include breakpoint('tablet') {
			float: none;
			margin-left: 246px;
			padding-top: 5px;
			&::before {
				content: '';
				width: 21px;
				height: 21px;
				position: absolute;
				background-image: url(../images/icon-pin--dark-gray.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				left: 0;
				top: 15px;
			}
		}

		@include breakpoint('desktop') {
			float: right;
			position: relative;

			&::before {
				content: '';
				width: 21px;
				height: 21px;
				position: absolute;
				background-image: url(../images/icon-pin--dark-gray.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				left: 0;
				top: 0;
			}
		}

		@include breakpoint('mobile') {
			text-align: center;
		}
	}

	&__map-maps {
		height: 488px;
    margin-top: -50px;

		@include breakpoint('tablet--e-acima') {
			margin-top: 0;
		}
	}
}
