.regiao {
	position: relative;

	&__wrapper {
		padding-top: 52px;
		padding-bottom: 76px;
		text-align: center;
		position: relative;

		@include breakpoint('desktop') {
			margin: 0 auto;
			padding-bottom: 630px;
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
			margin: 0 auto;
		}

		@include breakpoint('mobile') {
			padding-bottom: 40px;
			margin: 0 auto;
		}

		&--noapi {
			padding-bottom: 50px;
		}
	}

	&__btn-photos {
		position: absolute;
		top: 28px;
		left: 50%;
		z-index: 100;
		text-align: right;

		@include breakpoint('desktop') {
			width: 1208px;
			margin-left: -(1208px / 2);
		}

		@include breakpoint('tablet--e-abaixo') {
			width: 100%;
			left: 0;
			padding-right: 28px;
		}
	}

	&__cards {
		padding: 60px 0;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&--sou-gray-light {
			background-color: $bd-gray-light;
		}

		&--sou-gray {
			background-color: $bd-gray;
		}

		&--line-top {
			border-top: 3px solid $line-blue;
		}

		.card {
			margin-top: 30px;
			margin-bottom: 30px;
		}

	}

	&__mosaico {
		text-align: center;
		padding: 60px 0 0;

		.mosaico {
			margin-top: 32px;
		}
	}

	&__show-box-label {
		padding: 30px;
		background-color: $bd-gray-soft;
		border-bottom: 1px solid $super-darkest-gray;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.1;
		color: $sasha-gray;
		cursor: pointer;
		display: none;
		position: relative;

		@include breakpoint('mobile') {
			display: block;
		}

		&::after {
			content: '';
			background-image: url(../images/seta-vertical--gray-light.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			right: 32px;
			margin-top: -4px;
			width: 14px;
			height: 9px;
			transform: rotate(180deg);
			transition: transform .3s ease-in-out;
		}
	}

	&__show-box-checkbox {
		display: none;
		&:checked ~ .multi-atividades__information-wrapper {
			display: block;
		}

		&:checked ~ .multi-atividades__show-box-label:after {
			transform: rotate(0deg);
		}
	}

	&__tooltip {
		width: 32px;
		height: 32px;
		background-color: $sou-gray;
		border-radius: 60px;
		display: inline-block;
		margin-right: 9px;
		margin-top: 20px;


		&::after {
			content: '';
			position: relative;
			width: 32px;
			height: 32px;
			top: 0;
			left: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
		}

		&--wheelchair {
			&::after {
				background-image: url(../images/icon-wheelchair--white.svg);
			}
		}

		&--pregnancy {
			&::after {
				background-image: url(../images/icon-pregnancy--white.svg);
			}
		}

		&--foodcourt {
			&::after {
				background-image: url(../images/icon-foodcourt--white.svg);
			}
		}
	}

	&__post {
		@include cols(2.9);

		@include breakpoint('tablet') {
			float: right;
			margin-right: 0;
		}

		@include breakpoint('mobile') {
			@include free-cols(1.2);
		}

		.post-default {
			max-height: 610px;

			&::before, &::after {
				display: block;
			}

			.btn-tranparent {
				display: block;
			}
		}
	}

	&__other-info {
		@include cols(2);

		.great-for, .trending {
			margin-top: 32px;
			margin: 32px auto 0;
		}

		@include breakpoint('mobile') {
			width: auto;
			display: block;
			margin-top: 32px;

			.great-for, .trending {
				@include free-cols(1.2);
				margin: 32px auto;
				bottom: 0;
			}
		}

		@include breakpoint('tablet') {
			float: right;
			margin-left: 0;
			margin-top: 32px;
			width: auto;

			.trending {
				clear: both;
			}

			.great-for {
				margin-top: -191px;
				float: right;
				margin-bottom: 30px;
			}
		}

		@include breakpoint('desktop') {
			.region-map-maps {
				position: absolute;
				left: 0;
				width: 100%;
				margin-top: -550px;
				top: 100%;
			}

			.region-map-maps--noapi {
				position: static;
				left: 0;
				width: 100%;
				margin-top: 0;
				top: 0;
			}
		}

		@include breakpoint('tablet') {
			.region-map-maps__map-wrapper--noapi {
				float:left;
			}
		}
	}
}

.about__region {
	line-height: 1.2;
	font-size: 20px;
	color: $sasha-gray;
	border: 2px solid $bd-gray;
	border-radius: 3px;
	background-color: $bd-gray-light;
	padding: 22px 30px 22px 80px;
	position: relative;
	display: none;

	&::before {
		content: '';
		background-image: url(../images/icon-camera--gray.svg);
		background-position: center;
		background-repeat: no-repeat;
		width: 45px;
		height: 32px;
		position: absolute;
		background-size: 100%;
		left: 22px;
		top: 50%;
		margin-top: -20px;
	}

	strong {
		font-weight: bold;
	}

	&-region {
		color: $sasha-gray;
	}

	&-info {
		color: $soft-green;
	}

	@include breakpoint('mobile') {
		@include free-cols(1.2);
		margin: 0 auto;
		font-size: 15px;

		&::before {
			margin-top: -30px;
		}
	}

	@include breakpoint('desktop') {
		&.is-desktop {
			display: block;
		}
	}

	@include breakpoint('tablet--e-abaixo') {
		&.is-mobile {
			display: block;
			margin-bottom: 32px;
		}
	}
}
