.related-links {
	width: 100%;
	height: 100%;
	border: 2px solid $bem-gray;
	border-radius: 3px;
	color: $light-green;
	background-color: #fff;

	@include breakpoint('mobile') {
		max-width: 270px;
	}

	&__title {
		font-family: $noto-sans-bold;
		font-size: 12px;
		letter-spacing: 3px;
		line-height: 15px;
		padding: 30px 30px 10px 30px;
		text-transform: uppercase;

		@include breakpoint('mobile') {
			letter-spacing: 0;
		}
	}

	&__list {
		padding: 0 27px 19px 41px;
		list-style: disc;

		&--bullet {
			font-size: 10px;
			padding-bottom: 11px;
			margin-left: 4px;
		}

		&--item {
			position: relative;
			right: 5px;
			top: 2px;
			word-wrap: break-word;
			line-height: 14px;
			font-size: 14px;
			color: $dark-gray;

			@include breakpoint('mobile') {
				font-size: 13px;
			}
		}
		a {
			text-decoration: underline;
		}
	}


	// Variacão inline
	&--inline {
		@extend %clearfix;

		.related-links__list--bullet {
			float: left;
			width: 155px;
			margin: 0 0 20px 70px;
			line-height: 20px;

			@include breakpoint('mobile') {
				width: auto;
				margin-left: 0;
				margin-bottom: 3px;

				&:last-child {
					margin-bottom: 15px;
				}
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}


	// Variação de cores
	&--orange {
		color: $basic-orange;
	}


	// Variação fixed - em algum momento do scroll ele fixa na tela.
	&--fixed.active {
		position: fixed;
		top: 152px;
		width: 216px;
		height: auto;
		z-index: -1;
	}
}
