.search {
	background: $white;
	width: 100%;
	top: 0;
	z-index: 1010;
	position: fixed;
	display: none;

	&-wrap {
		overflow-y: scroll;
		height: 100vh;
		padding: 20px 0px;
	}

	.container {
		position: relative;
		margin-bottom: 0;
	}

	&__header {
		@include breakpoint('desktop') {
			position: absolute;
			width: 100%;
		}
	}

	&__results-label {
		position: absolute;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		background: url(../images/gradiente-header.jpg) repeat-y;
		background: linear-gradient(to right, $degra-blue, $light-blue);
		color: $white;
		font-weight: bold;
		letter-spacing: 2px;

		span {
			font-weight: normal;
			font-style: italic;
			letter-spacing: 0px;

			strong {
				font-weight: bold;
			}
		}
	}

	&__logo {
		width: 120px;
		height: 88px;
		float: left;
		background-image: url(../images/logotipo_pb.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0;

		@include breakpoint('tablet') {
			width: 68px;
			height: 50px;
		};

		@include breakpoint('mobile') {
			width: 52px;
			height: 38px;
		};
	}

	&__close-btn {
		width: 32px;
		height: 32px;
		margin-top: 25px;
		float: right;
		background-image: url(../images/close_icon_thin.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0;


		@include breakpoint('tablet') {
			width: 24px;
			height: 24px;
			margin-top: 13px;
		}

		@include breakpoint('mobile') {
			width: 24px;
			height: 24px;
			margin-top: 10px;
		};
	}

	&__blue-title {
		color: $light-blue;
		font-style: italic;
		letter-spacing: 2px;
		padding-bottom: 12px;
		font-size: 16px;
	}

	&__blue-title--border {
		@extend .search__blue-title;
		border-bottom: 1px solid $light-bege;
	}

	&__wrapper {
		padding-top: 52px;
		clear: both;
		z-index: 10;
		max-width: 712px;
		margin: 0 auto;
		position: relative;

		@include breakpoint('mobile') {
			width: 272px;
		}
	}

	&__input {
		position: relative;
		background-color: $white;
		max-width: 712px;
    margin: 0px auto 0;
		position: relative;
		z-index: 200;

		@include breakpoint('tablet--e-abaixo') {
			margin: 25px auto 0;
		}
	}

	&__input-wrapper {
		padding: 0px 0 8px;
		border-bottom: 1px solid $light-blue;

		&--fixed-button {
			input {
				padding-right: 35px !important;
			}
		}

		input {
			padding: 0;
			border: 0;
			font-size: 72px;
			color: $basic-gray;
			width: calc(100% - 40px);
			background-color: transparent;

			&::-webkit-input-placeholder {
				font-size: 24px;
				font-style: italic;
				color: #d1d1d1;
			}

			&:-moz-placeholder {
				font-size: 24px;
				font-style: italic;
				color: #d1d1d1;
			}

			&::-moz-placeholder {
				font-size: 24px;
				font-style: italic;
				color: #d1d1d1;
			}

			&:-ms-input-placeholder {
				font-size: 24px;
				font-style: italic;
				color: #d1d1d1;
			}

			@include breakpoint('tablet') {
				font-size: 28px;

				&::-webkit-input-placeholder {
					font-size: 18px;
				}

				&:-moz-placeholder {
					font-size: 18px;
				}

				&::-moz-placeholder {
					font-size: 18px;
				}

				&:-ms-input-placeholder {
					font-size: 18px;
				}
			}

			@include breakpoint('mobile') {
				padding: 0 8px;
				width: calc(100% - 33px);
				font-size: 24px;

				&::-webkit-input-placeholder {
					font-size: 16px;
				}

				&:-moz-placeholder {
					font-size: 16px;
				}

				&::-moz-placeholder {
					font-size: 16px;
				}

				&:-ms-input-placeholder {
					font-size: 16px;
				}
			}
		}

		.twitter-typeahead {
			width: 100%;
		}

		.empty-message {
			padding: 20px;
		}

		.tt-menu {
			color: $sasha-gray;
			border: 1px solid $bd-gray;
			border-top: 0;
			position: absolute;
			z-index: 10;
			background-color: $white;
			width: 100%;
			margin-top: 10px;
		}

		.tt-suggestion {
			font-size: 24px;
			padding: 20px;
			cursor: pointer;

			@include breakpoint('mobile') {
				font-size: 17px;
			}

			&.tt-cursor, &:hover {
				background-color: $bd-gray-light;
			}

			span {
				color: $light-green;
				font-style: italic;
				font-weight: bold;
				padding: 5px 0;
				font-size: 16px;

				.tt-highlight {
					color: $light-green;
				}

				@include breakpoint('mobile') {
					font-size: 13px;
				}

			>	span {
					color: $basic-gray;
					font-weight: normal;

					.tt-highlight {
						color: $basic-gray;
					}
				}
			}
		}

		.tt-highlight {
			font-weight: bold;
			color: $sasha-gray;
		}

	}

	&__results {
		min-height: 84px;
		margin: 0 0 68px;
	}

	&__no-results {
		margin: 0 0 52px;
	}

	&__close-search {
		background-image: url(../images/close_search_icon--gray.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		top: 50%;
		background-position: center;
		margin-top: -12px;
		display: none;

		@include breakpoint('tablet--e-abaixo') {
			width: 20px;
			height: 20px;
			margin-top: -14px;
		}
	}

	&__no-results-title {
		font-size: 18px;
		color: $light-blue;
		font-weight: bold;
		line-height: 24px;
		margin-bottom: 26px;
	}

	&__no-results-text {
		color: $sasha-gray;
		font-size: 14px;
		line-height: 20px;
	}

	&__input-icon-search {
		display: inline-block;
		width: 34px;
		height: 36px;
		background-image: url(../images/search--sasha-gray.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0;
		margin-top: -40px;

		@include breakpoint('tablet') {
			width: 20px;
			height: 20px;
			margin-top: -20px;
		}

		@include breakpoint('mobile') {
			margin-top: -24px;
			width: 20px;
			height: 30px;
		}
	}

	&__searched-terms-list {
		margin-top: 20px;
		> a {
			color: $sasha-gray;
			border-bottom: 1px solid $sasha-gray;
			padding-bottom: 1px;
			position: relative;
			margin-left: 20px;
			font-size: 20px;

			@include breakpoint('tablet--e-abaixo') {
				font-size: 16px;
			}

			&::before {
				content: '';
				width: 16px;
				height: 16px;
				background-image: url(../images/search--light-gray.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: 0;
				position: absolute;
				left: -20px;
				top: 8px;

				@include breakpoint('tablet--e-abaixo') {
					top: 5px;
				}
			}
		}
	}

	&__autocomplete {
		border: 1px solid $bd-gray;
		border-top: 0;
		position: absolute;
		z-index: 10;
		background-color: #FFF;
		width: 100%;
	}

	&__autocomplete-text {
		padding: 20px;
		cursor: pointer;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background-color: $bd-gray-light;
		}
	}

	&__autocomplete-term {
		font-size: 18px;
		color: $sasha-gray;

		@include breakpoint('desktop') {
			font-size: 24px;
		}

		mark {
			background-color: transparent;
			font-weight: bold;
		}
	}

	&__autocomplete-categorie {
		font-size: 12px;
		font-style: italic;
		white-space: nowrap;

		@include breakpoint('desktop') {
			font-size: 16px;
		}

		strong {
			color: $light-green;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	&__categorie {
		margin: 0 0 68px;

		.btn-default--small-blue {
			margin-top: 16px;
		}
	}

	&__categorie-title {
		@extend .search__blue-title--border;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;

		.container {
			margin-bottom: 0;

			@include breakpoint('desktop') {
				width: auto;
				max-width: 1208px;
			}
		}

		span {
			letter-spacing: 0px;
			font-style: italic;
			font-weight: normal;
			color: $basic-gray;
		}

		strong {
			font-weight: bold;
			color: $light-green;
			position: relative;
		}

		@include breakpoint('mobile') {
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
		}
	}

	&__categorie-wrapper {
		padding: 24px 0;
		border-bottom: 1px solid $bd-gray;
		display: block;

		&:last-child {
			margin-bottom: 16px;
		}
	}

	&__categorie-photo {
		width: 216px;
		height: 104px;
		float: left;
		border-radius: 5px;
		background-color: #000;

		@include breakpoint('mobile') {
			width: 96px;
			height: 56px;
		}
	}

	&__categorie-description {
		margin-left: 216px + 33px;

		span {
			color: $sou-gray;
			font-weight: bold;
			font-size: 20px;

			@include breakpoint('mobile') {
				font-size: 16px;
			}
		}

		blockquote {
			font-size: 13px;
			margin-top: 8px;
			line-height: 17px;

			@include breakpoint('mobile') {
				font-size: 12px;
			}
		}

		strong {
			color: $sasha-gray;
			font-weight: bold;
			position: relative;

			&::before {
				content: '';
				height: 6px;
				background-color: $yellou;
				position: absolute;
				width: 100%;
				bottom: 1px;
				z-index: -1;
				border-radius: 5px;
			}
		}

		@include breakpoint('mobile') {
			margin-left: 96px + 10px;
		}
	}

	&__results-founded {
		color: $sou-gray;
		margin-top: 20px;
		display: inline-block;
		font-size: 20px;
		font-style: italic;
		font-weight: bold;

		strong {
			color: $light-green;
			font-weight: bold;
			font-style: normal;
		}

		@include breakpoint('tablet--e-abaixo') {
			font-size: 16px;
		}

		@include breakpoint('mobile') {
			margin-top: 14px;
		}
	}

	&__filter {
		border: 1px solid #000;
		width: 32px;
		height: 32px;
		float: right;
		margin-top: 13px;
	}
}


// SEARCH FILTER

.search-filter {
	position: relative;
	float: right;
	margin-top: 6px;
	width: 217px;
	z-index: 10;

	@include breakpoint('desktop') {
		position: absolute;
		left: -245px;
		margin-top: 32px;
	}

	@include breakpoint('tablet--e-abaixo') {

		&::before {
			content: '';
			height: 13px;
			border: 1px solid #000;
			position: absolute;
			width: 14px;
			background-color: transparent;
			border: 1px solid #329EC6;
			border-bottom-right-radius: 25px;
			border-top: 0;
			border-left: 0;
			left: -13px;
			top: 18px;
		}

		&::after {
			content: '';
			height: 13px;
			right: 0;
			position: absolute;
			border-left: 1px solid #329EC6;
			width: 1px;
			top: 18px;
		}
	}

	@include breakpoint('tablet') {
		width: 150px;
		margin-top: -31px;
	}

	@include breakpoint('mobile') {
		width: 31px;
		margin-top: -26px;
	}

	&__wrapper {

		@include breakpoint('tablet--e-abaixo') {
			position: absolute;
			right: 0;
			top: 0;
			padding-top: 20px;
			padding-left: 16px;
			padding-right: 16px;
			border: 1px solid $light-blue;
			border-radius: 5px;
			padding-bottom: 20px - 12px; // 20px menos o margin-bottom dos itens
			border-top-right-radius: 0;
			background: $white;
			top: 30px;

			&::before {
				content: '';
				background-color: #FFF;
				position: absolute;
				width: 157px;
				right: 0;
				height: 3px;
				top: -1px;
			}
		}

		@include breakpoint('tablet') {
			width: 374px;
		}

		@include breakpoint('mobile') {
			min-width: 270px;

			&::before {
				width: 38px;
			}
		}
	}

	&__button {
		display: block;

		@include breakpoint('desktop') {
			color: $light-blue;
			font-size: 16px;
			font-style: italic;
			letter-spacing: 3px;
			line-height: 18px;
			border-bottom: 1px solid $light-bege;
			padding-bottom: 12px;
		}

		@include breakpoint('tablet--e-abaixo') {
			border: 1px solid $light-blue;
			border-radius: 60px;
			position: relative;
			background-color: $white;
			height: 31px;
			z-index: 10;

			&::before {
				content: '';
				width: 20px;
				height: 23px;
				right: 4px;
				top: 2px;
				position: absolute;
				background-image: url(../images/filtro--blue.svg);
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: left top;
			}


		}

		@include breakpoint('tablet') {
			font-size: 12px;
			color: $black;
			line-height: 29px;
			padding: 0 15px;
			width: 150px;

			> span {
				> span {
					display: none;
				}
			}

			&::before {
				right: 10px;
			}
		}

		@include breakpoint('mobile') {
			width: 31px;
			> span {
				display: none;

				> span {
					display: none;
				}
			}
		}
	}

	&__list {
		@include breakpoint('desktop') {
			margin-top: 30px;
		}
	}

	&__list-item {
		margin-bottom: 16px;

		@include breakpoint('tablet--e-abaixo') {
			margin-bottom: 12px;
			float: left;
			width: 50%;
		}
	}

	&.hide {
		&::before, &::after {
			display: none;
		}

		@include breakpoint('tablet--e-abaixo') {
			.search-filter__wrapper {
				display: none;
			}
		}
	}
}

.search__top-wrapper.fixed {
	top: 0;
	position: fixed;
	z-index: 9999;
	background: white;
	width: 100%;
	min-height: 180px;
	padding: 11px 0 0;

	.search__header {
		position: static;
		@include breakpoint('desktop') {
			position: absolute;
			width: 100%;
		}
	}

	.search__input {
		@include breakpoint('desktop') {
			margin: 0px auto 60px;
		}
	}

	.container {
		margin-bottom: 0;
	}

	.search-filter {
		margin-top: 23px;

		@include breakpoint('desktop') {
			margin-top: 0px;
			top: 240px;
		}
	}

	.search__close-search {
		width: 20px;
		height: 20px;
		margin-top: -9px;
	}

	.search__categorie-title {
		margin-top: -35px;
	}

	.search__results-founded,
	.search__input-wrapper input {
		transition: font-size .2s ease-in-out;
		&::-webkit-input-placeholder {
			transition: font-size .2s ease-in-out;
		}

		&:-moz-placeholder {
			transition: font-size .2s ease-in-out;
		}

		&::-moz-placeholder {
			transition: font-size .2s ease-in-out;
		}

		&:-ms-input-placeholder {
			transition: font-size .2s ease-in-out;
		}
	}

	.search__input-icon-search {
		transition: width .2s ease-in-out, height .2s ease-in-out, margin-top .2s ease-in-out;
	}


	.search__results-founded {
		font-size: 12px;
	}

	.search__input-wrapper input {
		font-size: 28px;
		@include breakpoint('mobile') {
			font-size: 24px;
		}
		&::-webkit-input-placeholder {
			font-size: 18px;
			@include breakpoint('mobile') {
				font-size: 16px;
			}
		}

		&:-moz-placeholder {
			font-size: 18px;
			@include breakpoint('mobile') {
				font-size: 16px;
			}
		}

		&::-moz-placeholder {
			font-size: 18px;
			@include breakpoint('mobile') {
				font-size: 16px;
			}
		}

		&:-ms-input-placeholder {
			font-size: 18px;
			@include breakpoint('mobile') {
				font-size: 16px;
			}
		}
	}

	.search__input-icon-search {
		width: 20px;
		height: 20px;
		margin-top: -20px;
	}


	.search__categorie-title {
		background: url(../images/gradiente-header.jpg) repeat-y;
		background: linear-gradient(to right, $degra-blue, $light-blue);
		padding-bottom: 0;
		color: $white;
		border-bottom: 0;

		.container {
			height: 38px;
			line-height: 36px;
		}

		span, strong {
			color: $white;
		}
	}
}
