.search-list {

	&__text {
		font-size: 28px;
		margin-top: 25px;

		span {
			white-space: nowrap;
		}

		@include breakpoint('mobile') {
			font-size: 20px;

			.btn-simple {
				display: none;
			}
		}
	}

	&__button {
		cursor: pointer;
		font-family: $noto-sans-regular;
		font-size: 28px;
		color: $sasha-gray;
		border-bottom: 1px solid $sasha-gray;
		text-align: left;
		padding: 0 25px 0 0;
		position: relative;
		margin-right: 5px;

		strong {
			font-weight: bold;
		}

		@include breakpoint('mobile') {
			font-size: 20px;
		}

		&::before {
			content: '';
			width: 12px;
			height: 8px;
			position: absolute;
			right: 5px;
			top: 50%;
			margin-top: -4px;
			background-image: url(../images/seta-vertical--gray.svg);
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			transform: rotate(180deg);
			transition: transform .2s ease-in-out;
		}

		&::after {
			content: '';
			display: none;
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid $bd-gray-soft;
			position: absolute;
			bottom: -32px;
			margin-left: -15.5px;
			left: 50%;
		}

		&.active {
			&::before {
				transform: rotate(0deg);
			}
			&::after {
				display: block;
			}
		}

	}

	&__wrapper {
		background-color: $bd-gray-soft;
		margin: 30px 0 -45px;
		display: none;
		position: relative;
	}

	&__checklist {
		margin: 0 auto;
		padding: 30px 0;
		@include free-cols(3);

		@include breakpoint('mobile'){
			width: $grid-col-width-mobile;
		}
	}

	&__checklist-item {
		width: 33.33333333%;
		float: left;
		margin-bottom: 15px;

		@include breakpoint('mobile'){
			width: 50%;
		}
	}

	&__bts-options {
		padding: 0px 0 30px;
		margin: 0 auto;
		text-align: left;
		@include free-cols(3);

		@include breakpoint('mobile'){
			@include free-cols(1.1);
		}
	}

	&__select-all {
		text-decoration: underline;
	}

	&__results {
		background-color: $bd-gray-light;
		margin-top: 32px;
		padding-top: 32px;
		margin-bottom: -45px;


		&-wrapper {
			@include free-cols(5);
			margin: 0 auto -32px;

			@include breakpoint('desktop') {

				.cards-carousel > div {
					margin-bottom: 32px;
					float: left;

					&:nth-child(5n+1) {
						margin-left: 0;
						margin-right: 16px;
					}

					&:nth-child(5n+5) {
						margin-left: 16px;
						margin-right: 0;
					}
				}
			}

			@include breakpoint('tablet') {
				@include free-cols(3);

				.cards-carousel > div {
					margin-bottom: 32px;
					float: left;

					&:nth-child(3n+1) {
						margin-left: 0;
						margin-right: 16px;
					}

					&:nth-child(3n+3) {
						margin-left: 16px;
						margin-right: 0;
					}
				}
			}

			@include breakpoint('mobile') {
				width: auto;
				display: block;

				.cards-carousel > div {
					&:first-of-type, &:last-of-type {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}

		&-pagination {
			@include free-cols(3);
			margin: 0 auto;
			padding: 32px 0;
			text-align: center;

			@include breakpoint('mobile') {
				width: auto;
				display: block;
			}
		}
	}

	.checkbox-normal label {
		@include breakpoint('mobile') {
			width: 130px;
		}
	}
}
