.share {
	font-size: 0;

	&__label {
		position: relative;
		top: 7px;
		float: left;
		margin-right: 12px;
		font-size: 12px;
		color: $basic-gray;
	}

	&__list {
		display: inline-block;
		font-size: 0;
	}

	&__item {
		display: inline-block;
		margin-left: 16px;

		&:first-child {margin-left: 0;}
	}

	&__item-social {
		display: block;
		width: 28px;
		height: 28px;
		background-color: $white;
		background-repeat: no-repeat;
		background-size: 100%;
		@extend %hide-text;

		&--twitter {
			background-image: url(../images/twitter_icon--light-green.svg);
		}

		&--facebook {
			background-image: url(../images/facebook_icon--light-green.svg);
		}

		&--plus {
			background-image: url(../images/gplus_icon--light-green.svg);
		}

		&--share {
			background-image: url(../images/share--light-green.svg);
		}
	}


	// Variação de cores
	&--orange {
		.share__item-social--twitter {
			background-image: url(../images/twitter_icon--light-orange.svg);
		}

		.share__item-social--facebook {
			background-image: url(../images/facebook_icon--light-orange.svg);
		}

		.share__item-social--plus {
			background-image: url(../images/gplus_icon--light-orange.svg);
		}

		.share__item-social--share {
			background-image: url(../images/share--light-orange.svg);
		}
	}


	// Variação do componente com os elementos centralizados.
	&--center {
		text-align: center;

		.share__label {
			display: inline-block;
			float: none;
		}
	}


	// Variação do componente com o label e icones maiores.
	&--big {

		.share__label {
			display: block;
			top: 0;
			font-size: 16px;
			margin: 0 0 10px 0;
		}

		.share__item {
			margin-left: 28px;

			&:first-child {margin-left: 0;}
		}

		.share__item-social {
			width: 32px;
			height: 32px;
		}
	}

}
