.sobre-embratur {
	position: relative;

	&__wrapper {
		padding-top: 40px;
		margin: 0 auto;
		text-align: left;

		@include breakpoint('desktop') {
			@include free-cols(5);
		}

		@include breakpoint('tablet') {
			@include free-cols(3);
		}

		@include breakpoint('mobile') {
			@include free-cols(1.2);
			padding-bottom: 40px;
		}
	}

	&__aside {
		@include cols(1);
		margin-right: 0;

		@include breakpoint('tablet') {
			margin-bottom: 25px;
		}

		@include breakpoint('mobile') {
			margin-bottom: 20px;
		}
	}

	&__logo {
		font-size: 36px;
		text-transform: uppercase;
		color: $logo-black;
		font-weight: 600;

		&:before {
			content: '';
			position: relative;
			display: inline-block;
			background-image: url(../images/logo-embratur.png);
			width: 27px;
			height: 26px;
			margin-right: 5px;
		}
	}

	&__info {
		@include cols(3);
	}

	&__text {
		font-size: 15px;
		line-height: 20px;
		padding-bottom: 25px;

		a {
			color: $new-gray;
			font-weight: 600;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__external-links {
		@include cols(3);
		margin: 0;
	}

	&__formulario {
		@include cols(3);
		height: 100%;
	}
}


