.trade-login {

	.alert-intern {
		margin-bottom: 10px;
		display: none;
	}

	&__wrapper {
		background-color: $bd-gray-soft;
		text-align: center;
		padding: 34px 0 50px;

		@include breakpoint('tablet') {
			padding: 34px;
		}
	}

	&__container {

		@include breakpoint('mobile') {
			@include cols(1);
		}

	}

	&__content {
		@include cols(1);
		border-radius: 6px;
		padding: 28px;

		&--login {
			background: $white;
			box-shadow: 0px 2px 5px 0px rgba(67, 58, 37, 0.15);
		}

		&--signup {
			border: 3px solid $darkest-gray;
			margin-top: 32px;

			@include breakpoint('desktop') {
				margin-top: 0;
			}
		}



		@include breakpoint('tablet') {
			width: 100%;
			display: block;
			margin: 32px 0;
		}

		@include breakpoint('desktop') {
			@include cols(1.6);
			height: 300px;
		}

		&--lh {
			height: 380px;
		}
	}

	&__head-text {
		color: $basic-gray;
		font-size: 18px;
		margin: 25px auto;
		text-align: left;
		line-height: 25px;
		padding: 0 5px;
		display: none;
		@include free-cols(3.2);

		@include breakpoint('desktop') {
			display: block;
		}
	}

	&__title {
		font-size: 28px;
		margin-bottom: 15px;
		font-weight: 400;
	}

	&__form {
		display: block;
	}

	&__message {
		display: none;
	}

	&__label {
		display: block;
		margin-bottom: 25px;

		@include breakpoint('tablet') {
			display: inline-block;
			width: 46%;
			margin-right: 20px;
		}

		.input-text {
			transition: border .2s linear;
		}

		&.error {
			.input-text {
				border: 1px solid $border-error;
			}
		}
	}

	&__link-forgot {
		color: $sasha-gray;
		font-size: 14px;
		text-decoration: underline;
		margin-left: 23px;

		&:hover {
			text-decoration: none;
		}
	}

	&__link-cancel {
		@extend .trade-login__link-forgot;
		font-size: 16px;
		font-weight: bold;
	}

	&__text {
		font-size: 16px;
		margin-bottom: 16px;
		line-height: 21px;
	}

	&__list {
		margin-bottom: 20px;
	}

	&__item {
		font-size: 13px;
		color: $sasha-gray;
		position: relative;
		padding-left: 7px;
		font-weight: bold;
		line-height: 15px;
		margin: 5px 0;

		&::before {
			content: '•';
			color: $new-green;
			display: inline-block;
			font-size: 13px;
			position: absolute;
			left: 0;
		}

		@include breakpoint('tablet') {
			line-height: 22px;
		}
	}

	&__samples-wrapper {
		background-color: $bd-gray;
		text-align: center;
		padding: 60px 0;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__samples {
		@include free-cols(3.4);
		margin: 0 auto 40px;

		&:first-child {
			margin-bottom: 60px;
		}
	}

	&__sample-text {
		color: $sou-gray;
		font-size: 24px;
		letter-spacing: 2px;
		margin: 20px 0 30px;
	}

	&__cards {
		.card-media {
			@include cols(1);
		}
	}
}
