.trade-register {
	@include free-cols(3);
	padding: 60px 0;
	margin: 0 auto;
	@extend %clearfix;

	@include breakpoint('mobile') {
		width: $grid-col-width-mobile;
		padding: 50px 0 35px 0;
	}

	&__initial-text {
		margin: 23px 0 51px 0;
		font-size: 18px;
		line-height: 22px;
		color: $basic-gray;

		@include breakpoint('mobile') {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__line-break {
		@include breakpoint('mobile') {
			display: inline-block;
			margin-bottom: 19px;
		}
	}

	&__form {
		&--success {
			.trade-register__fieldset {opacity: .3;}
			.trade-register__box-send {opacity: 0;}
			.trade-register__box-success {opacity: 1;}
		}

		&.error .box-msg-error {display: block;}
	}

	&__fieldset {
		margin-top: 27px;
		opacity: 1;
		transition: opacity .8s ease-out;

		@include breakpoint('mobile') {
			&:last-of-type {
				margin-top: 0;
			}
		}

		&.error .trade-register__form-title{border-color: $border-error;}
	}

	&__form-title {
		width: 100%;
		margin-bottom: 14px;
		padding-bottom: 15px;
		font-family: $iskra;
		font-style: italic;
		font-size: 28px;
		font-weight: 500;
		letter-spacing: -0.03em;
		color: $sasha-gray;
		border-bottom: 1px solid $bb-gray;
	}

	&__form-item {
		position: relative;
		float: left;
		margin: 0 0 26px 32px;

		&--first-line {margin-left: 0;}

		// variações de tamanho dos campos do form.
		&--full{
			width: 100%;
			margin-left: 0;
		}

		&--medium {
			width: 340px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}

		&--big {
			width: 464px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}

		&--small {
			width: 216px;

			@include breakpoint('mobile') {
				width: 100%;
				margin-left: 0;
			}
		}

		&--no-label {
			padding-top: 17px;

			@include breakpoint('mobile') {
				padding-top: 0;
				margin-top: -16px;
			}
		}

		&--terms {
			.checkbox-normal {
				margin-bottom: 20px;

				@include breakpoint('mobile') {
					margin-bottom: 39px;
				}

				label {
					color: $basic-gray;

					@include breakpoint('tablet--e-abaixo') {
						font-size: 16px;
					}

					@include breakpoint('mobile') {
						width: $grid-col-width-mobile;
						padding-left: 30px;
						line-height: 20px;
						text-indent: 0;
						top: -3px;

						&::after {
							margin-top: -2px;
						}
					}
				}

				@include breakpoint('mobile') {
					&:first-of-type label{
						width: 203px;
					}
				}
			}

			.trade-register__form-item {margin-bottom: 0;}
		}

		.custom-combo {
			width: 100%;
			margin-top: 9px;
		}

		&.error {
			.input-text,
			.custom-textarea,
			.custom-combo__button,
			.checkbox-normal {
				border-color: $border-error;
			}
		}

	}

	&__form-label {
		text-transform: uppercase;
		font-family: $noto-sans-bold;
		font-size: 10px;
		line-height: 14px;
		color: $sasha-gray;
	}

	&__radio {
		float: left;
		width: 125px;
		margin-top: 13px;
	}

	&__question {
		font-size: 18px;
		line-height: 22px;
		color: $sasha-gray;
	}

	// campos de social media
	&__field-social {
		padding-left: 36px;
	}

	&__icon-social {
		position: absolute;
		top: 30px;
		left: 5px;
		display: inline-block;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;

		&--facebook {background-image: url(../images/ico-facebook-form.svg);}
		&--linkedin {background-image: url(../images/ico-linkedin-form.svg);}
		&--skype {background-image: url(../images/ico-skype-form.svg);}
		&--twitter {background-image: url(../images/ico-twitter-form.svg);}
	}

	&__description-fieldset {
		margin-bottom: 23px;
		font-size: 18px;
		line-height: 22px;

		@include breakpoint('mobile') {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__btn-cancel {
		margin-left: 23px;
		font-family: $noto-sans-bold;
		font-size: 16px;
		text-decoration: underline;
		letter-spacing: -0.02em;
		color: $sasha-gray;
		background: none;
		cursor: pointer;
	}

	&__box-msg-error {
		display: none;
		position: relative;
		width: 100%;
		height: 51px;
		margin-bottom: 21px;
		padding: 0 20px;
		font-size: 12px;
		line-height: 51px;
		color: $middle-red;
		border-radius: 4px;
		background-color: $bg-error;

		&::before {
			content: '';
			display: inline-block;
			position: relative;
			top: 2px;
			width: 16px;
			height: 14px;
			margin-right: 5px;
			background-image: url(../images/ico-alert.svg);
			background-size: 100%;
		}

		strong {font-weight: bold;}
	}

	&__btn-close-error {
		display: block;
		width: 14px;
		height: 14px;
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;

		&::before, &::after {
			content: '';
			height: 3px;
			width: 13px;
			position: absolute;
			top: 6px;
			background-color: $middle-red;
		}

		&::before {transform: rotate(45deg);}
		&::after {transform: rotate(-45deg);}
	}

	&__box-send {
		position: relative;
		opacity: 1;
		transition: opacity .8s ease-out;
		z-index: 2;
	}

	&__box-success {
		position: absolute;
		top: 0;
		opacity: 0;
		transition: opacity .8s ease-out;
		z-index: 1;
	}

	&__btn-ok {
		display: inline-block;
		width: 185px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 50px;
		background-color: $new-green;

		@include breakpoint('mobile') {
			width: 156px;
		}

		&::before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 13px;
			background-image: url(../images/check_icon--white.svg);
			background-size: 100%;
		}
	}

	&__text-success {
		float: right;
		@include free-cols(2);
		margin-left: 23px;
		font-size: 16px;
		letter-spacing: -0.02em;
		line-height: 19px;
		color: $new-green;

		@include breakpoint('mobile') {
			float: left;
			width: 245px;
			margin-left: 0;
		}
	}

	&__thank-you {
		@include breakpoint('mobile') {
			position: absolute;
			top: 7px;
			right: 0;
		}
	}
}
