.trade-treinamento {

	&__photo-description-wrapper {
		position: relative;
		bottom: 10px;
	}

	&__photo-description {
		width: 1208px;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		margin-left: -600px;

		&--bottom {
			top: inherit;
			bottom: 0;
		}
	}

	.photo-description__text {
		top: 6px;
	}

	&__wrapper {
		padding: 30px 0px;
		text-align: center;

		@include breakpoint('mobile') {
			@include free-cols(1.3);
			padding: 30px 0;
			margin: 0 auto;
		}

		@include breakpoint('desktop') {
			@include free-cols(5);
			margin: 0 auto;
			text-align: left;
		}
	}

	&__bottom, &__top {

		@include breakpoint('desktop') {
			@include free-cols(5);
		}

		.title {
			margin-bottom: 30px;
		}
	}

	&__bottom {
		margin-bottom: 50px;
	}

	&__title-desk {
		display: block;

		@include breakpoint('tablet--e-abaixo') {
			display: none;
		}
	}

	&__title-mobile {
		display: block;

		@include breakpoint('desktop') {
			display: none;
		}
	}

	&__explanation {

		@include breakpoint('mobile') {
			@include cols(1);
		}

		@include breakpoint('tablet') {
			@include cols(3);
		}

		@include breakpoint('desktop') {
			@include cols(1);
		}
	}

	&__explanation-head {
		font-size: 20px;
		line-height: 22px;

		@include breakpoint('desktop') {
			font-size: 28px;
			line-height: 30px;
		}
	}

	&__explanation-text {
		padding: 28px 0;
		line-height: 22px;

		@include breakpoint('desktop') {
			font-size: 18px;
		}
	}

	&__levels {
		padding: 30px 0;

		@include breakpoint('mobile') {
			@include cols(1);
		}

		@include breakpoint('tablet--e-acima') {
			@include free-cols(3);
			display: inline-block;
		}

		@include breakpoint('tablet--e-acima') {
			padding: 0 0 30px;
		}
	}


	&__levels-text {
		font-size: 17px;
		line-height: 22px;
		margin-bottom: 10px;
		display: block;
		text-align: left;

		@include breakpoint('desktop') {
			margin-bottom: 30px;
		}
	}

	&__levels-boxes {
		border: 2px solid $bd-gray;
		border-radius: 3px;
		margin: 30px 0;
		text-align: left;

		@include breakpoint('tablet--e-acima') {
			width: 216px;
			position: relative;
			display: table-cell;
			background-color: $bd-gray-light;

			&--secondof {
				left: 36px;
			}

			&--thirdof {
				left: 72px;
			}
		}
	}

	&__levels-boxeshead {
		text-align: center;
		padding: 20px 0;
		background-color: $white;
	}

	&__levels-boxeshead-top {
		color: $sasha-gray;
		font-size: 18px;
		display: block;
		font-weight: bold;
	}

	&__levels-boxeshead-middle {
		color: $new-green;
		border: 1px solid $grama-green;
		font-size: 32px;
		border-radius: 70px;
		display: inline-block;
		width: 48px;
		height: 48px;
		line-height: 46px;
		text-align: center;
		font-weight: bold;
		margin: 8px 0;
	}

	&__levels-boxeshead-bottom {
		display: block;
		color: $sasha-gray;
		font-size: 18px;
	}

	&__levels-boxesbody {
		background-color: $bd-gray-light;
		padding: 23px;
		line-height: 23px;
	}

	&__levels-boxesbody-top {
		font-size: 14px;
		font-weight: bold;
		color: $sasha-gray;
	}

	&__levels-boxesbody-item {
		font-size: 14px;
		margin-top: 20px;
		padding: 0 18px;
		position: relative;
		line-height: 18px;

		&::before {
			content: '•';
			position: absolute;
			left: 4px;
			top: 0px;
			color: $new-green;
		}
	}

	&__info {
		@include breakpoint('tablet') {
			display: table;
			width: 100%;
			table-layout: fixed;
			margin-top: 20px;
		}
	}

	&__info-data {
		@include breakpoint('tablet') {
			display: table-cell;
		}
	}

	&__subscribe {
		text-align: left;

		@include breakpoint('desktop') {
			@include cols(1);
			margin-top: 92px;
		}
		@include breakpoint('tablet') {
			@include cols(3);
		}
	}

	&__subscribe-box {
		padding: 24px;
		border: 2px solid $bd-gray;
		border-radius: 3px;
		margin: 12px 0 40px;
	}

	&__subscribe-title {
		font-weight: bold;
		color: $sasha-gray;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		line-height: 20px;

		&--big {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	&__subscribe-text {
		color: $basic-gray;
		font-size: 14px;
		line-height: 20px;
		display: block;
		margin-bottom: 5px;

		&--link {
			color: $new-green;
		}

		&--head {
			margin-bottom: 20px;
		}
	}

	&__contact {
		@include cols(3);
	}
}
