.trending {
	padding: 25px 30px 20px 30px;
	@include border-radius(3px);
	border: 2px solid $bd-gray;

	@extend %clearfix;

	@include breakpoint(desktop) {
		@include free-cols(2);
	}

	@include breakpoint(tablet) {
		@include free-cols(3);
	}

	@include breakpoint(mobile) {
		padding: 25px 26px 20px 26px;
	}

	&__title {
		margin-bottom: 14px;
		font-family: 'NotoSansBold';
		font-size: 13px;
		color: $light-green;
		text-transform: uppercase;
		letter-spacing: 2.8px;
	}

	&__item-list {
		float: left;
		width: 184px;
		margin: 0 16px;
		overflow: hidden;

		@include breakpoint(desktop) {
			&:last-child {
				display: none;
			}

			&:nth-of-type(2) {
				margin-right: 0;
			}
		}

		@include breakpoint(tablet) {
			margin: 0 24px;
		}

		@include breakpoint(mobile) {
			display: none;
			width: 216px;
			margin: 0;

			&:first-child {
				display: block;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

	}

	&__image {
		max-width: inherit;
		overflow: hidden;
		@include border-radius(3px);
	}

	&__description {
		margin-top: 9px;
		font-family: 'NotoSansBold';
		font-size: 14px;
		color: $sasha-gray;
		line-height: 20px;
	}


	&--center {
		display: inline-block;
		position: relative;
		top: -93px;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		padding: 13px 32px 10px 32px;
		border: none;
		@include border-radius(4px);
		background: $bd-gray-light;
		text-align: center;

		@include breakpoint(mobile) {
			top: -28px;
			padding: 0 0 30px 0;
			background: transparent;
			@include free-cols(1.2);
		}

		.trending__title {
			@include breakpoint(mobile) {
				display: inline-block;
				margin-bottom: 24px;
				padding: 15px 20px 0 20px;
				background-color: $bd-gray-light;
			}
		}

		.trending__item-list {
			width: 142px;
			margin: 0 10px;

			@include breakpoint(mobile) {
				display: block;
				width: 120px;
				margin: 0 12px;
			}

			&:nth-of-type(2) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				display: none;
			}
		}

		.trending__image {
			height: 80px;
		}

		.trending__description {
			margin-top: 5px;
			text-align: center;
		}
	}
}
