.trending-blog {
	@extend %clearfix;

	@include breakpoint('desktop') {
		padding: 16px;
		border-radius: 4px;
		background-color: rgba(242, 237, 222, .6);
	}

	&__item-list {
		float: left;
		width: 184px;
		overflow: hidden;

		@include breakpoint('desktop') {
			clear: both;
			margin-bottom: 30px;
		}

		@include breakpoint('tablet') {
			width: 216px;

			&:nth-child(2) {
				margin: 0 $grid-gutter;
			}
		}

		@include breakpoint('mobile') {
			width: 124px;

			&:nth-child(2) {
				margin-left: 24px;
			}

			&:last-child {
				display: none;
			}
		}
	}

	&__image {
		max-width: inherit;
		height: 104px;
		overflow: hidden;
		border-radius: 3px;

		> img {max-width: 100%;}

		@include breakpoint('tablet') {
			height: 122px;
		}

		@include breakpoint('mobile') {
			height: 70px;
		}
	}

	&__description {
		margin-top: 8px;
		font-family: 'NotoSansBold';
		font-size: 14px;
		color: $sasha-gray;
		line-height: 20px;
	}
}
