.user {
	display: inline-block;
	position: relative;
	min-width: 151px;
	font-size: 12px;
	letter-spacing: 0;
	color: $white;

	@include breakpoint('mobile'){
	    position: absolute;
    	left: 60px;
		min-width: auto;
	}

	&__button {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 32px;
		border-radius: 16px;
		border: 1px solid $light-blue;
		background-color: $degra-blue;
		cursor: pointer;
		z-index: 2;

		@include breakpoint('mobile'){
			width: 44px;
			height: 59px;
			border-radius: 0;
			border: none;
			background: transparent;
		}

		&::before {
			position: absolute;
			top: 8px;
			left: 16px;
			content: '';
			display: inline-block;
			width: 10px;
			height: 14px;
			background-image: url(../images/user.svg);
			background-repeat: no-repeat;
			background-size: 100%;

			@include breakpoint('mobile'){
				width: 14px;
				height: 19px;
				top: 50%;
				left: 50%;
				margin-top: -10px;
				transform: translate(-50%, 0);
			}
		}

		&::after {
			position: absolute;
			top: 10px;
			right: 14px;
			content: '';
			display: block;
			width: 11px;
			height: 11px;
			background-image: url(../images/seta--user-blue.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			transform: rotate(90deg);
			transition: transform .4s ease-in-out;

			@include breakpoint('mobile'){
				width: 32px;
				height: 32px;
				top: 14px;
				right: inherit;
				left: 50%;
				margin-left: -16px;
				border-radius: 50%;
				border: 1px solid $light-blue;
				background: none;
				transition: none;

			}
		}
	}

	&__name {
		position: relative;
		padding: 0 32px 0 35px;
		line-height: 32px;

		@include breakpoint('mobile'){
			display: none;
		}
	}

	&__list {
		display: none;
		position: absolute;
		top: 13px;
		width: 100%;
		padding-top: 24px;
		border: 1px solid $light-blue;
		border-top: none;
		border-bottom-right-radius: 16px;
		border-bottom-left-radius: 16px;
		background-color: $degra-blue;
		z-index: 1;

		@include breakpoint('mobile'){
			width: 100vw;
			top: 59px;
		    left: -60px;
	        padding: 16px 0 8px 0;
			border-radius: 0;
			border: none;
			border-bottom: 1px solid $nine-blue;
		}
	}

	&__list-item {
		padding: 0 4px 5px 4px;

		@include breakpoint('mobile'){
			padding: 0 24px 8px 24px;
		}
	}

	&__list-item-link {
		display: block;
		height: 32px;
		line-height: 31px;
		border-radius: 16px;
		transition: background .3s ease-in-out;

		@include breakpoint('mobile') {
			display: inline-block;
			padding-right: 16px;
		    letter-spacing: 0.09em;
		}

		&:hover,
		&:active {
			background: rgba(255, 255, 255, .3);
		}

		&::before {
			position: relative;
			content: '';
			display: inline-block;
			margin: 0 5px 0 14px;
			background-repeat: no-repeat;
			background-size: 100%;

			@include breakpoint('mobile') {
				margin: 0 9px 0 15px;
			}
		}

		&--edit::before {
			width: 12px;
			height: 12px;
			top: 1px;
			background-image: url(../images/edit.svg);
		}

		&--logout::before {
			width: 12px;
			height: 12px;
			top: 3px;
			background-image: url(../images/logout.svg);
		}
	}

	// Menu aberto
	&--open {
		.user__button::after {
			transform: rotate(-90deg);
		}

		.user__list {
			display: block;
		}

		@include breakpoint('mobile') {
			.user__button {
				background-color: $degra-blue;
			}
		}
	}

}

