.weather {

	position: relative;

	&__wrapper {
		display: table;
		margin-bottom: 32px;
	}

	&__degree-wrapper {
		display: table;
		position: relative;
	}

	&__degree {
		display: table-cell;
		vertical-align: bottom;

		@include breakpoint('mobile') {
			padding-bottom: 28px;
		}
	}

	&__scale {
		display: table-cell;
		vertical-align: bottom;
		padding: 0 32px;

		@include breakpoint('mobile') {
			left: 0;
			top: 100%;
			position: absolute;
			padding: 0;
		}
	}

	&__degree-now-wrapper {
		display: table-cell;
	}

	&__scale-switch {
		border: 1px solid $bb-gray;
		border-radius: 30px;
		font-size: 12px;
		height: 34px;
		position: relative;
	}

	&__scale-switch-text {
		display: inline-block;
		width: 34px;
		height: 32px;
		text-align: center;
		color: $sasha-gray;
		line-height: 31px;
		position: relative;
		z-index: 10;
		font-weight: bold;
		float: left;
		cursor: pointer;

		> span {
			position: relative;
			z-index: 10;
		}

		&.active {
			color: $white;

			&:after {
				content: '';
				width: 34px;
				height: 32px;
				font-weight: normal;
				border-radius: 50px;
				position: absolute;
				background-color: $light-green;
				right: 0;
			}
		}
	}

	&__scale-switch-text--mice.active::after {
		background-color: $degra-blue;
	}

	&__degree-title {
		text-transform: uppercase;
		color: $sasha-gray;
		display: block;
		margin-bottom: 15px;
		font-size: 12px;

		@include breakpoint('mobile') {
			font-size: 10px;
		}
	}

	&__degree--now {
		position: relative;

		@include breakpoint('mobile') {
			padding-right: 26px;
		}
	}

	&__degree--average {
		padding-right: 32px;
	}

	&__degree-title--now {
		@include breakpoint('mobile') {
			position: relative;
			top: 6px;
			left: 55px;
		}
	}

	&__degree-title--margin {
		margin-bottom: 9px;
	}

	&__degree-number {
		display: block;
	}

	&__degree-number--now {
		color: $light-green;
		padding-left: 52px;
		font-size: 40px;

		span {
			margin-left: -2px;
		}

		@include breakpoint('mobile') {
			font-size: 32px;

			span {
				font-size: 28px;
			}
		}

		&:before {
			content: '';
			position: absolute;
			background-size: 100%;
			width: 45px;
			height: 41px;
			top: 15px;
			left: 0;
			background-image: no-repeat;
			background-image: url("../images/weather--gray.svg");
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";

			@include breakpoint('mobile'){
				width: 50px;
				height: 46px;
				top: 0;
			}
		}
	}

	&__degree-number--mice {
		color: $degra-blue;
	}

	&__degree-number--average {
		color: $basic-orange;
		font-size: 28px;
	}

	&__degree-title--average {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			margin-left: 6px;
			margin-top: 1px;
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-bottom: 5px solid $basic-orange;
		}
	}

	&__degree-number--low {
		color: $navy-blue;
		font-size: 28px;
	}

	&__degree-title--low {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			margin-left: 6px;
			margin-top: 1px;
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid $navy-blue;
		}
	}

	&__now-status {
		color: $sasha-gray;
		display: block;
		margin-top: 10px;
		font-size: 12px;

		@include breakpoint('mobile') {
			font-size: 10px;
			margin-top: 5px;
		}
	}

	&__temperaturesin {
		display: table-cell;
		vertical-align: bottom;
		padding-left: 32px;

		@include breakpoint('mobile') {
			display: block;
			float: right;
			padding-left: 0;
		}
	}
}

.weather--small {
	float: right; // align anyway

	@include breakpoint('mobile') {
		position: inherit;
	}

	.weather__wrapper {
		margin-bottom: 0;
		display: table;
		background-color: $white;
		padding: 32px;
		background-color: $white;
		border-radius: 5px;
		box-shadow: 0px 2px 6px 0px rgba(67, 58, 37, 0.15);
		position: absolute;
		top: -16px;
    	left: -367px;
		opacity: 0;
		transition: opacity .1s ease-in-out;

		@include breakpoint('mobile') {
			width: 100%;
			top: inherit;
			left: 0;
			margin-top: 18px;
			padding: 32px 0;
			border-radius: 0;
			z-index: 1;
		}

		&.active {
			opacity: 1;
		}
	}

	&__arrow {
		width: 26px;
		height: 36px;
		position: absolute;
		overflow: hidden;
		transform: rotate(90deg);
		right: -31px;

		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			background: $white;
			transform: rotate(45deg); /* Prefixes... */
			top: 28px;
			left: 5px;
			box-shadow: 1px 0px 10px -3px rgba(0, 0, 0, 0.5);
		}

		@include breakpoint('mobile') {
			width: 272px;
			margin-left: -136px;
			left: 50%;
			top: -33px;
			right: inherit;
			transform: rotate(0deg);

			&::before {
				left: initial;
				right: 23px;
			}
		}
	}

	&__button {
		width: 64px;
		height: 64px;
		border-radius: 60px;
		display: block;
		position: relative;
		z-index: 1;
	}

	&__button-inside {
		width: 48px;
		height: 48px;
		border-radius: 60px;
		background-color: $light-green;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -24px;
		margin-top: -24px;
		background-image: url(../images/weather--white.svg);
		background-repeat: no-repeat;
		background-size: 70%;
		background-position: 50% center;
		z-index: 1;
		transition: background .2s ease-in-out;

		&.active {
			background-image: url(../images/close_icon_thin--white.svg);
			background-repeat: no-repeat;
			background-size: 65%;
			background-position: 50% center;
		}
	}

	&__button-outside {
		width: 64px;
		height: 64px;
		border-radius: 60px;
		background-color: $light-green;
		display: block;
		position: absolute;
		opacity: .3;
		top: 50%;
		left: 50%;
		margin-left: -32px;
		margin-top: -32px;
	}

	.weather__degree {
		padding-bottom: 28px;
	}

	.weather__degree-wrapper {
		@include breakpoint('mobile') {
			width: $grid-col-width-mobile;
			margin: 0 auto;
		}
	}

	.weather__scale {
		left: 0;
		top: 100%;
		position: absolute;
		padding: 0;
	}

	.weather__degree-title {
		font-size: 10px;
	}

	.weather__degree-number--now {
		font-size: 32px;

		span {
			font-size: 28px;
		}
	}

	.weather__degree--now {
		padding-right: 26px;

		@include breakpoint('mobile') {
			padding-right: 20px;
		}
	}

	.weather__degree--average {
		@include breakpoint('mobile') {
			padding-right: 27px;
		}
	}

	.weather__now-status {
		font-size: 10px;
	}

	.weather__temperaturesin {
		display: block;
		float: right;
		padding-left: 0;

		@include breakpoint('mobile') {
			width: 272px;
			margin: 0 auto;
			float: none;

			.weather__degree-title {
				float: right;
				text-align: left;
				width: 170px;
			}

			.custom-combo {
				float: right;
				clear: both;
			}
		}
	}
}
